<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorator="layout" th:with="title=${title}">

<section layout:fragment="content">

    <!--<div th:each="u  : ${userGroup}">-->
        <!--<div th:with="groupId=${u.id}"></div>-->
    <!--</div>-->


    <div id="wrapper">
        <div class="container">
            <div class="formContainer">
                <div class="breadcrumb">
                    <span class="text-muted">/</span>
                    User Edit
                </div>
                <div class="formContent">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="sidebarmenu">
                                <th:block th:include="left_menu"></th:block>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <section class="content-header">
                                <nav class="navbar navbar-default" role="navigation">
                                    <div class="navbar-header">
                                        <span class="navbar-brand">
                                            Edit "<span th:text="${user.email}"></span>"
                                        </span>
                                    </div>
                                    <div class="container-fluid">
                                        <div class="navbar-left">
                                        </div>

                                        <ul class="nav navbar-nav navbar-right">
                                            <li class="dropdown sonata-actions">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <b class="caret"></b></a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                    </li>
                                                    <li>
                                                    </li>
                                                    <li>
                                                    </li>
                                                    <li>
                                                        <a class="sonata-action-element" style="color: #080808;" th:href="@{/admin/user/list}">
                                                            <i class="fa fa-list"></i>
                                                            Return to list</a>
                                                    </li>
                                                    <li>
                                                        <a class="sonata-action-element" style="color: #080808;" th:href="@{/admin/user/new}">
                                                            <i class="fa fa-plus-circle"></i>
                                                            Add new</a>
                                                    </li>

                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>

                            </section>

                            <section class="content">

                                <div class="sonata-ba-form">

                                    <form th:object="${user}" method="POST" class="form-horizontal">
                                        <input type="hidden" th:field="*{id}" />
                                        <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->


                                        <!--<div th:each="g,iterationStatus  : ${userGroup}">-->
                                            <!--<div th:with="userRole=${g.role}" th:text="${g.role}">       </div>-->
                                        <!--</div>-->
                                        <!--<div th:text="${userRole}"></div>-->

                                        <div class="row">

                                            <div class="col-md-12">
                                                <div class="col-md-12 ">
                                                    <div class="box box-success">
                                                        <div class="box-header">
                                                            <h4 class="box-title">
                                                                User
                                                            </h4>
                                                        </div>
                                                        <div class="box-body">
                                                            <div class="sonata-ba-collapsed-fields">


                                                                <div class="form-group" id="sonata-ba-field-container-first_name">
                                                                    <label class="control-label required" style="text-align: left;">
                                                                        First Name
                                                                    </label>

                                                                    <div class=" sonata-ba-field sonata-ba-field-standard-natural  ">
                                                                        <input type="text" th:path="*{firstName}" th:field="*{firstName}" class="form-control" required="required" />
                                                                        <errors th:path="*{firstName}" class="help-inline"/>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group" id="sonata-ba-field-container-_last_name">
                                                                    <label class="control-label required" style="text-align: left;">
                                                                        Last Name
                                                                    </label>

                                                                    <div class=" sonata-ba-field sonata-ba-field-standard-natural  ">
                                                                        <input type="text" th:path="*{lastName}" th:field="*{lastName}" class="form-control" required="required" />
                                                                        <errors th:path="*{lastName}" class="help-inline"/>
                                                                    </div>
                                                                </div>


                                                                <div class="form-group" id="sonata-ba-field-container-email">
                                                                    <label class="control-label required" style="text-align: left;">
                                                                        Email
                                                                    </label>

                                                                    <div class=" sonata-ba-field sonata-ba-field-standard-natural  ">
                                                                        <input type="text" th:path="*{email}" th:field="*{email}" id="email" class="form-control" required="required" />
                                                                        <errors th:path="*{email}" class="help-inline"/>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group" id="sonata-ba-field-container-password">
                                                                    <label class="control-label required" style="text-align: left;">
                                                                        Update password
                                                                    </label>

                                                                    <div class=" sonata-ba-field sonata-ba-field-standard-natural  ">
                                                                        <input type="password" th:path="*{password}" th:field="*{password}" id="password" class="form-control" required="required" />
                                                                        <errors th:path="*{password}" class="help-inline"/>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group" id="sonata-ba-field-container-password-check">
                                                                    <label class="control-label required" style="text-align: left;">
                                                                        Repeat password
                                                                    </label>

                                                                    <div class=" sonata-ba-field sonata-ba-field-standard-natural  ">
                                                                        <input type="password" id="password-check" class="form-control"/>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group" id="sonata-ba-field-container-group">
                                                                    <label class="control-label" style="text-align: left;">
                                                                        User Type
                                                                    </label>

                                                                    <div class=" sonata-ba-field sonata-ba-field-standard-natural">
                                                                        <div th:field="*{group}">
                                                                            <div th:path="*{group}" th:each="group : ${groups}">
                                                                                <input th:class="btn-default" th:name="group" type="radio" th:value="${group.id}" th:checked="${group.id == userGroupId}" class="form-control" th:text="${group.description}" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group" id="sonata-ba-field-container-company">
                                                                    <label class=" control-label" style="text-align: left;">
                                                                        Assign user to company
                                                                    </label>

                                                                    <div class=" sonata-ba-field sonata-ba-field-standard-natural">

                                                                        <select th:field="*{company.id}" class="form-control">
                                                                            <!--<option value=""> Select a Company to Assign this User to </option>-->
                                                                            <div th:path="*{company}" th:each="com : ${companies}">
                                                                                <option th:value="${com.id}" th:text="${com.name}" th:selected="${com.id == userCompanyId}"></option>
                                                                            </div>
                                                                        </select>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group" id="sonata-ba-field-container-enabled">
                                                                    <label class="control-label" style="text-align: left;">
                                                                        This user is enabled
                                                                    </label>

                                                                    <div class=" sonata-ba-field sonata-ba-field-standard-natural">

                                                                        <input th:class="btn-default" type="checkbox" th:field="*{enabled}" id="enabled" class="form-control"/>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group" id="sonata-ba-field-container-s563afbac0122b_invitation_msg">
                                                                    <label class=" control-label" style="text-align: left;">
                                                                        Welcome message (optional)
                                                                    </label>

                                                                    <div class=" sonata-ba-field sonata-ba-field-standard-natural  ">

                                                                        <textarea th:field="*{invitationMsg}" id="invitationMsg" class="form-control" rows="5"></textarea>

                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="well well-small form-actions">
                                            <!--<button class="btn btn-success" type="submit" name="btn_create_and_edit"><i class="fa fa-save"></i> Create</button>-->
                                            <button type="submit" class="btn btn-success" name="btn_create_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> Update and return to list</button>
                                            <!--<button class="btn btn-success" type="submit" name="btn_create_and_create"><i class="fa fa-plus-circle"></i> Create and add another</button>-->
                                            <a class="btn btn-danger" th:href="@{'/admin/user/delete/' + ${user.id}}"><i class="fa fa-minus-circle"></i>Delete</a>
                                        </div>
                                    </form>
                                </div>
                            </section>

                        </div>
                    </div>
                    <!-- END VALIDATION STATES-->
                </div>

            </div>
        </div>

    </div>
</section>

<div layout:fragment="script">

    <script type="text/javascript">
        // <![CDATA[
        var $userGrp = $("[name=group]");
        $userGrp.change(function(){

            var userType = $userGrp.filter(":checked").val();
            var $companyCont  = $("#sonata-ba-field-container-company");

            if(userType == "3"){
                return $companyCont.show();
            }

            $companyCont.hide()
                .find("select").val(null);

        }).change();

        jQuery(function(){
            $("#submit").click(function(){
                $(".error").hide();
                var hasError = false;
                var passwordVal = $("#password").val();
                var checkVal = $("#password-check").val();
                if (passwordVal == '') {
                    $("#password").after('<span class="error">Please enter a password.</span>');
                    hasError = true;
                } else if (checkVal == '') {
                    $("#password-check").after('<span class="error">Please re-enter your password.</span>');
                    hasError = true;
                } else if (passwordVal != checkVal ) {
                    $("#password-check").after('<span class="error">Passwords do not match.</span>');
                    hasError = true;
                }
                if(hasError == true) {return false;}
            });
        });

        // ]]>

    </script>

</div>

</html>


