<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">

<section layout:fragment="content">

    <div id="wrapper">
        <div class="container">
            <div class="formContainer">
                <div class="breadcrumb">
                    <span class="text-muted">/</span>
                    User New
                </div>
                <div class="formContent">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="sidebarmenu">
                                <th:block th:include="left_menu"></th:block>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <section class="content-header">
                                <nav class="navbar navbar-default" role="navigation">
                                    <div class="navbar-header">
                                        <span class="navbar-brand">
                                            Create
                                        </span>
                                    </div>
                                    <div class="container-fluid">
                                        <div class="navbar-left">
                                        </div>

                                        <ul class="nav navbar-nav navbar-right">
                                            <li class="dropdown sonata-actions">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <b class="caret"></b></a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                    </li>
                                                    <li>
                                                    </li>
                                                    <li>
                                                    </li>
                                                    <li>
                                                        <a class="sonata-action-element" style="color: #080808;" th:href="@{/admin/user/list}">
                                                            <i class="fa fa-list"></i>
                                                            Return to list</a>
                                                    </li>
                                                    <li>
                                                        <a class="sonata-action-element" style="color: #080808;" th:href="@{/admin/user/new}">
                                                            <i class="fa fa-plus-circle"></i>
                                                            Add new</a>
                                                    </li>

                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>

                            </section>

                            <section class="content">

                                <div class="sonata-ba-form">

                                <form th:action="'/admin/user/new'" th:object="${user}" method="POST" class="form-horizontal">
                                    <input type="hidden" th:field="*{id}" />
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                        <div class="row">

                                            <div class="col-md-12">
                                                <div class="col-md-12 ">
                                                    <div class="box box-success">
                                                        <div class="box-header">
                                                            <h4 class="box-title">
                                                                User
                                                            </h4>
                                                        </div>
                                                        <div class="box-body">
                                                            <div class="sonata-ba-collapsed-fields">


                                                                <div class="form-group" id="sonata-ba-field-container-first_name">
                                                                    <label class="control-label required" style="text-align: left;">
                                                                        First Name
                                                                    </label>

                                                                    <div class=" sonata-ba-field sonata-ba-field-standard-natural  ">
                                                                        <input type="text" th:field="*{firstName}" class="form-control" required="required" />
                                                                    </div>
                                                                </div>

                                                                <div class="form-group" id="sonata-ba-field-container-_last_name">
                                                                    <label class="control-label required" style="text-align: left;">
                                                                        Last Name
                                                                    </label>

                                                                    <div class=" sonata-ba-field sonata-ba-field-standard-natural  ">
                                                                        <input type="text" th:field="*{lastName}" class="form-control" required="required" />
                                                                    </div>
                                                                </div>


                                                                <div class="form-group" id="sonata-ba-field-container-email">
                                                                    <label class="control-label required" style="text-align: left;">
                                                                        Email
                                                                    </label>

                                                                    <div class=" sonata-ba-field sonata-ba-field-standard-natural  ">
                                                                        <input type="text" th:field="*{email}" id="email" class="form-control" required="required" />
                                                                    </div>
                                                                </div>

                                                                <div class="form-group" id="sonata-ba-field-container-s563afbac0122b_company">
                                                                    <label class=" control-label" style="text-align: left;">
                                                                        Assign user to company
                                                                    </label>

                                                                    <div class=" sonata-ba-field sonata-ba-field-standard-natural">

                                                                            <select th:field="*{company.id}" class="form-control">
                                                                                <option th:each="company : ${companies}" th:value="${company.id}" th:text="${company.name}">
                                                                                </option>
                                                                            </select>
                                                                    </div>
                                                                </div>


                                                                <!--<div class="form-group" id="sonata-ba-field-container-s563afbac0122b_is_admin">-->
                                                                    <!--<label class="control-label required">-->
                                                                        <!--User Type-->
                                                                    <!--</label>-->

                                                                    <!--<div class=" sonata-ba-field sonata-ba-field-standard-natural  ">-->

                                                                        <!--<ul id="s563afbac0122b_is_admin" class="list-unstyled "><li><label class=""><div class="iradio_minimal" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="radio" id="s563afbac0122b_is_admin_0" name="s563afbac0122b[is_admin]" required="required" value="0" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div><span>-->
                    <!--General - access to forms associated to their company                </span></label></li><li><label class=""><div class="iradio_minimal" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="radio" id="s563afbac0122b_is_admin_1" name="s563afbac0122b[is_admin]" required="required" value="1" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div><span>-->
                    <!--Administrator - access to all forms and manage users                </span></label></li></ul>-->

                                                                    <!--</div>-->
                                                                <!--</div>-->





                                                                <!--<div class="form-group" id="sonata-ba-field-container-s563afbac0122b_send_invitation">-->
                                                                    <!--<label class="control-label">-->
                                                                        <!--Send invitation mail (When checked clicking the Update or Update and close button will send an invite)-->
                                                                    <!--</label>-->

                                                                    <!--<div class=" sonata-ba-field sonata-ba-field-standard-natural  ">-->

                                                                        <!--&lt;!&ndash;<div class="icheckbox_minimal" ari




































































































                                                                <!--</div>-->

                                                                <div class="form-group" id="sonata-ba-field-container-enabled">
                                                                    <label class="control-label" style="text-align: left;">
                                                                        This user is enabled
                                                                    </label>

                                                                    <div class=" sonata-ba-field sonata-ba-field-standard-natural">

                                                                        <input type="checkbox" th:field="*{enabled}" id="enabled" class="form-control"/>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group" id="sonata-ba-field-container-s563afbac0122b_invitation_msg">
                                                                    <label class=" control-label" style="text-align: left;">
                                                                        Welcome message (optional)
                                                                    </label>

                                                                    <div class=" sonata-ba-field sonata-ba-field-standard-natural  ">

                                                                        <textarea th:field="*{invitationMsg}" id="invitationMsg" class="form-control" rows="5"></textarea>

                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="well well-small form-actions">
                                            <!--<button class="btn btn-success" type="submit" name="btn_create_and_edit"><i class="fa fa-save"></i> Create</button>-->
                                            <button type="submit" class="btn btn-success" name="btn_create_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> Create and return to list</button>
                                            <!--<button class="btn btn-success" type="submit" name="btn_create_and_create"><i class="fa fa-plus-circle"></i> Create and add another</button>-->
                                        </div>
                                    </form>
                                    </div>
</section>
                                </div>

                        </div>

        </div>
        <!-- END VALIDATION STATES-->
    </div>

    </div>
</div>

</section>
</html>


