### Maven template
target/
sfi.iml

### Config file
src/main/resources/application.properties
src/main/resources/email.properties

### Upload file
src/main/webapp/uploads/

### IDE config
.idea
.settings