<div class="row">
    <form name="cs3Form">
    <div class="col-sm-12">

        <!--Right Side Start
        -------------
        -------------------------------
        ----------------------------------->
        <div class="col-lg-12">
            <div class="col-lg-8 toolip">
                <h5>
                    3. <span data-toggle="tooltip" title="From SIC Governance document – Landowner outreach core mission priority:  Focus landowner outreach efforts on education and technology."> Landowner Outreach (Core Mission Priority)</span>
                </h5>
                <p>
                    If you are especially proud of a particular landowner outreach project, event or activity you accomplished last
                    year or plan to achieve this year, provide a description of your top Landowner Outreach activities, for potential elevation
                    through SFI media channels:
                </p>
                <ul class="list-style fm-stl">
                    <li>
                        <label style="width:100px;">
                            <input type="checkbox" disabled name="workshop" ng-model="cs3.workshop" >  Workshop
                        </label>

                        <input style="font-weight:400; width: 70%;" class="form-control pull-right" type="text" placeholder="Please Specify" ng-show="cs3.workshop" ng-model="cs3.workshopSpecify" >
                    </li>
                    <li>
                        <label style="width:100px;">
                            <input type="checkbox" disabled name="workshop" ng-model="cs3.brochure" >  Brochure
                        </label>

                        <input style="font-weight:400; width: 70%;" class="form-control pull-right" type="text" placeholder="Please Specify" ng-show="cs3.brochure" ng-model="cs3.brochureSpecify" >

                    </li>
                    <li>
                        <label style="width:100px;">
                            <input type="checkbox" disabled name="tours" ng-model="cs3.tours" >  Tours
                        </label>
                        <input style="font-weight:400; width: 70%;" class="form-control pull-right" type="text" placeholder="Please Specify" ng-show="cs3.tours" ng-model="cs3.toursSpecify" >
                    </li>
                    <li>
                        <label style="width:100px;">
                            <input type="checkbox" disabled name="other" ng-model="cs3.other" >  Other
                        </label>

                        <input style="font-weight:400; width: 70%;" class="form-control pull-right" type="text" placeholder="Please Specify" ng-show="cs3.other" ng-model="cs3.otherSpecify" >
                    </li>
                </ul>

            </div>
            <br>
        </div>

        <div class="col-sm-6 col-sm-offset-4" style="padding-top: 20px;">
            <button type="button" class="btn btn-success" ng-click="saveForm()">Save</button>
            <button type="button" class="btn btn-success" ng-click="saveForm(true)">Save and Go to Step 4</button>
        </div>
    </div>
    </form>
</div>