<div class="row">
    <div class="col-sm-12 fm-stl">

        <!--Right Side Start
        -------------
        -------------------------------
        ----------------------------------->
        <div class="col-lg-12">
            <div class="col-lg-8 toolip">
                <h5 class="flex-text">
                    8. <span style="padding-left:5px;" tooltip data-placement="top" data-container="body" data-html="true"
                             data-title="Include Conservation Research projects, as well as community partnership projects with organizations like Habitat for Humanity, Scouting organizations, etc.  Also, from SIC Governance document – Research secondary mission priority:  Research – Promote forestry research, science, and technology, upon which sustainable forest management decisions are based."> Research, Conservation and Community Projects & Partnerships (Secondary Mission Priority) </span>
                </h5>
                <form name="cs8Form">
                <div style="padding-left: 10px;">
                    <p>
                        Is your SIC currently involved in, or supporting, any research, conservation and/or community partnership projects, either through the SFI Grant Program or otherwise?
                    </p>
                    <label>
                        <input type="radio" disabled  name="inPartnershipProjects" ng-model="cs8.inPartnershipProjects" ng-value="true"> Yes
                    </label>
                    <label>
                        <input type="radio" disabled  name="inPartnershipProjects" ng-model="cs8.inPartnershipProjects" ng-value="false"> No
                    </label>
                </div>
                </form>

                <form name="projectForm" ng-repeat="project in cs8.projects">

                <div class="col-lg-12"  ng-show="cs8.inPartnershipProjects" >
                    <div class="form-group">
                        <div class="col-lg-3">
                            <label class="control-label" style="margin-top: 7px;">
                                <b>Project Name</b>
                            </label>
                        </div>

                        <div class="col-lg-9" ng-class="{'has-error' : projectForm.name.$invalid }">
                            <input class="form-control" type="text" readonly   readonly   name="name" ng-model="project.name" customerror ng-required="isProjectDirty()">
                        </div>
                    </div>
                    <p style="padding-top: 30px;padding-left: 15px;"><b>Lead Organization and Main Contact</b></p>

                    <div class="form-group">
                        <div class="col-lg-3">
                            <label class="control-label" style="margin-top: 7px;">
                                Organization Name
                            </label>
                        </div>

                        <div class="col-lg-9" ng-class="{'has-error' : projectForm.organization.$invalid }">
                            <input class="form-control" type="text" readonly   readonly   name="organization" ng-model="project.organization" customerror ng-required="isProjectDirty()">
                        </div>
                    </div>
                    <div class="form-group" >
                        <div class="col-lg-3">
                            <label class="control-label" style="margin-top: 7px;">
                                Main Contact's Name
                            </label>
                        </div>

                        <div class="col-lg-9" ng-class="{'has-error' : projectForm.organization.$invalid }">
                            <input class="form-control" type="text" readonly   readonly   name="contactName" ng-model="project.contactName" customerror ng-required="isProjectDirty()">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-3">
                            <label class="control-label" style="margin-top: 7px;">
                                Main Contact's Email
                            </label>
                        </div>

                        <div class="col-lg-9" ng-class="{'has-error' : projectForm.organization.$invalid }">
                            <input class="form-control" type="email" readonly   name="contactEmail" ng-model="project.contactEmail" customerror ng-required="isProjectDirty()">
                        </div>
                    </div>
                    <p style="padding-top: 30px;padding-left: 15px;"><b>Project Details</b></p>

                    <div class="form-group">
                        <div class="col-lg-3">
                            <label class="control-label" style="margin-top: 7px;">
                                Project Description
                            </label>
                            <label class="control-label" style="margin-top: -7px;">
                                (max. 300 words)
                            </label>
                        </div>

                        <div class="col-lg-9" ng-class="{'has-error' : projectForm.description.$invalid }">
                            <textarea readonly  class="form-control" rows="4" name="description" ng-model="project.description" customerror ng-required="isProjectDirty()"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-3">
                            <label class="control-label" style="margin-top: 7px;">
                                Project Partners
                            </label>
                            <label class="control-label" style="margin-top: -7px;">
                                (check all that apply)
                            </label>
                        </div>

                        <div class="col-lg-9">
                            <ul class="list-style" style="padding-top: 10px;">
                                <li>
                                    <label class="form-inline">
                                        <input type="checkbox" disabled  ng-model="project.partnerAcademic"> Academic
                                        <input type="text" readonly style="font-weight: normal;" placeholder="Please Specify"  ng-show="project.partnerAcademic" class="form-control pull-right" ng-model="project.partnerAcademicSpecify">
                                    </label>
                                </li>
                                <li>
                                    <label class="form-inline">
                                        <input type="checkbox" disabled  ng-model="project.partnerResearch"> Research organization
                                        <input type="text" readonly style="font-weight: normal;" placeholder="Please Specify" class="form-control pull-right" ng-show="project.partnerResearch" ng-model="project.partnerResearchSpecify">
                                    </label>
                                </li>
                                <li>
                                    <label class="form-inline">
                                        <input type="checkbox" disabled  ng-model="project.partnerConservation">  Conservation organization
                                        <input type="text" readonly style="font-weight: normal;" placeholder="Please Specify" class="form-control pull-right" ng-show="project.partnerConservation" ng-model="project.partnerConservationSpecify">
                                    </label>
                                </li>
                                <li>
                                    <label class="form-inline">
                                        <input type="checkbox" disabled  ng-model="project.partnerGovernment"> Government agency
                                        <input type="text" readonly style="font-weight: normal;" placeholder="Please Specify" class="form-control pull-right" ng-model="project.partnerGovernmentSpecify" ng-show="project.partnerGovernment">
                                    </label>
                                </li>

                                <li>
                                    <label>
                                        <input type="checkbox" disabled   ng-model="project.partnerCommunity">
                                        Community organization (including but not limited to
                                        Habitat for Humanity, Scouting organizations, 4-H, Future Farmers of
                                        America, etc.)
                                    </label>
                                    <ul class="list-style" style="padding-left: 25px;" ng-show="project.partnerCommunity">
                                        <p>Check all that apply</p>
                                        <li>
                                            <label>
                                                <input type="checkbox" disabled   ng-model="project.partnerCommunity4H"> 4-H
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" disabled   ng-model="project.partnerCommunityBoyScout"> Boy Scouts of America
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" disabled   ng-model="project.partnerCommunityCCAB">
                                                Canadian Council for Aboriginal Business (CCAB)
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" disabled   ng-model="project.partnerCommunityEarth"> Earth Rangers
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" disabled   ng-model="project.partnerCommunityGirlGuide"> Girl Guides
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" disabled   ng-model="project.partnerCommunityGirlScout"> Girl Scouts of America
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" disabled   ng-model="project.partnerCommunityHumanityCanada"> Habitat for Humanity Canada
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" disabled   ng-model="project.partnerCommunityHumanityInter"> Habitat for Humanity International
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" disabled   ng-model="project.partnerCommunityInterTimberCouncil"> International Timber Council
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" disabled   ng-model="project.partnerCommunityNatTurkeyFederation">  National Wild Turkey Federation
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" disabled   ng-model="project.partnerCommunityProjectTree"> Project Learning Tree
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" disabled   ng-model="project.partnerCommunityScoutsCanada"> Scouts Canada

                                            </label>
                                        </li>
                                        <li>
                                            <label class="form-inline">
                                                <input type="checkbox" disabled ng-model="project.partnerCommunityOther"> Other
                                                <input type="text" readonly style="font-weight: normal;" placeholder="Please Specify" class="form-control pull-right" ng-model="project.partnerCommunityOtherSpecify" ng-show="project.partnerCommunityOther">
                                            </label>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" disabled   ng-model="project.partnerOtherSIC"> Other SIC
                                    </label>
                                    <div ng-show="project.partnerOtherSIC">
                                        <label class="form-inline">
                                            Please select
                                            <select class="form-control" disabled
                                                    name="partnerOtherSICStare"
                                                    ng-model="project.partnerOtherSICState">
                                                <option value="1">Alabama</option>
                                                <option value="2">Alaska</option>
                                                <option value="3">Arkansas</option>
                                                <option value="4">California</option>
                                                <option value="5">Central Canada</option>
                                                <option value="6">Central Rockies</option>
                                                <option value="6">Florida</option>
                                                <option value="7">Georgia</option>
                                                <option value="8">Idaho</option>
                                                <option value="9">Kentucky</option>
                                                <option value="10">Louisiana</option>
                                                <option value="11">Maine</option>
                                                <option value="12">Maritime</option>
                                                <option value="13">Maryland/Delaware</option>
                                                <option value="14">Michigan</option>
                                                <option value="15">Minnesota</option>
                                                <option value="16">Mississippi</option>
                                                <option value="16">Montana</option>
                                                <option value="17">New Hampshire</option>
                                                <option value="18">New York</option>
                                                <option value="19">North Carolina</option>
                                                <option value="20">Ohio</option>
                                                <option value="21">Oregon</option>
                                                <option value="22">Pennsylvania</option>
                                                <option value="23">Quebec</option>
                                                <option value="24">South Carolina</option>
                                                <option value="25">Tennessee</option>
                                                <option value="26">Texas</option>
                                                <option value="26">Vermont</option>
                                                <option value="27">Virginia</option>
                                                <option value="28">Washington</option>
                                                <option value="29">West Virginia</option>
                                                <option value="30">Western Canada</option>
                                                <option value="31">Wisconsin</option>
                                            </select>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" disabled   ng-model="project.partnerOther"> Other
                                    </label>
                                    <div ng-show="project.partnerOther">
                                        <label class="form-inline">
                                            Please specify&nbsp;
                                            <input type="text" readonly style="font-weight: normal;" class="form-control" name="partnerOtherSpecify" ng-model="project.partnerOtherSpecify">
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12" ng-show="cs8.inPartnershipProjects">

                    <div class="col-lg-8 pading-botoms">
                        <p>SFI Standard Objective most Relevant to Project </p>

                        <div ng-class="{'has-error' : projectForm.sfiStandardObjective.$invalid }">
                            <select disabled  class="form-control" name="sfiStandardObjective" ng-model="project.sfiStandardObjective" customerror ng-required="isProjectDirty()">
                                <option ng-selected="!project.sfiStandardObjective">< Select an SFI Standard Objective ></option>
                                <optgroup label="SFI 2015-2019 Forest Land Management Objectives">
                                    <option ng-repeat="item in standardObjects2015" ng-if="item.id <= 15" ng-selected="project.sfiStandardObjective == item.id" data-ng-value="item.id">{{item.sfiStandardObjDesc}}</option>
                                </optgroup>
                                <optgroup label="SFI 2015-2019 Fiber Sourcing Objectives">
                                    <option ng-repeat="item in standardObjects2015" ng-if="item.id > 15" ng-selected="project.sfiStandardObjective == item.id" data-ng-value="item.id">{{item.sfiStandardObjDesc}}</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-8 pading-botoms">

                        <p>Select Region</p>
                        <div ng-init="project.regions = project.regions || []">
                            <select disabled  class="form-control" name="region"
                                    ng-init="region = 0"
                                    ng-model="region"
                                    ng-change="region = addBucket(project.regions, region, regions)">
                                <option value="0" >< Select all that apply ></option>
                                <option ng-repeat="region in regions" ng-value={{region.id}}>{{region.name}}</option>
                            </select>
                            <div id="selectedItem" ng-repeat="region in project.regions">{{ region.name }}
                                <button ng-click="project.regions = deleteBucket(region.id, project.regions)" type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-8 pading-botoms">

                        <div class="col-lg-6">
                            <!--<div class="col-sm-4 nopadding" style="line-height: 32px;">Start date</div>-->
                            <div class='input-group date ' >
                                <input type='text' placeholder="Start date" class="form-control " name="start_date"
                                               ng-required="isProjectDirty()" customerror
                                               ng-pattern="/^\d{4}\-\d{1,2}\-\d{1,2}.*$/"
                                               pattern-msg="Please enter a valid date(YYYY-MM-DD)"
                                               ng-model="project.startDate">
                                <span class="input-group-addon calender-color"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <!--<div class="col-sm-4 nopadding" style="line-height: 32px;">End date</div>-->
                            <div class='input-group date ' >
                                <input type='text' placeholder="End date" class="form-control " name="end_date"
                                               ng-required="isProjectDirty()" customerror
                                               ng-pattern="/^\d{4}\-\d{1,2}\-\d{1,2}.*$/"
                                               pattern-msg="Please enter a valid date(YYYY-MM-DD)"
                                               ng-model="project.endDate">
                                <span class="input-group-addon calender-color"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8 pading-botoms">
                        <div style="padding-left: 10px;">
                            <p>Estimated Total Project Cost</p>

                            <div class="form-inline">
                                <input type="number" readonly   class="form-control shorter" name="totalCost"
                                       ng-model="project.totalCost"
                                       ng-pattern="/^\d*(\.\d{1,2})?$/"
                                       pattern-msg="Enter decimal number up to 2 precision points" customerror />
                                <u><span class="curency" type="button" id="projectCostCurrency"
                                        ng-init="project.projectCostCurrency = project.projectCostCurrency || 1"
                                        ng-click="setCurrency('projectCostCurrency', project)">{{ gerCurrency(project.projectCostCurrency) }}</span></u>

                            </div>

                        </div>
                    </div>
                    <div class="col-lg-8 pading-botoms">
                        <div style="padding-left: 10px;">
                            <p>SIC Contribution</p>

                            <div class="form-inline">
                                <input type="number" readonly   class="form-control shorter" name="sicContribution"
                                       ng-model="project.sicContribution"
                                       ng-pattern="/^\d*(\.\d{1,2})?$/"
                                       pattern-msg="Enter decimal number up to 2 precision points" customerror />
                               <u><span class="curency" type="button" id="sicContributionCurrency"
                                        ng-init="project.sicContributionCurrency = project.sicContributionCurrency || 1"
                                        ng-click="setCurrency('sicContributionCurrency', project)">{{ gerCurrency(project.sicContributionCurrency) }}</span></u>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 pading-botoms" ng-init="project.supportDocs = project.supportDocs || []">
                        <div class="fileinput fileinput-new" style="padding-left: 10px;" data-provides="fileinput">
                            <p>
                                Supporting Documentation (optional)
                            </p>

                            <div class="input-group input-large"
                                 ng-init="supportDoc = {}"
                                 ng-model="uploadFile1"
                                 ng-file-change="uploadFile(uploadFile1, supportDoc)"
                                 ng-multiple="false"
                                 ng-accept="'image/*,application/pdf'">

                                <div class="form-control uneditable-input input-fixed input-medium">
                                    <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                    <span class="fileinput-filename">{{ supportDoc.originalDocumentName }}</span>
                                </div>

                                <span class="input-group-addon btn default btn-file">
                                    <span ng-hide="supportDoc.originalDocumentName" class="fileinput-new">Browse</span>
                                    <span ng-show="supportDoc.originalDocumentName" class="fileinput-exists">Change </span>
                                </span>
                                <a ng-click="supportDoc = {}; " ng-show="supportDoc.originalDocumentName" href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput">Remove </a>
                            </div>

                            File types accepted:(.doc, .docx, .pdf, .xls, .xlsx.)
                        </div>

                        <div class="text-right" ng-show="supportDoc.originalDocumentName">
                            <input type="submit" class="btn default" value="Upload" ng-click="supportDoc = saveUploadedFile(supportDoc, project.supportDocs)">
                        </div>

                        <div id="selectedItem" ng-repeat="file in project.supportDocs" ng-click="download(file.uniqueDocumentName, file.originalDocumentName)">{{ file.originalDocumentName }}
                        </div>
                    </div>

                    <div class="col-lg-12 pading-botoms">
                        <div style="padding-left: 10px;">
                            <p>
                                May SFI Inc. share this project partnership data externally, as part of a compiled summary across SFI Implementation Committees and SFI Program Participants, ensuring confidentiality?
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-8 pading-botoms">
                        <div style="padding-left: 10px;">
                            <label>
                                <input type="radio" disabled  name="sicSupportingResearch" ng-model="project.sicSupportingResearch" ng-value="true" > Yes
                            </label>
                            <label>
                                <input type="radio" disabled  name="sicSupportingResearch" ng-model="project.sicSupportingResearch" ng-value="false" > No
                            </label>
                        </div>

                    </div>


                </div >
                </form>
            </div>
            <div class="col-lg-4 print-hide" style="text-align: right">
                <img src="/assets/images/SICsec8_Image_PA_SIC_2016.jpg" style="width: 250px;">
            </div>
            <br>
        </div>

    </div>
</div>
