<div class="row">
    <form name="cs6Form">
    <div class="col-sm-12">

        <!--Right Side Start
        -------------
        -------------------------------
        ----------------------------------->
        <div class="col-lg-12">
            <div class="col-lg-8 fm-stl toolip">

                <h5>
                    6. <span tooltip data-placement="top" data-container="body" data-html="true" data-title="From SIC Governance document – Logger Training and Education core mission priority:  Establish criteria and identify delivery mechanisms for qualified logging professional, qualified resource professional and wood producer training. Establish criteria for recognition of logger certification professional programs, where they exist.">Logger Training and Education</span>
                </h5>
                <div style="padding-left: 10px;">
                    <p>
                        Please select the SIC-recognized logger training and education program in your state/province. (new!)
                    </p>

                    <select disabled  class="form-control" style="width: 100%"
                            ng-model="model1"
                            ng-init="model1 = '0'"
                            ng-change="model1 = addFra(model1)">
                        <option ng-selected="model1 == '0' " value="0">Select</option>
                        <option ng-repeat="items in fraItems" ng-value="$index">{{items}}</option>
                    </select>

                    <div id="selectedItem" ng-repeat="programIndex in cs6.trainingPrograms ">{{ fraItems[programIndex].value }}
                    </div>


                    <p style="padding-top: 30px;">
                        <span tooltip data-placement="top" data-container="body" data-html="true" data-title="Certified logging professional: A qualified logging professional who has successfully completed and is a member in good standing, of a credible logger certification program recognized by the SFI Implementation Committee as meeting the criteria of Performance Measure 11.2 in the SFI 2015-2019 Forest Management Standard or Performance Measure 6.2 in the SFI 2015-2019 Fiber Sourcing Standard.">In addition, does this SIC recognized logger training program have the added designation of being a “certified logging professional” program, as defined in the SFI 2015 - 2019 Standards and Rules, Section 13? (new!)</span>
                    </p>
                    <label>
                        <input type="radio" disabled name="certifiedLoggingProfessional"  ng-model="cs6.certifiedLoggingProfessional"  ng-value="true">   Yes
                    </label>
                    <label>
                        <input type="radio" disabled name="certifiedLoggingProfessional"  ng-model="cs6.certifiedLoggingProfessional"  ng-value="false">    No
                    </label>
                </div>

            </div>
            <br>
            <div class="col-lg-4 print-hide" style="text-align: right">
                <img src="/assets/images/SICsec6_Image_Trained_Harvesters_2016.jpg" style="width: 250px;">
            </div>
        </div>

    </div>
    </form>
</div>
