<style>
    body{
        font-size: 11pt;
    }
    label{
        font-size: 11pt;
    }
    input{
        font-size: 11pt;
    }
    text{
        font-size: 11pt;
    }
    textarea{
        font-size: 11pt;
    }
    select{
        font-size: 11pt;
    }
    p{
        font-size: 11pt;
    }
    span{
        font-size: 11pt;
    }
    table{
        font-size: 11pt;
    }
    .checkboxLabel{
        font-size: 11pt;
    }
</style>

<div class="row">
    <form name="cs3Form">
    <div class="col-sm-12">

        <!--Right Side Start
        -------------
        -------------------------------
        ----------------------------------->
        <div class="col-lg-12">
            <div class="col-lg-10 toolip">
                <h5>
                    3. <span data-toggle="tooltip" title="From SIC Governance document – Landowner outreach core mission priority:  Focus landowner outreach efforts on education and technology."> Landowner Outreach (Core Mission Priority)</span>
                </h5>
                <p>
                    If you are especially proud of a particular landowner outreach project, event or activity you accomplished last
                    year or plan to achieve this year, provide a description of your top Landowner Outreach activities, for potential elevation
                    through SFI media channels:
                </p>
                <ul class="list-style fm-stl">
                    <li>
                        <label style="width:100px;">
                            <input type="checkbox" disabled name="workshop" ng-model="cs3.workshop" >  Workshop
                        </label>
                        <textarea disabled  ng-show="cs3.workshop" ng-model="cs3.workshopSpecify" rows="3" cols="60" style="vertical-align: top; font-size:14px;position: relative;right: -20px; border-radius: 4px; margin-bottom:10px;width: 500px;" placeholder="Please Specify"></textarea>
                        <p ng-show="cs3.workshop" ng-model="cs3.workshopSpecify" class="ng-hide" style="position: relative;left: 135px;margin-top: -10px;margin-bottom: 20px;"> "Maximum of 2000 characters"</p>
                        <div ng-show="cs3.workshop" class="fileinput fileinput-new" data-provides="fileinput">
                            <p>Upload a file to provide more details</p>

                            <!--<div class="input-group input-large"-->
                                 <!--ng-file-select ng-model="uploadFile1"-->
                                 <!--ng-file-change="uploadFile(uploadFile1, workshopSpecifyFiles, '.doc, .docx, .pdf, .jpg')"-->
                                 <!--ng-multiple="true"-->
                                 <!--ng-accept="'.doc, .docx, .pdf, .jpg'">-->

                                <!--<div class="form-control uneditable-input input-fixed input-medium">-->
                                    <!--<i class="fa fa-file fileinput-exists"></i>&nbsp;-->
                                    <!--<span class="fileinput-filename">{{ workshopSpecifyFiles.originalDocumentName }}</span>-->
                                <!--</div>-->
                                <!--<span class="input-group-addon btn default btn-file">-->
                                    <!--<span ng-hide="workshopSpecifyFiles.originalDocumentName" class="fileinput-new">Browse</span>-->
                                    <!--<span ng-show="workshopSpecifyFiles.originalDocumentName" class="fileinput-exists">Change </span>-->
                                <!--</span>-->
                            <!--</div>-->
                            <p>(.doc, .docx, .pdf, .jpg)</p><br/>

                            <div class="text-right" ng-show="workshopSpecifyFiles.originalDocumentName">
                                <a ng-click="workshopSpecifyFiles = {}; " ng-show="workshopSpecifyFiles.originalDocumentName" href="javascript:;" class="btn red fileinput-exists">Remove </a>
                                <input type="submit" class="btn default" value="Upload" ng-click="workshopSpecifyFiles = saveUploadedFile(workshopSpecifyFiles, cs3.workshopSpecifyFiles)">
                            </div>

                        </div>
                        <div id="selectedItem" ng-repeat="file in cs3.workshopSpecifyFiles"
                             ng-click="download(file.uniqueDocumentName, file.originalDocumentName)">{{ file.originalDocumentName }}
                        </div>

                    </li>
                    <li>
                        <label style="width:100px;">
                            <input type="checkbox" disabled name="workshop" ng-model="cs3.brochure" >  Brochure
                        </label>
                        <textarea disabled  ng-show="cs3.brochure" ng-model="cs3.brochureSpecify" rows="3" cols="60" style="vertical-align: top; font-size:14px;position: relative;right: -20px; border-radius: 4px; margin-bottom:10px;width: 500px;" placeholder="Please Specify"></textarea>
                        <p ng-show="cs3.brochure" ng-model="cs3.brochureSpecify" class="ng-hide" style="position: relative;left: 135px;margin-top: -10px;margin-bottom: 20px;"> "Maximum of 2000 characters"</p>
                        <div ng-show="cs3.brochure" class="fileinput fileinput-new" data-provides="fileinput">
                            <p>Upload a file to provide more details</p>

                            <!--<div class="input-group input-large"-->
                                 <!--ng-file-select ng-model="uploadFile1"-->
                                 <!--ng-file-change="uploadFile(uploadFile1, brochureSpecifyFiles, '.doc, .docx, .pdf, .jpg')"-->
                                 <!--ng-multiple="true"-->
                                 <!--ng-accept="'.doc, .docx, .pdf, .jpg'">-->

                                <!--<div class="form-control uneditable-input input-fixed input-medium">-->
                                    <!--<i class="fa fa-file fileinput-exists"></i>&nbsp;-->
                                    <!--<span class="fileinput-filename">{{ brochureSpecifyFiles.originalDocumentName }}</span>-->
                                <!--</div>-->
                                <!--<span class="input-group-addon btn default btn-file">-->
                                    <!--<span ng-hide="brochureSpecifyFiles.originalDocumentName" class="fileinput-new">Browse</span>-->
                                    <!--<span ng-show="brochureSpecifyFiles.originalDocumentName" class="fileinput-exists">Change </span>-->
                                <!--</span>-->
                            <!--</div>-->
                            <p>(.doc, .docx, .pdf, .jpg)</p><br/>

                            <div class="text-right" ng-show="brochureSpecifyFiles.originalDocumentName">
                                <a ng-click="brochureSpecifyFiles = {}; " ng-show="brochureSpecifyFiles.originalDocumentName" href="javascript:;" class="btn red fileinput-exists">Remove </a>
                                <input type="submit" class="btn default" value="Upload" ng-click="brochureSpecifyFiles = saveUploadedFile(brochureSpecifyFiles, cs3.brochureSpecifyFiles)">
                            </div>

                        </div>
                        <div id="selectedItem" ng-repeat="file in cs3.brochureSpecifyFiles"
                             ng-click="download(file.uniqueDocumentName, file.originalDocumentName)">{{ file.originalDocumentName }}
                        </div>
                    </li>
                    <li>
                        <label style="width:100px;">
                            <input type="checkbox" disabled name="tours" ng-model="cs3.tours" >  Tours
                        </label>
                        <textarea disabled  ng-show="cs3.tours" ng-model="cs3.toursSpecify" rows="3" cols="60" style="vertical-align: top; font-size:14px;position: relative;right: -20px; border-radius: 4px; margin-bottom:10px;width: 500px;" placeholder="Please Specify"></textarea>
                        <p ng-show="cs3.tours" ng-model="cs3.toursSpecify" class="ng-hide" style="position: relative;left: 135px;margin-top: -10px;margin-bottom: 20px;"> "Maximum of 2000 characters"</p>
                    </li>
                    <li>
                        <label style="width:100px;">
                            <input type="checkbox" disabled name="other" ng-model="cs3.other" >  Other
                        </label>
                        <textarea disabled  ng-show="cs3.other" ng-model="cs3.otherSpecify" rows="3" cols="60" style="vertical-align: top; font-size:14px;position: relative;right: -20px; border-radius: 4px; margin-bottom:10px;width: 500px;" placeholder="Please Specify"></textarea>
                        <p ng-show="cs3.other" ng-model="cs3.otherSpecify" class="ng-hide" style="position: relative;left: 135px;margin-top: -10px;margin-bottom: 20px;"> "Maximum of 2000 characters"</p>
                    </li>
                </ul>

            </div>
            <br>
        </div>


    </div>
    </form>
</div>