<div class="row">
    <form name="cs4Form">
    <div class="col-sm-12">

        <!--Right Side Start
        -------------
        -------------------------------
        ----------------------------------->
        <div class="col-lg-12">
            <div class="col-lg-10 toolip">
                <h5>
                    4. <span class="underline" tooltip data-placement="top" data-container="body" data-html="true"  data-title="From SIC Governance document – Informational Resources Core Mission Priority: Focus informational resource efforts on increasing SFI program recognition, awareness and support with groups, such as local opinion leaders and forestry resource professionals."> Informational Resources (Core Mission Priority)</span>
                </h5>
                <p style="font-weight: bold">
                    If you are especially proud of a particular informational resources project, event or activity that your SIC undertook or plans to undertake with regards to elevating SFI among key influencers, e.g. government agencies, academia, etc., provide a description of your top Informational Resources activities, for potential elevation through SFI media channels:
                </p>
                <ul class="list-style fm-stl">
                    <li>
                        <label style="width:190px;">
                            <input type="checkbox" disabled name="universityOutreach" ng-model="cs4.universityOutreach" >  University outreach
                        </label>
                        <textarea disabled   ng-show="cs4.universityOutreach" ng-model="cs4.universitySpecify" rows="3" cols="50" style="vertical-align: top; font-size:14px;position: relative;right: -20px; border-radius: 4px; margin-bottom:10px;width: 400px;" placeholder="Please Specify"></textarea>
                        <p ng-show="cs4.universityOutreach" ng-model="cs4.universitySpecify" class="ng-hide" style="position: relative;left: 225px;margin-top: -10px;margin-bottom: 20px;"> "Maximum of 2000 characters"</p>
                        <!--<div ng-show="cs4.universityOutreach" class="fileinput fileinput-new" data-provides="fileinput">-->
                            <!--<p>Upload a file to provide more details</p>-->

                            <!--<div class="input-group input-large"-->
                                 <!--ng-file-select ng-model="uploadFile1"-->
                                 <!--ng-file-change="uploadFile(uploadFile1, universityOutreachFiles, '.doc, .docx, .pdf, .jpg')"-->
                                 <!--ng-multiple="true"-->
                                 <!--ng-accept="'.doc, .docx, .pdf, .jpg'">-->

                                <!--<div class="form-control uneditable-input input-fixed input-medium">-->
                                    <!--<i class="fa fa-file fileinput-exists"></i>&nbsp;-->
                                    <!--<span class="fileinput-filename">{{ universityOutreachFiles.originalDocumentName }}</span>-->
                                <!--</div>-->
                                <!--<span class="input-group-addon btn default btn-file">-->
                                    <!--<span ng-hide="universityOutreachFiles.originalDocumentName" class="fileinput-new">Browse</span>-->
                                    <!--<span ng-show="universityOutreachFiles.originalDocumentName" class="fileinput-exists">Change </span>-->
                                <!--</span>-->
                            <!--</div>-->
                            <p>(.doc, .docx, .pdf, .jpg)</p><br/>

                            <!--<div class="text-right" ng-show="universityOutreachFiles.originalDocumentName">-->
                                <!--<a ng-click="universityOutreachFiles = {}; " ng-show="universityOutreachFiles.originalDocumentName" href="javascript:;" class="btn red fileinput-exists">Remove </a>-->
                                <!--<input type="submit" class="btn default" value="Upload" ng-click="universityOutreachFiles = saveUploadedFile(universityOutreachFiles, cs4.universityOutreachFiles)">-->
                            <!--</div>-->

                        <!--</div>-->
                        <div id="selectedItem" ng-repeat="file in cs4.universityOutreachFiles"
                             ng-click="download(file.uniqueDocumentName, file.originalDocumentName)">{{ file.originalDocumentName }}
                        </div>
                    </li>
                    <li>
                        <label style="width:190px;">
                            <input type="checkbox" disabled name="legislatureOutreach" ng-model="cs4.legislatureOutreach" >  Legislature outreach
                        </label>
                        <textarea disabled   ng-show="cs4.legislatureOutreach" ng-model="cs4.legislatureSpecify" rows="3" cols="50" style="vertical-align: top; font-size:14px;position: relative;right: -20px; border-radius: 4px; margin-bottom:10px;width: 400px;" placeholder="Please Specify"></textarea>
                        <p ng-show="cs4.legislatureOutreach" ng-model="cs4.legislatureSpecify" class="ng-hide" style="position: relative;left: 225px;margin-top: -10px;margin-bottom: 20px;"> "Maximum of 2000 characters"</p>
                        <!--<div ng-show="cs4.legislatureOutreach" class="fileinput fileinput-new" data-provides="fileinput">-->
                            <!--<p>Upload a file to provide more details</p>-->

                            <!--<div class="input-group input-large"-->
                                 <!--ng-file-select ng-model="uploadFile1"-->
                                 <!--ng-file-change="uploadFile(uploadFile1, legislatureOutreachFiles, '.doc, .docx, .pdf, .jpg')"-->
                                 <!--ng-multiple="true"-->
                                 <!--ng-accept="'.doc, .docx, .pdf, .jpg'">-->

                                <!--<div class="form-control uneditable-input input-fixed input-medium">-->
                                    <!--<i class="fa fa-file fileinput-exists"></i>&nbsp;-->
                                    <!--<span class="fileinput-filename">{{ legislatureOutreachFiles.originalDocumentName }}</span>-->
                                <!--</div>-->
                                <!--<span class="input-group-addon btn default btn-file">-->
                                    <!--<span ng-hide="legislatureOutreachFiles.originalDocumentName" class="fileinput-new">Browse</span>-->
                                    <!--<span ng-show="legislatureOutreachFiles.originalDocumentName" class="fileinput-exists">Change </span>-->
                                <!--</span>-->
                            <!--</div>-->
                            <p>(.doc, .docx, .pdf, .jpg)</p><br/>

                            <!--<div class="text-right" ng-show="legislatureOutreachFiles.originalDocumentName">-->
                                <!--<a ng-click="legislatureOutreachFiles = {}; " ng-show="legislatureOutreachFiles.originalDocumentName" href="javascript:;" class="btn red fileinput-exists">Remove </a>-->
                                <!--<input type="submit" class="btn default" value="Upload" ng-click="legislatureOutreachFiles = saveUploadedFile(legislatureOutreachFiles, cs4.legislatureOutreachFiles)">-->
                            <!--</div>-->

                        <!--</div>-->
                        <div id="selectedItem" ng-repeat="file in cs4.legislatureOutreachFiles"
                             ng-click="download(file.uniqueDocumentName, file.originalDocumentName)">{{ file.originalDocumentName }}
                        </div>
                    </li>
                    <li>
                        <label style="width:190px;">
                            <input type="checkbox" disabled name="governmentAgencyOutreach" ng-model="cs4.governmentAgencyOutreach" >   Government agency outreach
                        </label>
                        <textarea disabled  ng-show="cs4.governmentAgencyOutreach" ng-model="cs4.governmentSpecify" rows="3" cols="50" style="vertical-align: top; font-size:14px;position: relative;right: -20px; border-radius: 4px; margin-bottom:10px;width: 400px;" placeholder="Please Specify"></textarea>
                        <p ng-show="cs4.governmentAgencyOutreach" ng-model="cs4.governmentSpecify" class="ng-hide" style="position: relative;left: 225px;margin-top: -10px;margin-bottom: 20px;"> "Maximum of 2000 characters"</p>
                    </li>
                    <li>
                        <label style="width:190px;">
                            <input type="checkbox" disabled name="other" ng-model="cs4.other" >  Other
                        </label>
                        <textarea disabled   ng-show="cs4.other" ng-model="cs4.otherSpecify" rows="3" cols="50" style="vertical-align: top; font-size:14px;position: relative;right: -20px; border-radius: 4px; margin-bottom:10px;width: 400px;" placeholder="Please Specify"></textarea>
                        <p ng-show="cs4.other" ng-model="cs4.otherSpecify" class="ng-hide" style="position: relative;left: 225px;margin-top: -10px;margin-bottom: 20px;"> "Maximum of 2000 characters"</p>
                    </li>
                </ul>

            </div>
            <!--<div class="col-lg-4 print-hide" style="width: 250px;padding-right: 0">-->
                <!--<div class="panel panel-success" style="padding-bottom: 1px;">-->
                    <!--<div class="panel-heading">-->
                        <!--<h3 class="panel-title">Did You Know?</h3>-->
                    <!--</div>-->
                    <!--<div class="panel-body">-->
                        <!--USGBC LEED ACP Promotion:<br/>-->
                        <!--The Texas SFI Implementation Committee teamed up with WoodWorks and hosted an architects and engineers tour in East Texas to promote the use of wood products in homes and buildings.-->
                        <!--<br/>-->
                        <!--<br/>-->
                        <!--The Virginia SFI Implementation Committee partnered with Builders Exchange Association of Virginia to host their annual architects tour showcasing sustainable forest management practices, highlight wood as a green building material and discuss opportunities to earn green building certification credit for using wood products certified to the SFI Standards.-->
                    <!--</div>-->
                    <!--<div style="overflow:hidden; margin:10px">-->
                        <!--&lt;!&ndash;<img style="width: 250px;padding-right: 0" src="/assets/images/u84.png">&ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <br>
        </div>


    </div>
    </form>
</div>