<div ng-include="'/assets/partials/sicForm/view/step1.html'"   ng-controller='SicCs1FormCtrl'></div>
<div ng-include="'/assets/partials/sicForm/view/step2.html'"   ng-controller='SicCs2FormCtrl'></div>
<div ng-include="'/assets/partials/sicForm/view/step3.html'"   ng-controller='SicCs3FormCtrl'></div>
<div ng-include="'/assets/partials/sicForm/view/step4.html'"   ng-controller='SicCs4FormCtrl'></div>
<div ng-include="'/assets/partials/sicForm/view/step5.html'"   ng-controller='SicCs5FormCtrl'></div>
<div ng-include="'/assets/partials/sicForm/view/step6.html'"   ng-controller='SicCs6FormCtrl'></div>
<div ng-include="'/assets/partials/sicForm/view/step7.html'"   ng-controller='SicCs7FormCtrl'></div>
<div ng-include="'/assets/partials/sicForm/view/step8.html'"   ng-controller='SicCs8FormCtrl'></div>
<div ng-include="'/assets/partials/sicForm/view/step9.html'"   ng-controller='SicCs9FormCtrl'></div>
<div ng-include="'/assets/partials/sicForm/view/step10.html'"  ng-controller='SicCs10FormCtrl'></div>