<th:block xmlns:th="http://www.thymeleaf.org">
    <!--data-content="<a href=&quot;http://www.sfi.local/login&quot; class=&quot;settings-popup icon3&quot;><div id='logIn'><span class='glyphicon glyphicon-log-in'></span></div><span>Login</span></a>"-->
    <div id="settings" data-html="true" data-placement="bottom" data-toggle="popover" data-container="body" type="button" data-original-title="" data-trigger="click"

         style="width:22px;">
        <a th:href="@{'/login'}" class="tab" style="color: #afb4ac;">
            <span class="glyphicon glyphicon-cog pull-right" aria-hidden="true"></span>
        </a>
    </div>
</th:block>