<th:block xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div class="container" id="header-cont">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <img id="logo" src="/assets/images/sfi-logo.png" th:src="@{/assets/images/sfi-logo.png}" th:alt="SFI"/>
        </a>
    </div>

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
            <li style="margin-right: 70px;">
                <a th:href="@{/}" class="tab">
                    Home
                </a>
            </li>

            <li sec:authorize="hasRole('USER')">
                <a data-toggle="dropdown" data-hover="dropdown"  data-close-others="true" class="tab">
                    Survey
                </a>
                <ul class="dropdown-menu" style="position: absolute;">
                    <li th:class="(${company.getSfi()} == true) ? '' : 'hidden'">
                        <a href="list.html" th:href="@{/sfiPpForm}"><i class="fa fa-user"></i>Program Participant</a>
                    </li>
                     <li th:class="(${company.getSci()} == true) ? '' : 'hidden'">
                         <a href="list.html" th:href="@{/sicForm}"><i class="fa fa-cogs"></i>SIC</a>
                     </li>
                </ul>
            </li>

            <li sec:authorize="hasAnyRole('ADMIN', 'GENERAL')">
                <a data-toggle="dropdown" data-hover="dropdown"  data-close-others="true" class="tab">
                    Survey
                </a>
                <ul class="dropdown-menu" style="position: absolute;">
                    <li>
                        <a href="list.html" th:href="@{/admin/form/pp}"><i class="fa fa-user"></i>Program Participant</a>
                    </li>
                    <li>
                        <a href="list.html" th:href="@{/admin/form/sic}"><i class="fa fa-cogs"></i>SIC</a>
                    </li>
                </ul>
            </li>


        </ul>

        <div sec:authorize="hasAnyRole('ADMIN', 'GENERAL', 'USER')" >
            <th:block th:include="/templates/headerAthorize"></th:block>
        </div>

        <div sec:authorize="isAnonymous()">
            <th:block th:include="/templates/headerUnAthorize"></th:block>
        </div>

    </div>

</div>
</th:block>