<th:block xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

    <div id="settings"
         data-content="&lt;a href=&quot;/user/profile&quot; class=&quot;settings-popup icon1&quot;>&lt;div id=&quot;proImg&quot;>&lt;/div>&lt;span>Profile&lt;/span>&lt;/a>&lt;a href=&quot;/logout&quot; class=&quot;settings-popup icon2&quot;>&lt;div id=&quot;logImg&quot;>&lt;/div>&lt;span>Logout&lt;/span>&lt;/a>"
         data-html="true"
         data-placement="bottom" data-toggle="popover" data-container="body" type="button" data-original-title="" data-trigger="click">
        <span class="glyphicon glyphicon-cog pull-right" aria-hidden="true"></span>
        <label>LOGGED IN AS</label>
        <div sec:authentication="principal.fullname"></div>
    </div>

</th:block>