<th:block xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <img id="logo" src="/assets/images/sfi-logo.png" th:src="@{/assets/images/sfi-logo.png}" th:alt="SFI"/>
        </a>
    </div>

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
            <li>
                <a th:href="@{/}" class="tab">
                    Home
                </a>
            </li>
            <li>
                <a href="#" class="tab">
                    Program Participant Survey
                </a>
            </li>
        </ul>

        <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_GENERAL')">
            <th:block th:include="/templates/headerAthorize"></th:block>
        </div>

        <div sec:authorize="isAnonymous()">
            <th:block th:include="/templates/headerUnAthorize"></th:block>
        </div>

    </div>

</div>
</th:block>