<th:block xmlns:th="http://www.thymeleaf.org">

    <div id="settings"
         data-content="&lt;a href=&quot;/login&quot; class=&quot;settings-popup icon3&quot;>&lt;div id=&quot;logIn&quot;>&lt;span class=&quot;glyphicon glyphicon-log-in&quot;>&lt;/span>&lt;/div>&lt;span>Login&lt;/span>&lt;/a>"
         data-html="true" data-placement="bottom" data-toggle="popover" data-container="body" type="button" data-original-title="" data-trigger="click"

         style="width:22px;">
            <span class="glyphicon glyphicon-cog pull-right" aria-hidden="true"></span>
    </div>
</th:block>