<th:block xmlns:th="http://www.thymeleaf.org">
<ul>
    <li th:class="(${title} == profile) ? 'selected' : ''" >
        <a href="list.html" th:href="@{/admin/user/profile}">My Profile</a>
    </li>
    <li th:class="(${title} == user) ? 'selected' : ''" sec:authorize="hasRole('ROLE_ADMIN')">
        <a href="list.html" th:href="@{/admin/user/list}">Manage Users</a>
    </li>
    <li th:class="(${title} == company) ? 'selected' : ''" sec:authorize="hasRole('ROLE_ADMIN')">
        <a href="list.html" th:href="@{/admin/company/list}">Manage Companies</a>
    </li>
    <li th:class="(${title} == area_unit) ? 'selected' : ''" sec:authorize="hasRole('ROLE_ADMIN')">
        <a href="list.html" th:href="@{/admin/area/unit/list}">Manage Area Units</a>
    </li>
    <li th:class="(${title} == form) or (${title} == sfi) or (${title} == sic) ? 'selected' : ''" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_GENERAL', 'ROLE_USER')">
        <!--<a href="list.html" th:href="@{/admin/form}">Surveys</a>-->
        <a id="survay">Surveys</a>
    </li>
        <ul id="sfi_sic">
            <li style="margin-left: 20px;" th:class="(${title} == sfi) ? 'selected' : ''" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_GENERAL')">
                <a href="list.html" th:href="@{/admin/form/pp}">Program Participant</a>
            </li>
            <li style="margin-left: 20px;" th:class="(${title} == sic) ? 'selected' : ''" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_GENERAL')">
                <a href="list.html" th:href="@{/admin/form/sic}">SIC</a>
            </li>
            <li style="margin-left: 20px;" th:class="(${title} == sfi) ? 'selected' : ''" sec:authorize="hasAnyRole('ROLE_USER')">
                <a href="list.html" th:href="@{/user/form/pp}">Program Participant</a>
            </li>
            <li style="margin-left: 20px;" th:class="(${title} == sic) ? 'selected' : ''" sec:authorize="hasAnyRole('ROLE_USER')">
                <a href="list.html" th:href="@{/user/form/sic}">SIC</a>
            </li>
        </ul>
    <li th:class="(${title} == company_setting) ? 'selected' : ''" sec:authorize="hasRole('ROLE_USER')">
        <a href="list.html" th:href="@{/user/company/setting}">Company Settings</a>
    </li>
    <li th:class="(${title} == privacy) ? 'selected' : ''" >
        <a href="list.html" th:href="@{/privacy}">Privacy Policy</a>
    </li>
</ul>

</th:block>