<div class="row">
    <form name="cs4Form">
    <div class="col-sm-12">

        <!--Right Side Start
        -------------
        -------------------------------
        ----------------------------------->
        <div class="col-lg-12 passage-bold">
            <div class="col-lg-8">
                <h5>
                    4. <span data-toggle="tooltip" title="From SIC Governance document – Informational Resources Core Mission Priority: Focus informational resource efforts on increasing SFI program recognition, awareness and support with groups, such as local opinion leaders and forestry resource professionals."> Informational Resources</span>
                </h5>
                <p>
                    If you are especially proud of a particular informational resources project, event or activity that your SIC undertook or plans to undertake with regards to elevating SFI among key influencers, e.g. government agencies, academia, etc., provide a description of your top Informational Resources activities, for potential elevation through SFI media channels:

                </p>
                <ul class="list-style">
                    <li>
                        <label style="width:145px;">
                            <input type="checkbox" name="universityOutreach" ng-model="cs4.universityOutreach" >  University outreach
                        </label>
                        <textarea  ng-show="cs4.universityOutreach" ng-model="cs4.universitySpecify" rows="3" cols="50" style="vertical-align: top;position: relative;right: -20px; margin-bottom:10px;" placeholder="Please Specify"></textarea>
                    </li>
                    <li>
                        <label style="width:145px;">
                            <input type="checkbox" name="legislatureOutreach" ng-model="cs4.legislatureOutreach" >  Legislature outreach
                        </label>

                        <textarea  ng-show="cs4.legislatureOutreach" ng-model="cs4.legislatureSpecify" rows="3" cols="50" style="vertical-align: top;position: relative;right: -20px; margin-bottom:10px;" placeholder="Please Specify"></textarea>

                    </li>
                    <li>
                        <label>
                            <input type="checkbox" name="governmentAgencyOutreach" ng-model="cs4.governmentAgencyOutreach" >   Government agency outreach
                        </label>
                        <textarea  ng-show="cs4.governmentAgencyOutreach" ng-model="cs4.governmentSpecify" rows="3" cols="50" style="vertical-align: top;position: relative;right: -20px; margin-bottom:10px;" placeholder="Please Specify"></textarea>
                    </li>
                    <li>
                        <label style="width:145px;">
                            <input type="checkbox" name="other" ng-model="cs4.other" >  Other
                        </label>

                        <textarea  ng-show="cs4.other" ng-model="cs4.otherSpecify" rows="3" cols="50" style="vertical-align: top;position: relative;right: -20px; margin-bottom:10px;" placeholder="Please Specify"></textarea>
                    </li>
                </ul>

            </div>
            <div class="col-lg-4">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Did You Know?</h3>
                    </div>
                    <div class="panel-body">
                        VA SIC conducted a sustainable forestry tour to show architects and builders in the green-building community what SFI certification looks like on the ground. In addition, In partnership with the Virginia Forestry  Association, the committee actively engaged in state legislature outreach about the importance of multiple green building rating systems, which in turn gives more options for increased use and recognition of SFI-certified wood products.
                    </div>
                    <div style="overflow:hidden; margin:10px">
                        <img src="/assets/images/u84.png">
                    </div>
                </div>
            </div>
            <br>
        </div>

        <div class="col-sm-6 col-sm-offset-4" style="padding-top: 20px;">
            <button type="button" class="btn btn-success" ng-click="saveForm()">Save</button>
            <button type="button" class="btn btn-success" ng-click="saveForm(true)">Save and Go to Step 5</button>
        </div>
    </div>
    </form>
</div>