<div class="row">
    <div ng-init="errors = cs5.errors" ng-include="'/assets/partials/form/error.html'"></div>
    <form name="cs5Form">
    <div class="col-sm-12">

        <!--Right Side Start
        -------------
        -------------------------------
        ----------------------------------->
        <div class="col-lg-12" style="padding-bottom: 30px;">
            <div class="col-lg-8 toolip">
                <h5>
                    5. <span tooltip data-placement="top" data-container="body" data-html="true"
                             data-title="From SIC Governance document - Inconsistent Practices Core Mission Priority. Establish protocols for addressing, investigating, and responding to SFI Standard non-conformity allegations and inconsistent practices, and allegations regarding non-program participant forest management practices.">Inconsistent Practices (Core Mission Priority)</span>
                </h5>

                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <p><b>What is the SIC’s mechanism in place to address concerns regarding Inconsistent Practices?</b></p>

                    <div class="input-group input-large"
                         ng-file-select ng-model="uploadFile1"
                         ng-file-change="uploadFile(uploadFile1, mechanismDoc, '.doc,.docx,.pdf,.xls,.xlsx')"
                         ng-multiple="false"
                         ng-accept="'.doc,.docx,.pdf,.xls,.xlsx'">

                        <div class="form-control uneditable-input input-fixed input-medium">
                            <i class="fa fa-file fileinput-exists"></i>&nbsp;
                            <span class="fileinput-filename">{{ mechanismDoc.originalDocumentName }}</span>
                        </div>
                        <span class="input-group-addon btn default btn-file">
                            <span ng-hide="mechanismDoc.originalDocumentName" class="fileinput-new">Browse</span>
                            <span ng-show="mechanismDoc.originalDocumentName" class="fileinput-exists">Change </span>
                        </span>
                        <a ng-click="mechanismDoc = {}; " ng-show="mechanismDoc.originalDocumentName" href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput">Remove </a>
                    </div>
                    File types accepted:(.doc, .docx, .pdf, .xls, .xlsx.)
                </div>
                <div class="text-right" ng-show="mechanismDoc.originalDocumentName">
                    <input type="submit" class="btn default" value="Upload" ng-click="mechanismDoc = saveUploadedFile(mechanismDoc, cs5.mechanismDoc, true)">
                </div>

                <div id="selectedItem" ng-show="cs5.mechanismDoc.originalDocumentName"
                     ng-click="download(cs5.mechanismDoc.uniqueDocumentName, cs5.mechanismDoc.originalDocumentName)">{{ cs5.mechanismDoc.originalDocumentName }}
                    <button ng-click="cs5.mechanismDoc = {}; $event.stopPropagation();" type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                </div>
            </div>
            <br>
        </div>
        <div class="col-lg-12" style="padding-bottom: 20px;">
            <div class="col-lg-10">
                <p><b>What mechanism does your SIC utilize to receive inquiries?</b></p>
                <ul style="list-style: none">
                    <li class="col-lg-3">

                        <input id="receiveInquiryPhone" type="checkbox" ng-model="cs5.receiveInquiryPhone" name="receiveInquiryPhone" > <label for="receiveInquiryPhone" style="font-weight: normal;">Phone number</label>
                    </li>
                    <li class="col-lg-3">
                        <input id="receiveInquiryWebsite" type="checkbox" ng-model="cs5.receiveInquiryWebsite" name="receiveInquiryWebsite"> <label for="receiveInquiryWebsite" style="font-weight: normal;">Website contact form</label>
                    </li>
                    <li class="col-lg-3">
                        <input id="receiveInquiryLetter" type="checkbox" ng-model="cs5.receiveInquiryLetter" name="receiveInquiryLetter"> <label for="receiveInquiryLetter" style="font-weight: normal;">Formal letter</label>
                    </li>
                    <li class="col-lg-3">
                        <input id="receiveInquiryOther" type="checkbox" ng-model="cs5.receiveInquiryOther" name="receiveInquiryOther"> <label for="receiveInquiryOther" style="font-weight: normal;">Other</label>
                        <br/>
                        <br/>
                        <span ng-show="cs5.receiveInquiryOther">
                            <p>Please Specify:</p>
                            <input class="form-control" type="text" ng-model="cs5.receiveInquiryOtherSpecify">
                        </span>
                    </li>

                </ul>


            </div>
        </div>
        <div class="col-lg-12" style="padding-bottom: 20px;">
            <div class="col-lg-10">
                <p><b>Describe how your SIC advertises or communicates the inconsistent practices process:</b></p>
                <ul style="list-style: none">
                    <li class="col-lg-3">
                        <input id="advertisePublications" type="checkbox" ng-model="cs5.advertisePublications" name="advertisePublications"> <label for="advertisePublications" style="font-weight: normal;">Publications</label>
                    </li>
                    <li class="col-lg-3">
                        <input id="advertiseWebsites" type="checkbox" ng-model="cs5.advertiseWebsites" name="advertiseWebsites">  <label for="advertiseWebsites" style="font-weight: normal;">Websites</label>
                    </li>
                    <li class="col-lg-3">
                        <input id="advertiseBillboards" type="checkbox" ng-model="cs5.advertiseBillboards" name="advertiseBillboards"> <label for="advertiseBillboards" style="font-weight: normal;">Billboards</label>
                    </li>
                    <li class="col-lg-3">
                        <input id="advertiseOther" type="checkbox" ng-model="cs5.advertiseOther" name="advertiseOther">  <label for="advertiseOther" style="font-weight: normal;">Other</label>
                        <br>
                        <br>
                        <span ng-show="cs5.advertiseOther">
                            <p>Please Specify:</p>
                            <input class="form-control" type="text" ng-model="cs5.advertiseOtherSpecify">
                        </span>
                    </li>
                </ul>


            </div>
        </div>
        <!--<div class="col-lg-12" style="padding-bottom: 30px;">-->
            <!--<div class="col-lg-8">-->
                <!--<p><b>Which version of the SFI Standard does your Inconsistent Practices policy reflect? (new!)</b></p>-->
                <!--&lt;!&ndash;<ul style="list-style: none">&ndash;&gt;-->
                    <!--&lt;!&ndash;<li class="col-lg-6">&ndash;&gt;-->
                        <!--&lt;!&ndash;<input type="radio" name="sfiStandards" ng-model="cs5.sfiStandardVersion" ng-value="1"> SFI 2015-2019 Standards and Rules&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li class="col-lg-6">&ndash;&gt;-->
                        <!--&lt;!&ndash;<input type="radio" name="sfiStandards" ng-model="cs5.sfiStandardVersion" ng-value="2">  SFI 2010-2014 Standard&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->

        <div class="col-lg-12" style="padding-bottom: 30px;">
            <div class="col-lg-12">
                <p><b>SFI 2015-2019 Forest Management Standard Objectives</b> </p>
                <ng-form name="forest2015Form">
                    <table class="table table-striped">
                <thead>
                <tr>
                    <th><p>Objective</p></th>
                    <th colspan="2">
                        <p style="padding-left: 15px;text-align: -webkit-auto; text-align: left;">Number of inconsistent practices involving SFI Participants</p>
                        <div class="col-lg-6"><p style="padding-bottom: 0px;text-align: -webkit-auto;text-align: left;">Addressed & Resolved</p></div>
                        <div class="col-lg-6"><p style="padding-bottom: 0px;text-align: -webkit-auto;text-align: left;">Addressed & Unresolved</p></div>
                    </th>
                    <th><p style="padding-bottom: 0px;">Number of SFI participants with More than One Inconsistent Practice</p></th>
                    <th><p style="padding-bottom: 16px;">Delete</p></th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in cs5.forestStandards2015">
                        <td>
                            {{ forestObjectives[ item.objective ].value }}
                        </td>
                        <td align="center">
                            {{ item.resolved }}
                        </td>
                        <td align="center">
                            {{ item.unresolved }}
                        </td>
                        <td align="center">
                            {{ item.inconsistentPractice }}
                        </td>
                        <!--<th><p class="myButton"  ng-click="editStandard($index, 'forest2015', cs5.forestStandards2015)">Edit</p></th>-->
                        <th><p class="myButton"  ng-click="deleteStandard($index, cs5.forestStandards2015)">Delete</p></th>

                    </tr>
                    <tr>

                        <td width="35%">
                            <select class="form-control" ng-model="forest2015.objective" ng-required="hasData(forest2015)" customerror>
                                <option ng-selected="!forest2015.objective">Select Objective</option>
                                <option ng-selected="forest2015.objective == $index" ng-repeat="objective in forestObjectives | orderBy:'id':reverse" ng-value="$index">{{ objective.value }}</option>
                            </select>
                        </td>
                        <td>
                            <input class="form-control" type="number" ng-required="hasData(forest2015)" name="forest2015resolved" ng-model="forest2015.resolved" customerror>
                        </td>
                        <td>
                            <input class="form-control" type="number" ng-required="hasData(forest2015)" name="forest2015Unresolved" ng-model="forest2015.unresolved" customerror>
                        </td>
                        <td>
                            <input class="form-control" type="number" ng-required="hasData(forest2015)" name="forest2015InconsistentPractice" ng-model="forest2015.inconsistentPractice" customerror>
                        </td>
                        <td colspan="2" nowrap="">
                            <p class="myButton"  ng-click="forest2015 = addStandard('forest2015', forest2015, cs5.forestStandards2015)"><b><u><b><u>+ Add Another Line</u></b></u></b></p>
                        </td>


                    </tr>


                </tbody>
            </table>
                </ng-form>
            </div>

        </div>

        <div class="col-lg-12" style="padding-bottom: 30px;">
            <div class="col-lg-12">
                <p><b>SFI 2015-2019 Fiber Sourcing Standards</b> </p>
                <ng-form name="fiber2015Form">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><p>Objective</p></th>
                        <th colspan="2">
                            <p style="padding-left: 15px;text-align: -webkit-auto;text-align: left;">Number of inconsistent practices involving SFI Participants</p>
                            <div class="col-lg-6"><p style="padding-bottom: 0px;text-align: -webkit-auto;text-align: left;">Addressed & Resolved</p></div>
                            <div class="col-lg-6"><p style="padding-bottom: 0px;text-align: -webkit-auto;text-align: left;">Addressed & Unresolved</p></div>
                        </th>
                        <th><p style="padding-bottom: 0px;">Number of SFI participants with More than One Inconsistent Practice</p></th>
                        <th><p style="padding-bottom: 16px;">Delete</p></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in cs5.fiberSourcing2015">
                        <td>
                            {{ fiberObjectives[ item.objective ].value }}
                        </td>
                        <td align="center">
                            {{ item.resolved }}
                        </td>
                        <td align="center">
                            {{ item.unresolved }}
                        </td>
                        <td align="center">
                            {{ item.inconsistentPractice }}
                        </td>
                        <th><p class="myButton"  ng-click="deleteStandard($index, cs5.fiberSourcing2015)">Delete</p></th>

                    </tr>
                    <tr>
                        <td width="35%">
                            <select class="form-control" ng-required="hasData(fiber2015)" customerror ng-model="fiber2015.objective">
                                <option ng-selected="!fiber2015.objective">Select Objective</option>
                                <option ng-selected="fiber2015.objective == $index" ng-repeat="objective in fiberObjectives | orderBy:'id':reverse" ng-value="$index">{{ objective.value }}</option>
                            </select>
                        </td>
                        <td>
                            <input class="form-control" ng-required="hasData(fiber2015)" customerror type="number" name="forest2015resolved" ng-model="fiber2015.resolved" customerror>
                        </td>
                        <td>
                            <input class="form-control" ng-required="hasData(fiber2015)" customerror type="number" name="forest2015Unresolved" ng-model="fiber2015.unresolved" customerror>
                        </td>
                        <td>
                            <input class="form-control" ng-required="hasData(fiber2015)" customerror type="number" name="forest2015InconsistentPractice" ng-model="fiber2015.inconsistentPractice" customerror>
                        </td>
                        <td colspan="2" nowrap="">
                            <p class="myButton"  ng-click="fiber2015 = addStandard('fiber2015', fiber2015, cs5.fiberSourcing2015)"><b><u>+ Add Another Line</u></b></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </ng-form>
            </div>
        </div>

        <div class="col-lg-12" style="padding-bottom: 30px;">
            <div class="col-lg-8 fm-stl">
                <p><b>Provide aggregate reporting information (no names) on inconsistent practices below.</b></p>

                <div style="padding-left: 30px;">

                    <label style="padding-bottom: 20px;">
                        <p>
                            Total number of inquiries received last year - valid or not, SFI & non-SFI
                        </p>
                        <input class="form-control" style="width: 200px;" ng-model="cs5.totalInquiriesReceived" type="number" customerror>
                    </label>

                    <label style="padding-bottom: 20px;">
                        <p>
                            Of the total number of inconsistent practices reported above, how many were SFI-specific?
                        </p>
                        <input class="form-control" style="width: 200px;" ng-model="cs5.totalInconsistentPractices" type="number" customerror>

                        <div class="error-box" ng-hide="cs5.totalInconsistentPractices == getTotalInquiriesReceived()">
                            This number must equal the total number of inconsistent practices involving SFI<br/>
                            participants, both addressed & resolved, and addressed & unresolved.
                        </div>
                    </label>

                </div>
            </div>
        </div>


        <div class="col-sm-6 col-sm-offset-4" style="padding-top: 20px;">
            <button type="button" class="btn btn-success" ng-click="saveForm()">Save</button>
            <button type="button" class="btn btn-success" ng-click="saveForm(true)">Save and Go to Step 6</button>
        </div>
    </div>
    </form>
    <div id="deleteConfirm" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" data-dismiss="modal" aria-hidden="true" class="close">x</a>
                </div>
                <div class="modal-body">
                    <p class="question-style">Are you sure you want to delete this entry?</p>
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" id="btnConfirm" class="btn confirm" ng-click="deleteConfirm()">Yes, delete it</a>
                    <a href="#" data-dismiss="modal" aria-hidden="true" class="btn confirm" ng-click="deleteCancel()">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>

