<div class="row">
    <form name="cs4Form">
    <div class="col-sm-12">

        <!--Right Side Start
        -------------
        -------------------------------
        ----------------------------------->
        <div class="col-lg-12 passage-bold">
            <div class="col-lg-8">
                <h5>
                    4. <span data-toggle="tooltip" title="From SIC Governance document – Landowner outreach core mission priority:  Focus landowner outreach efforts on education and technology."> Landowner Outreach</span>
                </h5>
                <p>
                    If you are especially proud of a particular landowner outreach project, event or activity you accomplished last
                    year or plan to achieve this year, provide a description of your top Landowner Outreach activities, for potential elevation
                    through SFI media channels:
                </p>
                <ul class="list-style">
                    <li>
                        <label style="width:145px;">
                            <input type="checkbox" name="universityOutreach" ng-model="cs4.universityOutreach" >  University outreach
                        </label>
                        <textarea  ng-show="cs4.universityOutreach" ng-model="cs4.universitySpecify" rows="3" cols="50" style="vertical-align: top;position: relative;right: -20px; margin-bottom:10px;" placeholder="Please Specify"></textarea>
                    </li>
                    <li>
                        <label style="width:145px;">
                            <input type="checkbox" name="legislatureOutreach" ng-model="cs4.legislatureOutreach" >  Legislature outreach
                        </label>

                        <textarea  ng-show="cs4.legislatureOutreach" ng-model="cs4.legislatureSpecify" rows="3" cols="50" style="vertical-align: top;position: relative;right: -20px; margin-bottom:10px;" placeholder="Please Specify"></textarea>

                    </li>
                    <li>
                        <label style="width:145px;">
                            <input type="checkbox" name="governmentAgencyOutreach" ng-model="cs4.governmentAgencyOutreach" >   Government agency outreach
                        </label>
                        <textarea  ng-show="cs4.governmentAgencyOutreach" ng-model="cs4.governmentSpecify" rows="3" cols="50" style="vertical-align: top;position: relative;right: -20px; margin-bottom:10px;" placeholder="Please Specify"></textarea>
                    </li>
                    <li>
                        <label style="width:145px;">
                            <input type="checkbox" name="other" ng-model="cs4.other" >  Other
                        </label>

                        <textarea  ng-show="cs4.other" ng-model="cs4.otherSpecify" rows="3" cols="50" style="vertical-align: top;position: relative;right: -20px; margin-bottom:10px;" placeholder="Please Specify"></textarea>
                    </li>
                </ul>

            </div>
            <br>
        </div>

        <div class="col-sm-6 col-sm-offset-4" style="padding-top: 20px;">
            <button type="button" class="btn btn-success" ng-click="saveForm()">Save</button>
            <button type="button" class="btn btn-success" ng-click="saveForm(true)">Save and Go to Step 5</button>
        </div>
    </div>
    </form>
</div>