<div class="row">
    <div ng-init="errors = cs10.errors" ng-include="'/assets/partials/form/error.html'"></div>
    <div class="col-sm-12 fm-stl">

        <!--Right Side Start
        -------------
        -------------------------------
        ----------------------------------->
        <form name="cs10Form">
        <div class="col-lg-12">
            <div class="col-lg-8">
                <h5>
                    10. How Can SFI Serve You Better?
                </h5>
                <p>
                    SFI Implementation Committees are SFI Inc.’s strongest asset in communities across North America.  SICs represent a grassroots network working with local conservation groups, government agencies, forestry and professional associations, landowner groups and many others to conduct landowner outreach, logger training and other community engagement activities.
                    <span style="font-weight: bold;">Please list below any ideas or opportunities where SFI Inc. could better serve your committee. Choose all that apply, or include other items not already listed.</span>
                </p>
                <ul class="list-style alignment">
                    <li>
                            <input id="sfiCouldServeMarketing" type="checkbox" name="sfiCouldServeMarketing" ng-model="cs10.sfiCouldServeMarketing">
                            <label for="sfiCouldServeMarketing" style="font-weight: normal;margin-left: 0;">Development of marketing materials</label><br/>
                        <label ng-show="cs10.sfiCouldServeMarketing">
                            Please Specify
                            <textarea  style="font-weight: normal;" rows="3" cols="80" class="form-control" ng-model="cs10.sfiMarketingDetail"></textarea>
                        </label>
                    </li>
                    <li>
                            <input style="float:left;margin-bottom: 3px;margin-right: 3px;" type="checkbox" id="sfiCouldServeEducation" name="sfiCouldServeEducation" ng-model="cs10.sfiCouldServeEducation">
                            <label for="sfiCouldServeEducation" style="font-weight: normal;margin-left: 0;">
                            Development of presentation templates for training and educational purposes, i.e. SFI 101, It Starts at Home,
                            <br/>
                            SFI Standard Requirements, etc.
                            </label>
                        <label ng-show="cs10.sfiCouldServeEducation">
                            Please Specify
                            <textarea  style="font-weight: normal;"  rows="3" cols="80" class="form-control" ng-model="cs10.sfiEducationDetail"></textarea>
                        </label>

                    </li>
                    <li>
                            <input id="sfiCouldServeInformation" type="checkbox" name="sfiCouldServeInformation" ng-model="cs10.sfiCouldServeInformation">
                        <label for="sfiCouldServeInformation" style="font-weight: normal;margin-left: 0;">Facilitating information sharing more effectively</label>
                        <label ng-show="cs10.sfiCouldServeInformation">
                            Please Specify
                            <textarea  style="font-weight: normal;"  rows="3" cols="80" class="form-control" ng-model="cs10.sfiInformationDetail"></textarea>
                        </label>
                    </li>
                    <li>
                            <input id="sfiCouldServeWebinar" type="checkbox" name="sfiCouldServeWebinar" ng-model="cs10.sfiCouldServeWebinar">
                        <label for="sfiCouldServeWebinar" style="font-weight: normal;margin-left: 0;">Issue-specific webinars or discussions</label>
                        <label ng-show="cs10.sfiCouldServeWebinar">
                            Please Specify
                            <textarea   style="font-weight: normal;" rows="3" cols="80" class="form-control" ng-model="cs10.sfiWebinarDetail"></textarea>
                        </label>
                    </li>
                    <li>
                            <input id="sfiCouldServeWebContent" type="checkbox" name="sfiCouldServeWebContent" ng-model="cs10.sfiCouldServeWebContent">
                        <label for="sfiCouldServeWebContent" style="font-weight: normal;margin-left: 0;">Assistance with website content and graphics</label>
                        <label ng-show="cs10.sfiCouldServeWebContent">
                            Please Specify
                            <textarea  style="font-weight: normal;" rows="3" cols="80" class="form-control" ng-model="cs10.sfiWebContentDetail"></textarea>
                        </label>
                    </li>
                    <li>
                            <input id="sfiCouldServeOther" type="checkbox" name="sfiCouldServeOther" ng-model="cs10.sfiCouldServeOther">
                        <label for="sfiCouldServeOther" style="font-weight: normal;margin-left: 0;">Other</label>
                        <label ng-show="cs10.sfiCouldServeOther">
                            Please Specify
                            <textarea  style="font-weight: normal;" rows="3" cols="80" class="form-control" ng-model="cs10.sfiOtherDetail"></textarea>
                        </label>
                    </li>
                </ul>

            </div>
            <br>
        </div>
        <br>
        <div class="col-lg-12">
            <div class="col-lg-8">
                <hr style="border-top: groove;color: #1a1a1a;padding-bottom: 30px;">

                <ul class="list-style">
                    <li>
                        <label>
                            <input type="checkbox" name="confirm" ng-model="cs10.confirmation">
                            I confirm the information provided herein is final and accurate to the best of my knowledge.
                        </label>
                        <div ng-show="cs10.confirmation">
                            <p>
                                Please enter your full name
                            </p>
                            <label class="form-inline" ng-class="{'has-error':  cs10Form.name.$invalid}">
                                <input customerror ng-required="cs10.confirmation" style="font-weight: normal;" class="form-control" name="name" ng-model="cs10.fullName">  {{ today | date:'yyyy-MM-dd'}}
                            </label>
                        </div>
                    </li>
                </ul>
                <p style="font-weight: bold;">
                    May SFI Inc. share your completed report with all SFI Implementation Committees and/or post on the SIC Member's Only Area of the SFI website?
                </p>
                <label class="form-inline">
                    <input type="radio" name="shareReport" ng-model="cs10.shareReport" ng-value="true">  Yes
                </label>
                <label class="form-inline">
                    <input type="radio" name="shareReport" ng-model="cs10.shareReport" ng-value="false">  No
                </label>

            </div>
            <br>
        </div>

        </form>
        <div class="col-sm-6 col-sm-offset-4" style="padding-top: 20px;">
            <button type="button" class="btn btn-success" ng-click="saveForm()">Save</button>
            <button type="button" class="btn btn-success" ng-click="submit()">Submit</button>
        </div>
    </div>
</div>