#
# Local: Linux & MySQL
#

jdbc.driverClassName = com.mysql.jdbc.Driver
jdbc.url = jdbc:mysql://127.0.1.1:3306/sfi_sfi
jdbc.username = root
jdbc.password = root
hibernate.dialect = org.hibernate.dialect.MySQLDialect


#
# Local: Windows & SQL Server - 2012
#

# jdbc.driverClassName = com.microsoft.sqlserver.jdbc.SQLServerDriver
# jdbc.url = jdbc:sqlserver://172.16.229.246:1433;databaseName=SFI_SFI
# jdbc.username = devuser
# jdbc.password = devuser
# hibernate.dialect = org.hibernate.dialect.SQLServer2012Dialect


#
# Test Server: Windows & SQL Server - 2012
#

# jdbc.driverClassName = com.microsoft.sqlserver.jdbc.SQLServerDriver
# jdbc.url = jdbc:sqlserver://10.10.25.60:1433;databaseName=sfi_phase2
# jdbc.username = sfiphase2live
# jdbc.password = NEWPvcUcJZ9Jy8PraxJCA4
# hibernate.dialect = org.hibernate.dialect.SQLServer2012Dialect


#
# Live Server: Windows & SQL Server - 2012
#

# jdbc.driverClassName = com.microsoft.sqlserver.jdbc.SQLServerDriver
# jdbc.url = jdbc:sqlserver://10.10.25.34:1433;databaseName=sfi_phase2
# jdbc.username = sfiphase2live
# jdbc.password = NEWPvcUcJZ9Jy8PraxJCA4
# hibernate.dialect = org.hibernate.dialect.SQLServer2012Dialect


#
# Common Config
#
hibernate.show_sql = true
hibernate.format_sql = true
