########### Local PC ##########
#jdbc.driverClassName = com.mysql.jdbc.Driver
#jdbc.url = jdbc:mysql://localhost:3306/spring_sfi7
#jdbc.username =root
#jdbc.password =1
#hibernate.dialect = org.hibernate.dialect.MySQLDialect
#hibernate.show_sql = true
#hibernate.format_sql = true

########### Our Server ##########
#jdbc.driverClassName = com.microsoft.sqlserver.jdbc.SQLServerDriver
#jdbc.url = jdbc:sqlserver://192.168.1.101:1433;databaseName=sfi_phase3
#jdbc.username =sa
#jdbc.password =commonRBS123
#hibernate.dialect = org.hibernate.dialect.SQLServer2012Dialect
#hibernate.show_sql = true
#hibernate.format_sql = true

########### dev Server ########## our server
#jdbc.driverClassName = com.microsoft.sqlserver.jdbc.SQLServerDriver
#jdbc.url = jdbc:sqlserver://10.10.25.60:1433;databaseName=sfi_dev3
#jdbc.username =sfireportingdev
#jdbc.password =6FkbHdWcT6ts2s47
#hibernate.dialect = org.hibernate.dialect.SQLServer2012Dialect
#hibernate.show_sql = true
#hibernate.format_sql = true

########### Test Server ##########
#jdbc.driverClassName = com.microsoft.sqlserver.jdbc.SQLServerDriver
#jdbc.url = jdbc:sqlserver://10.10.25.60:1433;databaseName=sfi_phase3
#jdbc.username =sfireportingdev
#jdbc.password =6FkbHdWcT6ts2s47
#hibernate.dialect = org.hibernate.dialect.SQLServer2012Dialect
#hibernate.show_sql = true
#hibernate.format_sql = true

########### production Server ##########
#jdbc.driverClassName = com.microsoft.sqlserver.jdbc.SQLServerDriver
#jdbc.url = jdbc:sqlserver://:1433;databaseName=
#jdbc.username =
#jdbc.password =
#hibernate.dialect = org.hibernate.dialect.SQLServer2012Dialect
#hibernate.show_sql = true
#hibernate.format_sql = true