<div class="row">
<div ng-init="errors = cs10.errors" ng-include="'/assets/partials/form/error.html'"></div>

    <div class="col-sm-12">
        <h5>10. 2015 - 2019 Fiber Sourcing Standard</h5>
        <form name="cs10Form">
            <p>
                The SFI Fiber Sourcing Standard has several new and enhanced requirements. These changes are part of the SFI 2015-2019 Standard revision process. Many of the changes came from consultations with the SFI community — people like you.

            </p>
            <p>
                Your answers to this survey will enable SFI to:
                <ui>
                <li>Demonstrate the value of the standard revision process and the subsequent improvements to the Standard.</li>
                <li>Communicate the positive outcomes resulting from your implementation of the new Standard.</li></ui>

            </p>
            <p>
                Your responses to the new questions  will help us to show how the new Standard is improving forest management planning and operational practices. These improvements will ultimately lead to actions that address the issues facing our SFI community and reinforce the values we share. We will use the information and examples you provide to elevate the awareness of the new SFI 2015-2019 Standards. Your efforts will also help us engage brand-owners in a discussion about the value, relevance and credibility of the Standard.
            </p>
            <p>
                Information from the survey is only used in aggregate and company-specific data is not shared in the progress report. This survey  requests specific case examples of your management improvements and best practices related to the new Standard. SFI would like to use your best practice examples in communications. When asked to share your best stories, we will ask if you would like to share your organization’s best practice case example. You may also opt for sharing your stories but not have your organization identified.

            </p>
            <p>
                The following questions are included for your review and attention this year. No response to this survey is expected during this reporting period because the SFI Fiber Sourcing Standard was just released. We recommend that you begin tracking the information associated with these new questions during 2015 to enable reporting in January 2016, when responses will be mandatory. These questions will be asked in 2016 and 2017.
            </p>

            <div class="col-sm-12 ">
                <div class="col-sm-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Did You Know?</h3>
                        </div>
                        <div class="panel-body" style="height:100px;">
                            This survey gives an option to provide case examples throughout. To make it easier to complete, use examples you are most proud of.
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Did You Know?</h3>
                        </div>
                        <div class="panel-body" style="height:100px;">
                            If you provide specific case example information, SFI may feature your best practices in our communications.
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Did You Know?</h3>
                        </div>
                        <div class="panel-body" style="height:100px;">
                            Where it is an option to provide a case example, select the best-fit category for your story to share.
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-12 formSection">
                <h5>Biodiversity in Fiber Sourcing</h5>
                <h6>Has Indicator 1.1.1 helped to improve your fiber procurement planning and practices with respect to conservation of biodiversity in fiber sourcing?</h6>
                <div class="col-sm-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Indicator 1.1.1</h3>
                        </div>
                        <div class="panel-body">
                            <p>Program participant shall address conservation of biodiversity, individually or collaboratively, through a Program which includes one or more of the following:</p>
                            <ol>
                                <li>promotion of biological diversity utilizing information from organizations such as World Resources Institute, The Nature Conservancy, NatureServe, Conservation International, State Wildlife Action Plans, State Forest Action Plans and assessments;</li>
                                <li>conducting local and regional level landscape assessments;</li>
                                <li>involvement with local or regional conservation efforts; </li>
                                <li>use of relevant information on biological diversity from credible sources (such as those noted above) in approved training and education programs; and</li>
                                <li>other credible approaches.</li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="col-sm-8 top-buffer">

                    <!--<ul>-->
                        <!--<li>Implemented new methods to promote biological diversity in fiber sourcing</li>-->
                        <!--<li>Engaged in regional or landscape conservation efforts</li>-->
                        <!--<li>Developed new education or training programs relevant to biological diversity</li>-->
                        <!--<li>Sought information from additional sources to aid in biodiversity understanding</li>-->
                        <!--<li>Other</li>-->
                    <!--</ul>-->
                    <!---->

                    <table style="width:90%" class="table table-bordered">
                        <tr>
                            <td width="35%">
                                Did you partner with or use information from any of the following organizations on the following actions:
                            </td>
                            <td width="5%">WRI</td>
                            <td width="5%">TNC</td>
                            <td width="5%">CI</td>
                            <td width="15%">State Wildlife Action Plans
                            </td>
                            <td width="20%">State Forest Action Plans and assessments
                            </td>
                            <td width="10%">Other</td>
                        </tr>
                        <tr>
                            <td>Implemented new methods to promote biological diversity in fiber sourcing.</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>Engaged in new regional or landscape conservation efforts.</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>Developed new education or training programs relevant to biological diversity.
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>Sought information from additional sources to improve our understanding of biodiversity.</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>Other case study example.</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                    </table>


                </div>
            </div>
            <div class="col-sm-12 formSection">
                <h5>Best Management Practices in Fiber Sourcing</h5>
                <h6>Have the changes to Indicator 2.1.2 helped to improve your fiber procurement planning and practices with respect to best management practices in fiber sourcing?</h6>
                <div class="col-sm-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Indicator 2.1.2</h3>
                        </div>
                        <div class="panel-body">
                            Use of written agreements for the purchase of raw material sourced directly from the forest is required and must include provisions requiring the use of best management practices.
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 top-buffer">
                    Requirements for use of best management practices in written agreements for raw material:
                    <ul>

                        <li>Are now contained in purchase order. (option to provide case example)</li>
                        <li>Are now contained in purchase contract. (option to provide case example)  </li>
                        <li>Are now contained in another format. (option to provide case example)          </li>
                        <li>Are addressed via another mechanism. (Please explain.)</li>
                        <li>Has resulted in no changes; we already address this in our planning and operational practices. (describe the practice)</li>
                        <li>Has resulted in no changes (provide rationale)</li>
                    </ul>
                </div>
                <div class="clear"></div>
                <br><br><br>

            </div>

            <div class="col-sm-12 formSection">
                <h5>Training and Education</h5>
                <h6>Have the changes to Indicator 6.1.5 helped to improve your fiber procurement planning and practices with respect to the training and education of qualified professionals or wood producers?</h6>

                <div class="col-sm-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Indicator 6.1.5</h3>
                        </div>
                        <div class="panel-body">
                            Program Participants shall have written agreements for the use of qualified logging professionals and/or certified logging professionals (where available) and/or wood producers that have completed training programs and are recognized as qualified logging professionals.
                        </div>
                    </div>
                </div>

                <div class="col-sm-8 top-buffer">
                    Requirements for the use of qualified logging professionals and/or certified logging professionals and/or wood producers:
                    <ul>

                        <li>Are now factored into purchase orders. (option to provide case example)</li>
                        <li>Are now factored into purchase contracts.; (option to provide case example) </li>
                        <li>Are now addressed via another mechanism. (Please explain.)Other case study example. (Please explain)</li>
                        <li>Has resulted in no changes; we already address this in our planning and operational practices. (describe the practice)</li>
                        <li>Has resulted in no changes (provide rationale)</li>
                    </ul>
                    In your opinion, has the number of trained wood producers in the region of your manufacturing facilities increased/decreased/remained the same as compared with last year?
                </div>

            </div><!-- end of formSection -->


            <div class="col-sm-12 formSection">
                <h5>Avoidance of Illegally Logged Fiber</h5>

                <p>The 2015-2019 SFI Fiber Sourcing Standard also has specific new performance measures related to avoiding illegally logged fiber. This is an important topic for brand-owners and the conservation community. They are seeking to reduce the brand and conservation risks associated with illegal logging. These new requirements are designed to help Program Participants identify and manage the risks associated with illegally logged fiber. SFI would like to better understand how Program Participants are managing these risks. We would also like to identify any changes that may have occurred to your procurement planning and/or operational practices as a result of the new Standard.</p>

                <p>These questions are not mandatory this year because the 2015-2019 Fiber Sourcing Standard was just released. Organizations should begin tracking this information in 2015 to enable reporting in January 2016 when responses will be mandatory.</p>


                <h5>Legal and Regulatory Compliance (within the US and Canada)</h5>
                <p>Did you identify any risk of illegal logging through your risk assessment? No/Yes. If yes, please describe what you did to address this risk. (Please explain.)  (option to provide case example)</p>


                <div class="col-sm-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Indicator 4.1.4</h3>
                        </div>
                        <div class="panel-body">
                            <p>Program to assess the risk that the Program Participant’s fiber sourcing program could acquire material from illegal logging by considering some of the following:</p>
                            <ul>
                                <li>communications with suppliers;</li>
                                <li>independent research;</li>
                                <li>contract documentation; and</li>
                                <li>maintain records.</li>
                            </ul>
                        </div>
                    </div>
                </div>



                <div class="col-sm-8 top-buffer">
                </div>
            </div><!-- end of formSection -->


            <!--<div class="col-sm-12 formSection">-->
                <!--<h5>Avoidance of Controversial Sources Including Illegal Logging (outside of the US and Canada)</h5>-->
                <!--<p>-->
                    <!--Do you source fiber from outside the U.S. and Canada?  No/Yes.-->
                <!--</p>-->

                <!--<div class="col-sm-4">-->
                    <!--<div class="panel panel-success">-->
                        <!--<div class="panel-heading">-->
                            <!--<h3 class="panel-title">Indicator 12.1.1</h3>-->
                        <!--</div>-->
                        <!--<div class="panel-body">-->
                            <!--<p>Program to assess the risk that the Program Participant's fiber sourcing program could acquire material from illegal logging by considering some of the following:</p>-->
                            <!--<ol>-->
                                <!--<li>communications with suppliers;</li>-->
                                <!--<li>independent research; </li>-->
                                <!--<li>contract documentation; and</li>-->
                                <!--<li>maintain records.</li>-->
                            <!--</ol>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="col-sm-8 top-buffer">-->

                <!--</div>-->
            <!--</div>&lt;!&ndash; end of formSection &ndash;&gt;-->
            <!---->

            <!--<div class="col-sm-12 formSection">-->
                <!--<h5>Avoidance of Controversial Sources Including Illegal Logging (outside of the US and Canada)</h5>-->
                <!--<p>-->
                    <!--Do you source fiber from outside the U.S. and Canada? If yes, you will be asked the type of tools used to assess the risk?  If your risk assessment indicated there was high risk of illegally logged fiber, what did you do to mitigate this risk?-->
                <!--</p>-->
            <!--</div>&lt;!&ndash; end of formSection &ndash;&gt;-->

            <div class="col-sm-12 formSection">
                <h5>Avoidance of Controversial Sources Including Illegal Logging (outside of the US and Canada)</h5>
                <h6>Do you source fiber from outside the U.S. and Canada?  No/Yes.</h6>
                <div class="col-sm-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Indicator 12.1.1</h3>
                        </div>
                        <div class="panel-body">
                            Process to assess the risk that the Program Participant’s fiber sourcing program could acquire material from illegal logging such as consulting information from the World Resources Institute Risk Information Tool, the World Bank Legal Rights Index, or Transparency International.
                        </div>
                    </div>
                </div>

                <div class="col-sm-8 top-buffer">
                    During your process to avoid sourcing illegally logged fiber by assesses and mitigating risk within your fiber sourcing program, what tools did you use?
                    <ul>

                        <li>World Resources Institute Risk Information Tool;</li>
                        <li>The World Bank Legal Rights Index;</li>
                        <li>Information from Transparency International;</li>
                        <li>Other. (Please explain.)</li>
                    </ul>
                </div>
            </div><!-- end of formSection -->
            <div class="form-group">
                <input type="checkbox" ng-required="isRequired()" ng-model="cs10.acknowledge" name="test" class="icheck" icheck/>
                <label class="checkboxLabel">I have read all the questions in this section</label>
            </div>

        </form>

        {{ setForms() }}
        <div class="col-sm-12 msg-cont"></div>
        <div class="col-sm-6 col-sm-offset-4">
            <button type="button" class="btn btn-success" ng-click="saveForm()">Save</button>
            <button type="button" class="btn btn-success" ng-click="submit()">Submit</button>


        </div>
    </div>
</div>