<div class="row">
    <div ng-init="errors = cs9.errors" ng-include="'/assets/partials/form/error.html'"></div>

    <div class="col-sm-12">
    <!--Introduction start-->
    <div>
        <h5 class="section-header">8. Fiber Sourcing New Standard Impacts</h5>
        <p>
            The SFI 2015-2019 Forest Management Standard has several new and enhanced requirements. These changes were part of the SFI 2015-2019 Standard and Rules revision process. Many of the changes came from consultations with the SFI community  -- people like you.
        </p>
        <div class="form-group">
            <label>Your answers to this survey will enable SFI to:</label>
            <ul>
                <li>
                    Demonstrate the value of the standard revision process and the subsequent improvements to the Standard.
                </li>
                <li>
                    Communicate the positive outcomes resulting from your implementation of the new Standard requirements.
                </li>
            </ul>
        </div>
        <p>
            We will use the information and examples you provide to elevate the awareness of the new SFI 2015-2019 Standards and Rules. Your efforts will also help us engage brandowners in a discussion about the value, relevance and credibility of the Standard.
        </p>
        <p>
            This survey requests specific case examples of your management improvements and best practices related to the new Standard. SFI would like to use your best practice examples in communications. When asked to share your best stories, we will ask if you would like to share your organization's best practice case example. You may also opt for sharing your stories but not have your organization identified. If you prefer, we can also use your information in aggregate with all collected survey data.

        </p>
        <p>
            These questions will be asked this year and next year (2017) only. The specific questions related to forest conversion and chemical use will be incorporated into the SFI Annual Report Form and will be asked year over year.
        </p>
    </div>
    <!--Introduction End-->

    <!--Left Side Start-->
    <div class="col-lg-4">
        <div class="box-shadow" >
            <h6>
                Indicator 1.1.1
            </h6>
            <p>
                Program participant shall address conservation of biodiversity, individually or collaboratively, through a Program which includes one or more of the following:                            </p>
            <ul>
                <li>
                    promotion of biological diversity utilizing information from organizations such as World Resources Institute, The Nature Conservancy, NatureServe, Conservation International, State Wildlife Action Plans, State Forest Action Plans and assessments;
                </li>
                <li>
                    conducting local and regional level landscape assessments;
                </li>
                <li>
                    involvement with local or regional conservation efforts;
                </li>
                <li>
                    use of relevant information on biological diversity from credible sources (such as those noted above) in approved training and education programs; and other credible approaches.
                </li>
            </ul>
        </div>
        <br>
        <div class="box-shadow" >
            <h6>
                Indicator 2.1.2
            </h6>
            <p>
                Use of written agreements for the purchase of raw material sourced directly from the forest is required and must include provisions requiring the use of best management practices.
            </p>
        </div>
        <br>
        <div class="box-shadow">
            <h6>
                Indicator 6.1.5
            </h6>
            <p>
                Program Participants shall have written agreements for the use of qualified logging professionals and/or certified logging professionals (where available) and/or wood producers that have completed training programs and are recognized as qualified logging professionals.
            </p>
        </div>
        <br>
        <div class="box-shadow">
            <h6>
                Indicator 4.1.4
            </h6>
            <p>
                Program to assess the risk that the Program Participant’s fiber sourcing program could acquire material from illegal logging by considering some of the following:
            <ul>
                <li>
                    communications with suppliers;
                </li>
                <li>
                    independent research;
                </li>
                <li>
                    contract documentation; and
                </li>
                <li>
                    maintain records.
                </li>
            </ul>
        </div>
        <br>
        <div class="box-shadow" >
            <h6>
                Indicator 12.1.1
            </h6>
            <p>
                Process to assess the risk that the Program Participant’s fiber sourcing program could acquire material from illegal logging such as consulting information from the World Resources Institute Risk Information Tool, the World Bank Legal Rights Index, or Transparency International.
            </p>
        </div>
        <br>
    </div>
    <!--Left Side End
    -------------------------------
    -------------------
    ------------>

    <!--Right Side Start
    -------------
    -------------------------------
    ----------------------------------->
    <div class="col-lg-8 fm-stl">
        <form name="cs10Form">
        <div>
            <h5>
                Biodiversity in Fiber Sourcing
            </h5>
            <p class="question-style">
                Have you made changes to your fiber procurement planning and practices with respect to conservation of biodiversity in fiber sourcing according to Indicator 1.1.1?
            </p>
            <label>
                <div>
                    <input type="radio" icheck ng-model="cs10.biodiversityFiberSourcing" value=1>
                    Yes, we have made changes based off the new Requirements in the SFI 2015-2019 by partnering with or using information from the following organizations:

                    <ul style="list-style-type: none" ng-show="!cs10.biodiversityFiberSourcing || cs10.biodiversityFiberSourcing == 1">
                        <p>Select all that apply</p>

                        <li>
                            <label>
                                <input icheck type="checkbox" checklist-model="cs10.biodiversityItems1" checklist-value="1">
                                World Resources Institute Risk
                                <a style="text-decoration:underline;" ng-click="shareHistory(1, 'biodiversityItems1_1', $event)" ng-show="isSelected(cs10.biodiversityItems1, 1)">
                                    <span ng-hide="hasStory[1]">Share Your Story</span>
                                    <span ng-show="hasStory[1]">Edit Your Story</span>
                                </a>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input icheck type="checkbox" checklist-model="cs10.biodiversityItems1" checklist-value="2">
                                The Nature Conservancy
                                <a style="text-decoration:underline;" ng-click="shareHistory(2, 'biodiversityItems1_2', $event)" ng-show="isSelected(cs10.biodiversityItems1, 2)">
                                    <span ng-hide="hasStory[2]">Share Your Story</span>
                                    <span ng-show="hasStory[2]">Edit Your Story</span>
                                </a>
                            </label>
                            <ul style="list-style-type: none" ng-show="isSelected(cs10.biodiversityItems1, 2)">
                                <p>Select all that apply</p>

                                <li>
                                    <label>
                                        <input icheck type="checkbox" checklist-model="cs10.biodiversityNatureItems" checklist-value="1">
                                        Implemented new methods to promote biological diversity in fiber sourcing
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input icheck type="checkbox" checklist-model="cs10.biodiversityNatureItems" checklist-value="2">
                                        Engaged in new regional or landscape conservation efforts
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input icheck type="checkbox" checklist-model="cs10.biodiversityNatureItems" checklist-value="3">
                                        Developed new education or training programs relevant to biological diversity
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input icheck type="checkbox" checklist-model="cs10.biodiversityNatureItems" checklist-value="4">
                                        Sought information from additional sources to improve our understanding of biodiversity

                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input icheck type="checkbox" checklist-model="cs10.biodiversityNatureItems" checklist-value="5">
                                        Other case study example
                                    </label>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <label>
                                <input icheck type="checkbox" checklist-model="cs10.biodiversityItems1" checklist-value="3">
                                Conservation International
                                <a style="text-decoration:underline;" ng-click="shareHistory(3, 'biodiversityItems1_3', $event)" ng-show="isSelected(cs10.biodiversityItems1, 3)">
                                    <span ng-hide="hasStory[3]">Share Your Story</span>
                                    <span ng-show="hasStory[3]">Edit Your Story</span>
                                </a>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input icheck type="checkbox" checklist-model="cs10.biodiversityItems1" checklist-value="4">
                                State Wildlife Action Plans
                                <a style="text-decoration:underline;" ng-click="shareHistory(4, 'biodiversityItems1_4', $event)" ng-show="isSelected(cs10.biodiversityItems1, 4)">
                                    <span ng-hide="hasStory[4]">Share Your Story</span>
                                    <span ng-show="hasStory[4]">Edit Your Story</span>
                                </a>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input icheck type="checkbox" checklist-model="cs10.biodiversityItems1" checklist-value="5">
                                State Forest Action Plans and assessments
                                <a style="text-decoration:underline;" ng-click="shareHistory(5, 'biodiversityItems1_5', $event)" ng-show="isSelected(cs10.biodiversityItems1, 5)">
                                    <span ng-hide="hasStory[5]">Share Your Story</span>
                                    <span ng-show="hasStory[5]">Edit Your Story</span>
                                </a>
                            </label>
                            <ul style="list-style-type: none" ng-show="isSelected(cs10.biodiversityItems1, 5)">
                                <p>Select all that apply</p>

                                <li>
                                    <label>
                                        <input icheck type="checkbox" checklist-model="cs10.biodiversityStateForestItems1" checklist-value="1">
                                        Implemented new methods to promote biological diversity in fiber sourcing
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input icheck type="checkbox" checklist-model="cs10.biodiversityStateForestItems1" checklist-value="2">
                                        Engaged in new regional or landscape conservation efforts
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input icheck type="checkbox" checklist-model="cs10.biodiversityStateForestItems1" checklist-value="3">
                                        Developed new education or training programs relevant to biological diversity
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input icheck type="checkbox" checklist-model="cs10.biodiversityStateForestItems1" checklist-value="4">
                                        Sought information from additional sources to improve our understanding of biodiversity

                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input icheck type="checkbox" checklist-model="cs10.biodiversityStateForestItems1" checklist-value="5">
                                        Other case study example
                                    </label>
                                </li>

                            </ul>

                        </li>
                        <li>
                            <label>
                                <input icheck type="checkbox" checklist-model="cs10.biodiversityItems1" checklist-value="6">
                                NatureServe
                                <a style="text-decoration:underline;" ng-click="shareHistory(6, 'biodiversityItems1_6', $event)" ng-show="isSelected(cs10.biodiversityItems1, 6)">
                                    <span ng-hide="hasStory[6]">Share Your Story</span>
                                    <span ng-show="hasStory[6]">Edit Your Story</span>
                                </a>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input icheck type="checkbox" checklist-model="cs10.biodiversityItems1" checklist-value="7">
                                Other
                                <a style="text-decoration:underline;" ng-click="shareHistory(7, 'biodiversityItems1_7', $event)" ng-show="isSelected(cs10.biodiversityItems1, 7)">
                                    <span ng-hide="hasStory[7]">Share Your Story</span>
                                    <span ng-show="hasStory[7]">Edit Your Story</span>
                                </a>
                            </label>
                        </li>
                    </ul>
                </div>
            </label>
            <label>
                <input type="radio" icheck ng-model="cs10.biodiversityFiberSourcing" value=2>
                We previously addressed the requirements in the SFI 2015-2019 Standard

                <ul style="list-style-type: none" ng-show="cs10.biodiversityFiberSourcing == 2">
                    <p>Select all that apply</p>

                    <li>
                        <label>
                            <input icheck type="checkbox" checklist-model="cs10.biodiversityItems2" checklist-value="1">
                            World Resources Institute Risk
                            <a style="text-decoration:underline;" ng-click="shareHistory(8, 'biodiversityItems2_1', $event)" ng-show="isSelected(cs10.biodiversityItems2, 1)" >
                                <span ng-hide="hasStory[8]">Share Your Story</span>
                                <span ng-show="hasStory[8]">Edit Your Story</span>
                            </a>
                        </label>
                        <ul style="list-style-type: none" ng-show="isSelected(cs10.biodiversityItems2, 1)">
                            <p>Select all that apply</p>

                            <li>
                                <label>
                                    <input icheck type="checkbox" checklist-model="cs10.biodiversityNatureItems" checklist-value="1">
                                    Implemented new methods to promote biological diversity in fiber sourcing
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input icheck type="checkbox" checklist-model="cs10.biodiversityNatureItems" checklist-value="2">
                                    Engaged in new regional or landscape conservation efforts
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input icheck type="checkbox" checklist-model="cs10.biodiversityNatureItems" checklist-value="3">
                                    Developed new education or training programs relevant to biological diversity
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input icheck type="checkbox" checklist-model="cs10.biodiversityNatureItems" checklist-value="4">
                                    Sought information from additional sources to improve our understanding of biodiversity

                                </label>
                            </li>
                            <li>
                                <label>
                                    <input icheck type="checkbox" checklist-model="cs10.biodiversityNatureItems" checklist-value="5">
                                    Other case study example
                                </label>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <label>
                            <input icheck type="checkbox" checklist-model="cs10.biodiversityItems2" checklist-value="2">
                            The Nature Conservancy
                            <a style="text-decoration:underline;" ng-click="shareHistory(9, 'biodiversityItems2_2', $event)" ng-show="isSelected(cs10.biodiversityItems2, 2)">
                                <span ng-hide="hasStory[9]">Share Your Story</span>
                                <span ng-show="hasStory[9]">Edit Your Story</span>
                            </a>
                        </label>

                    </li>
                    <li>
                        <label>
                            <input icheck type="checkbox" checklist-model="cs10.biodiversityItems2" checklist-value="3">
                            Conservation International
                            <a style="text-decoration:underline;" ng-click="shareHistory(10, 'biodiversityItems2_3', $event)" ng-show="isSelected(cs10.biodiversityItems2, 3)">
                                <span ng-hide="hasStory[10]">Share Your Story</span>
                                <span ng-show="hasStory[10]">Edit Your Story</span>
                            </a>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input icheck type="checkbox" checklist-model="cs10.biodiversityItems2" checklist-value="4">
                            State Wildlife Action Plans
                            <a style="text-decoration:underline;" ng-click="shareHistory(11, 'biodiversityItems2_4', $event)" ng-show="isSelected(cs10.biodiversityItems2, 4)">
                                <span ng-hide="hasStory[11]">Share Your Story</span>
                                <span ng-show="hasStory[11]">Edit Your Story</span>
                            </a>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input icheck type="checkbox" checklist-model="cs10.biodiversityItems2" checklist-value="5">
                            State Forest Action Plans and assessments
                            <a style="text-decoration:underline;" ng-click="shareHistory(12, 'biodiversityItems2_5', $event)" ng-show="isSelected(cs10.biodiversityItems2, 5)">
                                <span ng-hide="hasStory[12]">Share Your Story</span>
                                <span ng-show="hasStory[12]">Edit Your Story</span>
                            </a>
                        </label>


                    </li>
                    <li>
                        <label>
                            <input icheck type="checkbox" checklist-model="cs10.biodiversityItems2" checklist-value="6">
                            NatureServe
                            <a style="text-decoration:underline;" ng-click="shareHistory(13, 'biodiversityItems2_6', $event)" ng-show="isSelected(cs10.biodiversityItems2, 6)">
                                <span ng-hide="hasStory[13]">Share Your Story</span>
                                <span ng-show="hasStory[13]">Edit Your Story</span>
                            </a>
                        </label>
                        <ul style="list-style-type: none" ng-show="isSelected(cs10.biodiversityItems2, 6)">
                            <p>Select all that apply</p>

                            <li>
                                <label>
                                    <input icheck type="checkbox" checklist-model="cs10.biodiversityStateForestItems2" checklist-value="1">
                                    Implemented new methods to promote biological diversity in fiber sourcing
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input icheck type="checkbox" checklist-model="cs10.biodiversityStateForestItems2" checklist-value="2">
                                    Engaged in new regional or landscape conservation efforts
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input icheck type="checkbox" checklist-model="cs10.biodiversityStateForestItems2" checklist-value="3">
                                    Developed new education or training programs relevant to biological diversity
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input icheck type="checkbox" checklist-model="cs10.biodiversityStateForestItems2" checklist-value="4">
                                    Sought information from additional sources to improve our understanding of biodiversity

                                </label>
                            </li>
                            <li>
                                <label>
                                    <input icheck type="checkbox" checklist-model="cs10.biodiversityStateForestItems2" checklist-value="5">
                                    Other case study example
                                </label>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <label>
                            <input icheck type="checkbox" checklist-model="cs10.biodiversityItems2" checklist-value="7">
                            Other
                            <a ng-click="shareHistory(14, 'biodiversityItems2_7', $event)" ng-show="isSelected(cs10.biodiversityItems2, 7)">
                                <span ng-hide="hasStory[14]">Share Your Story</span>
                                <span ng-show="hasStory[14]">Edit Your Story</span>
                            </a>
                        </label>
                    </li>
                </ul>


            </label>
            <label>
                <input type="radio" icheck ng-model="cs10.biodiversityFiberSourcing" value=3>
                No, we have not made changes based off the new Requirements in the SFI 2015-2019 Standard that address
                the above indicator.
            </label>
            <br>
            <div style="padding-left: 25px;" ng-show="cs10.biodiversityFiberSourcing == 3">
                Provide rationale
                <div class="form-group">
                    <textarea class="col-lg-11" rows="4" cols="70" ng-model="cs10.biodiversityNoDescribe"></textarea>
                </div>
            </div>
            <label>
                <input type="radio" icheck ng-model="cs10.biodiversityFiberSourcing" value=4>
                We have another mechanism
            </label>
            <br>
            <div style="padding-left: 25px;" ng-show="cs10.biodiversityFiberSourcing == 4">
                Describe the practice
                <div class="form-group">
                    <textarea class="col-lg-11" rows="8" cols="70" ng-model="cs10.biodiversityMechanismDescribe"></textarea>
                </div>
            </div>
        </div>
        <br>




        <div>
            <h5>
                Best Management Practices in Fiber Sourcing
            </h5>
            <p class="question-style">
                Have you made changes to your fiber procurement planning and practices with respect to best management practices in fiber sourcing according to Indicator 2.1.2?                         </p>
            <label>
                <div>
                    <input type="radio" icheck ng-model="cs10.biodiversityManagement" value=1>
                    Yes, we have made changes based off the new Requirements in the SFI 2015-2019 for use of best management practices in written agreements for raw material which:

                    <ul style="list-style-type: none" ng-show="!cs10.biodiversityManagement || cs10.biodiversityManagement == 1">
                        <p>Select all that apply</p>
                        <li>
                            <label>

                                <input icheck type="checkbox" checklist-model="cs10.biodiversityManagementItems1" checklist-value="1">
                                Are now contained in purchase order
                                <a style="text-decoration:underline;" ng-click="shareHistory(15, 'biodiversityManagementItems1_1', $event)" ng-show="isSelected(cs10.biodiversityManagementItems1, 1)">
                                    <span ng-hide="hasStory[15]">Share Your Story</span>
                                    <span ng-show="hasStory[15]">Edit Your Story</span>
                                </a>

                            </label>
                        </li>
                        <li>
                            <label>
                                <input icheck type="checkbox" checklist-model="cs10.biodiversityManagementItems1" checklist-value="2">
                                Are now contained in purchase contract
                                <a style="text-decoration:underline;" ng-click="shareHistory(16, 'biodiversityManagementItems1_2', $event)" ng-show="isSelected(cs10.biodiversityManagementItems1, 2)">
                                    <span ng-hide="hasStory[16]">Share Your Story</span>
                                    <span ng-show="hasStory[16]">Edit Your Story</span>
                                </a>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input icheck type="checkbox" checklist-model="cs10.biodiversityManagementItems1" checklist-value="3">
                                Are now contained in another format
                                <a style="text-decoration:underline;" ng-click="shareHistory(17, 'biodiversityManagementItems1_3', $event)" ng-show="isSelected(cs10.biodiversityManagementItems1, 3)">
                                    <span ng-hide="hasStory[17]">Share Your Story</span>
                                    <span ng-show="hasStory[17]">Edit Your Story</span>
                                </a>
                            </label>
                        </li>
                    </ul>
                </div>
            </label>
            <label>
                <input type="radio" icheck ng-model="cs10.biodiversityManagement" value=2>
                We previously addressed the requirements in the SFI 2015-2019 Standard for use of best management practices in written agreements for raw material

                <ul style="list-style-type: none" ng-show="cs10.biodiversityManagement == 2">
                    <p>Select all that apply</p>
                    <li>
                        <label>

                            <input icheck type="checkbox" checklist-model="cs10.biodiversityManagementItems2" checklist-value="1">
                            Are contained in purchase order
                            <a style="text-decoration:underline;" ng-click="shareHistory(18, 'biodiversityManagementItems2_1', $event)" ng-show="isSelected(cs10.biodiversityManagementItems2, 1)">
                                <span ng-hide="hasStory[18]">Share Your Story</span>
                                <span ng-show="hasStory[18]">Edit Your Story</span>
                            </a>

                        </label>
                    </li>
                    <li>
                        <label>
                            <input icheck type="checkbox" checklist-model="cs10.biodiversityManagementItems2" checklist-value="2">
                            Are contained in purchase contract
                            <a style="text-decoration:underline;" ng-click="shareHistory(19, 'biodiversityManagementItems2_2', $event)" ng-show="isSelected(cs10.biodiversityManagementItems2, 2)">
                                <span ng-hide="hasStory[19]">Share Your Story</span>
                                <span ng-show="hasStory[19]">Edit Your Story</span>
                            </a>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input icheck type="checkbox" checklist-model="cs10.biodiversityManagementItems2" checklist-value="3">
                            Are contained in another format
                            <a style="text-decoration:underline;" ng-click="shareHistory(20, 'biodiversityManagementItems2_3', $event)" ng-show="isSelected(cs10.biodiversityManagementItems2, 3)">
                                <span ng-hide="hasStory[20]">Share Your Story</span>
                                <span ng-show="hasStory[20]">Edit Your Story</span>
                            </a>
                        </label>
                    </li>
                </ul>
            </label>
            <label>
                <input type="radio" icheck ng-model="cs10.biodiversityManagement" value=3>
                No, we have not made changes based off the new Requirements in the SFI 2015-2019 Standard that address the above indicators.
            </label>
            <br>
            <div style="padding-left: 25px;" ng-show="cs10.biodiversityManagement == 3">
                Provide rationale
                <div class="form-group">
                    <textarea class="col-lg-11" rows="4" cols="70" ng-model="cs10.biodiversityManagementNoDescribe"></textarea>
                </div>
            </div>
            <label>
                <input type="radio" icheck ng-model="cs10.biodiversityManagement" value=4>
                We have another mechanism
            </label>
            <br>
            <div style="padding-left: 25px;" ng-show="cs10.biodiversityManagement == 4">
                Describe the practice
                <div class="form-group">
                    <textarea class="col-lg-11" rows="4" cols="70" ng-model="cs10.biodiversityManagementMechanismDescribe"></textarea>
                </div>
            </div>
        </div>
        <br>
        <div>
            <h5>
                Training and Education
            </h5>
            <p class="question-style">
                Have the changes to Indicator 6.1.5 helped to improve your fiber procurement planning and practices with respect to the training and education of qualified professionals or wood producers?
            </p>
            <label>
                <div>
                    <input type="radio" icheck ng-model="cs10.biodiversityTraining" value=1>
                    Yes, we have made changes based off the new Requirements in the SFI 2015-2019 Standard that address the following indicators.
                    <!--<ul style="list-style-type: none" ng-show="cs10.biodiversityTraining == 1">-->
                    <ul style="list-style-type: none" >
                        <p>Select all that apply</p>
                        <li>
                            <label>
                                <input icheck type="checkbox" checklist-model="cs10.biodiversityTrainingItems1" checklist-value="1">
                                Are now factored into purchase contracts
                                <!--<a ng-click="shareHistory(21, 'biodiversityTrainingItems1_1', $event)" ng-show="isSelected(cs10.biodiversityTrainingItems1, 1)">-->
                                    <!--<span ng-hide="hasStory[21]">Share Your Story</span>-->
                                    <!--<span ng-show="hasStory[21]">Edit Your Story</span>-->
                                <!--</a>-->
                            </label>

                        </li>
                        <li>
                            <label>
                                <input icheck type="checkbox" checklist-model="cs10.biodiversityTrainingItems1" checklist-value="2">
                                Are now factored into purchase orders
                                <!--<a ng-click="shareHistory(22, 'biodiversityTrainingItems1_2', $event)" ng-show="isSelected(cs10.biodiversityTrainingItems1, 2)">-->
                                    <!--<span ng-hide="hasStory[22]">Share Your Story</span>-->
                                    <!--<span ng-show="hasStory[22]">Edit Your Story</span>-->
                                <!--</a>-->
                            </label>
                        </li>
                    </ul>
                </div>
            </label>
            <label>
                <input type="radio" icheck ng-model="cs10.biodiversityTraining" value=2>
                We previously addressed the requirements in the SFI 2015-2019 Standard for the use of qualified logging professionals and/or certified logging professionals and/or wood producers by factoring them into purchase orders

                <ul style="list-style-type: none" ng-show="cs10.biodiversityTraining == 2">
                    <p>Select all that apply</p>
                    <li>
                        <label>
                            <input icheck type="checkbox" checklist-model="cs10.biodiversityTrainingItems2" checklist-value="1">
                            Are now factored into purchase contracts
                            <a style="text-decoration:underline;" ng-click="shareHistory(23, 'biodiversityTrainingItems2_1', $event)" ng-show="isSelected(cs10.biodiversityTrainingItems2, 1)">
                                <span ng-hide="hasStory[23]">Share Your Story</span>
                                <span ng-show="hasStory[23]">Edit Your Story</span>
                            </a>
                        </label>

                    </li>
                    <li>
                        <label>
                            <input icheck type="checkbox" checklist-model="cs10.biodiversityTrainingItems2" checklist-value="2">
                            Are now factored into purchase orders
                            <a style="text-decoration:underline;" ng-click="shareHistory(24, 'biodiversityTrainingItems2_2', $event)" ng-show="isSelected(cs10.biodiversityTrainingItems2, 2)">
                                <span ng-hide="hasStory[24]">Share Your Story</span>
                                <span ng-show="hasStory[24]">Edit Your Story</span>
                            </a>
                        </label>
                    </li>
                </ul>


            </label>
            <label>
                <input type="radio" icheck ng-model="cs10.biodiversityTraining" value=3>
                No, we have not made changes based off the new Requirements in the SFI 2015-2019 Standard that address the above indicators
            </label>
            <br>
            <div style="padding-left: 25px;" ng-show="cs10.biodiversityTraining == 3">
                Provide rationale
                <div class="form-group">
                    <textarea class="col-lg-11" rows="4" cols="70" ng-model="cs10.biodiversityTrainingNoDescribe"></textarea>
                </div>
            </div>
            <label>
                <input type="radio" icheck ng-model="cs10.biodiversityTraining" value=4>
                We have another mechanism
            </label>
            <br>
            <div style="padding-left: 25px;" ng-show="cs10.biodiversityTraining == 4">
                Describe the practice
                <div class="form-group">
                    <textarea class="col-lg-11" rows="4" cols="70" ng-model="cs10.biodiversityTrainingMechanismDescribe"></textarea>
                </div>
            </div>
        </div>
        <br>
        <div>
            <p class="question-style">
                In your opinion, has the number of trained wood producers in the region of your manufacturing facilities changed as compared with last year?
            </p>
            <label style="padding-right: 5px;">
                <input icheck type="radio" name="trainedWoodProducersChanged" ng-model="cs10.trainedWoodProducersChanged" value=1> Increased
            </label>
            <!--<label style="padding-right: 5px;">-->
                <!--<input icheck type="radio" name="trainedWoodProducersChanged" ng-model="cs10.trainedWoodProducersChanged" value=2> Increased-->
            <!--</label>-->
            <label style="padding-right: 5px;">
                <input icheck type="radio" name="trainedWoodProducersChanged" ng-model="cs10.trainedWoodProducersChanged" value=2> Decreased
            </label>
            <label style="padding-right: 5px;">
                <input icheck type="radio" name="trainedWoodProducersChanged" ng-model="cs10.trainedWoodProducersChanged" value=3> Remained the same
            </label>
        </div>
        <br>
        <div>
            <h5>
                Avoidance of Illegally Logged Fiber
            </h5>
            <p>
                The SFI 2015-2019 Fiber Sourcing Standard also has specific new performance measures related to avoiding illegally logged fiber. This is an important topic for brand-owners and the conservation community. They are seeking to reduce the brand and conservation risks associated with illegal logging. These new requirements are designed to help Program Participants identify and manage the risks associated with illegally logged fiber. SFI Inc. would like to better understand how Program Participants are managing these risks. We would also like to identify any changes that may have occurred to your procurement planning and/or operational practices as a result of the new Standard.
            </p>
        </div>
        <h5>
            Legal and Regulatory Compliance (within the US and Canada)
        </h5>
        <br>
        <div>
            <p class="question-style">
                Did you identify any risk of illegal logging through your risk assessment?
            </p>
            <label>
                <input type="radio" icheck ng-model="cs10.legalComplianceUsCanada" ng-value="true"> Yes
            </label>
            <label>
                <input type="radio" icheck ng-model="cs10.legalComplianceUsCanada" ng-value="false">  No
            </label>
            <div style="padding-left: 25px;" ng-show="cs10.legalComplianceUsCanada">
                Please describe what you did to address this risk
                <div class="form-group">
                    <textarea class="col-lg-11" rows="4" cols="70"></textarea>
                </div>
            </div>
        </div>
        <br>
        <div>
            <h5>
                Avoidance of Controversial Sources Including Illegal Logging (outside of the US and Canada)
            </h5>
            <p class="question-style">
                Do you source fiber from outside the U.S. and Canada?
            </p>
            <label>
                <input type="radio" icheck ng-model="cs10.legalComplianceOutside" ng-value="true"> Yes
            </label>
            <label>
                <input type="radio" icheck ng-model="cs10.legalComplianceOutside" ng-value="false">  No
            </label>
        </div>
        <br>
        <div>
            <p class="question-style">
                During your process to avoid sourcing illegally logged fiber by assesses and mitigating risk within your fiber sourcing program, what tools did you use?
            </p>
            <ul style="list-style-type: none" ng-hide="cs10.legalComplianceOutside == 0">
                <p>Select all that apply</p>
                <li>
                    <label>
                        <input icheck type="checkbox" checklist-model="cs10.legalComplianceOutsideItems" checklist-value="1">
                        World Resources Institute Risk Information Tool
                    </label>
                </li>
                <li>
                    <label>
                        <input icheck type="checkbox" checklist-model="cs10.legalComplianceOutsideItems" checklist-value="2">
                        The World Bank Legal Rights Index
                    </label>
                </li>
                <li>
                    <label>
                        <input icheck type="checkbox" checklist-model="cs10.legalComplianceOutsideItems" checklist-value="3">
                        Information from Transparency International
                    </label>
                </li>
                <li>
                    <label>
                        <input icheck type="checkbox" checklist-model="cs10.legalComplianceOutsideItems" checklist-value="4">
                        Other
                    </label>
                    <div style="padding-left: 25px;" ng-show="isSelected(cs10.legalComplianceOutsideItems, 4)">
                        Please explain
                        <div class="form-group">
                            <textarea class="col-lg-11" rows="4" cols="70" ng-model="cs10.legalComplianceOutsideOtherExplain"></textarea>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <br>

        </form>
    </div>

    <div class="col-sm-6 col-sm-offset-4" style="padding-top: 20px;">
        <button type="button" class="btn btn-success" ng-click="saveForm()">Save</button>
        <button type="button" class="btn btn-success" ng-click="saveForm(true)">Save and Go to SFI Market Survey</button>
    </div>
</div>
</div>