<div class="col-sm-12">
    <!--Introduction start-->
    <div>
        <h5>8. FS New Standard Impacts</h5>
        <p>
            The SFI 2015-2019 Forest Management Standard has several new and enhanced requirements. These changes were part of the SFI 2015-2019 Standard and Rules revision process. Many of the changes came from consultations with the SFI community  -- people like you.
        </p>
        <div class="form-group">
            <label>Your answers to this survey will enable SFI to:</label>
            <ul>
                <li>
                    Demonstrate the value of the standard revision process and the subsequent improvements to the Standard.
                </li>
                <li>
                    Communicate the positive outcomes resulting from your implementation of the new Standard requirements.
                </li>
            </ul>
        </div>
        <p>
            We will use the information and examples you provide to elevate the awareness of the new SFI 2015-2019 Standards and Rules. Your efforts will also help us engage brandowners in a discussion about the value, relevance and credibility of the Standard.
        </p>
        <p>
            This survey requests specific case examples of your management improvements and best practices related to the new Standard. SFI would like to use your best practice examples in communications. When asked to share your best stories, we will ask if you would like to share your organization's best practice case example. You may also opt for sharing your stories but not have your organization identified. If you prefer, we can also use your information in aggregate with all collected survey data.

        </p>
        <p>
            These questions will be asked this year and next year (2017) only. The specific questions related to forest conversion and chemical use will be incorporated into the SFI Annual Report Form and will be asked year over year.
        </p>
    </div>
    <!--Introduction End-->

    <!--Left Side Start-->
    <div class="col-lg-4">
        <div class="box-shadow" style="height: 400px;">
            <h6>
                Indicator 1.1.1
            </h6>
            <p>
                Program participant shall address conservation of biodiversity, individually or collaboratively, through a Program which includes one or more of the following:                            </p>
            <ul>
                <li>
                    promotion of biological diversity utilizing information from organizations such as World Resources Institute, The Nature Conservancy, NatureServe, Conservation International, State Wildlife Action Plans, State Forest Action Plans and assessments;
                </li>
                <li>
                    conducting local and regional level landscape assessments;
                </li>
                <li>
                    involvement with local or regional conservation efforts;
                </li>
                <li>
                    use of relevant information on biological diversity from credible sources (such as those noted above) in approved training and education programs; and other credible approaches.
                </li>
            </ul>
        </div>
        <br>
        <div class="box-shadow" style="height: 150px;">
            <h6>
                Indicator 2.1.2
            </h6>
            <p>
                Use of written agreements for the purchase of raw material sourced directly from the forest is required and must include provisions requiring the use of best management practices.
            </p>
        </div>
        <br>
        <div class="box-shadow" style="height: 200px;">
            <h6>
                Indicator 6.1.5
            </h6>
            <p>
                Program Participants shall have written agreements for the use of qualified logging professionals and/or certified logging professionals (where available) and/or wood producers that have completed training programs and are recognized as qualified logging professionals.
            </p>
        </div>
        <br>
        <div class="box-shadow" style="height: 200px;">
            <h6>
                Indicator 4.1.4
            </h6>
            <p>
                Program to assess the risk that the Program Participant’s fiber sourcing program could acquire material from illegal logging by considering some of the following:
            </p><ul>
            <li>
                communications with suppliers;
            </li>
            <li>
                independent research;
            </li>
            <li>
                contract documentation; and
            </li>
            <li>
                maintain records.
            </li>
        </ul>
        </div>
        <br>
        <div class="box-shadow" style="height: 200px;">
            <h6>
                Indicator 12.1.1
            </h6>
            <p>
                Process to assess the risk that the Program Participant’s fiber sourcing program could acquire material from illegal logging such as consulting information from the World Resources Institute Risk Information Tool, the World Bank Legal Rights Index, or Transparency International.
            </p>
        </div>
        <br>
    </div>
    <!--Left Side End
    -------------------------------
    -------------------
    ------------>

    <!--Right Side Start
    -------------
    -------------------------------
    ----------------------------------->
    <div class="col-lg-8 passage-bold">
        <div>
            <h5>
                Biodiversity in Fiber Sourcing
            </h5>
            <p>
                Have you made changes to your fiber procurement planning and practices with respect to conservation of biodiversity in fiber sourcing according to Indicator 1.1.1?
            </p>
            <label>
                <div>
                    <div class="iradio_square-green" style="position: relative;"><input type="radio" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>   Yes, we have made changes based off the new Requirements in the SFI 2015-2019 by partnering with or using information from the following organizations:

                    <ul style="list-style-type: none">
                        <p>Select all that apply</p>

                        <li>
                            <label>
                                <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>  World Resources Institute Risk <a data-toggle="modal" href="#share-story">Share Your Story</a>
                            </label>
                        </li>
                        <li>
                            <label>
                                <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>  The Nature Conservancy
                            </label>
                            <ul style="list-style-type: none">
                                <p>Select all that apply</p>

                                <li>
                                    <label>
                                        <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>  Implemented new methods to promote biological diversity in fiber sourcing
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>  Engaged in new regional or landscape conservation efforts
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>  Developed new education or training programs relevant to biological diversity
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>  Sought information from additional sources to improve our understanding of biodiversity

                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>  Other case study example
                                    </label>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <label>
                                <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>  Conservation International
                            </label>
                        </li>
                        <li>
                            <label>
                                <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>  State Wildlife Action Plans
                            </label>
                        </li>
                        <li>
                            <label>
                                <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>  State Forest Action Plans and assessments
                            </label>
                            <ul style="list-style-type: none">
                                <p>Select all that apply</p>

                                <li>
                                    <label>
                                        <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>  Implemented new methods to promote biological diversity in fiber sourcing
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>  Engaged in new regional or landscape conservation efforts
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>  Developed new education or training programs relevant to biological diversity
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>  Sought information from additional sources to improve our understanding of biodiversity

                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>  Other case study example
                                    </label>
                                </li>

                            </ul>

                        </li>
                        <li>
                            <label>
                                <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>  NatureServe
                            </label>
                        </li>
                        <li>
                            <label>
                                <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>  Other
                            </label>
                        </li>
                    </ul>
                </div>
            </label>
            <label>
                <div class="iradio_square-green" style="position: relative;"><input type="radio" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div> We previously addressed the requirements in the SFI 2015-2019 Standard
            </label>
            <label>
                <div class="iradio_square-green" style="position: relative;"><input type="radio" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div> No, we have not made changes based off the new Requirements in the SFI 2015-2019 Standard that address
                the above indicator.
            </label>
            <br>
            <div style="padding-left: 25px;">
                Describe the practice
                <div class="form-group">
                    <textarea rows="4" cols="70"></textarea>
                </div>
            </div>
            <label>
                <div class="iradio_square-green" style="position: relative;"><input type="radio" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div> We have another mechanism
            </label>
            <br>
            <div style="padding-left: 25px;">
                Describe the practice
                <div class="form-group">
                    <textarea rows="4" cols="70"></textarea>
                </div>
            </div>
        </div>
        <br>
        <div>
            <h5>
                Best Management Practices in Fiber Sourcing
            </h5>
            <p>
                Have you made changes to your fiber procurement planning and practices with respect to best management practices in fiber sourcing according to Indicator 2.1.2?                         </p>
            <label>
                <div>
                    <div class="iradio_square-green" style="position: relative;"><input type="radio" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>  Yes, we have made changes based off the new Requirements in the SFI 2015-2019 for use of best management practices in written agreements for raw material which:

                    <ul style="list-style-type: none">
                        <p>Select all that apply</p>
                        <li>
                            <label>
                                <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>  Are now contained in purchase order
                            </label>
                        </li>
                        <li>
                            <label>
                                <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>  Are now contained in purchase contract
                            </label>
                        </li>
                        <li>
                            <label>
                                <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>  Are now contained in another format
                            </label>
                        </li>
                    </ul>
                </div>
            </label>
            <label>
                <div class="iradio_square-green" style="position: relative;"><input type="radio" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div> We previously addressed the requirements in the SFI 2015-2019 Standard for use of best management practices in written agreements for raw material
            </label>
            <label>
                <div class="iradio_square-green" style="position: relative;"><input type="radio" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div> No, we have not made changes based off the new Requirements in the SFI 2015-2019 Standard that address the above indicators.
            </label>
            <br>
            <div style="padding-left: 25px;">
                Describe the practice
                <div class="form-group">
                    <textarea rows="4" cols="70"></textarea>
                </div>
            </div>
            <label>
                <div class="iradio_square-green" style="position: relative;"><input type="radio" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div> We have another mechanism
            </label>
            <br>
            <div style="padding-left: 25px;">
                Describe the practice
                <div class="form-group">
                    <textarea rows="4" cols="70"></textarea>
                </div>
            </div>
        </div>
        <br>
        <div>
            <h5>
                Training and Education
            </h5>
            <p>
                Have the changes to Indicator 6.1.5 helped to improve your fiber procurement planning and practices with respect to the training and education of qualified professionals or wood producers?
            </p>
            <label>
                <div>
                    <div class="iradio_square-green" style="position: relative;"><input type="radio" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>  Yes, we have made changes based off the new Requirements in the SFI 2015-2019 Standard that address the following indicators.
                    <ul style="list-style-type: none">
                        <p>Select all that apply</p>
                        <li>
                            <label>
                                <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>  Are now factored into purchase contracts
                            </label>

                        </li>
                        <li>
                            <label>
                                <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>  Are now factored into purchase orders
                            </label>
                        </li>
                    </ul>
                </div>
            </label>
            <label>
                <div class="iradio_square-green" style="position: relative;"><input type="radio" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div> We previously addressed the requirements in the SFI 2015-2019 Standard for the use of qualified logging professionals and/or certified logging professionals and/or wood producers by factoring them into purchase orders
            </label>
            <label>
                <div class="iradio_square-green" style="position: relative;"><input type="radio" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div> No, we have not made changes based off the new Requirements in the SFI 2015-2019 Standard that address the above indicators
            </label>
            <br>
            <div style="padding-left: 25px;">
                Describe the practice
                <div class="form-group">
                    <textarea rows="4" cols="70"></textarea>
                </div>
            </div>
            <label>
                <div class="iradio_square-green" style="position: relative;"><input type="radio" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div> We have another mechanism
            </label>
            <br>
            <div style="padding-left: 25px;">
                Describe the practice
                <div class="form-group">
                    <textarea rows="4" cols="70"></textarea>
                </div>
            </div>
        </div>
        <br>
        <div>
            <p>
                In your opinion, has the number of trained wood producers in the region of your manufacturing facilities changed as compared with last year?
            </p>
            <label>
                <div class="iradio_square-green" style="position: relative;"><input type="radio" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>  Increased
            </label>
            <label>
                <div class="iradio_square-green" style="position: relative;"><input type="radio" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div> Decreased
            </label>
            <label>
                <div class="iradio_square-green" style="position: relative;"><input type="radio" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div> Remained the same
            </label>
        </div>
        <br>
        <div>
            <h5>
                Avoidance of Illegally Logged Fiber
            </h5>
            <p>
                The SFI 2015-2019 Fiber Sourcing Standard also has specific new performance measures related to avoiding illegally logged fiber. This is an important topic for brand-owners and the conservation community. They are seeking to reduce the brand and conservation risks associated with illegal logging. These new requirements are designed to help Program Participants identify and manage the risks associated with illegally logged fiber. SFI Inc. would like to better understand how Program Participants are managing these risks. We would also like to identify any changes that may have occurred to your procurement planning and/or operational practices as a result of the new Standard.
            </p>
        </div>
        <h5>
            Legal and Regulatory Compliance (within the US and Canada)
        </h5>
        <br>
        <div>
            <p>
                Did you identify any risk of illegal logging through your risk assessment?
            </p>
            <label>
                <div class="iradio_square-green" style="position: relative;"><input type="radio" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>  Yes
            </label>
            <label>
                <div class="iradio_square-green" style="position: relative;"><input type="radio" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>  No
            </label>
            <div style="padding-left: 25px;">
                Please describe what you did to address this risk
                <div class="form-group">
                    <textarea rows="4" cols="70"></textarea>
                </div>
            </div>
        </div>
        <br>
        <div>
            <h5>
                Avoidance of Controversial Sources Including Illegal Logging (outside of the US and Canada)
            </h5>
            <p>
                Do you source fiber from outside the U.S. and Canada?
            </p>
            <label>
                <div class="iradio_square-green" style="position: relative;"><input type="radio" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>  Yes
            </label>
            <label>
                <div class="iradio_square-green" style="position: relative;"><input type="radio" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>  No
            </label>
        </div>
        <br>
        <div>
            <p>
                During your process to avoid sourcing illegally logged fiber by assesses and mitigating risk within your fiber sourcing program, what tools did you use?
            </p>
            <ul style="list-style-type: none">
                <p>Select all that apply</p>
                <li>
                    <label>
                        <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>  World Resources Institute Risk Information Tool
                    </label>
                </li>
                <li>
                    <label>
                        <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>  The World Bank Legal Rights Index
                    </label>
                </li>
                <li>
                    <label>
                        <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>  Information from Transparency International
                    </label>
                </li>
                <li>
                    <label>
                        <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>  Other
                    </label>
                    <div style="padding-left: 25px;">
                        Please explain
                        <div class="form-group">
                            <textarea rows="4" cols="70"></textarea>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <br>
    </div>

    <div class="col-sm-6 col-sm-offset-4" style="padding-top: 20px;">
        <button type="button" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-success">Save and Go to Step 9</button>
    </div>
</div>