<div class="row section_background_2" id="cont-body">

    <div ng-init="errors = cs2.errors" ng-include="'/assets/partials/form/error.html'"></div>

    <div class="col-sm-12 sfiStep2TableHeader">
        <h5>2. Forestland Information</h5>

        <form name="cs2Form" novalidate ng-class="{'disabled' : !isFieldsEnabled()}" >
            <span>
                Provide forestland information on all forests your organization owns/manages as well as forestland
                included under the scope of your SFI certification.
            </span>

            <table class="table table-striped" id="table1" border="1" style="margin-top: 6px;">
                <thead>
                <tr>
                    <th style="min-width: 80px;"><span style="margin-top: -5px;">USA & </span><br/>Canada <span tooltip data-placement="top" data-container="body" data-html="true"
                                                       data-title='<b>A forested area</b> is classified as "forestland" if it is at least one acre in size and contains ten percent tree cover.'>Forestlands</span>
                    </th>
                    <th>USA & Canada Forestlands-Ownership /Management</th>
                    <th style="min-width: 145px;">Total area your organization owns/manages</th>
                    <th style="min-width: 145px;">
                        Total area certified to the SFI forest management standard<br/>
                        <u>
                        <a ng-click="lastYear2Pop()">How we used your <br/>data last year</a>
                        </u>
                    </th>
                    <th style="min-width: 145px;">
                        Area managed open to public for recreation<br/>
                    </th>
                    <th style="min-width: 145px;">
                        Area certified to SFI<br/>standard open to public<br/>for recreation<br/>
                        <u>
                            <a ng-click="lastYearPop()">How we used your <br/>data last year</a>
                        </u>
                    </th>
                    <th width="25%">Check all recreation categories that<br/>apply to areas open to recreation on<br/>your managed land</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="text-align: left;" align="left" ng-class="{'disabled' : !operateInUsa()}">United <br> States<br>(Private)</td>

                    <td style="text-align: left;" nowrap ng-class="{'disabled' : !operateInUsa()}">
                        <div >
                            <label class="checkboxLabel">Select One:</label>
                        </div>
                        <div class="radio" style="margin-left: 12px;">
                            <label class="checkboxLabel">
                                <input type="radio" name="forestlandOwnMng1"  ng-disabled="!operateInUsa()"  ng-model="cs2.usaPrivateForestlandOwnMng" value="1" icheck class="icheck">
                            REIT/TIMO</label>
                        </div>

                        <div class="radio" style="margin-left: 12px;">
                            <label class="checkboxLabel">
                            <input type="radio" name="forestlandOwnMng1"  ng-disabled="!operateInUsa()"  ng-model="cs2.usaPrivateForestlandOwnMng" value="2" icheck class="icheck" >
                            Industrial</label>
                        </div>

                        <div class="radio" style="margin-left: 12px;">
                            <label class="checkboxLabel">
                            <input type="radio" name="forestlandOwnMng1"  ng-disabled="!operateInUsa()"  ng-model="cs2.usaPrivateForestlandOwnMng" value="3" icheck class="icheck">
                            Conservation</label>
                        </div>

                        <div class="radio" style="margin-left: 12px;">
                            <label class="checkboxLabel">
                            <input type="radio" name="forestlandOwnMng1"  ng-disabled="!operateInUsa()"  ng-model="cs2.usaPrivateForestlandOwnMng" value="4" icheck class="icheck">
                            Family  Owned</label>
                        </div>

                        <div class="radio" style="margin-left: 12px;">
                            <label class="checkboxLabel">
                            <input type="radio" name="forestlandOwnMng1"  ng-disabled="!operateInUsa()"  ng-model="cs2.usaPrivateForestlandOwnMng" value="5" icheck class="icheck">
                            Tribal</label>
                        </div>

                        <div class="radio" style="margin-left: 12px;">
                            <label class="checkboxLabel">
                            <input type="radio" name="forestlandOwnMng1"  ng-disabled="!operateInUsa()"  ng-model="cs2.usaPrivateForestlandOwnMng" value="6" icheck class="icheck">
                            Non-profit</label>
                        </div>

                        <div class="radio" style="margin-left: 12px;">
                            <label class="checkboxLabel">
                            <input type="radio" name="forestlandOwnMng1"  ng-disabled="!operateInUsa()"  ng-model="cs2.usaPrivateForestlandOwnMng" value="7" icheck class="icheck">
                            Other</label>
                        </div>
                        <input type="text" class="form-control shorter" ng-show="cs2.usaPrivateForestlandOwnMng == 7" ng-model="cs2.usaPrivateForestlandOwnMngOther">
                    </td>

                    <td style="text-align: left;" ng-class="{'has-error has-feedback': error && cs2Form.item1.$invalid}">

                        <input style="margin-top: 90px;" type="number" class="form-control shorter"  min="0" name="item1"
                               ng-pattern="/^\d*(\.\d{1,4})?$/" pattern-msg="Enter decimal number up to 4 precision points" customerror
                               ng-model="cs2.usaPrivateTotalAreaOwnOrManage"
                               ng-disabled="!operateInUsa()"> {{ unit }}
                    </td>

                    <td style="text-align: left;" ng-class="{'has-error has-feedback': error && cs2Form.item2.$invalid}">
                        <input style="margin-top: 90px;" type="number" class="form-control shorter" min="0" name="item2"
                               ng-pattern="/^\d*(\.\d{1,4})?$/" pattern-msg="Enter decimal number up to 4 precision points" customerror
                               ng-model="cs2.usaPrivateTotalAreaCertified"
                               ng-disabled="!operateInUsa()"> {{ unit }}
                    </td>

                    <td style="text-align: left;" ng-class="{'has-error has-feedback': error && cs2Form.item3.$invalid}">
                        <input style="margin-top: 90px;" type="number" class="form-control shorter" min="0" name="item3"
                               ng-pattern="/^\d*(\.\d{1,4})?$/" pattern-msg="Enter decimal number up to 4 precision points" customerror
                               ng-model="cs2.usaPrivateAreaManagedForPublic"
                               ng-disabled="!operateInUsa()"> {{ unit }}
                    </td>

                    <td style="text-align: left;" ng-class="{'has-error has-feedback': error && cs2Form.item4.$invalid}">
                        <input style="margin-top: 90px;" type="number" class="form-control shorter" min="0" name="item4"
                               ng-pattern="/^\d*(\.\d{1,4})?$/" pattern-msg="Enter decimal number up to 4 precision points" customerror
                               ng-model="cs2.usaPrivateAreaCertifiedForPublic"
                               ng-disabled="!operateInUsa()"> {{ unit }}
                    </td>
                    <td style="text-align: left;" ng-class="{'disabled' : !operateInUsa()}">

                        <table width="90%" style="margin-left: 10px; min-width:225px;">

                            <tr>
                                <td><label class="checkboxLabel" >Motorized:</label></td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" class="icheck" icheck name="item5"
                                           checklist-model="cs2.usaPrivateRecreationCategories" checklist-value="'1'"
                                           ng-disabled="!operateInUsa()"/>
                                    <label class="checkboxLabel" >Fee basis</label>
                                </td>

                                <td>
                                    <input type="checkbox" class="icheck" icheck name="item6"
                                           checklist-model="cs2.usaPrivateRecreationCategories" checklist-value="'2'"
                                           ng-disabled="!operateInUsa()"/>
                                    <label class="checkboxLabel">No fee</label>
                                </td>
                            </tr>

                            <tr>
                                <td style="height: 50px;"> </td>
                            </tr>

                            <tr>
                                <td><label class="checkboxLabel" >Non Motorized:</label></td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" class="icheck" icheck name="item7"
                                           checklist-model="cs2.usaPrivateRecreationCategories" checklist-value="'3'"
                                           ng-disabled="!operateInUsa()"/>
                                    <label class="checkboxLabel" >Fee basis</label>
                                </td>

                                <td>
                                    <input type="checkbox" class="icheck" icheck name="item8"
                                           checklist-model="cs2.usaPrivateRecreationCategories" checklist-value="'4'"
                                           ng-disabled="!operateInUsa()"/>
                                    <label class="checkboxLabel">No fee</label>
                                </td>
                            </tr>

                        </table>

                    </td>
                </tr>

                <tr>
                    <td align="left" ng-class="{'disabled' : !operateInUsa()}">United<br>States<br>(Public)</td>
                    <!-- v2 -->
                    <td nowrap ng-class="{'disabled' : !operateInUsa()}">
                        <div >
                            <label class="checkboxLabel">Select One:</label>
                        </div>
                        <div class="radio" style="margin-left: 12px;">
                            <label class="checkboxLabel">
                                <input type="radio" name="forestlandOwnMng2"  ng-disabled="!operateInUsa()"  ng-model="cs2.usaPublicForestlandOwnMng" value="1" icheck class="icheck">
                                Federal</label>
                        </div>

                        <div class="radio" style="margin-left: 12px;">
                            <label class="checkboxLabel">
                                <input type="radio" name="forestlandOwnMng2"  ng-disabled="!operateInUsa()"  ng-model="cs2.usaPublicForestlandOwnMng" value="2" icheck class="icheck" >
                                State</label>
                        </div>

                        <div class="radio" style="margin-left: 12px;">
                            <label class="checkboxLabel">
                                <input type="radio" name="forestlandOwnMng2"  ng-disabled="!operateInUsa()"  ng-model="cs2.usaPublicForestlandOwnMng" value="3" icheck class="icheck">
                                Country</label>
                        </div>


                        <div class="radio" style="margin-left: 12px;">
                            <label class="checkboxLabel">
                                <input type="radio" name="forestlandOwnMng2"  ng-disabled="!operateInUsa()"  ng-model="cs2.usaPublicForestlandOwnMng" value="4" icheck class="icheck">
                                Other</label>
                        </div>
                        <input type="text" class="form-control shorter" name="forestlandOwnMng2Other"
                               ng-show="cs2.usaPublicForestlandOwnMng == 4" ng-model="cs2.usaPublicForestlandOwnMngOther">

                    </td>
                    <!-- -/- -->

                    <td ng-class="{'has-error has-feedback': error && cs2Form.item9.$invalid}">
                        <input style="margin-top: 55px;" type="number" class="form-control shorter" min="0" name="item9"
                               ng-pattern="/^\d*(\.\d{1,4})?$/" pattern-msg="Enter decimal number up to 4 precision points" customerror
                               ng-model="cs2.usaPublicTotalAreaOwnOrManage"
                               ng-disabled="!operateInUsa()"> {{ unit }}
                    </td>

                    <td ng-class="{'has-error has-feedback': error && cs2Form.item10.$invalid}">
                        <input style="margin-top: 55px;" type="number" class="form-control shorter" min="0" name="item10"
                               ng-pattern="/^\d*(\.\d{1,4})?$/" pattern-msg="Enter decimal number up to 4 precision points" customerror
                               ng-model="cs2.usaPublicTotalAreaCertified"
                               ng-disabled="!operateInUsa()"> {{ unit }}
                    </td>

                    <td ng-class="{'has-error has-feedback': error && cs2Form.item11.$invalid}">
                        <input style="margin-top: 55px;" type="number" class="form-control shorter" min="0" name="item11"
                               ng-pattern="/^\d*(\.\d{1,4})?$/" pattern-msg="Enter decimal number up to 4 precision points" customerror
                               ng-model="cs2.usaPublicAreaManagedForPublic"
                               ng-disabled="!operateInUsa()"> {{ unit }}
                    </td>

                    <td ng-class="{'has-error has-feedback': error && cs2Form.item12.$invalid}">
                        <input style="margin-top: 55px;" type="number" class="form-control shorter" min="0" name="item12"
                               ng-pattern="/^\d*(\.\d{1,4})?$/" pattern-msg="Enter decimal number up to 4 precision points" customerror
                               ng-model="cs2.usaPublicAreaCertifiedForPublic"
                               ng-disabled="!operateInUsa()">  {{ unit }}

                    </td>

                    <td ng-class="{'disabled' : !operateInUsa()}">

                        <table width="90%" style="margin-left: 10px; min-width:225px;">
                            <tr>
                                <td>
                                    <label class="checkboxLabel" >Motorized:</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" class="icheck" icheck name="item13"
                                           checklist-model="cs2.usaPublicRecreationCategories" checklist-value="'1'"
                                           ng-disabled="!operateInUsa()"/>
                                    <label class="checkboxLabel" >Fee basis</label>
                                </td>

                                <td>
                                    <input type="checkbox" class="icheck" icheck name="item14"
                                           checklist-model="cs2.usaPublicRecreationCategories" checklist-value="'2'"
                                           ng-disabled="!operateInUsa()"/>
                                    <label class="checkboxLabel">No fee</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="height: 50px;"> </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="checkboxLabel" >Non Motorized:</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" class="icheck" icheck name="item15"
                                           checklist-model="cs2.usaPublicRecreationCategories" checklist-value="'3'"
                                           ng-disabled="!operateInUsa()"/>
                                    <label class="checkboxLabel" >Fee basis</label>
                                </td>
                                <td>
                                    <input type="checkbox" class="icheck" icheck name="item16"
                                           checklist-model="cs2.usaPublicRecreationCategories" checklist-value="'4'"
                                           ng-disabled="!operateInUsa()"/>
                                    <label class="checkboxLabel">No fee</label>
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>


                <tr>
                    <td align="left" ng-class="{'disabled' : !operateInCa()}">Canada<br>(Crown <br>License)</td>
                    <!-- v2 -->
                    <td nowrap ng-class="{'disabled' : !operateInCa()}">
                        <div >
                            <label class="checkboxLabel">Select One:</label>
                        </div>
                        <div class="radio" style="margin-left: 12px;">
                            <label class="checkboxLabel">
                                <input type="radio" name="forestlandOwnMng3"  ng-disabled="!operateInCa()"  ng-model="cs2.caCrownForestlandOwnMng" value="1" icheck class="icheck">
                                Industrial</label>
                        </div>

                        <div class="radio" style="margin-left: 12px;">
                            <label class="checkboxLabel">
                                <input type="radio" name="forestlandOwnMng3"  ng-disabled="!operateInCa()"  ng-model="cs2.caCrownForestlandOwnMng" value="2" icheck class="icheck" >
                                Provincial</label>
                        </div>

                        <div class="radio" style="margin-left: 12px;">
                            <label class="checkboxLabel">
                                <input type="radio" name="forestlandOwnMng3"  ng-disabled="!operateInCa()"  ng-model="cs2.caCrownForestlandOwnMng" value="3" icheck class="icheck">
                                Federal</label>
                        </div>

                        <div class="radio" style="margin-left: 12px;">
                            <label class="checkboxLabel">
                                <input type="radio" name="forestlandOwnMng3"  ng-disabled="!operateInCa()"  ng-model="cs2.caCrownForestlandOwnMng" value="4" icheck class="icheck">
                                Aboriginal</label>
                        </div>
                        <div class="radio" style="margin-left: 12px;">
                            <label class="checkboxLabel">
                                <input type="radio" name="forestlandOwnMng3"  ng-disabled="!operateInCa()"  ng-model="cs2.caCrownForestlandOwnMng" value="5" icheck class="icheck">
                                Other</label>
                        </div>
                        <input type="text" name="forestlandOwnMng3Other" class="form-control shorter"
                               ng-show="cs2.caCrownForestlandOwnMng == 5" ng-model="cs2.usaPrivateForestlandOwnMngOther">
                    </td>
                    <!-- -/- -->
                    <td ng-class="{'has-error has-feedback': error && cs2Form.item17.$invalid}">
                        <input style="margin-top: 55px;" type="number" class="form-control shorter" min="0" name="item17"
                               ng-pattern="/^\d*(\.\d{1,4})?$/" pattern-msg="Enter decimal number up to 4 precision points" customerror
                               ng-model="cs2.caCrownTotalAreaOwnOrManage"
                               ng-disabled="!operateInCa()"> {{ unit }}
                    </td>

                    <td ng-class="{'has-error has-feedback': error && cs2Form.item18.$invalid}">
                        <input style="margin-top: 55px;" type="number" class="form-control shorter" min="0" name="item18"
                               ng-pattern="/^\d*(\.\d{1,4})?$/" pattern-msg="Enter decimal number up to 4 precision points" customerror
                               ng-model="cs2.caCrownTotalAreaCertified"
                               ng-disabled="!operateInCa()"> {{ unit }}
                    </td>

                    <td ng-class="{'has-error has-feedback': error && cs2Form.item19.$invalid}">
                        <input style="margin-top: 55px;" type="number" class="form-control shorter" min="0" name="item19"
                               ng-pattern="/^\d*(\.\d{1,4})?$/" pattern-msg="Enter decimal number up to 4 precision points" customerror
                               ng-model="cs2.caCrownAreaManagedForPublic"
                               ng-disabled="!operateInCa()"> {{ unit }}
                    </td>

                    <td ng-class="{'has-error has-feedback': error && cs2Form.item20.$invalid}">
                        <input style="margin-top: 55px;" type="number" class="form-control shorter" min="0" name="item20"
                               ng-pattern="/^\d*(\.\d{1,4})?$/" pattern-msg="Enter decimal number up to 4 precision points" customerror
                               ng-model="cs2.caCrownAreaCertifiedForPublic"
                               ng-disabled="!operateInCa()"> {{ unit }}
                    </td>

                    <td ng-class="{'disabled' : !operateInCa()}">

                        <table width="90%" style="margin-left: 10px; min-width:225px;">
                            <tr>
                                <td>
                                    <label class="checkboxLabel" >Motorized:</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" class="icheck" icheck name="item21"
                                           checklist-model="cs2.caCrownRecreationCategories" checklist-value="'1'"
                                           ng-disabled="!operateInCa()"/>
                                    <label class="checkboxLabel" >Fee basis</label>
                                </td>

                                <td>
                                    <input type="checkbox" class="icheck" icheck name="item22"
                                           checklist-model="cs2.caCrownRecreationCategories" checklist-value="'2'"
                                           ng-disabled="!operateInCa()"/>
                                    <label class="checkboxLabel">No fee</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="height: 50px;"> </td>
                            </tr>
                            <tr>

                                <td>
                                    <label class="checkboxLabel" >Non Motorized:</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" class="icheck" icheck name="item23"
                                           checklist-model="cs2.caCrownRecreationCategories" checklist-value="'3'"
                                           ng-disabled="!operateInCa()"/>
                                    <label class="checkboxLabel" >Fee basis</label>
                                </td>
                                <td>
                                    <input type="checkbox" class="icheck" icheck name="item24"
                                           checklist-model="cs2.caCrownRecreationCategories" checklist-value="'4'"
                                           ng-disabled="!operateInCa()"/>
                                    <label class="checkboxLabel">No fee</label>
                                </td>
                            </tr>

                        </table>

                    </td>
                </tr>

                <tr>
                    <td align="left" ng-class="{'disabled' : !operateInCa()}">Canada<br>(Private<br> Land)</td>
                    <!-- v2 -->
                    <td nowrap ng-class="{'disabled' : !operateInCa()}">
                        <div >
                            <label class="checkboxLabel">Select One:</label>
                        </div>
                        <div class="radio" style="margin-left: 12px;">
                            <label class="checkboxLabel">
                                <input type="radio" name="forestlandOwnMng4"  ng-disabled="!operateInCa()"  ng-model="cs2.caPrivateForestlandOwnMng" value="1" icheck class="icheck">
                                Industrial</label>
                        </div>

                        <div class="radio" style="margin-left: 12px;">
                            <label class="checkboxLabel">
                                <input type="radio" name="forestlandOwnMng4"  ng-disabled="!operateInCa()"  ng-model="cs2.caPrivateForestlandOwnMng" value="2" icheck class="icheck" >
                                Aboriginal</label>
                        </div>

                        <div class="radio" style="margin-left: 12px;">
                            <label class="checkboxLabel">
                                <input type="radio" name="forestlandOwnMng4"  ng-disabled="!operateInCa()"  ng-model="cs2.caPrivateForestlandOwnMng" value="3" icheck class="icheck">
                                Family owned</label>
                        </div>

                        <div class="radio" style="margin-left: 12px;">
                            <label class="checkboxLabel">
                                <input type="radio" name="forestlandOwnMng4"  ng-disabled="!operateInCa()"  ng-model="cs2.caPrivateForestlandOwnMng" value="4" icheck class="icheck">
                                Non-profit</label>
                        </div>
                        <div class="radio" style="margin-left: 12px;">
                            <label class="checkboxLabel">
                                <input type="radio" name="forestlandOwnMng4"  ng-disabled="!operateInCa()"  ng-model="cs2.caPrivateForestlandOwnMng" value="5" icheck class="icheck">
                                Conservation</label>
                        </div>

                        <div class="radio" style="margin-left: 12px;">
                            <label class="checkboxLabel">
                                <input type="radio" name="forestlandOwnMng4"  ng-disabled="!operateInCa()"  ng-model="cs2.caPrivateForestlandOwnMng" value="6" icheck class="icheck">
                                Other</label>
                        </div>
                        <input type="text" name="forestlandOwnMng4Other" class="form-control shorter"
                               ng-model="cs2.caPrivateForestlandOwnMngOther" ng-show="cs2.caPrivateForestlandOwnMng == 6">
                    </td>
                    <!-- -/- -->

                    <td ng-class="{'has-error has-feedback': error && cs2Form.item25.$invalid}">
                        <input style="margin-top: 65px;" type="number" class="form-control shorter" min="0" name="item25"
                               ng-pattern="/^\d*(\.\d{1,4})?$/" pattern-msg="Enter decimal number up to 4 precision points" customerror
                               ng-model="cs2.caPrivateTotalAreaOwnOrManage"
                               ng-disabled="!operateInCa()"> {{ unit }}
                    </td>

                    <td ng-class="{'has-error has-feedback': error && cs2Form.item26.$invalid}">
                        <input style="margin-top: 65px;" type="number" class="form-control shorter" min="0" name="item26"
                               ng-pattern="/^\d*(\.\d{1,4})?$/" pattern-msg="Enter decimal number up to 4 precision points" customerror
                               ng-model="cs2.caPrivateTotalAreaCertified"
                               ng-disabled="!operateInCa()"> {{ unit }}
                    </td>

                    <td ng-class="{'has-error has-feedback': error && cs2Form.item27.$invalid}">
                        <input style="margin-top: 65px;" type="number" class="form-control shorter" min="0" name="item27"
                               ng-pattern="/^\d*(\.\d{1,4})?$/" pattern-msg="Enter decimal number up to 4 precision points" customerror
                               ng-model="cs2.caPrivateAreaManagedForPublic"
                               ng-disabled="!operateInCa()"> {{ unit }}
                    </td>

                    <td ng-class="{'has-error has-feedback': error && cs2Form.item28.$invalid}">
                        <input style="margin-top: 65px;" type="number" class="form-control shorter" min="0" name="item28"
                               ng-pattern="/^\d*(\.\d{1,4})?$/" pattern-msg="Enter decimal number up to 4 precision points" customerror
                               ng-model="cs2.caPrivateAreaCertifiedForPublic"
                               ng-disabled="!operateInCa()"> {{ unit }}
                    </td>

                    <td ng-class="{'disabled' : !operateInCa()}">

                        <table width="90%" style="margin-left: 10px; min-width:225px;">
                            <tr>
                                <td>
                                    <label class="checkboxLabel" >Motorized:</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" class="icheck" icheck name="item29"
                                           checklist-model="cs2.caPrivateRecreationCategories" checklist-value="'1'"
                                           ng-disabled="!operateInCa()"/>
                                    <label class="checkboxLabel" >Fee basis</label>
                                </td>
                                <td>
                                    <input type="checkbox" class="icheck" icheck name="item30"
                                           checklist-model="cs2.caPrivateRecreationCategories" checklist-value="'2'"
                                           ng-disabled="!operateInCa()"/>
                                    <label class="checkboxLabel">No fee</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="height: 50px;"> </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="checkboxLabel" >Non Motorized:</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" class="icheck" icheck name="item31"
                                           checklist-model="cs2.caPrivateRecreationCategories" checklist-value="'3'"
                                           ng-disabled="!operateInCa()"/>
                                    <label class="checkboxLabel" >Fee basis</label>
                                </td>
                                <td>
                                    <input type="checkbox" class="icheck" icheck name="item32"
                                           checklist-model="cs2.caPrivateRecreationCategories" checklist-value="'4'"
                                           ng-disabled="!operateInCa()"/>
                                    <label class="checkboxLabel">No fee</label>
                                </td>
                            </tr>

                        </table>

                    </td>
                </tr>
                </tbody>
            </table>
            <br><br>

            <table class="table table-striped ">
                <thead>
                <tr>
                    <th tooltip data-placement="top" data-container="body"
                        data-title="SFI is including this new question as it is helpful for SFI to know where companies have a presence so SFI can work together with program participants on emerging issues in different countries and relevant procurement policies.">
                        Forestlands Outside USA & Canada (new!)
                    </th>
                    <th>Total area managed</th>
                    <th width="50%">Is this area certified under a certification standard?</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-class="{'disabled' : !operateInOthers()}"  ng-repeat="other in cs2.outsideCountries" ng-form="innerForm">

                    <td ng-class="{'has-error': isDirty (other) && innerForm.otherItem1.$invalid}">
                        <select class="form-control" id="otherItem1" name="otherItem1" customerror
                                ng-model="other.country.id"
                                ng-disabled="!operateInOthers()">
                            <option value="" ng-selected="!other.country">Select Country</option>
                            <option ng-repeat="item in otherCountries"  ng-selected="other.country.id == item.id" value="{{ item.id }}">{{ item.country }}</option>
                        </select>
                    </td>

                    <td ng-class="{'has-error': isDirty (other) && innerForm.otherItem2.$invalid}">
                        <input type="number" class="form-control shorter" name="otherItem2"
                               ng-pattern="/^\d*(\.\d{1,4})?$/"
                               ng-required="other.country.id"
                               pattern-msg="Enter decimal number up to 4 precision points" customerror
                               ng-model="other.totalArea"
                               ng-disabled="!operateInOthers()"> {{ unit }}
                    </td>
                    <td>
                        <div class="form-group hasRadioBoxes">

                            <input type="radio" ng-value="1" icheck name="otherItem{{$index}}3"
                                   ng-model="other.underCertifiedStandard" ng-checked="true"
                                   ng-disabled="!operateInOthers()">
                            <label class="checkboxLabel">Yes</label>

                            &nbsp;&nbsp;&nbsp;

                            <input type="radio" ng-value="0" class="icheck"
                                   ng-model="other.underCertifiedStandard"
                                   ng-checked="!other.underCertifiedStandard"
                                   ng-disabled="!operateInOthers()" icheck>
                            <label class="checkboxLabel">No</label>

                            <div class="floatright col-sm-7" ng-show="other.underCertifiedStandard"
                                 ng-class="{'has-error': isDirty (other) && innerForm.certificationBody.$invalid}">

                                <select class="form-control" name="standardType" ng-model="other.standardType"
                                        ng-disabled="!operateInOthers()"
                                        ng-required="other.underCertifiedStandard">
                                    <option value>Select Standard type</option>
                                    <option value="1" >PEFC endorsed standard</option>
                                    <option value="2" >FSC standard</option>
                                    <option value="3" >Dual PEFC endorsed and FSC standards</option>
                                    <option value="4" >Other</option>
                                </select>

                                <div class="padded" ng-show="other.standardType == 4 "
                                     ng-class="{'has-error': isDirty (other) && innerForm.standardType.$invalid}">
                                    Specify standard &nbsp;&nbsp;&nbsp;
                                    <input type="text" name="certificationOther" class="form-control shorter" style="width: 50%;"
                                           ng-maxlength="200" customerror
                                           ng-model="other.standardTypeOther"
                                           ng-required="other.underCertifiedStandard && other.standardType == 4">
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <a href="" ng-click="addOther()" ng-show="operateInOthers()">+ Add Another Country</a>
            <br><br>


        </form>
    </div>
    {{setForms()}}
    <div class="col-sm-6 col-sm-offset-4">
        <button type="button" class="btn section2Btn" ng-click="save()">Save</button>
        <button type="button" class="btn section2Btn" ng-click="save('true')">Save and Go to Step 3</button>
    </div>
</div>