<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:800px;">
        <div class="modal-content" style="width:745px;">
            <div class="modal-header" style="background-color: #E4E4E4">
                <button type="button" class="close" style="font-size:25px;" ng-click="lastYearClose()">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <p style="font-size: larger">
                    How SFI used collected data in the 2015 Progress Report
                </p>

            </div>
            <div class="modal-body">
                <img src="/assets/images/u283.png">
            </div>
        </div>
        <!--Modal Body End-->
    </div>
</div>