<div class="row">
    <div ng-init="errors = cs8.errors" ng-include="'/assets/partials/form/error.html'"></div>

    <div class="col-sm-12">

        <div class="col-lg-12 passage-bold pading-botoms">
            <div class="col-lg-8">
                <h5 class="section-header">SFI Market Survey</h5>
                <label>An Explanation of this Survey:</label>
                <p>
                    The reasons for certifying to the SFI Standards are as diverse as the more than 1,000 organizations that participate, and as diverse as the forests of North America. In order to ensure that your participation renders the value that you need and expect from SFI, it is important for us to understand your reasons for participating. It’s just as important that SFI provides value to you by helping to ensure meaningful linkage between the sustainability attributes and conservation values of managed forests, and the sustainability requirements and expectations of buyers, customers, conservation stakeholders, and the general public. In this way, you can better utilize this information to convey the inherent values and attributes of your certified products.
                </p>
                <p>
                    As an organization certified to one or more of the SFI standards, we would appreciate your perspective on the value of SFI certification and your involvement in the SFI program. While completing this market survey is optional, you are strongly encouraged to respond and help SFI render value back to you as a Program Participant. SFI will use the results to generate insights and identify opportunities to better serve all SFI organizations certified to the SFI standards.
                </p>
                <p>
                    Please note that individual responses shall remain strictly confidential, and may only be used in aggregate form for marketing and communications purposes.
                </p>
                <label>Some Important Background:</label>
                <p>
                    We know demand for certified products in the wood, print, paper and packaging sectors is on the rise. Based on a 2014 study conducted by the research firm GfK, almost 70% of 1,000 U.S. consumers said they would prefer companies that source wood-based products responsibly to use a forest certification label to inform consumers. We also know from a survey by The Natural Marketing Institute (NMI) that, of more than 20,000 U.S. consumers, 24% recognized and understood the SFI logo, compared to 15% for FSC.
                </p>
                <p>
                    Last year SFI sent a market survey to SFI Primary Producers (SFI Program Participants who source fiber directly from the forest), and over 90% responded. The resulting information was used to produce an SFI Market Relevancy Factsheet, which we hope you may find useful in promoting the value of SFI. This year SFI is expanding the survey to SFI Secondary Producers as well (SFI Program Participants such as printers, paperboard manufacturers, and wood brokers).

                </p>

            </div>
            <br>
            <div class="col-lg-4" style="text-align: right">
                <img src="/assets/images/SurveyImage_ConsumerRecognition.jpg" style="width: 250px;">
            </div>
        </div>

        <div class="col-lg-12 passage-bold pading-botoms">
            <div class="col-lg-8">
                <p class="pading-botoms">
                    <span tooltip title="By ensuring that we have the right Program Participant contact information, we can reach the right people in your organization to learn about your stories!"> Who are the main contacts for your organization that should be receiving SFI related information? Please include your organization's Head of Communications.</span>
                </p>

                <form name="contactForm">
                <table class="table table-striped">
                    <thead>
                        <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Position</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="contact in cs8.orgContacts">
                        <td class="ng-binding">{{ contact.name }}</td>
                        <td class="ng-binding">{{ contact.email }} </td>
                        <td class="ng-binding">{{ contact.position }} </td>
                        <td><a href="" ng-click="editContact($index, contact)">Edit</a></td>
                        <td><a href="" ng-click="deleteContact($index)">Delete</a></td>
                    </tr>
                    <tr>

                        <td>
                            <div ng-class="{'has-error' : isContactDirty() && contactForm.name.$invalid}">
                                <input placeholder="name" type="text" required class="form-control" name="name" ng-model="contact.name">
                            </div>
                        </td>
                        <td>
                            <div ng-class="{'has-error' : isContactDirty() && contactForm.email.$invalid}">
                                <input type="email" placeholder="email" required class="form-control" name="email" ng-model="contact.email">
                            </div>
                        </td>
                        <td>
                            <div>
                                <input type="text" placeholder="position" class="form-control" ng-model="contact.position">
                            </div>
                        </td>
                        <td colspan="2">
                            <p style="text-align: right;padding-top: 8px; cursor:pointer;" ng-click="addContact()">+ Add Contact</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </form>
            </div>
        </div>

        <form name="cs8Form">
        <div class="col-lg-12 passage-bold pading-botoms">
                <div class="col-lg-8">
                    <p>
                        <span tooltip title="Understanding why companies choose to certify to SFI will help us understand markets, and help us develop messaging to promote demand."> Why did you choose to get certified to SFI? Rate the following reasons for obtaining SFI.</span>
                    </p>
                    <table border="1" style="line-height: 15px;" class="boxsize">
                        <tr>
                            <th class="col-lg-6">SFI certification is important for our organization because:</th>
                            <th class="col-lg-1">Strongly agree</th>
                            <th class="col-lg-1">Agree</th>
                            <th class="col-lg-1">Neutral</th>
                            <th class="col-lg-1">Disagree</th>
                            <th class="col-lg-1">Strongly disagree</th>
                            <th class="col-lg-1">N/A</th>
                        </tr>
                        <tr>
                            <td>it is a tool to demonstrate to our customers that we meet their sustainability objectives.</td>
                            <td><input icheck name="whyChoseSFI1" ng-model="cs8.whyChoseSFI1" value="1" type="radio"></td>
                            <td><input icheck name="whyChoseSFI1" ng-model="cs8.whyChoseSFI1" value="2" type="radio"></td>
                            <td><input icheck name="whyChoseSFI1" ng-model="cs8.whyChoseSFI1" value="3" type="radio"></td>
                            <td><input icheck name="whyChoseSFI1" ng-model="cs8.whyChoseSFI1" value="4" type="radio"></td>
                            <td><input icheck name="whyChoseSFI1" ng-model="cs8.whyChoseSFI1" value="5" type="radio"></td>
                            <td><input icheck name="whyChoseSFI1" ng-model="cs8.whyChoseSFI1" value="6" type="radio"></td>
                        </tr>
                        <tr>
                            <td>it is a tool to demonstrate that we meet our organization's own
                                sustainability objectives.</td>
                            <td><input icheck name="whyChoseSFI2" ng-model="cs8.whyChoseSFI2"  value="1" type="radio"></td>
                            <td><input icheck name="whyChoseSFI2" ng-model="cs8.whyChoseSFI2"  value="2" type="radio"></td>
                            <td><input icheck name="whyChoseSFI2" ng-model="cs8.whyChoseSFI2"  value="3" type="radio"></td>
                            <td><input icheck name="whyChoseSFI2" ng-model="cs8.whyChoseSFI2"  value="4" type="radio"></td>
                            <td><input icheck name="whyChoseSFI2" ng-model="cs8.whyChoseSFI2"  value="5" type="radio"></td>
                            <td><input icheck name="whyChoseSFI2" ng-model="cs8.whyChoseSFI2"  value="6" type="radio"></td>
                        </tr>
                        <tr>
                            <td>it provides a proof point for responsible forest management.</td>
                            <td><input icheck name="whyChoseSFI3" ng-model="cs8.whyChoseSFI3"  value="1" type="radio"></td>
                            <td><input icheck name="whyChoseSFI3" ng-model="cs8.whyChoseSFI3"  value="2" type="radio"></td>
                            <td><input icheck name="whyChoseSFI3" ng-model="cs8.whyChoseSFI3"  value="3" type="radio"></td>
                            <td><input icheck name="whyChoseSFI3" ng-model="cs8.whyChoseSFI3"  value="4" type="radio"></td>
                            <td><input icheck name="whyChoseSFI3" ng-model="cs8.whyChoseSFI3"  value="5" type="radio"></td>
                            <td><input icheck name="whyChoseSFI3" ng-model="cs8.whyChoseSFI3"  value="6" type="radio"></td>
                        </tr>
                        <tr>
                            <td>it helps us demonstrate that we contribute to clean water.</td>
                            <td><input icheck name="whyChoseSFI4" ng-model="cs8.whyChoseSFI4"  value="1" type="radio"></td>
                            <td><input icheck name="whyChoseSFI4" ng-model="cs8.whyChoseSFI4"  value="2" type="radio"></td>
                            <td><input icheck name="whyChoseSFI4" ng-model="cs8.whyChoseSFI4"  value="3" type="radio"></td>
                            <td><input icheck name="whyChoseSFI4" ng-model="cs8.whyChoseSFI4"  value="4" type="radio"></td>
                            <td><input icheck name="whyChoseSFI4" ng-model="cs8.whyChoseSFI4"  value="5" type="radio"></td>
                            <td><input icheck name="whyChoseSFI4" ng-model="cs8.whyChoseSFI4"  value="6" type="radio"></td>
                        </tr>
                        <tr>
                            <td>it helps us demonstrate that we contribute to clean air.</td>
                            <td><input icheck name="whyChoseSFI5" ng-model="cs8.whyChoseSFI5" value="1" type="radio"></td>
                            <td><input icheck name="whyChoseSFI5" ng-model="cs8.whyChoseSFI5" value="2" type="radio"></td>
                            <td><input icheck name="whyChoseSFI5" ng-model="cs8.whyChoseSFI5" value="3" type="radio"></td>
                            <td><input icheck name="whyChoseSFI5" ng-model="cs8.whyChoseSFI5" value="4" type="radio"></td>
                            <td><input icheck name="whyChoseSFI5" ng-model="cs8.whyChoseSFI5" value="5" type="radio"></td>
                            <td><input icheck name="whyChoseSFI5" ng-model="cs8.whyChoseSFI5" value="6" type="radio"></td>
                        </tr>
                        <tr>
                            <td>it helps us demonstrate that we contribute to promoting biodiversity</td>
                            <td><input icheck name="whyChoseSFI6" ng-model="cs8.whyChoseSFI6"  value="1" type="radio"></td>
                            <td><input icheck name="whyChoseSFI6" ng-model="cs8.whyChoseSFI6"  value="2" type="radio"></td>
                            <td><input icheck name="whyChoseSFI6" ng-model="cs8.whyChoseSFI6"  value="3" type="radio"></td>
                            <td><input icheck name="whyChoseSFI6" ng-model="cs8.whyChoseSFI6"  value="4" type="radio"></td>
                            <td><input icheck name="whyChoseSFI6" ng-model="cs8.whyChoseSFI6"  value="5" type="radio"></td>
                            <td><input icheck name="whyChoseSFI6" ng-model="cs8.whyChoseSFI6"  value="6" type="radio"></td>
                        </tr>
                        <tr>
                            <td>it helps us demonstrate that we contribute to promoting healthy wildlife habitat</td>
                            <td><input icheck name="whyChoseSFI7" ng-model="cs8.whyChoseSFI7" value="1" type="radio"></td>
                            <td><input icheck name="whyChoseSFI7" ng-model="cs8.whyChoseSFI7" value="2" type="radio"></td>
                            <td><input icheck name="whyChoseSFI7" ng-model="cs8.whyChoseSFI7" value="3" type="radio"></td>
                            <td><input icheck name="whyChoseSFI7" ng-model="cs8.whyChoseSFI7" value="4" type="radio"></td>
                            <td><input icheck name="whyChoseSFI7" ng-model="cs8.whyChoseSFI7" value="5" type="radio"></td>
                            <td><input icheck name="whyChoseSFI7" ng-model="cs8.whyChoseSFI7" value="6" type="radio"></td>
                        </tr>
                        <tr>
                            <td>it helps us demonstrate that we contribute to promoting carbon sequestration.</td>
                            <td><input icheck name="whyChoseSFI8" ng-model="cs8.whyChoseSFI8" value="1" type="radio"></td>
                            <td><input icheck name="whyChoseSFI8" ng-model="cs8.whyChoseSFI8" value="2" type="radio"></td>
                            <td><input icheck name="whyChoseSFI8" ng-model="cs8.whyChoseSFI8" value="3" type="radio"></td>
                            <td><input icheck name="whyChoseSFI8" ng-model="cs8.whyChoseSFI8" value="4" type="radio"></td>
                            <td><input icheck name="whyChoseSFI8" ng-model="cs8.whyChoseSFI8" value="5" type="radio"></td>
                            <td><input icheck name="whyChoseSFI8" ng-model="cs8.whyChoseSFI8" value="6" type="radio"></td>
                        </tr>
                        <tr>
                            <td>it is a tool to avoid risks associated with illegal logging.</td>
                            <td><input icheck name="whyChoseSFI9" ng-model="cs8.whyChoseSFI9" value="1" type="radio"></td>
                            <td><input icheck name="whyChoseSFI9" ng-model="cs8.whyChoseSFI9" value="2" type="radio"></td>
                            <td><input icheck name="whyChoseSFI9" ng-model="cs8.whyChoseSFI9" value="3" type="radio"></td>
                            <td><input icheck name="whyChoseSFI9" ng-model="cs8.whyChoseSFI9" value="4" type="radio"></td>
                            <td><input icheck name="whyChoseSFI9" ng-model="cs8.whyChoseSFI9" value="5" type="radio"></td>
                            <td><input icheck name="whyChoseSFI9" ng-model="cs8.whyChoseSFI9" value="6" type="radio"></td>
                        </tr>
                        <tr>
                            <td>it is a tool to avoid risks associated with deforestation</td>
                            <td><input icheck name="whyChoseSFI10" ng-model="cs8.whyChoseSFI10" value="1" type="radio"></td>
                            <td><input icheck name="whyChoseSFI10" ng-model="cs8.whyChoseSFI10" value="2" type="radio"></td>
                            <td><input icheck name="whyChoseSFI10" ng-model="cs8.whyChoseSFI10" value="3" type="radio"></td>
                            <td><input icheck name="whyChoseSFI10" ng-model="cs8.whyChoseSFI10" value="4" type="radio"></td>
                            <td><input icheck name="whyChoseSFI10" ng-model="cs8.whyChoseSFI10" value="5" type="radio"></td>
                            <td><input icheck name="whyChoseSFI10" ng-model="cs8.whyChoseSFI10" value="6" type="radio"></td>
                        </tr>
                        <!--<tr>-->
                            <!--<td>Compliance with green building standards</td>-->
                            <!--<td><input icheck name="whyChoseSFI11" ng-model="cs8.whyChoseSFI11" value="1" type="radio"></td>-->
                            <!--<td><input icheck name="whyChoseSFI11" ng-model="cs8.whyChoseSFI11" value="2" type="radio"></td>-->
                            <!--<td><input icheck name="whyChoseSFI11" ng-model="cs8.whyChoseSFI11" value="3" type="radio"></td>-->
                            <!--<td><input icheck name="whyChoseSFI11" ng-model="cs8.whyChoseSFI11" value="4" type="radio"></td>-->
                            <!--<td><input icheck name="whyChoseSFI11" ng-model="cs8.whyChoseSFI11" value="5" type="radio"></td>-->
                            <!--<td><input icheck name="whyChoseSFI11" ng-model="cs8.whyChoseSFI11" value="6" type="radio"></td>-->
                        <!--</tr>-->
                        <tr>
                            <td>it is a tool to address responsible forestry for all fiber procured, whether from certified forests or not.</td>
                            <td><input icheck name="whyChoseSFI12" ng-model="cs8.whyChoseSFI12" value="1" type="radio"></td>
                            <td><input icheck name="whyChoseSFI12" ng-model="cs8.whyChoseSFI12" value="2" type="radio"></td>
                            <td><input icheck name="whyChoseSFI12" ng-model="cs8.whyChoseSFI12" value="3" type="radio"></td>
                            <td><input icheck name="whyChoseSFI12" ng-model="cs8.whyChoseSFI12" value="4" type="radio"></td>
                            <td><input icheck name="whyChoseSFI12" ng-model="cs8.whyChoseSFI12" value="5" type="radio"></td>
                            <td><input icheck name="whyChoseSFI12" ng-model="cs8.whyChoseSFI12" value="6" type="radio"></td>
                        </tr>
                        <tr>
                            <td>SFI’s conservation and community initiatives go beyond the SFI standards</td>
                            <td><input icheck name="whyChoseSFI13" ng-model="cs8.whyChoseSFI13" value="1" type="radio"></td>
                            <td><input icheck name="whyChoseSFI13" ng-model="cs8.whyChoseSFI13" value="2" type="radio"></td>
                            <td><input icheck name="whyChoseSFI13" ng-model="cs8.whyChoseSFI13" value="3" type="radio"></td>
                            <td><input icheck name="whyChoseSFI13" ng-model="cs8.whyChoseSFI13" value="4" type="radio"></td>
                            <td><input icheck name="whyChoseSFI13" ng-model="cs8.whyChoseSFI13" value="5" type="radio"></td>
                            <td><input icheck name="whyChoseSFI13" ng-model="cs8.whyChoseSFI13" value="6" type="radio"></td>
                        </tr>
                        <tr>
                            <td>it provides enhanced corporate reputation and provides social license
                                to operate.</td>
                            <td><input icheck name="whyChoseSFI4" ng-model="cs8.whyChoseSFI14" value="1" type="radio"></td>
                            <td><input icheck name="whyChoseSFI4" ng-model="cs8.whyChoseSFI14" value="2" type="radio"></td>
                            <td><input icheck name="whyChoseSFI4" ng-model="cs8.whyChoseSFI14" value="3" type="radio"></td>
                            <td><input icheck name="whyChoseSFI4" ng-model="cs8.whyChoseSFI14" value="4" type="radio"></td>
                            <td><input icheck name="whyChoseSFI4" ng-model="cs8.whyChoseSFI14" value="5" type="radio"></td>
                            <td><input icheck name="whyChoseSFI4" ng-model="cs8.whyChoseSFI14" value="6" type="radio"></td>
                        </tr>
                        <tr>
                            <td>it is a tool to address pressure from environmental/consumer/other interest groups about our company's products</td>
                            <td><input icheck name="whyChoseSFI15" ng-model="cs8.whyChoseSFI15" value="1" type="radio"></td>
                            <td><input icheck name="whyChoseSFI15" ng-model="cs8.whyChoseSFI15" value="2" type="radio"></td>
                            <td><input icheck name="whyChoseSFI15" ng-model="cs8.whyChoseSFI15" value="3" type="radio"></td>
                            <td><input icheck name="whyChoseSFI15" ng-model="cs8.whyChoseSFI15" value="4" type="radio"></td>
                            <td><input icheck name="whyChoseSFI15" ng-model="cs8.whyChoseSFI15" value="5" type="radio"></td>
                            <td><input icheck name="whyChoseSFI15" ng-model="cs8.whyChoseSFI15" value="6" type="radio"></td>
                        </tr>
                        <tr>
                            <td>it demonstrates compliance with regulatory requirements in export
                                markets e.g. EU Timber Regulations</td>
                            <td><input icheck name="whyChoseSFI16" ng-model="cs8.whyChoseSFI16" value="1" type="radio"></td>
                            <td><input icheck name="whyChoseSFI16" ng-model="cs8.whyChoseSFI16" value="2" type="radio"></td>
                            <td><input icheck name="whyChoseSFI16" ng-model="cs8.whyChoseSFI16" value="3" type="radio"></td>
                            <td><input icheck name="whyChoseSFI16" ng-model="cs8.whyChoseSFI16" value="4" type="radio"></td>
                            <td><input icheck name="whyChoseSFI16" ng-model="cs8.whyChoseSFI16" value="5" type="radio"></td>
                            <td><input icheck name="whyChoseSFI16" ng-model="cs8.whyChoseSFI16" value="6" type="radio"></td>
                        </tr>
                        <tr>
                            <td>it is required for current market access.</td>
                            <td><input icheck name="whyChoseSFI7" ng-model="cs8.whyChoseSFI17" value="1" type="radio"></td>
                            <td><input icheck name="whyChoseSFI7" ng-model="cs8.whyChoseSFI17" value="2" type="radio"></td>
                            <td><input icheck name="whyChoseSFI7" ng-model="cs8.whyChoseSFI17" value="3" type="radio"></td>
                            <td><input icheck name="whyChoseSFI7" ng-model="cs8.whyChoseSFI17" value="4" type="radio"></td>
                            <td><input icheck name="whyChoseSFI7" ng-model="cs8.whyChoseSFI17" value="5" type="radio"></td>
                            <td><input icheck name="whyChoseSFI7" ng-model="cs8.whyChoseSFI17" value="6" type="radio"></td>
                        </tr>
                        <tr>
                            <td>it is a tool to access potential new markets and clients.</td>
                            <td><input icheck name="whyChoseSFI18" ng-model="cs8.whyChoseSFI18" value="1" type="radio"></td>
                            <td><input icheck name="whyChoseSFI18" ng-model="cs8.whyChoseSFI18" value="2" type="radio"></td>
                            <td><input icheck name="whyChoseSFI18" ng-model="cs8.whyChoseSFI18" value="3" type="radio"></td>
                            <td><input icheck name="whyChoseSFI18" ng-model="cs8.whyChoseSFI18" value="4" type="radio"></td>
                            <td><input icheck name="whyChoseSFI18" ng-model="cs8.whyChoseSFI18" value="5" type="radio"></td>
                            <td><input icheck name="whyChoseSFI18" ng-model="cs8.whyChoseSFI18" value="6" type="radio"></td>
                        </tr>
                        <tr>
                            <td>it is required by public/government authorities.</td>
                            <td><input icheck name="whyChoseSFI19" ng-model="cs8.whyChoseSFI19" value="1" type="radio"></td>
                            <td><input icheck name="whyChoseSFI19" ng-model="cs8.whyChoseSFI19" value="2" type="radio"></td>
                            <td><input icheck name="whyChoseSFI19" ng-model="cs8.whyChoseSFI19" value="3" type="radio"></td>
                            <td><input icheck name="whyChoseSFI19" ng-model="cs8.whyChoseSFI19" value="4" type="radio"></td>
                            <td><input icheck name="whyChoseSFI19" ng-model="cs8.whyChoseSFI19" value="5" type="radio"></td>
                            <td><input icheck name="whyChoseSFI19" ng-model="cs8.whyChoseSFI19" value="6" type="radio"></td>
                        </tr>
                        <tr>
                            <td>certified products command a higher price point</td>
                            <td><input  icheck name="whyChoseSFI20" ng-model="cs8.whyChoseSFI20" value="1" type="radio"></td>
                            <td><input  icheck name="whyChoseSFI20" ng-model="cs8.whyChoseSFI20" value="2" type="radio"></td>
                            <td><input  icheck name="whyChoseSFI20" ng-model="cs8.whyChoseSFI20" value="3" type="radio"></td>
                            <td><input  icheck name="whyChoseSFI20" ng-model="cs8.whyChoseSFI20" value="4" type="radio"></td>
                            <td><input  icheck name="whyChoseSFI20" ng-model="cs8.whyChoseSFI20" value="5" type="radio"></td>
                            <td><input  icheck name="whyChoseSFI20" ng-model="cs8.whyChoseSFI20" value="6" type="radio"></td>
                        </tr>
                        <tr>
                            <td>
                                <label class="form-inline">
                                    <input class="form-control" style="margin: 0px;" type="checkbox" ng-model="cs8.whyChoseSFI20Other">  Other
                                </label>
                                <div ng-show="cs8.whyChoseSFI20Other">
                                    Please specify <input class="form-control" style="margin: 0px;" type="text" ng-model="cs8.whyChoseSFI20OtherSpecify">
                                </div>
                            </td>
                            <td><input icheck name="whyChoseSFI21" ng-model="cs8.whyChoseSFI21" value="1" type="radio"></td>
                            <td><input icheck name="whyChoseSFI21" ng-model="cs8.whyChoseSFI21" value="2" type="radio"></td>
                            <td><input icheck name="whyChoseSFI21" ng-model="cs8.whyChoseSFI21" value="3" type="radio"></td>
                            <td><input icheck name="whyChoseSFI21" ng-model="cs8.whyChoseSFI21" value="4" type="radio"></td>
                            <td><input icheck name="whyChoseSFI21" ng-model="cs8.whyChoseSFI21" value="5" type="radio"></td>
                            <td><input icheck name="whyChoseSFI21" ng-model="cs8.whyChoseSFI21" value="6" type="radio"></td>
                        </tr>
                    </table>

                </div>
            </div>
            
        <div class="col-lg-12 passage-bold pading-botoms">
                <div class="col-lg-8">
                    <p>
                        Some Examples of Linkage Through the Supply Chain
                    </p>
                    <p>
                        The SFI community is incredibly diverse and the value-added actions of Program Participants partners, conservationists, and local SFI Implementation Committees provide opportunities to capture and convey value in your own organization. This is a community that includes Fortune 500 companies, small and mid-sized forestry operations, government agencies, manufacturers, academic institutions, conservation organizations, Aboriginal and Tribal groups, and even community groups like Boy Scouts of America.  Collectively, their achievements and engagement in SFI reach far beyond the bounds of the standard, and render values that support economies and quality of life throughout North America.
                    </p>
                    <p>
                        By responding to this part of the survey, SFI can help create links between you and the conservation and community stories that your SFI participation helps support. Here are a few hypothetical examples to illustrate the relationship of SFI certified activities, to the inherent value of your own products:
                    </p>
                    <img src="/assets/images/Section_9__Linking_to_the_Forests_v11.jpg" style="width: 100%;">
                    <!--<p class="pading-botoms" style="padding-top: 25px;">-->
                        <!--Who are the main contacts for your organization that should be receiving SFI related information? Please include your organization's Head of Communications.-->
                    <!--</p>-->
                    <div>
                        <table class="table table-striped" ng-show="cs8.primaryProducers.length">
                            <thead>
                            <tr>
                                <th>Name of primary producer</th>
                                <th>% of total annual purchased supply</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr ng-repeat="item in cs8.primaryProducers">
                                <td class="ng-binding">{{ producers[item.source - 1] }}</td>
                                <td class="ng-binding">{{ item.percPurchased }} </td>

                                <td><a href="" ng-click="editProducer($index, item)">Edit</a></td>
                                <td><a href="" ng-click="deleteProducer($index)">Delete</a></td>
                            </tr>
                            </tbody>
                        </table><br/>
                        <form name="producerForm">
                            <p>
                                Select companies/manufacturers/mills from which you sourced SFI material in 2015:
                            </p>
                            <label class="form-inline">
                                SFI primary producers
                                <select class="form-control" name="producerSource"
                                        ng-model="producer.source">

                                    <option ng-selected="!producer.source">Select</option>
                                    <option ng-value="$index + 1" ng-repeat="item in producers" ng-selected="producer.source == $index + 1">{{item}}</option>
                                </select>

                                <!--ng-options="idx*1 + 1 as item for (idx, item) in producers'">-->
                                <!--<select  class="form-control" name="producerSource" ng-model="producer.source"-->
                                        <!--ng-options="$index*1 + 1 as item for item in producers">-->
                                    <!--<option ng-selected="!producer.source">Select</option>-->

                                <!--</select>-->

                            </label>
                            <label class="form-inline">
                                How much of your total annual purchased supply does this supplier represent (estimate)
                                <input type="number" ng-model="producer.percPurchased" name="percPurchased" class="form-control" style="width: 60px;"> %
                            </label>

                        <p style="text-align: right;padding-top: 10px;padding-right: 60px;" ng-click="addProducer()">+ Add Another</p>
                        </form>
                    </div>

                </div>
                <br>
                <div class="col-lg-4" style="text-align: right">
                    <img src="/assets/images/u748.png" style="width: 250px;">
                </div>
            </div>

        <div class="col-lg-12 passage-bold pading-botoms">

            <div class="col-lg-10 pading-botoms">
                <label>Our organization is part of the following sector(s)</label>
                <p>This is a functional question that customizes the remainder of the form by product sector</p>
                <div>
                    <div class="col-lg-4">
                        <ul class="list-unstyled">
                            <li>
                                <label>
                                    <input type="checkbox" icheck name="answer" icheck ng-model="cs8.productSegmentPrintingWritingPaper">
                                    Printing writing paper
                                </label>
                            </li>

                            <li>
                                <label>
                                    <input type="checkbox" icheck name="answer" icheck ng-model="cs8.productSegmentPulp">
                                    Pulp
                                </label>
                            </li><li>
                                <label>
                                    <input type="checkbox" icheck name="answer" icheck ng-model="cs8.productSegmentPaperMerchant">
                                    Paper Broker/Merchant
                                </label>
                            </li><li>
                                <label>
                                    <input type="checkbox" icheck name="answer" icheck ng-model="cs8.productSegmentTowelTissue">
                                    Towel/tissue
                                </label>
                            </li><li>
                                <label>
                                    <input type="checkbox" icheck name="answer" icheck ng-model="cs8.productSegmentOther">
                                    Other
                                </label>
                            </li>
                            </ul>
                    </div>
                    <div class="col-lg-3">
                            <ul class="list-unstyled">
                                <li>
                                    <label>
                                        <input type="checkbox" icheck name="answer" icheck ng-model="cs8.productSegmentPackaging">
                                        Packaging
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" icheck name="answer" icheck ng-model="cs8.productSegmentLand">
                                        Land Only
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" icheck name="answer" icheck ng-model="cs8.productSegmentPaperBoard">
                                        Paperboard Converter
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" icheck name="answer" icheck ng-model="cs8.productSegmentPrinter">
                                        Printer
                                    </label>
                            </ul>
                        </div>
                    <div class="col-lg-4">
                            <ul class="list-unstyled">
                                <li>
                                    <label>
                                        <input type="checkbox" icheck name="answer" icheck ng-model="cs8.productSegmentBioenergy">
                                        Bioenergy
                                    </label>
                                </li><li>
                                <label>
                                    <input type="checkbox" icheck name="answer" icheck ng-model="cs8.productSegmentSolidWood">
                                    Solid wood products (includes logs)
                                </label>
                            </li>
                                <li>
                                    <label>
                                        <input type="checkbox" icheck name="answer" icheck ng-model="cs8.productSegmentFurniture">
                                        Furniture
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" icheck name="answer" icheck ng-model="cs8.productSegmentWoodMerchant">
                                        Wood Broker/Merchant
                                    </label>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>
        </div>

        <!--Section 1-->
        <div class="col-lg-12 passage-bold pading-botoms" ng-show="anySelect()">
            <div class="col-lg-8">
                <div class="content-header2">
                    <span data-toggle="tootltip" title="An SFI claim is a certified sourcing or chain of custody statement accompanying a product. An SFI label is an illustrative symbol that communicates an SFI claim on a product.">LABELS & CLAIMS:</span><br>
                    <p>
                        SFI would like to better understand your use of SFI label during the last 12 months and the value that the SFI label adds to your products.
                    </p>
                </div>
                <br>

                <div ng-show="anySelect()" ng-include="'/assets/partials/form/cs8/sec1-product-label.html'" ></div>
                <div ng-show="anySelect()" ng-include="'/assets/partials/form/cs8/sec2-product-sell-country.html'" ></div>
                <div ng-show="anySelect()" ng-include="'/assets/partials/form/cs8/sec3-product-sell-certification.html'" ></div>
                <div ng-show="anySelect()" ng-include="'/assets/partials/form/cs8/sec4-request-went-market.html'" ></div>
                <div ng-show="anySelect()" ng-include="'/assets/partials/form/cs8/sec5-comments.html'" ></div>
                <div ng-show="anySelect()" ng-include="'/assets/partials/form/cs8/sec6-why-product-logo.html'" ></div>
                <div ng-show="anySelect()" ng-include="'/assets/partials/form/cs8/sec7-product-grp-contain.html'" ng-if="!isSfiSecondary()" ></div>
                <div ng-show="anySelect()" ng-include="'/assets/partials/form/cs8/sec8-fsc-product-grp-contain.html'" ng-if="!isSfiSecondary()" ></div>
            </div>


            <br>
            <div class="col-lg-4" style="text-align: right">
                <img src="/assets/images/SurveyImage_GlobalReach_v2.jpg" style="width: 250px;">
                <div class="pading-botoms"></div>
                <img src="/assets/images/SurveyImage_DemandGrowing.jpg" style="width: 250px;">
                <div class="pading-botom-2350"></div>
                <img src="/assets/images/u2102.png" style="width: 250px;">
            </div>
        </div>

        <!--Section 2-->
        <div class="col-lg-12 passage-bold pading-botoms" ng-show="anySelect()">
            <div class="col-lg-8">
                <h5 class="content-header2" style="padding-top: 30px;">CERTIFICATION & MARKET DEMAND</h5>
                <div ng-show="anySelect()" ng-include="'/assets/partials/form/cs8/sec9-demand-certified-product.html'" ></div>
                <div ng-show="anySelect()" ng-include="'/assets/partials/form/cs8/sec10-demand-certified-product.html'" ></div>
                <div ng-show="anySelect()" ng-include="'/assets/partials/form/cs8/sec11-demand-coc-product.html'" ></div>
                <div ng-show="anySelect()" ng-include="'/assets/partials/form/cs8/sec12-sfi-forest-sourcing.html'" ></div>
                <!--<div ng-show="anySelect()" ng-include="'/assets/partials/form/cs8/sec13-fsc-certification.html'" ></div>-->
                <!--<div ng-show="anySelect()" ng-include="'/assets/partials/form/cs8/sec14-seeking-fsc-certificate.html'" ></div>-->
            </div>
            <br>
            <div class="col-lg-4" style="text-align: right">
                <img src="/assets/images/SurveyImage_2014MarketSurvey.jpg" style="width: 250px;">
                <div class="pading-botoms"></div>
                <img src="/assets/images/SurveyImage_GFK_study.jpg" style="width: 250px;">
            </div>
        </div>

        <div class="col-lg-12 passage-bold pading-botoms">

            <br>
            <div class="col-lg-8 pading-botoms" ng-if="!isSfiSecondary()">
                <label class="question-style">
                    If you own or manage lands, have you ever considered seeking FSC land certification?
                </label>
                <div class="padding-left-10">
                    <p>Choose one of the following</p>
                    <label class="form-inline">
                        <input type="radio" icheck  name="FSCLandCertification" ng-model="cs8.FSCLandCertification" value=1 icheck>
                        We are satisfied with SFI certification and don't consider FSC certification
                    </label><br>
                    <label class="form-inline">
                        <input type="radio" icheck  name="FSCLandCertification" ng-model="cs8.FSCLandCertification" value=2 icheck>
                        Yes, but decided against FSC certification
                    </label><br>
                    <label class="form-inline">
                        <input type="radio" icheck  name="FSCLandCertification" ng-model="cs8.FSCLandCertification" value=3 icheck>
                        Yes, and we are planning to become certified to both SFI and FSC in the future
                    </label><br>
                    <label class="form-inline">
                        <input type="radio" icheck  name="FSCLandCertification" ng-model="cs8.FSCLandCertification" value=4 icheck>
                        We are already certified to both SFI and FSC
                    </label><br>
                    <label class="form-inline">
                        <input type="radio" icheck  name="FSCLandCertification" ng-model="cs8.FSCLandCertification" value=5 icheck>
                        We were previously certified to FSC but dropped it after obtaining SFI certification, please specify
                    </label><br>
                    <label class="form-inline">
                        <input type="radio" icheck  name="FSCLandCertification" ng-model="cs8.FSCLandCertification" value=6 icheck>
                        Yes, and we are considering dropping SFI once we have obtained FSC certification
                    </label><br>
                    <label class="form-inline">
                        <input type="radio" icheck  name="FSCLandCertification" ng-model="cs8.FSCLandCertification" value=7 icheck>
                        Other
                    </label>
                </div>
            </div>
            <br>
            <div class="col-lg-8 pading-botoms">
                <label class="question-style">
                    Have you ever considered obtaining FSC chain-of-custody certification?
                </label>
                <div class="padding-left-10">
                    <p>Choose one of the following</p>
                    <label class="form-inline">
                        <input type="radio" name="ChainOfCustody_FSCCertification" ng-model="cs8.ChainOfCustody_FSCCertification" value=1 icheck>
                        We are satisfied with SFI certification and don't consider FSC certification
                    </label><br>
                    <label class="form-inline">
                        <input type="radio" name="ChainOfCustody_FSCCertification" ng-model="cs8.ChainOfCustody_FSCCertification" value=2 icheck>
                        Yes, but decided against FSC certification
                    </label><br>
                    <label class="form-inline">
                        <input type="radio" name="ChainOfCustody_FSCCertification" ng-model="cs8.ChainOfCustody_FSCCertification" value=3 icheck>
                        Yes, and we are planning to become certified to both SFI and FSC in the future
                    </label><br>
                    <label class="form-inline">
                        <input type="radio" name="ChainOfCustody_FSCCertification" ng-model="cs8.ChainOfCustody_FSCCertification" value=4 icheck>
                        We are already certified to both SFI and FSC
                    </label><br>
                    <label class="form-inline">
                        <input type="radio" name="ChainOfCustody_FSCCertification" ng-model="cs8.ChainOfCustody_FSCCertification" value=5 icheck>
                        We were previously certified to FSC but dropped it after obtaining SFI certification, please specify
                    </label><br>
                    <label class="form-inline">
                        <input type="radio" name="ChainOfCustody_FSCCertification" ng-model="cs8.ChainOfCustody_FSCCertification" value=6 icheck>
                        Yes, and we are considering dropping SFI once we have obtained FSC certification
                    </label><br>
                    <label class="form-inline">
                        <input type="radio" name="ChainOfCustody_FSCCertification" ng-model="cs8.ChainOfCustody_FSCCertification" value=7 icheck>
                        Other
                    </label>
                </div>
            </div>

                <div class="col-lg-8">
                    <h4 class="content-header">Communications</h4>
                    <p class="pading-botoms">
                        <span class="question-style" tooltip title="SFI would like to understand your organization's communications strategies, so that we can provide information about relevant topics."> To help us understand how you market your SFI certification, please tell us how you communicate your SFI certification externally (e.g. to customers) and/or internally (to employees)? </span>
                    </p>
                    <div class="pading-botoms padding-left-10">
                        <label class="form-inline">
                            <input type="checkbox" icheck name="sfiMarketExternally" checklist-model="cs8.sfiMarketExternally" checklist-value="1" ng-model="sfiMarket" >
                            Annual reports
                        </label><br>
                        <label class="form-inline">
                            <input type="checkbox" icheck name="sfiMarketExternally" checklist-model="cs8.sfiMarketExternally" checklist-value="2" ng-model="sfiMarket" >
                            Brochures & other promotional material
                        </label><br>
                        <label class="form-inline">
                            <input type="checkbox" icheck name="sfiMarketExternally" checklist-model="cs8.sfiMarketExternally" checklist-value="3" ng-model="sfiMarket" >
                            Printing the SFI label on your materials on SFI material using an SFI COC printer
                        </label><br>
                        <label class="form-inline">
                            <input type="checkbox" icheck name="sfiMarketExternally" checklist-model="cs8.sfiMarketExternally" checklist-value="4" ng-model="sfiMarket" >
                            Website
                        </label><br>
                        <label class="form-inline">
                            <input type="checkbox" icheck name="sfiMarketExternally" checklist-model="cs8.sfiMarketExternally" checklist-value="5" ng-model="sfiMarket" >
                            Social media
                        </label><br>
                        <label class="form-inline">
                            <input type="checkbox" icheck name="sfiMarketExternally" checklist-model="cs8.sfiMarketExternally" checklist-value="6" ng-model="sfiMarket" >
                            Newsletter
                        </label><br>
                        <label class="form-inline">
                            <input type="checkbox" icheck name="sfiMarketExternally" checklist-model="cs8.sfiMarketExternally" checklist-value="7" ng-model="sfiMarket" >
                            Client area/extranet
                        </label><br>
                        <label class="form-inline">
                            <input type="checkbox" icheck name="sfiMarketExternally" checklist-model="cs8.sfiMarketExternally" checklist-value="8" ng-model="sfiMarket" >
                            Other
                        </label><br>
                        <label class="form-inline" ng-show="isSelected(cs8.sfiMarketExternally, 8)">
                            Please Explain:
                            <input class="form-control" type="text" ng-model="cs8.sfiMarketExplain1">
                        </label>
                        <br>
                        <label class="form-inline">
                            <input type="checkbox" icheck name="sfiMarketExternally" checklist-model="cs8.sfiMarketExternally" checklist-value="9" ng-model="sfiMarket" >
                            n/a we don’t  communicate SFI certified status
                        </label><br>
                        <label class="form-inline" ng-show="isSelected(cs8.sfiMarketExternally, 9)">
                            Please Explain:
                            <input class="form-control" type="text" ng-model="cs8.sfiMarketExplain2">
                        </label>
                        <br>
                    </div>


                    <p>
                        <span class="question-style" tooltip title="SFI would like to ensure we are equipping you to tell your story effectively! If you have ideas that are not on this list, please let us know.">How could SFI help you in your external and internal communication activities?</span>
                    </p>

                    <div class="pading-botoms padding-left-10">
                        <label class="form-inline">
                            <input type="checkbox" icheck name="sfiHelpCommunication" checklist-model="cs8.sfiHelpCommunication" checklist-value="1" ng-model="sfiHelp" >
                            Presentation materials (sales presentations, benefits of SFI certification, benefits of sustainable forest management)
                        </label><br>
                        <label class="form-inline">
                            <input type="checkbox" icheck name="sfiHelpCommunication" checklist-model="cs8.sfiHelpCommunication" checklist-value="2" ng-model="sfiHelp" >
                            Brochures/factsheets explaining the relevance of SFI certification to specific industry sectors e.g. retail, brand owners, etc.
                        </label><br>
                        <label class="form-inline">
                            <input type="checkbox" icheck name="sfiHelpCommunication" checklist-model="cs8.sfiHelpCommunication" checklist-value="3" ng-model="sfiHelp" >
                            Template press release announcing your (re)certification status
                        </label><br>
                        <label class="form-inline">
                            <input type="checkbox" icheck name="sfiHelpCommunication" checklist-model="cs8.sfiHelpCommunication" checklist-value="4" ng-model="sfiHelp" >
                            Access to royalty free photos covering various aspects of sustainable forest management, forests certified to SFI and responsibly sourced/SFI labeled forest products
                        </label><br>
                        <label class="form-inline">
                            <input type="checkbox" icheck name="sfiHelpCommunication" checklist-model="cs8.sfiHelpCommunication" checklist-value="5" ng-model="sfiHelp" >
                            Promotional items certified to SFI  (calendars, pens, USB sticks, stickers etc.)
                        </label><br>
                        <label class="form-inline">
                            <input type="checkbox" icheck name="sfiHelpCommunication" checklist-model="cs8.sfiHelpCommunication" checklist-value="6" ng-model="sfiHelp" >
                            General articles on current forestry related topics (e.g. for employee newsletters)
                        </label><br>
                        <label class="form-inline">
                            <input type="checkbox" icheck name="sfiHelpCommunication" checklist-model="cs8.sfiHelpCommunication" checklist-value="7" ng-model="sfiHelp" >
                            Posters or data visualizations (infographics) explaining the benefits of sustainable forest management/certification
                        </label><br>
                        <label class="form-inline">
                            <input type="checkbox" icheck name="sfiHelpCommunication" checklist-model="cs8.sfiHelpCommunication" checklist-value="8" ng-model="sfiHelp" >
                            Brochures/factsheetswhich explain the benefits of sustainable forest management/certification
                        </label><br>
                        <label class="form-inline">
                            <input type="checkbox" icheck name="sfiHelpCommunication" checklist-model="cs8.sfiHelpCommunication" checklist-value="9" ng-model="sfiHelp" >
                            In-house/online training on sustainable forest management, forest certification, benefits of SFI
                        </label><br>
                        <label class="form-inline">
                            <input type="checkbox" icheck name="sfiHelpCommunication" checklist-model="cs8.sfiHelpCommunication" checklist-value="10" ng-model="sfiHelp" >
                            SFI speakers at our employee or customer events
                        </label><br>
                        <label class="form-inline">
                            <input type="checkbox" icheck name="sfiHelpCommunication" checklist-model="cs8.sfiHelpCommunication" checklist-value="11" ng-model="sfiHelp" >
                            Providing more information on what being involved in the SFI program means for your organization
                        </label><br>
                        <label class="form-inline">
                            <input type="checkbox" icheck name="sfiHelpCommunication" checklist-model="cs8.sfiHelpCommunication" checklist-value="12" ng-model="sfiHelp" >
                            Our organization would not benefit from any such materials/activities
                        </label><br>
                        <label class="form-inline">
                            <input type="checkbox" icheck name="sfiHelpCommunication" checklist-model="cs8.sfiHelpCommunication" checklist-value="13" ng-model="sfiHelp" >
                            Other
                        </label><br>
                        <label class="form-inline" ng-show="isSelected(cs8.sfiHelpCommunication, 13)">
                            Please Explain:
                            <input class="form-control" type="text" ng-model="cs8.sfiHelpCommunicationExplain">
                        </label>
                        <br>
                    </div>

                    <p>
                        <span class="question-style" tooltip title="We hope your expectations have been met! If not, we would like to know that, too, so we can continue to improve.">  How can SFI serve you better?</span>
                    </p>


                    <div class="pading-botoms padding-left-10">
                        <p>Check all that apply</p>
                        <label class="form-inline">
                            <input type="checkbox" icheck name="sfiServeBetter" checklist-model="cs8.sfiServeBetter" checklist-value="1" ng-model="sfiServe" >
                            Collaboration opportunities with other SFI Program Participants
                        </label><br>
                        <label class="form-inline">
                            <input type="checkbox" icheck name="sfiServeBetter" checklist-model="cs8.sfiServeBetter" checklist-value="2" ng-model="sfiServe" >
                            Collaboration opportunities with conservation organizations or social purpose organizations
                        </label><br>
                        <label class="form-inline">
                            <input type="checkbox" icheck name="sfiServeBetter" checklist-model="cs8.sfiServeBetter" checklist-value="3" ng-model="sfiServe" >
                            Outreach to brand owners/customers
                        </label><br>
                        <label class="form-inline">
                            <input type="checkbox" icheck name="sfiServeBetter" checklist-model="cs8.sfiServeBetter" checklist-value="4" ng-model="sfiServe" >
                            Facilitating information sharing more effectively among SFI Program Participants
                        </label><br>
                        <label class="form-inline">
                            <input type="checkbox" icheck name="sfiServeBetter" checklist-model="cs8.sfiServeBetter" checklist-value="5" ng-model="sfiServe" >
                            Answers to commonly asked questions
                        </label><br>
                    </div>
                    <div class="pading-botoms">
                        <p>
                            Please use this space to provide SFI with any additional comments:
                        </p>
                        <textarea rows="3" class="form-control" ng-model="cs8.sfiServeComments"></textarea>
                    </div>

                </div>
                <br>
                <div class="col-lg-4" style="text-align: right">
                    <img src="/assets/images/SurveyImage_SFI Collateral.jpg" style="width: 250px;">
                </div>
            </div>
        </form>
    </div>
</div>

{{setForms()}}

<div class="col-sm-6 col-sm-offset-4">
    <button type="button" class="btn btn-success" ng-click="saveForm()">Save</button>
    <button type="button" class="btn btn-success" ng-click="submit()">Submit</button>
</div>
</div>
</div>