<div class="row">

    <div ng-init="errors = cs1.errors" ng-include="'/assets/partials/form/error.html'"></div>
    <form name="cs1Form"  novalidate>

        <div class="col-sm-7">
            <h5 class="section-header">1. Profile</h5>

            <div class="form-group">
                <label>Program participant: {{ company.name }}</label>
            </div>

            <div class="form-group"
                 ng-class="{'has-error has-feedback':  cs1Form.companyWebsite.$invalid}">

                <label>Organization website (e.g. www.google.com)</label>
                <input type="text" name="companyWebsite" class="form-control"
                       ng-model="cs1.companyWebsite" ng-maxlength="200"
                       ng-pattern="/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/"
                       pattern-msg="Please enter a valid url" customerror>
            </div>

            <!-- Number of employees  -->
            <div class="form-group">

                <label>Number of employees (enter a number)</label>

                <!-- v2 -->
                <div class="form-horizontal">
                    <div class="form-group" ng-class="{'has-error has-feedback':  cs1Form.numberEmployeesUSA.$invalid}">
                        <div class="col-sm-3" style="padding-right: 0;line-height: 3;">
                            <label class="control-label">United States:</label>
                        </div>
                        <div class="col-sm-5">
                            <input type="number" class="form-control shorter" maxlength="200"
                                   name="numberEmployeesUSA" ng-model="cs1.numberEmployeesUSA">
                        </div>
                    </div>

                    <div>
                        <div class="form-group" ng-class="{'has-error has-feedback':  cs1Form.numberEmployeesCA.$invalid}">
                            <div class="col-sm-3" style="padding-right: 0;line-height: 3;">
                                <label class="control-label">Canada:</label>
                            </div>
                            <div class="col-sm-5">
                                <input type="number" class="form-control shorter" maxlength="200"
                                       name="numberEmployeesCA" ng-model="cs1.numberEmployeesCA">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="form-group" ng-class="{'has-error has-feedback':  cs1Form.numberEmployeesOther.$invalid}">
                            <div class="col-sm-3" style="padding-right: 0;line-height: 3;">
                                <label class="control-label">Outside US/Canada:</label>
                            </div>
                            <div class="col-sm-5">
                                <input type="number" class="form-control shorter" maxlength="200"
                                       name="numberEmployeesOther" ng-model="cs1.numberEmployeesOther">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- -->
            </div>

            <!-- Company description -->
            <div class="form-group" ng-class="{'has-error has-feedback':  cs1Form.companyDesc.$invalid}">
                <label>Short organization profile: (max. 650 words)</label>
                <textarea class="form-control" name="companyDesc"
                          ng-model="cs1.companyDesc" ng-maxlength="4000" max-word-count="650" customerror
                          tooltip data-placement="right" data-container="body"
                          data-title="Provide a short company description."></textarea>
            </div>

            <div class="form-group" style="overflow:-moz-hidden-unscrollable;padding-bottom: 0px;">
                <p>Please answer the following questions for ALL of your forestland and manufacturing operations/mills/log yards for your organization whether they fall under the scope of your SFI certificate or not:</p>


                <!-- label for primary -->
                <label ng-if="!isSfiSecondary()">My company/organization:</label>
                <!-- -/- -->

                <div class="form-group" style="overflow:-moz-hidden-unscrollable;padding-bottom: 0px;">

                    <!-- Owns and/or manages forest land -->
                    <div class="form-group" style="overflow:-moz-hidden-unscrollable;padding-bottom: 0px;" ng-if="!isSfiSecondary()">


                        <input type="checkbox" name="ownsMngLands" class="icheck" icheck ng-model="cs1.ownsMngLands"/>
                        <label class="checkboxLabel"
                               tooltip data-placement="right" data-container="body"
                               data-title='A forested area is classified as "forestland" if it is at least one acre in size and contains ten percent tree cover.'>
                            Owns and/or manages forest lands in:</label>

                        <!-- V2 -->
                        <div class="form-group" style="overflow:-moz-hidden-unscrollable;padding-bottom: 0px;" ng-show="cs1.ownsMngLands">

                            <div class="form-group" style="overflow:-moz-hidden-unscrollable;padding-bottom: 0px;">
                                <input type="checkbox" name="ownsMngLandsInUSA" ng-model="cs1.ownsMngLandsInUSA" class="icheck" icheck />
                                <label class="checkboxLabel">United States</label>
                            </div>

                            <div class="form-group" style="overflow:-moz-hidden-unscrollable;padding-bottom: 0px;">
                                <input type="checkbox" name="ownsMngLandsInCA" ng-model="cs1.ownsMngLandsInCA"  class="icheck" icheck />
                                <label class="checkboxLabel">Canada</label>
                            </div>

                            <div class="form-group" style="overflow:-moz-hidden-unscrollable;padding-bottom: 0px;">
                                <input type="checkbox" name="ownsMngLandsInOther" class="icheck" ng-model="cs1.ownsMngLandsInOther" icheck>
                                <label class="checkboxLabel">Other </label>

                                <div class="form-group" style="overflow:-moz-hidden-unscrollable;padding-bottom: 0px;" ng-init="other1 = 0">

                                    <div class="padded" ng-show="cs1.ownsMngLandsInOther" ng-class="{'has-error has-feedback':  cs1.ownsMngLandsInOther && !cs1.ownsMngLandsOtherCountries.length}">

                                        <select class="form-control" ng-model="other1" ng-change="other1 = addOtherCountry(cs1.ownsMngLandsOtherCountries, other1)">
                                            <option value="0">Select country</option>
                                            <option ng-repeat="country in otherCountries" value="{{ country.id }}">{{country.country}}</option>
                                        </select>

                                        <div ng-repeat="country in cs1.ownsMngLandsOtherCountries" id="selectedItem">{{country.country}}
                                            <button ng-click="cs1.ownsMngLandsOtherCountries = delCountry(cs1.ownsMngLandsOtherCountries, country.id)" type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Has primary manufacturing operations/mills/log yards located in -->
                    <div class="form-group" style="overflow:-moz-hidden-unscrollable;padding-bottom: 0px;" ng-if="!isSfiSecondary()">
                        <input type="checkbox" name="hasPrimaryOperMillsYards"
                               ng-model="cs1.hasPrimaryOperMillsYards" class="icheck" icheck />
                        <label class="checkboxLabel">Has primary manufacturing operations/mills/log yards located in</label>

                        <!-- V2 -->
                        <div class="form-group" style="overflow:-moz-hidden-unscrollable;padding-bottom: 0px;" ng-show="cs1.hasPrimaryOperMillsYards">

                            <div class="form-group" style="overflow:-moz-hidden-unscrollable;padding-bottom: 0px;">
                                <input type="checkbox" name="hasPrimaryOperMillsYardsInUSA" ng-model="cs1.hasPrimaryOperMillsYardsInUSA" class="icheck" icheck />
                                <label class="checkboxLabel">United States</label>
                            </div>

                            <div class="form-group" style="overflow:-moz-hidden-unscrollable;padding-bottom: 0px;">
                                <input type="checkbox" name="hasPrimaryOperMillsYardsInCA" ng-model="cs1.hasPrimaryOperMillsYardsInCA"  class="icheck" icheck />
                                <label class="checkboxLabel">Canada</label>
                            </div>

                            <div class="form-group" style="overflow:-moz-hidden-unscrollable;padding-bottom: 0px;">
                                <input type="checkbox" name="hasPrimaryOperMillsYardsInOther" class="icheck" ng-model="cs1.hasPrimaryOperMillsYardsInOther" icheck>
                                <label class="checkboxLabel">Other </label>

                                <div class="form-group" style="overflow:-moz-hidden-unscrollable;padding-bottom: 0px;" ng-init="other2 = 0">

                                    <div class="padded" ng-show="cs1.hasPrimaryOperMillsYardsInOther" ng-class="{'has-error has-feedback': cs1.hasPrimaryOperMillsYardsInOther && !cs1.primaryOperMillsYardsOtherCountries.length}">

                                        <select class="form-control" ng-model="other2" ng-change="other2 = addOtherCountry(cs1.primaryOperMillsYardsOtherCountries, other2)">
                                            <option value="0">Select country</option>
                                            <option ng-repeat="country in otherCountries" value="{{ country.id }}">{{country.country}}</option>
                                        </select>

                                        <div ng-repeat="country in cs1.primaryOperMillsYardsOtherCountries" id="selectedItem">{{ country.country }}
                                            <button ng-click="cs1.primaryOperMillsYardsOtherCountries = delCountry(cs1.primaryOperMillsYardsOtherCountries, country.id)" type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- -/- -->
                    </div>


                    <!-- Has secondary manufacturing facilities -->
                    <div class="form-group" style="overflow:-moz-hidden-unscrollable;padding-bottom: 0px;">

                        <!-- label for primary -->
                        <div ng-hide="isSfiSecondary()">

                            <input class="icheck"
                                   type="checkbox"
                                   name="hasSecondaryOperMillsYards"
                                   ng-model="cs1.hasSecondaryOperMillsYards"  icheck />

                            <label class="checkboxLabel">Has secondary manufacturing facilities located in:</label>

                        </div>
                        <!-- -/- -->

                         <!-- lable for secondary -->
                        <label ng-show="isSfiSecondary()">My company/organization has secondary manufacturing facilities located in:</label>
                        <!-- -/- -->

                        <div class="form-group" style="overflow:-moz-hidden-unscrollable;padding-bottom: 0px;" ng-show="cs1.hasSecondaryOperMillsYards">

                            <div class="form-group" style="overflow:-moz-hidden-unscrollable;padding-bottom: 0px;">
                                <input type="checkbox" name="hasSecondaryOperMillsYardsInUSA"
                                       ng-model="cs1.hasSecondaryOperMillsYardsInUSA" class="icheck" icheck />
                                <label class="checkboxLabel">United States</label>
                            </div>

                            <div class="form-group" style="overflow:-moz-hidden-unscrollable;padding-bottom: 0px;">
                                <input type="checkbox" name="hasSecondaryOperMillsYardsInCA"
                                       ng-model="cs1.hasSecondaryOperMillsYardsInCA"  class="icheck" icheck />
                                <label class="checkboxLabel">Canada</label>
                            </div>

                            <div class="form-group" style="overflow:-moz-hidden-unscrollable;padding-bottom: 0px;">
                                <input type="checkbox" name="hasSecondaryOperMillsYardsInOther" class="icheck"
                                       ng-model="cs1.hasSecondaryOperMillsYardsInOther" icheck>
                                <label class="checkboxLabel">Other </label>



                                <div class="form-group" style="overflow:-moz-hidden-unscrollable;padding-bottom: 0px;" ng-init="other3 = 0">

                                    <div class="padded" ng-show="cs1.hasSecondaryOperMillsYardsInOther" ng-class="{'has-error has-feedback':  cs1.hasSecondaryOperMillsYardsInOther && !cs1.hasSecondaryOperMillsYardsInOther.length}">

                                        <select class="form-control" ng-model="other3" ng-change="other2 = addOtherCountry(cs1.secondaryOperMillsYardsOtherCountries, other3)">
                                            <option value="0">Select country</option>
                                            <option ng-repeat="country in otherCountries" value="{{ country.id }}">{{country.country}}</option>
                                        </select>

                                        <div ng-repeat="country in cs1.secondaryOperMillsYardsOtherCountries" id="selectedItem">{{ country.country }}
                                            <button ng-click="cs1.secondaryOperMillsYardsOtherCountries = delCountry(cs1.secondaryOperMillsYardsOtherCountries, country.id)" type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Countries your organization sells into -->
                    <div class="form-group" style="overflow:-moz-hidden-unscrollable;padding-bottom: 0px;" ng-init="other4 = 0"
                         ng-class="{'has-error has-feedback':  !cs1.sellsCountries}">

                        <label class="checkboxLabel"
                               tooltip data-placement="right" data-container="body"
                               data-title='Product sold includes raw and finished products (e.g. logs, chips, pulp, or finished products). This market information will help SFI identify organizations with a shared country interest whether to positively influence procurement policies and/or organize promotion of SFI products shipped outside the U.S.A. or Canada, e.g. to be featured in the 2020 Tokyo Games or the World Expo in Milan.'
                                >Countries your organization sells into </label>

                        <select class="form-control"
                                ng-model="other4"
                                ng-change="other4 = addSellCountry(cs1.sellsCountries, other4)"
                                tooltip data-placement="right" data-container="body"
                                data-title="Product sold includes raw and finished products (e.g. logs, chips, pulp, or finished products)">
                            <option value="0">Select All that apply</option>
                            <option ng-repeat="country in sellCountries" value="{{country.id}}">{{country.country}}</option>
                        </select>


                        <div id="selectedItem" ng-repeat="country in cs1.sellsCountries">{{ country.country }}
                            <button ng-click="cs1.sellsCountries = delCountry(cs1.sellsCountries, country.id)" type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                        </div>
                    </div>

                </div>
            </div>


        </div>

    <!-- RIGHT SECTION -->
    <div class="col-sm-offset-1 col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">About the Form</h3>
            </div>
            <div class="panel-body">
                Thank you to all participants who submitted data last year! This year we are sharing key summary data points collected trhough this survey. Use the 'How we used your data last year' hyperlink to see additional data summaries.
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Quick Tips</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>Use section titles to navigate through the survey</li>
                    <li>Use the 'Save' button to save your data</li>
                    <li>Use the 'Submit' button to submit your survey</li>
                </ul>
            </div>
        </div>
        <div>
            <img src="/assets/images/SurveyImage_GlobalReach_v2.jpg" style="width: 330px;">
            <div class="pading-botoms"></div>
        </div>
    </div>
    <!-- -/- -->

    <!-- FOOTER -->
    <div class="col-sm-6 col-sm-offset-4">
        <button type="button" class="btn btn-success" ng-click="saveForm()">Save</button>
        <button type="button" class="btn btn-success" ng-click="saveForm('true')">Save and Go to Step 2</button>
    </div>
    <!-- -/- -->

    </form>
    {{setForms()}}

</div>
