<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #E4E4E4">
                <p style="font-size: larger">
                    Why are we asking? Please share your story if you have an interesting or compelling case example of
                    how your organization improved management and best practices related to the new standard.
                </p>
            </div>
            <div class="modal-body">

                <h5>Mapping</h5>

                <div class="form-group" style="padding-left: 20px">
                    <div>
                        Please Describe<br/>
                        <textarea rows="6" cols="70" ng-model="story.description"></textarea>
                    </div>
                    <form name="someForm">
                    <div>
                        <p>Upload File</p>

                        <div class="input-group input-large" style="width: 510px;"
                             ng-file-select ng-model="story.myFiles"
                             ng-file-change="fileSelected(files)"
                             ng-multiple="false"
                             ng-accept="'image/*,application/pdf'" >
                            <div class="form-control uneditable-input input-fixed input-medium">
                                <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                <span class="fileinput-filename">{{ story.originalDocumentName }}</span>
                            </div>

                            <span class="input-group-addon btn default btn-file">
                                <span ng-hide="story.originalDocumentName" class="fileinput-new">Select file </span>
                                <span ng-show="story.originalDocumentName" class="fileinput-exists">Change </span>
                            </span>
                            <a ng-click="story.originalDocumentName = null; story.uniqueDocumentName = null;" ng-show="story.originalDocumentName" href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput">Remove </a>
                        </div>

                        Files can be one of the following formats: .pdf, .doc, .xls)
                    </div>
                    </form>
                    <form name="storyForm">
                    <div style="padding-top: 20px;">
                        <p>
                            Who is the communications lead if SFI has questions on this story?
                        </p>

                        <div>

                                <div class="row">
                                    <div class="col-md-3" ng-class="{'has-error': storyForm.firstName.$invalid}">
                                        <p>First Name</p>
                                        <input type="text"  name="firstName" required class="form-control" ng-model="story.firstName">
                                    </div>
                                    <div class="col-md-3" ng-class="{'has-error' : storyForm.lastName.$invalid}">
                                        <p>Last Name</p>
                                        <input type="text" name="lastName" required class="form-control" ng-model="story.lastName">
                                    </div>
                                    <div class="col-md-5" ng-class="{'has-error':  storyForm.email.$invalid}">
                                        <p>Email</p>
                                        <input type="email" name="email" class="form-control" ng-model="story.email">
                                    </div>
                                </div>

                        </div>
                        <br>
                    </div>
                    <div style="padding-top: 20px;">
                        <p>Choose what SFI can do with your story</p>

                        <div>
                            <label>
                                <input icheck type="radio" ng-value=true name="shareOrgName" ng-model="story.shareOrgName" ng-checked="story.shareOrgName == true"/> Share – with our organization’s name
                            </label>
                            <br>
                            <label>
                                <input icheck type="radio" ng-value=true name="shareOrgName"  ng-model="story.shareNoUse" ng-checked="story.shareNoUse == true"/> Share – don't use our organization’s name
                            </label>
                            <br>
                            <label>
                                <input icheck type="radio" ng-value=true name="shareOrgName"  ng-model="story.shareUseAggregate" ng-checked="story.shareUseAggregate == true"/> Only use in aggregate
                            </label>
                        </div>
                    </div>
                    </form>
                    <br>

                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn" ng-click="cancelHistory()">Cancel</button>
                        <button type="button" class="btn red" ng-click="saveHistory()">Add Story</button>
                    </div>

                </div>


            </div>
        </div>
        <!--Modal Body End-->
    </div>
</div>