<p><b>
    <span class="underline" tooltip data-placement="top" data-container="body" data-title="The SFI Certified Sourcing label and claim tells buyers and consumers that fiber in a product comes from a company that is certified to the SFI 2015-2019 Fiber Sourcing Standard. This could also include some fiber from certified forests, or include some recycled content. All fiber must emanate from non-controversial sources. Definition of certified sourcing can be found in SFI Definitions (Section 13, SFI 20152019 Standards and Rules)."> In your product segment, how has the demand for SFI Certified Sourcing changed during the last 12 months?</span>
</b></p>

<div class="padding-left-50 fm-stl" style="margin-bottom: 20px;" ng-show="printingWritingPaper()">
    <p><b>Printing writing paper</b></p>

    <p style="margin-bottom: 0;">
        <label class="form-inline">

            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_1" value="1" icheck ng-model="cs8.demandSfiSourcing_1">
            Demand has increased
        </label>
    </p>
    <p style="margin-bottom: 0;">
        <label class="form-inline">

            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_1" value="2" icheck ng-model="cs8.demandSfiSourcing_1">
            Demand has remained the same
        </label>
    </p>
    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_1" value="3" icheck ng-model="cs8.demandSfiSourcing_1">
            Demand has decreased
        </label>
    </p>
    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_1" value="4" icheck ng-model="cs8.demandSfiSourcing_1">
            Don't know about the demand of SFI certified fiber sourcing
        </label>
    </p>
</div>

<div class="padding-left-50 fm-stl" style="margin-bottom: 20px;" ng-show="packaging()">
    <p><b>Packaging</b></p>

    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_2" value="1" icheck ng-model="cs8.demandSfiSourcing_2">
            Demand has increased
        </label>
    </p>
    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_2" value="2" icheck ng-model="cs8.demandSfiSourcing_2">
            Demand has remained the same
        </label>
    </p>
    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_2" value="3" icheck ng-model="cs8.demandSfiSourcing_2">
            Demand has decreased
        </label>
    </p>
    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_2" value="4" icheck ng-model="cs8.demandSfiSourcing_2">
            Don't know about the demand of SFI certified fiber sourcing
        </label>
    </p>
</div>

<div class="padding-left-50 fm-stl" style="margin-bottom: 20px;" ng-show="bioenergy()">
    <p><b>Bioenergy</b></p>

    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_3" value="1" icheck ng-model="cs8.demandSfiSourcing_3">
            Demand has increased
        </label>
    </p>
    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_3" value="2" icheck ng-model="cs8.demandSfiSourcing_3">
            Demand has remained the same
        </label>
    </p>
    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_3" value="3" icheck ng-model="cs8.demandSfiSourcing_3">
            Demand has decreased
        </label>
    </p>
    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_3" value="4" icheck ng-model="cs8.demandSfiSourcing_3">
            Don't know about the demand of SFI certified fiber sourcing
        </label>
    </p>
</div>

<div class="padding-left-50 fm-stl" style="margin-bottom: 20px;" ng-show="pulp()">
    <p><b>Pulp</b></p>

    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_4" value="1" icheck ng-model="cs8.demandSfiSourcing_4">
            Demand has increased
        </label>
    </p>
    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_4" value="2" icheck ng-model="cs8.demandSfiSourcing_4">
            Demand has remained the same
        </label>
    </p>
    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_4" value="3" icheck ng-model="cs8.demandSfiSourcing_4">
            Demand has decreased
        </label>
    </p>
    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_4" value="4" icheck ng-model="cs8.demandSfiSourcing_4">
            Don't know about the demand of SFI certified fiber sourcing
        </label>
    </p>
</div>

<div class="padding-left-50 fm-stl" style="margin-bottom: 20px;" ng-show="land()">
    <p><b>Land Only</b></p>

    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_5" value="1" icheck ng-model="cs8.demandSfiSourcing_5">
            Demand has increased
        </label>
    </p>
    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_5" value="2" icheck ng-model="cs8.demandSfiSourcing_5">
            Demand has remained the same
        </label>
    </p>
    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_5" value="3" icheck ng-model="cs8.demandSfiSourcing_5">
            Demand has decreased
        </label>
    </p>
    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_5" value="4" icheck ng-model="cs8.demandSfiSourcing_5">
            Don't know about the demand of SFI certified fiber sourcing
        </label>
    </p>
</div>

<div class="padding-left-50 fm-stl" style="margin-bottom: 20px;" ng-show="solidWood()">
    <p><b>Solid wood products (includes logs)</b></p>

    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_6" value="1" icheck ng-model="cs8.demandSfiSourcing_6">
            Demand has increased
        </label>
    </p>
    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_6" value="2" icheck ng-model="cs8.demandSfiSourcing_6">
            Demand has remained the same
        </label>
    </p>
    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_6" value="3" icheck ng-model="cs8.demandSfiSourcing_6">
            Demand has decreased
        </label>
    </p>
    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_6" value="4" icheck ng-model="cs8.demandSfiSourcing_6">
            Don't know about the demand of SFI certified fiber sourcing
        </label>
    </p>
</div>

<div class="padding-left-50 fm-stl" style="margin-bottom: 20px;" ng-show="paperMerchant()">
    <p><b>Paper Broker/Merchant</b></p>

    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_7" value="1" icheck ng-model="cs8.demandSfiSourcing_7">
            Demand has increased
        </label>
    </p>
    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_7" value="2" icheck ng-model="cs8.demandSfiSourcing_7">
            Demand has remained the same
        </label>
    </p>
    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_7" value="3" icheck ng-model="cs8.demandSfiSourcing_7">
            Demand has decreased
        </label>
    </p>
    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_7" value="4" icheck ng-model="cs8.demandSfiSourcing_7">
            Don't know about the demand of SFI certified fiber sourcing
        </label>
    </p>
</div>

<div class="padding-left-50 fm-stl" style="margin-bottom: 20px;" ng-show="paperBoard()">
    <p><b>Paperboard Converter</b></p>

    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_8" value="1" icheck ng-model="cs8.demandSfiSourcing_8">
            Demand has increased
        </label>
    </p>
    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_8" value="2" icheck ng-model="cs8.demandSfiSourcing_8">
            Demand has remained the same
        </label>
    </p>
    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_8" value="3" icheck ng-model="cs8.demandSfiSourcing_8">
            Demand has decreased
        </label>
    </p>
    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_8" value="4" icheck ng-model="cs8.demandSfiSourcing_8">
            Don't know about the demand of SFI certified fiber sourcing
        </label>
    </p>
</div>

<div class="padding-left-50 fm-stl" style="margin-bottom: 20px;" ng-show="furniture()">
    <p><b>Furniture</b></p>

    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_9" value="1" icheck ng-model="cs8.demandSfiSourcing_9">
            Demand has increased
        </label>
    </p>
    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_9" value="2" icheck ng-model="cs8.demandSfiSourcing_9">
            Demand has remained the same
        </label>
    </p>
    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_9" value="3" icheck ng-model="cs8.demandSfiSourcing_9">
            Demand has decreased
        </label>
    </p>
    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_9" value="4" icheck ng-model="cs8.demandSfiSourcing_9">
            Don't know about the demand of SFI certified fiber sourcing
        </label>
    </p>
</div>

<div class="padding-left-50 fm-stl" style="margin-bottom: 20px;" ng-show="towelTissue()">
    <p><b>Towel/tissue</b></p>

    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_10" value="1" icheck ng-model="cs8.demandSfiSourcing_10">
            Demand has increased
        </label>
    </p>
    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_10" value="2" icheck ng-model="cs8.demandSfiSourcing_10">
            Demand has remained the same
        </label>
    </p>
    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_10" value="3" icheck ng-model="cs8.demandSfiSourcing_10">
            Demand has decreased
        </label>
    </p>
    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_10" value="4" icheck ng-model="cs8.demandSfiSourcing_10">
            Don't know about the demand of SFI certified fiber sourcing
        </label>
    </p>
</div>

<div class="padding-left-50 fm-stl" style="margin-bottom: 20px;" ng-show="printer()">
    <p><b>Printer</b></p>

    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_11" value="1" icheck ng-model="cs8.demandSfiSourcing_11">
            Demand has increased
        </label>
    </p>
    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_11" value="2" icheck ng-model="cs8.demandSfiSourcing_11">
            Demand has remained the same
        </label>
    </p>
    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_11" value="3" icheck ng-model="cs8.demandSfiSourcing_11">
            Demand has decreased
        </label>
    </p>
    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_11" value="4" icheck ng-model="cs8.demandSfiSourcing_11">
            Don't know about the demand of SFI certified fiber sourcing
        </label>
    </p>
</div>

<div class="padding-left-50 fm-stl" style="margin-bottom: 20px;" ng-show="woodMerchant()">
    <p><b>Wood Broker/paperMerchant</b></p>

    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_12" value="1" icheck ng-model="cs8.demandSfiSourcing_12">
            Demand has increased
        </label>
    </p>
    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_12" value="2" icheck ng-model="cs8.demandSfiSourcing_12">
            Demand has remained the same
        </label>
    </p>
    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_12" value="3" icheck ng-model="cs8.demandSfiSourcing_12">
            Demand has decreased
        </label>
    </p>
    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_12" value="4" icheck ng-model="cs8.demandSfiSourcing_12">
            Don't know about the demand of SFI certified fiber sourcing
        </label>
    </p>
</div>

<div class="padding-left-50 fm-stl" style="margin-bottom: 20px;" ng-show="other()">
    <p><b>Other</b></p>

    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_13" value="1" icheck ng-model="cs8.demandSfiSourcing_13">
            Demand has increased
        </label>
    </p>
    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_13" value="2" icheck ng-model="cs8.demandSfiSourcing_13">
            Demand has remained the same
        </label>
    </p>
    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_13" value="3" icheck ng-model="cs8.demandSfiSourcing_13">
            Demand has decreased
        </label>
    </p>
    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input readonly disabled type="radio" icheck  name="demandSfiSourcing_13" value="4" icheck ng-model="cs8.demandSfiSourcing_13">
            Don't know about the demand of SFI certified fiber sourcing
        </label>
    </p>
</div>

