<p><b>
    <span tooltip title="Although SFI's label approval request database stores final drafts of artwork which include the SFI label, this may not reflect what actually went to print. Your response will help us understand what proportion of label approvals actually went to market."> During the last 12 months, of the requests you submitted on the SFI label approval website, please estimate the percentage of those requests that actually went to market.</span>
</b></p>

<div class="pading-botoms padding-left-50" ng-show="printingWritingPaper()">
    <p><b>Printing writing paper</b></p>

    <select readonly disabled class="form-control"  style="width: 200px;"  ng-model="cs8.requestWentMarketPerc1">
        <option ng-selected="!cs8.requestWentMarketPerc1">Select</option>
        <option value="1">100%</option>
        <option value="2">95%– 99%</option>
        <option value="3">80% – 94%</option>
        <option value="4">60% – 79%</option>
        <option value="5">40% – 59%</option>
        <option value="6">20% – 39%</option>
        <option value="7">10% – 19%</option>
        <option value="8"><  10 %</option>
    </select>

</div>


<div class="pading-botoms padding-left-50" ng-show="packaging()">
    <p><b>Packaging</b></p>

    <select readonly disabled class="form-control"  style="width: 200px;"  ng-model="cs8.requestWentMarketPerc2">
        <option ng-selected="!cs8.requestWentMarketPerc2">Select</option>
        <option value="1">100%</option>
        <option value="2">95%– 99%</option>
        <option value="3">80% – 94%</option>
        <option value="4">60% – 79%</option>
        <option value="5">40% – 59%</option>
        <option value="6">20% – 39%</option>
        <option value="7">10% – 19%</option>
        <option value="8"><  10 %</option>
    </select>

</div>

<div class="pading-botoms padding-left-50" ng-show="bioenergy()">
    <p><b>Bioenergy</b></p>

    <select readonly disabled class="form-control"  style="width: 200px;"  ng-model="cs8.requestWentMarketPerc3">
        <option ng-selected="!cs8.requestWentMarketPerc3">Select</option>
        <option value="1">100%</option>
        <option value="2">95%– 99%</option>
        <option value="3">80% – 94%</option>
        <option value="4">60% – 79%</option>
        <option value="5">40% – 59%</option>
        <option value="6">20% – 39%</option>
        <option value="7">10% – 19%</option>
        <option value="8"><  10 %</option>
    </select>

</div>

<div class="pading-botoms padding-left-50" ng-show="pulp()">
    <p><b>Pulp</b></p>
    <select readonly disabled class="form-control"  style="width: 200px;"  ng-model="cs8.requestWentMarketPerc4">
        <option ng-selected="!cs8.requestWentMarketPerc4">Select</option>
        <option value="1">100%</option>
        <option value="2">95%– 99%</option>
        <option value="3">80% – 94%</option>
        <option value="4">60% – 79%</option>
        <option value="5">40% – 59%</option>
        <option value="6">20% – 39%</option>
        <option value="7">10% – 19%</option>
        <option value="8"><  10 %</option>
    </select>

</div>

<div class="pading-botoms padding-left-50" ng-show="land()">
    <p><b>Land Only</b></p>
    <select readonly disabled class="form-control"  style="width: 200px;"  ng-model="cs8.requestWentMarketPerc5">
        <option ng-selected="!cs8.requestWentMarketPerc5">Select</option>
        <option value="1">100%</option>
        <option value="2">95%– 99%</option>
        <option value="3">80% – 94%</option>
        <option value="4">60% – 79%</option>
        <option value="5">40% – 59%</option>
        <option value="6">20% – 39%</option>
        <option value="7">10% – 19%</option>
        <option value="8"><  10 %</option>
    </select>

</div>

<div class="pading-botoms padding-left-50" ng-show="solidWood()">
    <p><b>Solid wood products (includes logs)</b></p>
    <select readonly disabled class="form-control"  style="width: 200px;"  ng-model="cs8.requestWentMarketPerc6">
        <option ng-selected="!cs8.requestWentMarketPerc6">Select</option>
        <option value="1">100%</option>
        <option value="2">95%– 99%</option>
        <option value="3">80% – 94%</option>
        <option value="4">60% – 79%</option>
        <option value="5">40% – 59%</option>
        <option value="6">20% – 39%</option>
        <option value="7">10% – 19%</option>
        <option value="8"><  10 %</option>
    </select>

</div>

<div class="pading-botoms padding-left-50" ng-show="paperMerchant()">
    <p><b>Paper Broker/Merchant</b></p>
    <select readonly disabled class="form-control"  style="width: 200px;"  ng-model="cs8.requestWentMarketPerc7">
        <option ng-selected="!cs8.requestWentMarketPerc7">Select</option>
        <option value="1">100%</option>
        <option value="2">95%– 99%</option>
        <option value="3">80% – 94%</option>
        <option value="4">60% – 79%</option>
        <option value="5">40% – 59%</option>
        <option value="6">20% – 39%</option>
        <option value="7">10% – 19%</option>
        <option value="8"><  10 %</option>
    </select>

</div>

<div class="pading-botoms padding-left-50" ng-show="paperBoard()">
    <p><b>Paperboard Converter</b></p>

    <select readonly disabled class="form-control"  style="width: 200px;"  ng-model="cs8.requestWentMarketPerc8">
        <option ng-selected="!cs8.requestWentMarketPerc8">Select</option>
        <option value="1">100%</option>
        <option value="2">95%– 99%</option>
        <option value="3">80% – 94%</option>
        <option value="4">60% – 79%</option>
        <option value="5">40% – 59%</option>
        <option value="6">20% – 39%</option>
        <option value="7">10% – 19%</option>
        <option value="8"><  10 %</option>
    </select>

</div>

<div class="pading-botoms padding-left-50" ng-show="furniture()">
    <p><b>Furniture</b></p>
    <select readonly disabled class="form-control"  style="width: 200px;"  ng-model="cs8.requestWentMarketPerc9">
        <option ng-selected="!cs8.requestWentMarketPerc9">Select</option>
        <option value="1">100%</option>
        <option value="2">95%– 99%</option>
        <option value="3">80% – 94%</option>
        <option value="4">60% – 79%</option>
        <option value="5">40% – 59%</option>
        <option value="6">20% – 39%</option>
        <option value="7">10% – 19%</option>
        <option value="8"><  10 %</option>
    </select>

</div>

<div class="pading-botoms padding-left-50" ng-show="towelTissue()">
    <p><b>Towel/tissue</b></p>
    <select readonly disabled class="form-control"  style="width: 200px;"  ng-model="cs8.requestWentMarketPerc10">
        <option ng-selected="!cs8.requestWentMarketPerc10">Select</option>
        <option value="1">100%</option>
        <option value="2">95%– 99%</option>
        <option value="3">80% – 94%</option>
        <option value="4">60% – 79%</option>
        <option value="5">40% – 59%</option>
        <option value="6">20% – 39%</option>
        <option value="7">10% – 19%</option>
        <option value="8"><  10 %</option>
    </select>

</div>


<div class="pading-botoms padding-left-50" ng-show="printer()">
    <p><b>Printer</b></p>
    <select readonly disabled class="form-control"  style="width: 200px;"  ng-model="cs8.requestWentMarketPerc11">
        <option ng-selected="!cs8.requestWentMarketPerc11">Select</option>
        <option value="1">100%</option>
        <option value="2">95%– 99%</option>
        <option value="3">80% – 94%</option>
        <option value="4">60% – 79%</option>
        <option value="5">40% – 59%</option>
        <option value="6">20% – 39%</option>
        <option value="7">10% – 19%</option>
        <option value="8"><  10 %</option>
    </select>

</div>


<div class="pading-botoms padding-left-50" ng-show="woodMerchant()">
    <p><b>Wood Broker/paperMerchant</b></p>
    <select readonly disabled class="form-control"  style="width: 200px;"  ng-model="cs8.requestWentMarketPerc12">
        <option ng-selected="!cs8.requestWentMarketPerc12">Select</option>
        <option value="1">100%</option>
        <option value="2">95%– 99%</option>
        <option value="3">80% – 94%</option>
        <option value="4">60% – 79%</option>
        <option value="5">40% – 59%</option>
        <option value="6">20% – 39%</option>
        <option value="7">10% – 19%</option>
        <option value="8"><  10 %</option>
    </select>

</div>

<div class="pading-botoms padding-left-50" ng-show="other()">
    <p><b>Other</b></p>
    <select readonly disabled class="form-control"  style="width: 200px;"  ng-model="cs8.requestWentMarketPerc13">
        <option ng-selected="!cs8.requestWentMarketPerc13">Select</option>
        <option value="1">100%</option>
        <option value="2">95%– 99%</option>
        <option value="3">80% – 94%</option>
        <option value="4">60% – 79%</option>
        <option value="5">40% – 59%</option>
        <option value="6">20% – 39%</option>
        <option value="7">10% – 19%</option>
        <option value="8"><  10 %</option>
    </select>

</div>
