<p><b>SFI knows that the SFI logo is recognized and understood by consumers more than any other forest certification logo and requests for the use of the SFI label are at an all time high. Do you plan to increase your use of the SFI label in the next 12 months? (Please explain the rationale for your answer.)</b></p>

<div class="col-lg-12"  ng-show="printingWritingPaper()" style="margin-bottom: 20px;">
    <div class="form-group hasRadioBoxes">
        <label>Printing writing paper</label>
        <input readonly disabled type="radio" icheck  name="somecheck1" value="1" icheck ng-model="cs8.planSfiLabelUseIncrease1">
        <label class="checkboxLabel">Yes</label>
        &nbsp;&nbsp;
        <input readonly disabled type="radio" icheck  name="somecheck1" value="0" icheck ng-model="cs8.planSfiLabelUseIncrease1">
        <label class="checkboxLabel">No</label>
        <label>Comments</label>
        <textarea readonly disabled class="form-control" name="comments1"
                  ng-model="cs8.planSfiLabelUseComment1"
                  ng-maxlength="4000" max-word-count="650" customerror
                  tooltip data-placement="right" data-container="body"
                  data-title="Provide a short company description."></textarea>
    </div>
</div>

<div class="col-lg-12"  ng-show="packaging()" style="margin-bottom: 20px;">
    <div class="form-group hasRadioBoxes">
        <label>Packaging</label>
        <input readonly disabled type="radio" icheck  name="somecheck2" value="1" icheck ng-model="cs8.planSfiLabelUseIncrease2">
        <label class="checkboxLabel">Yes</label>
        &nbsp;&nbsp;
        <input readonly disabled type="radio" icheck  name="somecheck2" value="0" icheck ng-model="cs8.planSfiLabelUseIncrease2">
        <label class="checkboxLabel">No</label>
        <label>Comments</label>
        <textarea readonly disabled class="form-control" name="comments2"
                  ng-model="cs8.planSfiLabelUseComment2"
                  ng-maxlength="4000" max-word-count="650" customerror
                  tooltip data-placement="right" data-container="body"
                  data-title="Provide a short company description."></textarea>
    </div>
</div>

<div class="col-lg-12"  ng-show="bioenergy()" style="margin-bottom: 20px;">
    <div class="form-group hasRadioBoxes">
        <label>Bioenergy</label>
        <input readonly disabled type="radio" icheck  name="somecheck3" value="1" icheck ng-model="cs8.planSfiLabelUseIncrease3">
        <label class="checkboxLabel">Yes</label>
        &nbsp;&nbsp;
        <input readonly disabled type="radio" icheck  name="somecheck3" value="0" icheck ng-model="cs8.planSfiLabelUseIncrease3">
        <label class="checkboxLabel">No</label>
        <label>Comments</label>
        <textarea readonly disabled class="form-control" name="comments3"
                  ng-model="cs8.planSfiLabelUseComment3"
                  ng-maxlength="4000" max-word-count="650" customerror
                  tooltip data-placement="right" data-container="body"
                  data-title="Provide a short company description."></textarea>
    </div>
</div>

<div class="col-lg-12"  ng-show="pulp()" style="margin-bottom: 20px;">
    <div class="form-group hasRadioBoxes">
        <label>Pulp</label>
        <input readonly disabled type="radio" icheck  name="somecheck4" value="1" icheck ng-model="cs8.planSfiLabelUseIncrease4">
        <label class="checkboxLabel">Yes</label>
        &nbsp;&nbsp;
        <input readonly disabled type="radio" icheck  name="somecheck4" value="0" icheck ng-model="cs8.planSfiLabelUseIncrease4">
        <label class="checkboxLabel">No</label>
        <label>Comments</label>
        <textarea readonly disabled class="form-control" name="comments4"
                  ng-model="cs8.planSfiLabelUseComment4"
                  ng-maxlength="4000" max-word-count="650" customerror
                  tooltip data-placement="right" data-container="body"
                  data-title="Provide a short company description."></textarea>
    </div>
</div>

<div class="col-lg-12"  ng-show="land()" style="margin-bottom: 20px;">
    <div class="form-group hasRadioBoxes">
        <label>Land Only</label>
        <input readonly disabled type="radio" icheck  name="somecheck5" value="1" icheck ng-model="cs8.planSfiLabelUseIncrease5">
        <label class="checkboxLabel">Yes</label>
        &nbsp;&nbsp;
        <input readonly disabled type="radio" icheck  name="somecheck5" value="0" icheck ng-model="cs8.planSfiLabelUseIncrease5">
        <label class="checkboxLabel">No</label>
        <label>Comments</label>
        <textarea readonly disabled class="form-control" name="comments"
                  ng-model="cs8.planSfiLabelUseComment5"
                  ng-maxlength="4000" max-word-count="650" customerror
                  tooltip data-placement="right" data-container="body"
                  data-title="Provide a short company description."></textarea>
    </div>
</div>

<div class="col-lg-12"  ng-show="solidWood()" style="margin-bottom: 20px;">
    <div class="form-group hasRadioBoxes">
        <label>Solid wood products (includes logs)</label>
        <input readonly disabled type="radio" icheck  name="somecheck6" value="1" icheck ng-model="cs8.planSfiLabelUseIncrease6">
        <label class="checkboxLabel">Yes</label>
        &nbsp;&nbsp;
        <input readonly disabled type="radio" icheck  name="somecheck6" value="0" icheck ng-model="cs8.planSfiLabelUseIncrease6">
        <label class="checkboxLabel">No</label>
        <label>Comments</label>
        <textarea readonly disabled class="form-control" name="comments6"
                  ng-model="cs8.planSfiLabelUseComment6"
                  ng-maxlength="4000" max-word-count="650" customerror
                  tooltip data-placement="right" data-container="body"
                  data-title="Provide a short company description."></textarea>
    </div>
</div>

<div class="col-lg-12"  ng-show="paperMerchant()" style="margin-bottom: 20px;">
    <div class="form-group hasRadioBoxes">
        <label>Paper Broker/Merchant</label>
        <input readonly disabled type="radio" icheck  name="somecheck7" value="1" icheck ng-model="cs8.planSfiLabelUseIncrease7">
        <label class="checkboxLabel">Yes</label>
        &nbsp;&nbsp;
        <input readonly disabled type="radio" icheck  name="somecheck7" value="0" icheck ng-model="cs8.planSfiLabelUseIncrease7">
        <label class="checkboxLabel">No</label>
        <label>Comments</label>
        <textarea readonly disabled class="form-control" name="comments7"
                  ng-model="cs8.planSfiLabelUseComment7"
                  ng-maxlength="4000" max-word-count="650" customerror
                  tooltip data-placement="right" data-container="body"
                  data-title="Provide a short company description."></textarea>
    </div>
</div>

<div class="col-lg-12"  ng-show="paperBoard()" style="margin-bottom: 20px;">
    <div class="form-group hasRadioBoxes">
        <label>Paperboard Converter</label>
        <input readonly disabled type="radio" icheck  name="somecheck8" value="1" icheck ng-model="cs8.planSfiLabelUseIncrease8">
        <label class="checkboxLabel">Yes</label>
        &nbsp;&nbsp;
        <input readonly disabled type="radio" icheck  name="somecheck8" value="0" icheck ng-model="cs8.planSfiLabelUseIncrease8">
        <label class="checkboxLabel">No</label>
        <label>Comments</label>
        <textarea readonly disabled class="form-control" name="comments8"
                  ng-model="cs8.planSfiLabelUseComment8"
                  ng-maxlength="4000" max-word-count="650" customerror
                  tooltip data-placement="right" data-container="body"
                  data-title="Provide a short company description."></textarea>
    </div>
</div>

<div class="col-lg-12"  ng-show="furniture()" style="margin-bottom: 20px;">
    <div class="form-group hasRadioBoxes">
        <label>Furniture</label>
        <input readonly disabled type="radio" icheck  name="somecheck9" value="1" icheck ng-model="cs8.planSfiLabelUseIncrease9">
        <label class="checkboxLabel">Yes</label>
        &nbsp;&nbsp;
        <input readonly disabled type="radio" icheck  name="somecheck9" value="0" icheck ng-model="cs8.planSfiLabelUseIncrease9">
        <label class="checkboxLabel">No</label>
        <label>Comments</label>
        <textarea readonly disabled class="form-control" name="comments9"
                  ng-model="cs8.planSfiLabelUseComment9"
                  ng-maxlength="4000" max-word-count="650" customerror
                  tooltip data-placement="right" data-container="body"
                  data-title="Provide a short company description."></textarea>
    </div>
</div>

<div class="col-lg-12"  ng-show="towelTissue()" style="margin-bottom: 20px;">
    <div class="form-group hasRadioBoxes">
        <label>Towel/tissue</label>
        <input readonly disabled type="radio" icheck  name="somecheck10" value="1" icheck ng-model="cs8.planSfiLabelUseIncrease10">
        <label class="checkboxLabel">Yes</label>
        &nbsp;&nbsp;
        <input readonly disabled type="radio" icheck  name="somecheck10" value="0" icheck ng-model="cs8.planSfiLabelUseIncrease10">
        <label class="checkboxLabel">No</label>
        <label>Comments</label>
        <textarea readonly disabled class="form-control" name="comments10"
                  ng-model="cs8.planSfiLabelUseComment10"
                  ng-maxlength="4000" max-word-count="650" customerror
                  tooltip data-placement="right" data-container="body"
                  data-title="Provide a short company description."></textarea>
    </div>
</div>

<div class="col-lg-12"  ng-show="printer()" style="margin-bottom: 20px;">
    <div class="form-group hasRadioBoxes">
        <label>Printer</label>
        <input readonly disabled type="radio" icheck  name="somecheck11" value="1" icheck ng-model="cs8.planSfiLabelUseIncrease11">
        <label class="checkboxLabel">Yes</label>
        &nbsp;&nbsp;
        <input readonly disabled type="radio" icheck  name="somecheck11" value="0" icheck ng-model="cs8.planSfiLabelUseIncrease11">
        <label class="checkboxLabel">No</label>
        <label>Comments</label>
        <textarea readonly disabled class="form-control" name="comments11"
                  ng-model="cs8.planSfiLabelUseComment11"
                  ng-maxlength="4000" max-word-count="650" customerror
                  tooltip data-placement="right" data-container="body"
                  data-title="Provide a short company description."></textarea>
    </div>
</div>

<div class="col-lg-12"  ng-show="woodMerchant()" style="margin-bottom: 20px;">
    <div class="form-group hasRadioBoxes">
        <label>Wood Broker/paperMerchant</label>
        <input readonly disabled type="radio" icheck  name="somecheck12" value="1" icheck ng-model="cs8.planSfiLabelUseIncrease12">
        <label class="checkboxLabel">Yes</label>
        &nbsp;&nbsp;
        <input readonly disabled type="radio" icheck  name="somecheck12" value="0" icheck ng-model="cs8.planSfiLabelUseIncrease12">
        <label class="checkboxLabel">No</label>
        <label>Comments</label>
        <textarea readonly disabled class="form-control" name="comments12"
                  ng-model="cs8.planSfiLabelUseComment12"
                  ng-maxlength="4000" max-word-count="650" customerror
                  tooltip data-placement="right" data-container="body"
                  data-title="Provide a short company description."></textarea>
    </div>
</div>

<div class="col-lg-12"  ng-show="other()" style="margin-bottom: 20px;">
    <div class="form-group hasRadioBoxes">
        <label>Other</label>
        <input readonly disabled type="radio" icheck  name="somecheck13" value="1" icheck ng-model="cs8.planSfiLabelUseIncrease13">
        <label class="checkboxLabel">Yes</label>
        &nbsp;&nbsp;
        <input readonly disabled type="radio" icheck  name="somecheck13" value="0" icheck ng-model="cs8.planSfiLabelUseIncrease13">
        <label class="checkboxLabel">No</label>
        <label>Comments</label>
        <textarea readonly disabled class="form-control" name="comments13"
                  ng-model="cs8.planSfiLabelUseComment1"
                  ng-maxlength="4000" max-word-count="650" customerror
                  tooltip data-placement="right" data-container="body"
                  data-title="Provide a short company description."></textarea>
    </div>
</div>
