<p class="pading-botoms">
    If you use the FSC label on your products, does the product group also contain:
</p>


<div class="pading-botoms padding-left-50" ng-show="printingWritingPaper()">

    <p>Printing writing paper</p>

    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_1" checklist-value="'1'">
        SFI certified forest content
    </label><br/>

    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_1" checklist-value="'2'">
        SFI certified sourcing content
    </label><br/>
    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_1" checklist-value="'3'">
        ATFS certified forest content
    </label><br/>
    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_1" checklist-value="'4'">
        CSA certified forest content
    </label><br/>

    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_1" checklist-value="'5'">
        Other PEFC endorsed standards
    </label><br/>

    <div ng-show="isSelected(cs8.alsoFSCLabel_1, '5')">
        <select disabled readonly class="form-control"
                ng-model="country_1_3"
                ng-change="country_1_3 = addCountry(cs8.alsoFSCLabelFSC_Country_1, country_1_3)">
            <option value="">Select country</option>
            <option ng-repeat="country in countries" value="{{ country.id }}">{{country.country}}</option>
        </select>

        <div id="selectedItem" ng-repeat="country in cs8.alsoFSCLabelFSC_Country_1 ">{{country.country}}
            &nbsp;
        </div>
    </div>
</div>

<div class="pading-botoms padding-left-50" ng-show="packaging()">
    <p>Packaging</p>

    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_2" checklist-value="'1'">
        SFI certified forest content
    </label><br/>

    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_2" checklist-value="'2'">
        SFI certified sourcing content
    </label><br/>
    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_2" checklist-value="'3'">
        ATFS certified forest content
    </label><br/>
    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_2" checklist-value="'4'">
        CSA certified forest content
    </label><br/>

    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_2" checklist-value="'5'">
        Other PEFC endorsed standards
    </label><br/>

    <div ng-show="isSelected(cs8.alsoFSCLabel_2, '5')">
        <select disabled readonly class="form-control"
                ng-model="country_2_3"
                ng-change="country_2_3 = addCountry(cs8.alsoFSCLabelFSC_Country_2, country_2_3)">
            <option value="">Select country</option>
            <option ng-repeat="country in countries" value="{{ country.id }}">{{country.country}}</option>
        </select>

        <div id="selectedItem" ng-repeat="country in cs8.alsoFSCLabelFSC_Country_2 ">{{country.country}}
            &nbsp;
        </div>
    </div>
</div>

<div class="pading-botoms padding-left-50" ng-show="bioenergy()">
    <p>Bioenergy</p>

    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_3" checklist-value="'1'">
        SFI certified forest content
    </label><br/>

    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_3" checklist-value="'2'">
        SFI certified sourcing content
    </label><br/>
    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_3" checklist-value="'3'">
        ATFS certified forest content
    </label><br/>
    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_3" checklist-value="'4'">
        CSA certified forest content
    </label><br/>

    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_3" checklist-value="'5'">
        Other PEFC endorsed standards
    </label><br/>

    <div ng-show="isSelected(cs8.alsoFSCLabel_3, '5')">
        <select disabled readonly class="form-control"
                ng-model="country_3_3"
                ng-change="country_3_3 = addCountry(cs8.alsoFSCLabelFSC_Country_3, country_3_3)">
            <option value="">Select country</option>
            <option ng-repeat="country in countries" value="{{ country.id }}">{{country.country}}</option>
        </select>

        <div id="selectedItem" ng-repeat="country in cs8.alsoFSCLabelFSC_Country_3 ">{{country.country}}
            &nbsp;
        </div>
    </div>
</div>

<div class="pading-botoms padding-left-50" ng-show="pulp()">
    <p>Pulp</p>


    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_4" checklist-value="'1'">
        SFI certified forest content
    </label><br/>

    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_4" checklist-value="'2'">
        SFI certified sourcing content
    </label><br/>
    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_4" checklist-value="'3'">
        ATFS certified forest content
    </label><br/>
    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_4" checklist-value="'4'">
        CSA certified forest content
    </label><br/>

    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_4" checklist-value="'5'">
        Other PEFC endorsed standards
    </label><br/>

    <div ng-show="isSelected(cs8.alsoFSCLabel_4, '5')">
        <select disabled readonly class="form-control"
                ng-model="country_4_3"
                ng-change="country_4_3 = addCountry(cs8.alsoFSCLabelFSC_Country_4, country_4_3)">
            <option value="">Select country</option>
            <option ng-repeat="country in countries" value="{{ country.id }}">{{country.country}}</option>
        </select>

        <div id="selectedItem" ng-repeat="country in cs8.alsoFSCLabelFSC_Country_4 ">{{country.country}}
            &nbsp;
        </div>
    </div>
</div>

<div class="pading-botoms padding-left-50" ng-show="land()">
    <p>Land Only</p>


    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_5" checklist-value="'1'">
        SFI certified forest content
    </label><br/>

    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_5" checklist-value="'2'">
        SFI certified sourcing content
    </label><br/>
    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_5" checklist-value="'3'">
        ATFS certified forest content
    </label><br/>
    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_5" checklist-value="'4'">
        CSA certified forest content
    </label><br/>

    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_5" checklist-value="'5'">
        Other PEFC endorsed standards
    </label><br/>

    <div ng-show="isSelected(cs8.alsoFSCLabel_5, '5')">
        <select disabled readonly class="form-control"
                ng-model="country_5_3"
                ng-change="country_5_3 = addCountry(cs8.alsoFSCLabelFSC_Country_5, country_5_3)">
            <option value="">Select country</option>
            <option ng-repeat="country in countries" value="{{ country.id }}">{{country.country}}</option>
        </select>

        <div id="selectedItem" ng-repeat="country in cs8.alsoFSCLabelFSC_Country_5 ">{{country.country}}
            &nbsp;
        </div>
    </div>
</div>

<div class="pading-botoms padding-left-50" ng-show="solidWood()">
    <p>Solid wood products (includes logs)</p>

    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_6" checklist-value="'1'">
        SFI certified forest content
    </label><br/>

    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_6" checklist-value="'2'">
        SFI certified sourcing content
    </label><br/>
    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_6" checklist-value="'3'">
        ATFS certified forest content
    </label><br/>
    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_6" checklist-value="'4'">
        CSA certified forest content
    </label><br/>

    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_6" checklist-value="'5'">
        Other PEFC endorsed standards
    </label><br/>

    <div ng-show="isSelected(cs8.alsoFSCLabel_6, '5')">
        <select disabled readonly class="form-control"
                ng-model="country_6_3"
                ng-change="country_6_3 = addCountry(cs8.alsoFSCLabelFSC_Country_6, country_6_3)">
            <option value="">Select country</option>
            <option ng-repeat="country in countries" value="{{ country.id }}">{{country.country}}</option>
        </select>

        <div id="selectedItem" ng-repeat="country in cs8.alsoFSCLabelFSC_Country_6 ">{{country.country}}
            &nbsp;
        </div>
    </div>
</div>

<div class="pading-botoms padding-left-50" ng-show="paperMerchant()">
    <p>Paper Broker/Merchant</p>

    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_7" checklist-value="'1'">
        SFI certified forest content
    </label><br/>

    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_7" checklist-value="'2'">
        SFI certified sourcing content
    </label><br/>
    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_7" checklist-value="'3'">
        ATFS certified forest content
    </label><br/>
    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_7" checklist-value="'4'">
        CSA certified forest content
    </label><br/>

    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_7" checklist-value="'5'">
        Other PEFC endorsed standards
    </label><br/>

    <div ng-show="isSelected(cs8.alsoFSCLabel_7, '5')">
        <select disabled readonly class="form-control"
                ng-model="country_7_3"
                ng-change="country_7_3 = addCountry(cs8.alsoFSCLabelFSC_Country_7, country_7_3)">
            <option value="">Select country</option>
            <option ng-repeat="country in countries" value="{{ country.id }}">{{country.country}}</option>
        </select>

        <div id="selectedItem" ng-repeat="country in cs8.alsoFSCLabelFSC_Country_7 ">{{country.country}}
            &nbsp;
        </div>
    </div>
</div>

<div class="pading-botoms padding-left-50" ng-show="paperBoard()">
    <p>Paperboard Converter</p>

    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_8" checklist-value="'1'">
        SFI certified forest content
    </label><br/>

    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_8" checklist-value="'2'">
        SFI certified sourcing content
    </label><br/>
    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_8" checklist-value="'3'">
        ATFS certified forest content
    </label><br/>
    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_8" checklist-value="'4'">
        CSA certified forest content
    </label><br/>

    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_8" checklist-value="'5'">
        Other PEFC endorsed standards
    </label><br/>

    <div ng-show="isSelected(cs8.alsoFSCLabel_8, '5')">
        <select disabled readonly class="form-control"
                ng-model="country_8_3"
                ng-change="country_8_3 = addCountry(cs8.alsoFSCLabelFSC_Country_8, country_8_3)">
            <option value="">Select country</option>
            <option ng-repeat="country in countries" value="{{ country.id }}">{{country.country}}</option>
        </select>

        <div id="selectedItem" ng-repeat="country in cs8.alsoFSCLabelFSC_Country_8 ">{{country.country}}
            &nbsp;
        </div>
    </div>
</div>

<div class="pading-botoms padding-left-50" ng-show="furniture()">
    <p>Furniture</p>

    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_9" checklist-value="'1'">
        SFI certified forest content
    </label><br/>

    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_9" checklist-value="'2'">
        SFI certified sourcing content
    </label><br/>
    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_9" checklist-value="'3'">
        ATFS certified forest content
    </label><br/>
    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_9" checklist-value="'4'">
        CSA certified forest content
    </label><br/>

    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_9" checklist-value="'5'">
        Other PEFC endorsed standards
    </label><br/>

    <div ng-show="isSelected(cs8.alsoFSCLabel_9, '5')">
        <select disabled readonly class="form-control"
                ng-model="country_9_3"
                ng-change="country_9_3 = addCountry(cs8.alsoFSCLabelFSC_Country_9, country_9_3)">
            <option value="">Select country</option>
            <option ng-repeat="country in countries" value="{{ country.id }}">{{country.country}}</option>
        </select>

        <div id="selectedItem" ng-repeat="country in cs8.alsoFSCLabelFSC_Country_9 ">{{country.country}}
            &nbsp;
        </div>
    </div>
</div>

<div class="pading-botoms padding-left-50" ng-show="towelTissue()">
    <p>Towel/tissue</p>

    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_10" checklist-value="'1'">
        SFI certified forest content
    </label><br/>

    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_10" checklist-value="'2'">
        SFI certified sourcing content
    </label><br/>
    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_10" checklist-value="'3'">
        ATFS certified forest content
    </label><br/>
    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_10" checklist-value="'4'">
        CSA certified forest content
    </label><br/>

    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_10" checklist-value="'5'">
        Other PEFC endorsed standards
    </label><br/>

    <div ng-show="isSelected(cs8.alsoFSCLabel_10, '5')">
        <select disabled readonly class="form-control"
                ng-model="country_10_3"
                ng-change="country_10_3 = addCountry(cs8.alsoFSCLabelFSC_Country_10, country_10_3)">
            <option value="">Select country</option>
            <option ng-repeat="country in countries" value="{{ country.id }}">{{country.country}}</option>
        </select>

        <div id="selectedItem" ng-repeat="country in cs8.alsoFSCLabelFSC_Country_10 ">{{country.country}}
            &nbsp;
        </div>
    </div>
</div>


<div class="pading-botoms padding-left-50" ng-show="printer()">
    <p>Printer</p>

    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_11" checklist-value="'1'">
        SFI certified forest content
    </label><br/>

    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_11" checklist-value="'2'">
        SFI certified sourcing content
    </label><br/>
    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_11" checklist-value="'3'">
        ATFS certified forest content
    </label><br/>
    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_11" checklist-value="'4'">
        CSA certified forest content
    </label><br/>

    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_11" checklist-value="'5'">
        Other PEFC endorsed standards
    </label><br/>

    <div ng-show="isSelected(cs8.alsoFSCLabel_11, '5')">
        <select disabled readonly class="form-control"
                ng-model="country_11_3"
                ng-change="country_11_3 = addCountry(cs8.alsoFSCLabelFSC_Country_11, country_11_3)">
            <option value="">Select country</option>
            <option ng-repeat="country in countries" value="{{ country.id }}">{{country.country}}</option>
        </select>

        <div id="selectedItem" ng-repeat="country in cs8.alsoFSCLabelFSC_Country_11 ">{{country.country}}
            &nbsp;
        </div>
    </div>
</div>

<div class="pading-botoms padding-left-50" ng-show="woodMerchant()">
    <p>Wood Broker/paperMerchant</p>

    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_12" checklist-value="'1'">
        SFI certified forest content
    </label><br/>

    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_12" checklist-value="'2'">
        SFI certified sourcing content
    </label><br/>
    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_12" checklist-value="'3'">
        ATFS certified forest content
    </label><br/>
    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_12" checklist-value="'4'">
        CSA certified forest content
    </label><br/>

    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_12" checklist-value="'5'">
        Other PEFC endorsed standards
    </label><br/>

    <div ng-show="isSelected(cs8.alsoFSCLabel_12, '5')">
        <select disabled readonly class="form-control"
                ng-model="country_12_3"
                ng-change="country_12_3 = addCountry(cs8.alsoFSCLabelFSC_Country_12, country_12_3)">
            <option value="">Select country</option>
            <option ng-repeat="country in countries" value="{{ country.id }}">{{country.country}}</option>
        </select>

        <div id="selectedItem" ng-repeat="country in cs8.alsoFSCLabelFSC_Country_12 ">{{country.country}}
            &nbsp;
        </div>
    </div>
</div>

<div class="pading-botoms padding-left-50" ng-show="other()">
    <p>Other</p>


    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_13" checklist-value="'1'">
        SFI certified forest content
    </label><br/>

    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_13" checklist-value="'2'">
        SFI certified sourcing content
    </label><br/>
    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_13" checklist-value="'3'">
        ATFS certified forest content
    </label><br/>
    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_13" checklist-value="'4'">
        CSA certified forest content
    </label><br/>

    <label class="form-inline">
        <input type="checkbox" disabled icheck  checklist-model="cs8.alsoFSCLabel_13" checklist-value="'5'">
        Other PEFC endorsed standards
    </label><br/>

    <div ng-show="isSelected(cs8.alsoFSCLabel_13, '5')">
        <select disabled readonly class="form-control"
                ng-model="country_13_3"
                ng-change="country_13_3 = addCountry(cs8.alsoFSCLabelFSC_Country_13, country_13_3)">
            <option value="">Select country</option>
            <option ng-repeat="country in countries" value="{{ country.id }}">{{country.country}}</option>
        </select>

        <div id="selectedItem" ng-repeat="country in cs8.alsoFSCLabelFSC_Country_13 ">{{country.country}}
            &nbsp;
        </div>
    </div>
</div>
