<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorator="layout" th:with="title=${title}">

<section layout:fragment="content">

    <div id="wrapper">
        <div class="container">
            <div class="formContainer">
                <div class="breadcrumb">
                    <a href="#"> Program Participant Form</a>
                </div>
                <div class="formContent">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="sidebarmenu">
                                <th:block th:include="left_menu"></th:block>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <h3>Forms</h3>
                            <div class="form-group">


                            </div>

                            <div class="bootstrap-table">

                                <div class="fixed-table-toolbar">
                                    <h4 class="pull-left">Program Participant Form</h4>
                                    <div class="pull-right search">

                                    </div>
                                </div>

                                <div class="fixed-table-container">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th><div class="th-inner">Company Name</div></th>
                                            <th><div class="th-inner">Created By</div></th>
                                            <th><div class="th-inner">Date Created</div></th>
                                            <th><div class="th-inner">Status</div></th>
                                            <th><div class="th-inner">Last Updated</div></th>
                                            <th><div class="th-inner">Actions</div></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="sfiPpForm,iterationStatus  : ${sfiPpForms}">
                                            <td th:text="${sfiPpForm.company.name}"></td>
                                            <td th:text="${sfiPpForm.createdBy.username}"></td>
                                            <td th:text="${sfiPpForm.createdAt}"></td>
                                            <td th:text="${sfiPpForm.status.status}"></td>
                                            <td th:text="${sfiPpForm.updatedAt}"></td>
                                            <td>
                                                <a th:href="@{'/admin/company/sfi/form/' + ${sfiPpForm.id}}">
                                                    <button th:text="Open"></button>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="fixed-table-pagination pull-left">

                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <script th:src="@{/assets/js/libs/angular.min.js}"></script>
    <script th:src="@{/assets/js/libs/angular-ui-router.min.js}"></script>

</section>
</html>