<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorator="layout" th:with="title=${title}">

<section layout:fragment="content">

    <div id="wrapper">
        <div class="container">
            <div class="formContainer">
                <div class="breadcrumb">
                    <a href="#">Surveys</a>
                </div>
                <div class="formContent">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="sidebarmenu">
                                <th:block th:include="/templates/left_menu"></th:block>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <h3>Surveys</h3>
                            <div class="form-group"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/assets/js/libs/angular.min.js}"></script>
    <script th:src="@{/assets/js/libs/angular-ui-router.min.js}"></script>

</section>
</html>