<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="formLayout" th:with="title=${title}">

<div layout:fragment="content">


    <div class="container" ng-app="sfiFormApp" style="margin-top: 15px;">

        <div class="row" ng-controller="FormHeaderCtrl">
            <div class="col-xs-2">

                <div th:if="${companyLogo != null}">
                    <img th:src="${{companyLogo}}" width="150" height="80"/>
                </div>
                <div th:unless="${ companyLogo }">
                    <img src="/assets/images/logo-placeholder.png" align="left" alt="logo-placeholder"/>
                </div>

            </div>

            <div class="col-xs-7">
                <div id="companyInfoLeft" class="pull-left">
                    <label>Company Name</label>
                    <label>Created by:</label>
                    <label>Creation date:</label>
                    <label>Last updated:</label>
                    <label>Percent complete:</label>
                </div>
                <div id="companyInfoRight">
                    <label th:text="${{ company.name }}"></label>
                    <span th:text="${{ form.createdBy.getFullname() }}"></span>
                    <span >[{{ form.cs10.createdAt | date: "dd-MMM, yyyy h:mma" }}]</span>
                    <span >[{{ form.cs10.updatedAt | date: "dd-MMM, yyyy h:mma"}}]</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" ng-style="progressClass()">
                            <span class="sr-only">{{ formProgress }}% Complete (success)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-3" id="formActions">

                <div class="formActionsNotice" style="width:100%">


                    <span th:if="${status.getId() == 2}">
                        <span ng-show="daysLeft >= 0 "><big th:text="${{ days_until }}"></big> days until form is due!</span>
                        <span ng-show="daysLeft &lt; 0" class="dueDate">{{textDaysLeft}}</span>
                    </span>

                     <span th:if="${status.getId() == 1}">
                         <span>Due March 17th, 2017</span>
                     </span>
                    <br/>
                    <a href="mailto: rachel.dierolf@sfiprogram.org" ng-class="{'dueDate':  daysLeft &lt; 0}">Need help?</a>
                </div>

                <span class="glyphicon glyphicon-file print pull-right" tooltip="" aria-hidden="true" data-container="body" data-title="Print the entire form"  ng-click="printAllSection()"></span>

                <span class="glyphicon glyphicon-print print pull-right" aria-hidden="true"
                      tooltip="" data-container="body" data-title="Print this page only"
                      ng-click="printSection()"></span>
                <div th:if="${mode == 'view'}">
                    <button type="button" class="btn pull-right" data-trigger="hover"
                            ng-class="btn-disabled" >{{ submitText() }}</button>
                </div>
                <div th:if="${mode != 'view'}">
                <button type="button" class="btn pull-right" data-trigger="hover"
                        ng-class="canSubmit() ? 'btn-success' : 'btn-disabled' "
                        ng-click="canSubmit() &amp;&amp; submit()" >{{ submitText() }}</button>
                </div>
            </div>
            <div class="modal fade" id="submit" tabindex="-1" role="dialog" aria-labelledby="submit" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">Confirm Form Submission</h4>
                        </div>
                        <div class="modal-body">
                            Congratulations! Your form is ready for submission.  Keep in mind that once you confirm and submit your form you will only be able to view the form, but not edit it.
                        </div>
                        <div class="modal-footer">
                            <a data-dismiss="modal">Go back and review it</a>
                            <button type="button" class="btn btn-success" ng-click="formSubmit()">Yes, I'm ready. Submit my Form</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div id="formContainer">
                <div style="position: relative;height: 155px;" id="formNavigation" ng-controller="FormNavigationCtrl">
                    <div ng-show="isStepAllowed('cs1')"  class="formMenuItem" ng-click="goStep('cs1')">
                        <div class="circle {{ getClass('cs1') }}">1</div>
                        <span class="circleTxt {{ getClass('cs1') }}">Profile</span>
                    </div>

                    <div th:if="${company.primary}" ng-show="isStepAllowed('cs2')"  class="formMenuItem section2" ng-click="goStep('cs2')">
                        <div class="circle {{ getClass('cs2') }}">2</div>
                        <span class="circleTxt {{ getClass('cs2') }}">Forests, <br/>Chemicals &amp; <br/>Conversion</span>
                    </div>

                    <div th:if="${company.primary}" ng-show="isStepAllowed('cs4')"  class="formMenuItem section3" ng-click="goStep('cs4')">
                        <div class="circle {{ getClass('cs4') }}">3</div>
                        <span class="circleTxt {{ getClass('cs4') }}" >Harvest &amp; Reforestation</span>
                    </div>

                    <div th:if="${company.primary}"  ng-show="isStepAllowed('cs6')"  class="formMenuItem section4" ng-click="goStep('cs6')">
                        <div class="circle {{ getClass('cs6') }}">4</div>
                        <span class="circleTxt {{ getClass('cs6') }}">Raw Material Supply</span>
                    </div>

                    <div th:if="${company.primary}" ng-show="isStepAllowed('cs5')"  class="formMenuItem section5" ng-click="goStep('cs5')">
                        <div class="circle {{ getClass('cs5') }}">5</div>
                        <span class="circleTxt {{ getClass('cs5') }}">Research, Conservation &amp; Community</span>
                    </div>

                    <div th:if="${company.primary}" ng-show="isStepAllowed('cs7')"  class="formMenuItem section6" ng-click="goStep('cs7')">
                        <div class="circle {{ getClass('cs7') }}">6</div>
                        <span class="circleTxt {{ getClass('cs7') }}">
                            Issues of<br/>
                            Interest
                        </span>
                    </div>

                    <div ng-show="isStepAllowed('cs8')"  class="formMenuItem section9" ng-click="goStep('cs8')">
                        <div class=" {{ getClass('cs8') }}">&nbsp;</div>
                        <span class="circleTxt {{ getClass('cs8') }}" style="padding-top: 10px;top: -12px">
                            Optional<br/>
                            SFI<br/>
                            Market<br/>
                            Survey
                        </span>
                    </div>

                    <div style="position: absolute;right: 130px;top: 0px;" ng-show="isStepAllowed('cs8')"  class="formMenuItem section9" ng-click="goStep('cs8')">
                        <div class=" {{ getClass('cs8') }}">&nbsp;</div>

                        <div th:if="${mode != 'view'}">
                            <span style="width: 200%;top: 0px" >
                                <img  src="/assets/images/nav/{{ImageName}}" align="right" alt="logo-placeholder"/>
                            </span>
                        </div>

                    </div>
                    <!--<br/>-->

                    <!--<div ng-show="isStepAllowed('cs10')" class="first-desc ng-cloak" style="width:680px;">SFI Annual Progress Report Survey</div>-->
                    <!--<div ng-show="isStepAllowed('cs10')" class="second-desc ng-cloak" style="width:75px;">Optional</div>-->
                </div>

                <div class="formContent" ui-view="{{mode}}Container">
                </div>
            </div>
        </div>

    </div>

</div>


<div layout:fragment="script">

    <script th:src="@{/assets/js/libs/angular.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/libs/angular-sanitize.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/libs/angular-ui-router.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/libs/checklist-model.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/libs/angular-strap.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/libs/angular-strap.tpl.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/libs/angular-file-upload-shim.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/libs/angular-file-upload.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/libs/angular-touch.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/libs/angular-carousel.js}"></script>


    <script th:src="@{/assets/partials/ViewTemplate.js}" type="text/javascript"></script>



    <script type="text/javascript">
        // <![CDATA[

        function camelize(str) {
          return str.replace(/(?:^\w|[A-Z]|\b\w)/g, function(letter, index) {
            return index == 0 ? letter.toLowerCase() : letter.toUpperCase();
          }).replace(/\s+/g, '');
        }

        var sfiV2 = {

            prepareForm : function(formData){

                var form = {};

                for(var i = 1; i<= 10; i++){
                    form['cs' + i] = {
                        isSectionEnabled : true
                    };
                }

                _.each(formData, function(val, key){
                    var match = key.match(/(cs[0-9]*)(.*)/);
                    if(match){

                        var section = match[1];
                        var attr = camelize(match[2]);

                        if(!form[section]){
                            form[section] = {
                                isSectionEnabled : true
                            };
                        }

                        form[section][attr] = val;
                    }else{
                        console.log(key, val);
                        form[key] = val;
                    }

                });

                return form;

            },

            getSectionData : function(section, form){

                //var formData = {};
                _.each(form, function(val, key){

                    var attr = camelize(section + ' ' + key);

                    formData[attr] = val;
                });

                return formData;
            }
        };

        // ]]>

    </script>

    <script th:inline="javascript">
        var formData  = [[${form}]];

        var form = {
            cs1  : [[${cs1}]],
            cs2  : [[${cs2}]],
            cs3  : [[${cs3}]],
            cs4  : [[${cs4}]],
            cs5  : [[${cs5}]],
            cs6  : [[${cs6}]],
            cs7  : [[${cs7}]],
            cs8  : [[${cs8}]],
            cs9  : [[${cs9}]],
            cs10 : [[${cs10}]]

        };

        var isPrint   = [[${print}]];
        var isAdmin   = [[${isAdmin}]];
        var mode      = [[${mode}]];
        var company   = [[${company}]];
        var countries = [[${countries}]];
        var regions   = [[${regions}]];
        var daysLeft  = [[${days_until}]];
        var standardObjects = [[${standardObjects}]];
        var standardObjects2015 = [[${standardObjects2015}]];



    </script>

    <script th:src="@{/assets/js/app/app.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/app/controllers/FormEmergingIssuesCtrl.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/app/controllers/FormFiberSourcingStandardCtrl.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/app/controllers/FormForestlandCtrl.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/app/controllers/FormForestManagementStandardCtrl.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/app/controllers/FormHarvestCtrl.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/app/controllers/FormHeaderCtrl.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/app/controllers/FormMarketSurveyCtrl.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/app/controllers/FormNavigationCtrl.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/app/controllers/FormPartnershipCtrl.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/app/controllers/FormProfileCtrl.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/app/controllers/FormRawMaterialCtrl.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/app/controllers/FormResFundingCtrl.js}" type="text/javascript"></script>

    <script type="text/javascript">

    // <![CDATA[

        var urlData = {
            companyId : company.id,
            isAdmin   : isAdmin
        };

        sfiFormApp.run(function($rootScope) {
            $rootScope.isAdmin  = isAdmin;
            $rootScope.mode     = mode;
            $rootScope.company  = company;
            $rootScope.unit     = company.areaUnit.shortCode;
            $rootScope.form     = form;
            $rootScope.isAdmin  = isAdmin;
            $rootScope.formInfo = formData;
            $rootScope.daysLeft = daysLeft;
            $rootScope.textDaysLeft = "Oh no! Your form is -"+ daysLeft+ " days overdue!";
            $rootScope.standObjective = "";
        });

        sfiFormApp.run(function($rootScope) {
            $rootScope.$form = null;
            $rootScope.isSectionDirty = null;
            $rootScope.$isFormDirty = function(){
                if($rootScope.isSectionDirty){
                    return $rootScope.isSectionDirty();
                }
                if(!$rootScope.$form){
                    return false;
                }
                if(!($rootScope.$form instanceof Array)){
                    return $rootScope.$form.$dirty;
                }
                for(var key in $rootScope.$form){
                    var $form = $rootScope.$form[key];
                    if($form.$dirty){
                        return true;
                    }
                }
                return false;
            }
            $rootScope.$on('$stateChangeStart',
                    function(event, toState, toParams, fromState, fromParams){
                        if($rootScope.$isFormDirty()){
                            if(confirm("Are you want to leave this page ? You have unsaved changes")){
                                $rootScope.$form = null;
                                $rootScope.isSectionDirty = null;
                                return false;
                            }
                            event.preventDefault();
                        }
                    });
        });

        // ]]>
    </script>
    <script id="pop2tpl" type="text/template">

        <![CDATA[
        <div style="width:300px;">
            <form>
                <table>
                    <tr>
                        <td width="60%">Select standard combination if reporting volume certified to more than one standard</td>
                        <td>% certified</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" value="SFI/FSC" name="item1" class="icheck" icheck>&nbsp;SFI/FSC</td>
                        <td style="height: 45px;"><input name="val1" type="number" class="valbox form-control shorter"/></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" value="SFI/ATFS" name="item2" class="icheck" icheck>&nbsp;SFI/ATFS</td>
                        <td style="height: 45px;"><input name="val2" type="number" class="valbox form-control shorter"/></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" value="SFI/CSA" name="item3" class="icheck" icheck>&nbsp;SFI/CSA</td>
                        <td style="height: 45px;"><input name="val3" type="number" class="valbox form-control shorter"/></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" value="ATFS/FSC" name="item4" class="icheck" icheck>&nbsp;ATFS/FSC</td>
                        <td style="height: 45px;"><input name="val4" type="number" class="valbox form-control shorter"/></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" value="CSA/FSC" name="item5" class="icheck" icheck>&nbsp;CSA/FSC</td>
                        <td style="height: 45px;"><input name="val5" type="number" class="valbox form-control shorter"/></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" value="SFI/ATFS/FSC" name="item6" class="icheck" icheck >&nbsp;SFI/ATFS/FSC</td>
                        <td style="height: 45px;"><input name="val6" type="number" class="valbox form-control shorter"/></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" value="SFI/CSA/FSC" name="item7" class="icheck" icheck>&nbsp;SFI/CSA/FSC</td>
                        <td style="height: 45px;"><input name="val7" type="number" class="valbox form-control shorter"/></td>
                    </tr>
                </table>
                <div class="col-sm-6 specialpadding alignleft"><button type="button" class="btn btn-cancel">Cancel</button></div>
                <div class="col-sm-6 specialpadding alignright"><button type="button" class="btn btn-success">Ok</button> </div>
            </form>
        </div>

         ]]>
    </script>
    <script id="research_funding_org_tpl" type="text/template">

        <![CDATA[
        <div class="form-group" style="padding-left: 0;">
            <div >
            <button  style="position: absolute;top: 0px;right: 0px;margin:0;" type="button" class="btn btn-cancel" >X</button>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-10 ">

                 <span class="pull-right">Enter any organizations you worked with in 2016
                    as part of the research funding reported. Please be as specific as possible.</span>
                </div>

            </div>

            <div class="form-group-hack form-group" style="padding-top: 0px;">

                <div class="col-sm-10" ng-class="{'has-error' : isDirty() && innerFrom.organizationListAcademic.$invalid }">

                    <input type="text"
                           class="form-control"
                           ng-model="academicModel2"
                           name="organizationListAcademic2"
                           placeholder="University or College"
                           ng-options="item.name for item in academicOptions"
                           data-auto-select="true" watchOptions="true" bs-typeahead>


                    <div id="selectedItem" style="font-size: 11px" ng-repeat="item in organizationListAcademic" class="nopadding">{{ item }}
                        <button ng-click="deleteByIndex($index, organizationListAcademic)" type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                    </div>
                </div>

                <div class="col-sm-2 nopadding">
                    <a style="text-decoration:underline;">
                        <label ng-show="academicModel2"
                               ng-click="organizationListAcademic = addList(organizationListAcademic, academicModel2) ; academicModel2 = null">+ Save</label>
                    </a>
                </div>

            </div>

            <div class="form-group-hack form-group" style="padding-top: 5px;">

                <div class="col-sm-10" ng-class="{'has-error' : isDirty() && innerFrom.organizationListResearch.$invalid }">

                    <input type="text"
                           class="form-control"
                           name="organizationListResearch2"
                           ng-model="researchModel2"
                           ng-options="item.name for item in researchList"
                           placeholder="Research Institution or Collaboratives"
                           data-auto-select="true" watchOptions="true" bs-typeahead>


                    <div id="selectedItem" style="font-size: 11px"  ng-repeat="item in organizationListResearch">{{ item }}
                        <button ng-click="deleteByIndex($index, organizationListResearch)" type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                    </div>
                </div>
                <div class="col-sm-2 nopadding">
                    <a style="text-decoration:underline;">
                        <label ng-show="researchModel2"
                               ng-click="organizationListResearch = addList(organizationListResearch, researchModel2) ; researchModel2 = null">+ Save</label>
                    </a>
                </div>
            </div>

            <div class="form-group-hack form-group">

                <div class="col-sm-10" ng-class="{'has-error' : isDirty() && innerFrom.organizationListConservation.$invalid }">

                    <input type="text"
                           class="form-control"
                           name="organizationListConservation2"
                           ng-model="conservationModel2"
                           ng-options="item.name for item in conservationList"
                           placeholder="Conservation Organization"
                           data-auto-select="true" watchOptions="true" bs-typeahead>

                    <div id="selectedItem" style="font-size: 11px"  ng-repeat="item in organizationListConservation">{{ item }}
                        <button ng-click="deleteByIndex($index, organizationListConservation)" type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                    </div>
                </div>
                <div class="col-sm-2 nopadding">
                    <a style="text-decoration:underline;">
                        <label ng-show="conservationModel2"
                               ng-click="organizationListConservation = addList(organizationListConservation, conservationModel2) ; conservationModel2 = null">+ Save</label>
                    </a>
                </div>
            </div>

            <div class="form-group-hack form-group">

                <div class="col-sm-10" ng-class="{'has-error' : isDirty() && innerFrom.organizationListGovernment.$invalid }">

                    <input type="text"
                           class="form-control"
                           name="organizationListGovernment2"
                           ng-model="governmentModel2"
                           ng-options="item.name for item in governmentList"
                           placeholder="Government"
                           data-auto-select="true" watchOptions="true" bs-typeahead>

                    <div id="selectedItem" style="font-size: 11px"  ng-repeat="item in organizationListGovernment">{{ item }}
                        <button ng-click="deleteByIndex($index, organizationListGovernment)" type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                    </div>

                </div>
                <div class="col-sm-2 nopadding">
                    <a style="text-decoration:underline;">
                        <label ng-show="governmentModel2"
                               ng-click="organizationListGovernment = addList(organizationListGovernment, governmentModel2) ; governmentModel2 = null">+ Save</label>
                    </a>
                </div>
            </div>

            <div class="form-group-hack form-group">

                <div class="col-sm-10" ng-class="{'has-error' : isDirty() && innerFrom.organizationListCommunity.$invalid }">


                    <input type="text"
                           class="form-control" n
                           ame="organizationListCommunity2"
                           ng-model="communityModel2"
                           ng-options="item.name for item in communityList"
                           placeholder="Community Organization"
                           data-auto-select="true" data-watch-options="true" bs-typeahead>

                    <div id="selectedItem" style="font-size: 11px" ng-repeat="item in organizationListCommunity">{{ item }}
                        <button ng-click="deleteByIndex($index, organizationListCommunity)" type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                    </div>
                </div>
                <div class="col-sm-2 nopadding">
                    <a style="text-decoration:underline;">
                        <label ng-show="communityModel2"
                               ng-click="organizationListCommunity = addList(organizationListCommunity, communityModel2) ; communityModel2 = null">+ Save</label>
                    </a>
                </div>
            </div>

            <div class="form-group-hack form-group">

                <div class="col-sm-10" ng-class="{'has-error' : isDirty() && innerFrom.organizationListOther.$invalid }">

                    <input type="text"
                           class="form-control"
                           name="organizationListOther2"
                           ng-model="otherModel2"
                           ng-options="item for item in otherList"
                           placeholder="Other"
                           data-auto-select="true" watchOptions="true" bs-typeahead>

                    <div id="selectedItem" style="font-size: 11px" ng-repeat="item in organizationListOther">{{ item }}
                        <button ng-click="deleteByIndex($index, organizationListOther);" type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                    </div>
                </div>
                <div class="col-sm-2 nopadding">
                    <a style="text-decoration:underline;">
                        <label ng-show="otherModel2 && otherModel2.trim()"
                               ng-click="organizationListOther = addList(organizationListOther, otherModel2) ; otherModel2 = null">+ Save</label>
                    </a>
                </div>
            </div>
            <div class="form-group-hack form-group">
            <div class="col-sm-6 specialpadding aligncenter"><button type="button" class="btn btn-cancel">Cancel</button></div>
            <div class="col-sm-6 specialpadding alignright"><button type="button" class="btn btn-success">Save</button> </div>
                </div>
        </div>

         ]]>
    </script>
    <script id="research_funding_org_view_tpl" type="text/template">

        <![CDATA[
        <div class="form-group" style="padding-left: 0;">
            <div >
            <button  style="position: absolute;top: 0px;right: 0px;margin:0;" type="button" class="btn btn-cancel" >X</button>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-10 ">

                 <span class="pull-right">Enter any organizations you worked with in 2016
                    as part of the research funding reported. Please be as specific as possible.</span>
                </div>
            </div>

            <div class="form-group-hack form-group" style="padding-top: 0px;">

                <div class="col-sm-10" style="padding: 5px" ng-class="{'has-error' : isDirty() && innerFrom.organizationListAcademic.$invalid }">

                    <input type="text"
                           class="form-control"
                           ng-model="academicModel2"
                           disabled
                           name="organizationListAcademic2"
                           placeholder="University or College"
                           ng-options="item.name for item in academicOptions"
                           data-auto-select="true" watchOptions="true" bs-typeahead>


                    <div id="selectedItem" ng-repeat="item in organizationListAcademic">{{ item }}
                    </div>
                </div>

                <div class="col-sm-2 nopadding">
                    <a style="text-decoration:underline;">
                        <label ng-show="academicModel2"
                               ng-click="organizationListAcademic = addList(organizationListAcademic, academicModel2) ; academicModel2 = null">+ Save</label>
                    </a>
                </div>

            </div>

            <div class="form-group-hack form-group" style="padding-top: 5px;">

                <div class="col-sm-10" style="padding: 5px" ng-class="{'has-error' : isDirty() && innerFrom.organizationListResearch.$invalid }">

                    <input type="text"
                           class="form-control"
                           name="organizationListResearch2"
                           disabled
                           ng-model="researchModel2"
                           ng-options="item.name for item in researchList"
                           placeholder="Research Institution or Collaboratives"
                           data-auto-select="true" watchOptions="true" bs-typeahead>


                    <div id="selectedItem" ng-repeat="item in organizationListResearch">{{ item }}
                    </div>
                </div>
                <div class="col-sm-2 nopadding">
                    <a style="text-decoration:underline;">
                        <label ng-show="researchModel2"
                               ng-click="organizationListResearch = addList(organizationListResearch, researchModel2) ; researchModel2 = null">+ Save</label>
                    </a>
                </div>
            </div>

            <div class="form-group-hack form-group">

                <div class="col-sm-10" style="padding: 5px" ng-class="{'has-error' : isDirty() && innerFrom.organizationListConservation.$invalid }">

                    <input type="text"
                           class="form-control"
                           name="organizationListConservation2"
                           disabled
                           ng-model="conservationModel2"
                           ng-options="item.name for item in conservationList"
                           placeholder="Conservation Organization"
                           data-auto-select="true" watchOptions="true" bs-typeahead>

                    <div id="selectedItem" ng-repeat="item in organizationListConservation">{{ item }}</div>
                </div>
                <div class="col-sm-2 nopadding">
                    <a style="text-decoration:underline;">
                        <label ng-show="conservationModel2"
                               ng-click="organizationListConservation = addList(organizationListConservation, conservationModel2) ; conservationModel2 = null">+ Save</label>
                    </a>
                </div>
            </div>

            <div class="form-group-hack form-group">

                <div class="col-sm-10" style="padding: 5px" ng-class="{'has-error' : isDirty() && innerFrom.organizationListGovernment.$invalid }">

                    <input type="text"
                           class="form-control"
                           name="organizationListGovernment2"
                           disabled
                           ng-model="governmentModel2"
                           ng-options="item.name for item in governmentList"
                           placeholder="Government"
                           data-auto-select="true" watchOptions="true" bs-typeahead>

                    <div id="selectedItem" ng-repeat="item in organizationListGovernment">{{ item }}</div>

                </div>
                <div class="col-sm-2 nopadding">
                    <a style="text-decoration:underline;">
                        <label ng-show="governmentModel2"
                               ng-click="organizationListGovernment = addList(organizationListGovernment, governmentModel2) ; governmentModel2 = null">+ Save</label>
                    </a>
                </div>
            </div>

            <div class="form-group-hack form-group">

                <div class="col-sm-10" style="padding: 5px" ng-class="{'has-error' : isDirty() && innerFrom.organizationListCommunity.$invalid }">


                    <input type="text"
                           class="form-control" n
                           ame="organizationListCommunity2"
                           disabled
                           ng-model="communityModel2"
                           ng-options="item.name for item in communityList"
                           placeholder="Community Organization"
                           data-auto-select="true" data-watch-options="true" bs-typeahead>

                    <div id="selectedItem" ng-repeat="item in organizationListCommunity">{{ item }}</div>
                </div>
                <div class="col-sm-2 nopadding">
                    <a style="text-decoration:underline;">
                        <label ng-show="communityModel2"
                               ng-click="organizationListCommunity = addList(organizationListCommunity, communityModel2) ; communityModel2 = null">+ Save</label>
                    </a>
                </div>
            </div>

            <div class="form-group-hack form-group">

                <div class="col-sm-10" style="padding: 5px" ng-class="{'has-error' : isDirty() && innerFrom.organizationListOther.$invalid }">

                    <input type="text"
                           class="form-control"
                           name="organizationListOther2"
                           disabled
                           ng-model="otherModel2"
                           ng-options="item for item in otherList"
                           placeholder="Other"
                           data-auto-select="true" watchOptions="true" bs-typeahead>

                    <div id="selectedItem" ng-repeat="item in organizationListOther">{{ item }}</div>
                </div>
                <div class="col-sm-2 nopadding">
                    <a style="text-decoration:underline;">
                        <label ng-show="otherModel2 && otherModel2.trim()"
                               ng-click="organizationListOther = addList(organizationListOther, otherModel2) ; otherModel2 = null">+ Save</label>
                    </a>
                </div>
            </div>
        </div>

         ]]>
    </script>


    <script type="text/javascript">

    // <![CDATA[

    $( window ).load(function(){
        console.log('load');
        if(isPrint) {
            setTimeout(function(){
                window.print();

            }, 10000);
        }
    });

    // ]]>
    </script>

    <style type="text/css">
        @media print {
            body {
                font-family: sans-serif;
                font-size: 11pt;
            }

            label {
                font-family: sans-serif;
                font-size: 11pt;
            }

            input {
                font-family: sans-serif;
                font-size: 11pt;
            }

            text {
                font-family: sans-serif;
                font-size: 11pt;
            }

            textarea {
                font-family: sans-serif;
                font-size: 11pt;
            }

            select {
                font-family: sans-serif;
                font-size: 11pt;
            }

            p {
                font-family: sans-serif;
                font-size: 11pt;
            }

            span {
                font-family: sans-serif;
                font-size: 11pt;
            }

            table {
                font-family: sans-serif;
                font-size: 11pt;
            }

            .checkboxLabel {
                font-family: sans-serif;
                font-size: 11pt;
            }

            b{
                font-family: sans-serif;
                font-size: 11pt;
            }

            .print-hide{
                display:none;
            }
        }
    </style>
</div>

</html>