
        
<div ng-include="'ViewProfile.html'"
     ng-controller='FormProfileCtrl'></div>

<div ng-include="'ViewForestlandInfo.html'"
     ng-controller='FormForestlandCtrl'></div>

<div ng-include="'ViewHarvest.html'"
     ng-controller  = 'FormHarvestCtrl'></div>

<div ng-include="'ViewRawMaterial.html'"
     ng-controller  = 'FormRawMaterialCtrl'></div>

<div ng-include="'ViewResearchFunding.html'"
     ng-controller  = 'FormResFundingCtrl'></div>


<div ng-include="'ViewPartnership.html'"
     ng-controller='FormPartnershipCtrl'></div>

<div ng-include="'ViewEmergingIssues.html'"
     ng-controller='FormEmergingIssuesCtrl'></div>

<div ng-include="'ViewMarketSurvey.html'"
     ng-controller='FormMarketSurveyCtrl'></div>

<div ng-include="'ViewForestManagementStandard.html'"
     ng-controller='FormForestManagementStandardCtrl'></div>

<div ng-include="'ViewFiberSourcingStandard.html'"
     ng-controller='FormFiberSourcingStandardCtrl'></div>
