<div class="row" xmlns="http://www.w3.org/1999/html">
<div ng-init="errors = cs9.errors" ng-include="'/bundles/sficore/partials/form/error.html'"></div>

<div class="col-sm-12">
<h5>9. SFI 2015-2019 Forest Management Standard</h5>
<form name="cs9Form" novalidate>
<p>
    The SFI Forest Management Standard has several new and enhanced requirements. These changes are part of the SFI 2015-2019 Standard revision process. Many of the changes came from consultations with the SFI community — people like you.
</p>
<p>
    Your answers to this survey will enable SFI to:
<ul>
    <li>Demonstrate the value of the standard revision process and the subsequent improvements to the Standard.</li>
    <li>Communicate the positive outcomes resulting from your implementation of the new Standard.</li>
</ul>
</p>
<p>
    Your responses to the new questions will help us to show how the new Standard is improving forest management planning and operational practices. These improvements will ultimately lead to actions that address the issues facing our SFI community and reinforce the values we share. We will use the information and examples you provide to elevate the awareness of the new SFI 2015-2019 Standards. Your efforts will also help us engage brand-owners in a discussion about the value, relevance and credibility of the Standard.
</p>
<p>
    Information from the survey is only used in aggregate and company-specific data is not shared in the progress report. This survey requests specific case examples of your management improvements and best practices related to the new Standard. SFI would like to use your best-practice examples in communications. When asked to share your best stories, we will ask if you would like to share your organization’s best practice case example. You may also opt for sharing your stories but not have your organization identified.
</p>
<p>
    The following questions are included for your review and attention this year. No response to this survey is expected during this reporting period because the SFI Forest Management Standard was just released. We recommend that you begin tracking the information associated with these new questions during 2015 to enable reporting in January 2016, when responses will be mandatory. These questions will be asked in the 2016 and 2017 surveys. The specific questions related to forest conversion and chemical use will be incorporated into the 2016 SFI Annual Report Form and will be asked year over year. The answers to these two questions will help SFI better understand how Program Participants are managing these risks.
</p>

<div class="col-sm-12 ">
    <div class="col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Did You Know?</h3>
            </div>
            <div class="panel-body" style="height:150px;">
                This survey gives an option to provide case examples throughout. To make it easier to complete, use examples you are most proud of.
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Did You Know?</h3>
            </div>
            <div class="panel-body" style="height:150px;">
                If you provide specific case example information, SFI may feature your best practices in our communications. You may specify:
                <ul>
                    <li>Share</li>
                    <li>Don’t share</li>
                    <li>With our organization’s name</li>
                    <li>Without our organization’s name</li></ul>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Did You Know?</h3>
            </div>
            <div class="panel-body" style="height:150px;">
                Where it is an option to provide a case example, select the best-fit category for your story to share.
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12 formSection">

    <h5>Protection and Maintenance of Water Resourced</h5>
    <p>What new measures has your organization implemented to address protection of wetlands and riparian areas as required in Performance Measure 3.2</p>

    <div class="col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Indicator 3.2.1</h3>
            </div>
            <div class="panel-body">
                Program addressing management and protection of rivers, streams, lakes, wetlands, other water bodies and riparian areas during all phases of management, including the layout and construction of roads and skid trails to maintain water reach, flow and quality.
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Indicator 3.2.2</h3>
            </div>
            <div class="panel-body">
                Mapping of rivers, streams, lakes, wetlands and other water bodies as specified in state or provincial best management practices and, where appropriate, identification on the ground.
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Indicator 3.2.3</h3>
            </div>
            <div class="panel-body">
                Document and implement plans to manage and protect rivers, streams, lakes, wetlands, other water bodies and riparian areas.
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Indicator 3.2.4</h3>
            </div>
            <div class="panel-body">
                Plans that address wet-weather events in order to maintain water quality (e.g., forest inventory systems, wet-weather tracts, definitions of acceptable operating conditions).
            </div>
        </div>
    </div>

    <div class="col-sm-8 top-buffer">
        <ul>
            <li>Improved mapping (option to provide case example)</li>
            <li>improved stream inventory and management (option to provide case example)</li>
            <li>Improved wetland inventory and management (option to provide case example)</li>
            <li>Implemented enhanced buffers for wetlands (option to provide case example)</li>
            <li>Implemented enhanced buffers for riparian areas (option to provide case example)</li>
            <li>Defined machine free zones for wetlands (option to provide case example)</li>
            <li>Defined machine-free zones for riparian areas (option to provide case example)</li>
            <li>Implemented restrictions limiting operations to winter (frozen ground) for units with wet lands (option to provide case example)</li>
            <li>Implemented restrictions limiting operations to winter (frozen ground) for units with riparian areas (option to provide case example)</li>
            <li>Increased supervision of road/skid trail construction (option to provide case example)</li>
            <li>No change – we already address this in our planning and operational practices (describe the practice)</li>
            <li>No change (provide rationale)</li> </ul>

    </div>
</div>

<!--<div class="col-sm-12 formSection">-->
<!--<h5>Water Quality</h5>-->
<!--<p>How have the changes to Indicator 3.2.1 helped to improve your forest management planning and/or operational practices?</p>-->
<!--<div class="col-sm-4">-->
<!--<div class="panel panel-success">-->
<!--<div class="panel-heading">-->
<!--<h3 class="panel-title">Indicator 3.2.1</h3>-->
<!--</div>-->
<!--<div class="panel-body">-->
<!--Program addressing management and protection of rivers, streams, lakes, wetlands, other water bodies and riparian areas during all phases of management, including the layout and construction of roads and skid trails to maintain water reach, flow and quality.-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="col-sm-8 top-buffer">-->
<!--<ul>-->
<!--<li>Improved mapping</li>-->
<!--<li>Improved stream inventory</li>-->
<!--<li>Improved supervision of road/skid trail construction</li>-->
<!--<li>Other</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<div class="col-sm-12 formSection">
    <h5>Conservation of Biodiversity</h5>
    <p>How have the changes to Indicator 4.1.3 helped to improve your forest management planning and/or operational practices with respect to documenting diversity of forest cover types and age or size classes?</p>
    <div class="col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Indicator 4.1.3</h3>
            </div>
            <div class="panel-body">
                <p>Document diversity of forest cover types and age or size classes at the individual ownership or forest tenure level, and where credible data are available, at the landscape scale.</p>
                <p>Working individually or collaboratively to support diversity of native forest cover types and age or size classes that enhance biological diversity at the landscape scale.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-8 top-buffer">
        <ul>
            <li>Among forest tenure holdings, the documentation of forest diversity has improved as a consequence of this indicator (option to provide case example).</li>
            <li>Our organization consulted credible data to document forest diversity at the landscape scale (please list data sources).</li>
            <li>We individually supported forest diversity at the landscape level (option to provide case example).</li>
            <li>We worked within the context of a collaborative effort to support forest diversity at the landscape level. (option to provide case example).</li>
            <li>No change – we already address this in our planning and operational practices (describe the practice)</li>
            <li>No change (provide rationale)</li>
        </ul>
    </div>
    <div class="clear"></div>
    <br/>
    <p>How have the changes to Indicator 4.1.4 helped to improve your forest management planning and/or operational practices with respect to state, provincial, or regional conservation planning and priority-setting efforts.</p>
    <div class="col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Indicator 4.1.4</h3>
            </div>
            <div class="panel-body">
                <p>Program Participants shall participate in or incorporate the results of state, provincial, or regional conservation planning and priority-setting efforts to conserve biological diversity and consider these efforts in forest management planning. Examples of credible priority-setting efforts include state wildlife action plans, state forest action plans, relevant habitat conservation plans or provincial wildlife recovery plans.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-8 top-buffer">
        <ul>
            <li>Participated in conservation planning and priority-setting efforts (option to provide case example).</li>
            <li>Incorporated the results of conservation planning and priority-setting efforts (option to provide case example).</li>
            <li>Used state wildlife action plans for priority setting efforts (option to provide case example).</li>
            <li>Used state forest action plans for priority setting efforts (option to provide case example).</li>
            <li>Used habitat conservation plans for priority setting efforts (option to provide case example).</li>
            <li>Used provincial wildlife recovery plans for priority setting efforts (option to provide case example).</li>
            <li>No change – we already address this in our planning and operational practices (describe the practice)</li>
            <li>No change (provide rationale)</li>
        </ul>
    </div>

    <div class="clear"></div>
    <br/>
    <p>How have the changes to Indicator 4.1.5 helped to improve your forest management planning and/or operational practices with respect to conservation of known sites with viable occurrences of significant species of concern?</p>
    <div class="col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Indicator 4.1.5</h3>
            </div>
            <div class="panel-body">
                <p>Program to address conservation of known sites with viable occurrences of significant species of concern.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-8 top-buffer">
        <ul>
            <li>Initiated practices to ensure conservation of significant species of concern (please explain).</li>
            <li>No change — we already address this in our planning and operational practices.</li>
            <li>No change</li>
        </ul>
    </div>
</div><!-- end of formSection -->

<div class="col-sm-12 formSection">

    <h5>Indigenous Peoples </h5>
    <p>If you operate on public lands: In your forest management planning and/or operational practices program with respect to the recognition and respect of indigenous peoples’ rights, how have you addressed any of the following (please provide a case example for any that apply)?</p>

    <div class="col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Performance Measure 8.2</h3>
            </div>
            <div class="panel-body">
                <p>Program Participants with forest management responsibilities on public lands shall confer with affected Indigenous Peoples with respect to sustainable forest management practices. </p>
                <div class="panel-heading">
                    <h3 class="panel-title">Indicator 8.2.1</h3>
                </div>
                <p>Program that includes communicating with affected Indigenous Peoples to enable Program Participants to:</p>
                <ol>
                    <li>understand and respect traditional forest-related knowledge;</li>
                    <li>identify and protect spiritually, historically, or culturally important sites; </li>
                    <li>address the use of non-timber forest products of value to Indigenous Peoples in areas where Program Participants have management responsibilities on public lands; and</li>
                    <li>respond to Indigenous Peoples’ inquiries and concerns received.</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="col-sm-8 top-buffer">
        <ul>
            <li>Facilitated a better understanding and respect for traditional forest-related knowledge (option to provide case example).</li>
            <li>Helped to identify and protect spiritually, historically, or culturally important sites (option to provide case example).</li>
            <li>Helped us address the use of non-timber forest products of value to Indigenous Peoples in areas where Program Participants have management responsibilities on public lands (option to provide case example).</li>
            <li>Helped improve our response to Indigenous Peoples’ inquiries and concerns received (option to provide case example).</li>
            <li>No change – we already address this in our planning and operational practices (describe the practice)</li>
            <li>No change (provide rationale)</li>
        </ul>
    </div>
    <div class="clear"></div>

    <div class="col-sm-12">
        <p>If you manage on private lands how have you addressed any of the following regarding awareness of traditional forest-related knowledge:</p>
    </div>

    <div class="col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Performance Measure 8.3</h3>
            </div>
            <div class="panel-body">
                <div class="panel-heading">
                    <h3 class="panel-title">Performance Measure 8.3</h3>
                </div>
                <p>Program Participants are encouraged to communicate with and shall respond to local Indigenous Peoples with respect to sustainable forest management practices on their private lands.   </p>

                <div class="panel-heading">
                    <h3 class="panel-title">Indicator 8.3.1</h3>
                </div>
                <p>Program Participants are aware of traditional forest-related knowledge, such as known cultural heritage sites, the use of wood in traditional buildings and crafts, and flora that may be used in cultural practices for food, ceremonies or medicine. </p>

                <div class="panel-heading">
                    <h3 class="panel-title">Indicator 8.3.2</h3>
                </div>
                <p>Respond to Indigenous Peoples’ inquiries and concerns received.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-8 top-buffer">
        <ul>
            <li>known cultural heritage sites (option to provide case example)</li>
            <li>the use of wood in traditional buildings and crafts (option to provide case example)</li>
            <li>flora that may be used in cultural practices for food (option to provide case example)</li>
            <li>ceremonies or medicine (option to provide case example)</li>
            <li>No change – we already address this in our planning and operational practices (describe the practice)</li>
            <li>No change (provide rationale)</li>
        </ul>
    </div>

    <div class="clear"></div>

    <div class="col-sm-12">
        If you manage forests on public and/or private lands. Have Performance Measures 8.2 or 8.3 resulted in changes to improve communications with and the engagement of Tribes or First Nations?<br/>

        <ul>
            <li>Implementing memorandums of understanding or other agreements with indigenous peoples (option to provide case example).</li>
            <li>Held workshops with indigenous peoples (option to provide case example).</li>
            <li>Undertaken field tours or site visits with indigenous peoples (option to provide case example).</li>
            <li>Held face to face meetings with indigenous peoples (option to provide case example).</li>
            <li>Facilitated increased correspondence with indigenous peoples (option to provide case example).</li>
            <li>Other mechanism (please explain).</li>
            <li>No change – we already address this in our planning and operational practices (describe the practice)</li>
            <li>No change (provide rationale)</li>
        </ul>

        <br/><br/>
    </div>




</div><!-- end of formSection -->



<div class="col-sm-12 formSection">
    <h5>Training and Education</h5>
    <p>Have the changes to Indicator 11.1.5 helped to improve your planning and/or operational practices with respect to the training and education of wood producers? If yes, please provide examples of these improvements.</p>
    <div class="col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Indicator 11.1.5</h3>
            </div>
            <div class="panel-body">
                Program Participants shall have written agreements for the use of qualified logging professionals and/or certified logging professionals (where available) and/or wood producers that have completed training programs and are recognized as qualified logging professionals.
            </div>
        </div>
    </div>

    <div class="col-sm-8 top-buffer">
        <ul>
            Requirements for the use of qualified logging professionals and/or certified logging professionals and/or wood producers are now factored in:
            <li>Purchase orders (option to provide case example)</li>
            <li>Purchase contracts (option to provide case example)</li>
            <li>Other formats (option to provide case example)</li>
            <li>Other mechanism (please explain).</li>
            <li>No change – we already address this in our planning and operational practices (describe the practice)</li>
            <li>No change (provide rationale)</li>
        </ul>
        <br/>
        In your opinion, has the number of trained wood producers in your region of your forestlands increased/decreased/remained the same as compared with last year?
    </div>
</div><!-- end of formSection -->
<div class="col-sm-12 formSection">
    <h5>Forest Conversion and Chemical Use</h5>
    <p>
        The 2015-2019 SFI Forest Management Standard has new performance measures related to forest conversion and chemical use. These are important topics for brand owners and the conservation community, who are seeking to reduce the perceived risks associated with forest conversion and chemical use. These new requirements are designed to help Program Participants identify and manage these risks. SFI would like to better understand how Program Participants are managing these risks. We would also like to identify changes that may have occurred to your forest management planning and/or operational practices.
    </p>
    <p>
        These questions are not mandatory this year because the 2015-2019 Forest Management Standard was just released. Organizations should begin tracking this information in 2015 to enable reporting in January 2016 when responses will be mandatory. These specific questions will be incorporated into the 2016 SFI Annual Report Form and will be asked year over year.
    </p>
</div><!-- end of formSection -->

<div class="col-sm-12 formSection">
    <h5>Chemicals</h5>

    <p>Do you use a<a class="link" href="http://www.who.int/ipcs/publications/pesticides_hazard/en/" target="__blank"> WHO 1A or 1B pesticide</a> in your operations? If yes, please provide the pesticide used and the rational for why no other alternative was available. </p>
    <p>Did you stop using a <a class="link" href="http://www.who.int/ipcs/publications/pesticides_hazard/en/" target="__blank">WHO 1A or 1B pesticide</a> in your operations due to the new Standard requirement?  If yes, please provide the pesticide that you stopped using.</p>

    <div class="col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Indicator 2.2.4</h3>
            </div>
            <div class="panel-body">
                The World Health Organization (WHO) type 1A and 1B pesticides shall be prohibited, except where no other viable alternative is available.
            </div>
        </div>
    </div>

    <div class="col-sm-8 top-buffer">

    </div>
</div><!-- end of formSection -->
<div class="col-sm-12 formSection">
    <h5>Conversion</h5>
    <p>Did you convert one forest cover type to another forest cover type? If yes, please provide rationale as per the options noted in the indicator. </p>
    <div class="col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Indicator 1.2.1</h3>
            </div>
            <div class="panel-body">
                <p>
                    Program Participants shall not convert one forest cover type to another forest cover type, unless the conversion:
                </p>
                <ol>
                    <li>Is in compliance with relevant national and regional policy and legislation related to land use and forest management; and</li>
                    <li>Would not convert native forest types that are rare and ecologically significant at the landscape level or put any native forest types at risk of becoming rare; and</li>
                    <li>Does not create significant long-term adverse impacts on Forests with Exceptional Conservation Value, old-growth forests, forests critical to threatened and endangered species, and special sites.</li>

                </ol>
            </div>
        </div>
    </div>

    <div class="col-sm-8 top-buffer">

        <label style="padding-left: 20px"><b>Restoration of Historic Forest Cover.</b> Type in area converted to another use and select all that apply:</label>
        <ol style="list-style-type: lower-alpha;">

            <li>Riparian protection (explain) (tool tip text – e.g.  removal of loblolly-pine from riparian areas to allow re-establishment of hardwood species (US South); removal of alder from riparian areas  to allow re-establishment of spruce species (PNW/BC) (Options will be 0-10 acres. 11-100 acres; over 100 acres, over 1,000 acres)</li>
            <li>Native forest types (explain) (tool tip text - e.g. re-establishment of longleaf pine from loblolly pine (US South); re-establishment of blister rust resistant western white pine (PNW) (Options will be 0-10 acres. 11-100 acres; over 100 acres, over 1,000 acres)</li>
            <li>Other (explain) (Options will be 0-10 acres. 11-100 acres; over 100 acres, over 1,000 acres)</li>
        </ol>
    </div>

    <div class="clear"></div>
    <br><br><br>


    <div class="col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Indicator 1.2.2</h3>
            </div>
            <div class="panel-body">
                <p>
                    Where a Program Participant intends to convert another forest cover type, an assessment considers:
                </p>
                <ol>
                    <li>Productivity and stand quality conditions and impacts which may include social and economic values;</li>
                    <li>Specific ecosystem issues related to the site such as invasive species, insect or disease issues, riparian protection needs and others as appropriate to site including regeneration challenges; and</li>
                    <li>Ecological impacts of the conversion including a review at the site and landscape scale as well as consideration for any appropriate mitigation measures.</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="col-sm-8 top-buffer">
        <label style="padding-left: 20px"><b>Responding to forest health concerns.</b> Type in area converted to another use and select all that apply:</label>
        <ol style="list-style-type: lower-alpha;">

            <li>Invasive Species (explain) (tool tip text – e.g. removal non-native species like Empress tree (pawlonia spp.) (US South) (Options will be 0-10 acres. 11-100 acres; over 100 acres, over 1,000 acres)</li>
            <li>Disease issues (explain) (tool tip text - e.g. planting western red-cedar in areas with Douglas fir root rot; planting Douglas fir in areas with western white pine blister rust (PNW) (Options will be 0-10 acres. 11-100 acres; over 100 acres, over 1,000 acres)</li>
            <li>Insect (explain) (tool tip text – e.g. establishing Douglas fir or spruce in areas severely impacted by mountain pine beetle (Western Canada and PNW/Rocky Mtn. States); establishing pine species in areas severely impacted by spruce bud-worm (New England and Maritimes) (Options will be 0-10 acres. 11-100 acres; over 100 acres, over 1,000 acres)</li>
            <li>Other (explain) (Options will be 0-10 acres. 11-100 acres; over 100 acres, over 1,000 acres)</li>
        </ol>

    </div>

    <div class="clear"></div>
    <br>



    <div class="col-sm-4">
    </div>

    <div class="col-sm-8 top-buffer">
        <label style="padding-left: 20px"><b>Mitigating Present or Future Environmental Harm.</b> Type in area converted to another use and select all that apply:</label>
        <ol style="list-style-type: lower-alpha;">
            <li>Ecological impacts of conversion - review at the site level  (explain) (tool tip text – e.g. establishing stands of more drought hardy species in regions of prolonged drought (US South and California); establishing stands with species that are more resistant to abiotic damage (US South); establishing species at the landscape level that are not prone to ungulate browse (PNW, BC). (Options will be 0-10 acres. 11-100 acres; over 100 acres, over 1,000 acres)</li>
            <li>Ecological impacts of conversion - review at the landscape scale (explain) (tool tip text – e.g. establishing stands of more drought hardy species in regions of prolonged drought (US South and California); establishing stands with species that are more resistant to abiotic damage; establishing species at the landscape level that are not prone to ungulate browse (PNW, BC). (Options will be 0-10 acres. 11-100 acres; over 100 acres, over 1,000 acres)</li>
            <li>Other (explain) (Options will be 0-10 acres. 11-100 acres; over 100 acres, over 1,000 acres)</li>
        </ol>

    </div>

    <div class="clear"></div>
    <br>


    <div class="col-sm-4">
    </div>

    <div class="col-sm-8 top-buffer">
        <label style="padding-left: 20px"><b>Economic reasons.</b> Type in area converted to another use and select all that apply:</label>
        <ol style="list-style-type: lower-alpha;">

            <li>Productivity (explain) (tool tip text – removal of species considered as ‘off-site’ and therefore not achieving the potential of the site-index for the site e.g. Douglas fir planted on wetter sites (PNW, BC). (Options will be 0-10 acres. 11-100 acres; over 100 acres, over 1,000 acres)</li>
            <li>b. Stand quality (explain) (tool tip text – e.g. stand is exhibiting defects due to poor genetics that will result in reduced log quality – sinuosity or double leaders in Douglas fir, spruce, etc.) (Options will be 0-10 acres. 11-100 acres; over 100 acres, over 1,000 acres)</li>
            <li>Other (explain) (Options will be 0-10 acres. 11-100 acres; over 100 acres, over 1,000 acres)</li>

        </ol>

    </div>

    <div class="clear"></div>
    <br>


    <div class="col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Indicator 1.3.1</h3>
            </div>
            <div class="panel-body">
                <p>
                    Forest lands converted to other land uses shall not be certified to this SFI Standard. This does not apply to forest lands used for forest and wildlife management such as wildlife food plots or infrastructure such as forest roads, log processing areas, trails etc.
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-8 top-buffer">
        <p>Did you convert any forest lands to other land uses in 2015 (e.g. agriculture)? No/Yes (Please explain).</p>

        <p>Did you sell land knowing that it will be converted to another land use? No/Yes (Please explain).</p>

        <p>Provide the percentage of your managed forestland that was converted by region (state/province).  (Options will be % converted/state or province dropdown)</p>
    </div>

    <div class="clear"></div>
    <br><br><br>

</div><!-- end of formSection -->
<div class="form-group" ng-class="{'has-error has-feedback':  cs9Form.cs9_acknowledge.$invalid}">
    <input type="checkbox" disabled ng-required="isRequired()" customerror name="cs9_acknowledge" ng-model="cs9.acknowledge" class="icheck" icheck/>
    <label class="checkboxLabel">I have read all the questions in this section</label>
</div>
</form>

</div>
</div>