<div class="row section_background_3" id="sec-con">

    <div ng-init="errors = cs4.errors" ng-include="'/assets/partials/form/error.html'"></div>

    <div class="col-sm-10">
        <h5>3. Harvest &amp; Reforestation</h5>
        <form name="cs4Form">

            <!-- Section for USA -->
            <div ng-show="operateInUsa()" class="formSection">
                <h6>HARVEST</h6>
                <br/>
                <label tooltip data-html="true" data-placement="top"
                       data-title="Completed harvest units: these questions are directed solely at harvest and regeneration activities on participant-owned lands, or lands under long-term lease to the participant, or lands for which the participant has forest management responsibilities. (A long-term lease is one that extends beyond a single rotation. If the number of years specified in or remaining on a lease is less than one rotation, the lands covered by such a lease would be considered “nonindustrial” lands for SFI program compliance and reporting requirements). Only refer to units where harvesting was completed in 2015. This includes harvesting activities that were started in 2014 and completed in 2015, but not those that were still underway by the end of the 2015 calendar/fiscal year.">
                    <h6><strong>USA</strong> - Program Participant Land covered under the scope of your SFI certificate</h6>
                </label>

                <div>
                    <div style="margin-bottom: 10px;">What is the total area of harvest units complete last year that would qualify as <strong>final harvest (the removal of the remaining crop trees in a stand. It is anticipated that the time between final harvests on a given unit would typically correspond to the economic rotation age of the crop species)?</strong> (HA or Acres)</div>

                    <div style="margin-bottom: 10px;">Area <input style="width: 15%;" readonly type="number" class="form-control required shortest" name="harvesUnitCompleteLastYeaQualifyHAAC" max="100" min="0"
                                                                  ng-pattern="/^\d*(\.\d{1,2})?$/" pattern-msg="Enter decimal number up to 2 precision points" customerror
                                                                  ng-model="cs4.harvesUnitCompleteLastYeaQualifyHAAC"> HA/AC
                    </div>
                </div>

                <div ng-show="cs4.harvesUnitCompleteLastYeaQualifyHAAC">
                    <div class="form-group" ng-class="{'has-error' : hasError('usaTotalHervArea')}">
                        <label> What is the total area of final harvest units completed last year by clearcutting?</label>
                        <input readonly type="number" class="form-control required shortest" name="usaTotalHervArea"
                               ng-pattern="/^\d*(\.\d{1,4})?$/" pattern-msg="Must be a positive number with up to 4 decimal points" customerror
                               ng-model="cs4.usaTotalHervArea"> {{ unit }}
                    </div>

                    <div class="form-group" ng-class="{'has-error' : hasError('usaAvgHervArea')}">
                        <label>What was the average area of final harvest units that were clear-cut (even-aged):? (HA or Acres):</label>
                        <input readonly type="number" class="form-control required shortest" name="usaAvgHervArea"
                               ng-pattern="/^\d*(\.\d{1,4})?$/" pattern-msg="Must be a positive number with up to 4 decimal points" customerror
                               ng-model="cs4.usaAvgHervArea" > {{ unit }}
                    </div>

                    <label>If greater than 50 hectares or 120 acres, check all that apply and provide an explanation for each:</label>

                    <div class="form-group">

                        <input readonly disabled type="checkbox" class="form-group icheck" icheck ng-model="cs4.usaGovRegulation">
                        <label class="checkboxLabel"> &nbsp;Government regulations requiring larger harvest areas</label>
                        <br>

                        <div class="form-group" ng-show="cs4.usaGovRegulation">
                            <input placeholder="please explain" readonly type="text" class="form-control required shorter"
                                   ng-required="cs4.usaGovRegulation" customerror
                                   ng-model="cs4.usaGovRegulationExp">
                        </div>


                        <input readonly disabled type="checkbox" class="icheck" icheck ng-model="cs4.usaDisResDiseaseInsects">
                        <label class="checkboxLabel"> &nbsp;Response to natural disaster: Disease or Insects</label>
                        <br>

                        <div class="form-group" ng-show="cs4.usaDisResDiseaseInsects">
                            <input placeholder="please explain" readonly type="text" class="form-control required shorter"
                                   ng-required="cs4.usaDisResDiseaseInsects" customerror
                                   ng-model="cs4.usaDiseaseInsectsExp">
                        </div>

                        <input readonly disabled type="checkbox" class="icheck" icheck ng-model="cs4.usaDisResFireSalvage">
                        <label class="checkboxLabel"> &nbsp;Response to natural disaster: Fire salvage</label>
                        <br>

                        <div class="form-group" ng-show="cs4.usaDisResFireSalvage">
                            <input placeholder="please explain" readonly type="text" class="form-control required shorter"
                                   ng-required="cs4.usaDisResFireSalvage" customerror
                                   ng-model="cs4.usaFireSalvageExp">
                        </div>


                        <input readonly disabled type="checkbox" class="icheck" icheck ng-model="cs4.usaDisResWindthrow">
                        <label class="checkboxLabel"> &nbsp;Response to natural disaster: Windthrow</label>
                        <br>

                        <div class="form-group" ng-show="cs4.usaDisResWindthrow">
                            <input placeholder="please explain" readonly type="text" class="form-control required shorter"
                                   ng-required="cs4.usaDisResWindthrow" customerror
                                   ng-model="cs4.usaWindthrowExp">
                        </div>

                        <input readonly disabled type="checkbox" class="icheck" icheck ng-model="cs4.usaDisResHurricane">
                        <label class="checkboxLabel"> &nbsp;Response to natural disaster: Hurricane</label>
                        <br>

                        <div class="form-group" ng-show="cs4.usaDisResHurricane">
                            <input placeholder="please explain" readonly type="text" class="form-control required shorter"
                                   ng-required="cs4.usaDisResHurricane" customerror
                                   ng-model="cs4.usaHurricaneExp">
                        </div>

                        <input readonly disabled type="checkbox" class="icheck" icheck ng-model="cs4.usaDisResIceStorm">
                        <label class="checkboxLabel"> &nbsp;Response to natural disaster: Ice Storms</label>
                        <br>

                        <div class="form-group" ng-show="cs4.usaDisResIceStorm">
                            <input placeholder="please explain" readonly type="text" class="form-control required shorter"
                                   ng-required="cs4.usaDisResIceStorm" customerror
                                   ng-model="cs4.usaIceStormExp">
                        </div>


                        <input readonly disabled type="checkbox" class="icheck" icheck ng-model="cs4.usaOthersApply">
                        <label class="checkboxLabel"> &nbsp;Other</label>

                        <div class="form-group" ng-show="cs4.usaOthersApply">
                            <input placeholder="please explain" readonly type="text" class="form-control required shorter"
                                   ng-required="cs4.usaOthersApply" customerror
                                   ng-model="cs4.usaOthersExp">
                        </div>

                        <div>
                            <div style="margin-bottom: 10px;margin-top: 30px;">What is the total area of final harvest units completed last year by other methods? (HA or Acres)</div>

                            <div>Area
                                <input readonly type="number" class="form-control required shortest" name="harvesUnitCompleteLastYearMethodsHAAC" max="100" min="0"
                                       ng-pattern="/^\d*(\.\d{1,2})?$/" pattern-msg="Enter decimal number up to 2 precision points" customerror
                                       ng-model="cs4.harvesUnitCompleteLastYearMethodsHAAC"> HA/AC
                            </div>
                            <div style="margin-left: 9px;margin-top: 20px;" class="form-group" ng-show="cs4.harvesUnitCompleteLastYearMethodsHAAC">
                                <textarea readonly style="height: 60px;" type="text" class="form-control required shorter" placeholder="please explain"
                                          ng-required="cs4.harvesUnitCompleteLastYearMethodsHAAC" customerror
                                          ng-model="cs4.harvesUnitCompleteLastYearMethodsHAACExp"></textarea>
                            </div>
                        </div>

                    </div>
                </div>

                <div>
                    <div style="margin-bottom: 10px;">
                        What was the total area of harvest units complete last year NOT classified as <strong>final harvest</strong>? (HA or Acres)
                    </div>
                    <div style="margin-bottom: 10px;">Area <input style="width: 15%;" readonly type="number" class="form-control required shortest" name="usaFinalHarvestHAAC" max="100" min="0"
                                                                  ng-pattern="/^\d*(\.\d{1,2})?$/" pattern-msg="Enter decimal number up to 2 precision points" customerror
                                                                  ng-model="cs4.usaFinalHarvestHAAC"> HA/AC
                    </div>
                </div>
                <div ng-show="cs4.usaFinalHarvestHAAC">
                    <input disabled type="checkbox" class="icheck" icheck ng-model="cs4.usaSeedTreeShelterWood">
                    <label class="checkboxLabel">Seed tree and shelterwood</label>

                    <div class="form-group" ng-show="cs4.usaSeedTreeShelterWood">
                        <input style="width: 15%;" readonly type="number" class="form-control required shortest" name="usaSeedTreeShelterWoodArea"
                               ng-pattern="/^\d*(\.\d{1,4})?$/" ng-required="cs4.usaSeedTreeShelterWood" pattern-msg="Must be a positive number with up to 4 decimal points" customerror
                               ng-model="cs4.usaSeedTreeShelterWoodArea">  HA/AC

                        <input readonly style="margin-left: 10px;" type="text" class="form-control required shorter" placeholder="Please explain"
                               ng-required="cs4.usaSeedTreeShelterWood" customerror
                               ng-model="cs4.usaSeedTreeShelterWoodExp"/>
                    </div>
                    <br/>
                    <input disabled type="checkbox" class="icheck" icheck ng-model="cs4.usaSelectionMethod">
                    <label class="checkboxLabel">selection methods</label>

                    <div class="form-group" ng-show="cs4.usaSelectionMethod">
                        <input style="width: 15%;" readonly type="number" class="form-control required shortest" name="usaSelectionMethodArea"
                               ng-pattern="/^\d*(\.\d{1,4})?$/" ng-required="cs4.usaSelectionMethod" pattern-msg="Must be a positive number with up to 4 decimal points" customerror
                               ng-model="cs4.usaSelectionMethodArea"> HA/AC

                        <input readonly style="margin-left: 10px;" type="text" class="form-control required shorter" placeholder="Please explain"
                               ng-required="cs4.usaSelectionMethod" customerror
                               ng-model="cs4.usaSelectionMethodExp"/>
                    </div>
                    <br/>
                    <input disabled type="checkbox" class="icheck" icheck ng-model="cs4.usaSanitation">
                    <label class="checkboxLabel">thinning or sanitation salvage</label>
                    <div class="form-group" ng-show="cs4.usaSanitation">
                        <input style="width: 15%;" readonly type="number" class="form-control required shortest" name="usaSanitationArea"
                               ng-pattern="/^\d*(\.\d{1,4})?$/" ng-required="cs4.usaSanitation" pattern-msg="Must be a positive number with up to 4 decimal points" customerror
                               ng-model="cs4.usaSanitationArea"> HA/AC

                        <input readonly style="margin-left: 10px;" type="text" class="form-control required shorter" placeholder="Please explain"
                               ng-required="cs4.usaSanitation" customerror
                               ng-model="cs4.usaSanitationExp"/>
                    </div>
                    <br/>
                    <input disabled type="checkbox" class="icheck" icheck ng-model="cs4.usaOtherMethod">
                    <label class="checkboxLabel">Other methods</label>

                    <div class="form-group" ng-show="cs4.usaOtherMethod">
                        <input style="width: 15%;" readonly type="number" class="form-control shortest" name="usaOtherMethodHAAC"
                               ng-pattern="/^\d*(\.\d{1,4})?$/" ng-required="cs4.usaOtherMethod" customerror
                               ng-model="cs4.usaOtherMethodHAAC"> HA/AC

                        <input readonly style="margin-left: 10px;" type="text" class="form-control required shorter" placeholder="Please explain"
                               ng-required="cs4.usaOtherMethod" customerror
                               ng-model="cs4.usaOtherMethodHAACExp"/>
                    </div>
                </div>
            </div>
            <!-- end -->

            <!-- Section for Canada -->
            <div ng-show="operateInCa()">
                <label tooltip data-html="true" data-placement="top" data-title="Completed harvest units: these questions are directed solely at harvest and regeneration activities on participant-owned lands, or lands under long-term lease to the participant, or lands for which the participant has forest management responsibilities. (A long-term lease is one that extends beyond a single rotation. If the number of years specified in or remaining on a lease is less than one rotation, the lands covered by such a lease would be considered “nonindustrial” lands for SFI program compliance and reporting requirements). Only refer to units where harvesting was completed in 2015. This includes harvesting activities that were started in 2014 and completed in 2015, but not those that were still underway by the end of the 2015 calendar/fiscal year.">
                    <h6><strong>Canada</strong> - Program Participant Land covered under the scope of your SFI certificate</h6>
                </label>

                <div>
                    <div style="margin-bottom: 10px;">What is the total area of harvest units complete last year that would qualify as <strong>final harvest (the removal of the remaining crop trees in a stand. It is anticipated that the time between final harvests on a given unit would typically correspond to the economic rotation age of the crop species)?</strong> (HA or Acres)</div>

                    <div style="margin-bottom: 10px;">Area <input style="width: 15%;" readonly type="number" class="form-control required shortest" name="caHarvestUnitCompleteLastYeaQualifyHAAC" max="100" min="0"
                                                                  ng-pattern="/^\d*(\.\d{1,2})?$/" pattern-msg="Enter decimal number up to 2 precision points" customerror
                                                                  ng-model="cs4.caHarvestUnitCompleteLastYeaQualifyHAAC"> HA/AC
                    </div>
                </div>

                <div ng-show="cs4.caHarvestUnitCompleteLastYeaQualifyHAAC">
                    <div class="form-group" ng-class="{'has-error' : hasError('caTotalHervArea')}">
                        <label> What is the total area of final harvest units completed last year by clearcutting?</label>
                        <input readonly type="number" class="form-control required shortest" name="caTotalHervArea"
                               ng-pattern="/^\d*(\.\d{1,4})?$/" pattern-msg="Must be a positive number with up to 4 decimal points" customerror
                               ng-model="cs4.caTotalHervArea"> {{ unit }}
                    </div>

                    <div class="form-group" ng-class="{'has-error' : hasError('caAvgHervArea')}">
                        <label>What was the average area of final harvest units that were clear-cut (even-aged):? (HA or Acres):</label>
                        <input readonly type="number" class="form-control required shortest" name="caAvgHervArea"
                               ng-pattern="/^\d*(\.\d{1,4})?$/" pattern-msg="Must be a positive number with up to 4 decimal points" customerror
                               ng-model="cs4.caAvgHervArea" > {{ unit }}
                    </div>

                    <!--<div class="form-group" ng-show="showExplCheckboxs('ca')">-->
                    <div class="form-group">

                        <label>If greater than 50 hectares or 120 acres, check all that apply and provide an explanation for each:</label>

                        <div class="form-group">

                            <input readonly disabled type="checkbox" class="form-group icheck" icheck ng-model="cs4.caGovRegulation">
                            <label class="checkboxLabel"> &nbsp;Government regulations requiring larger harvest areas</label>
                            <br>

                            <div class="form-group" ng-show="cs4.caGovRegulation">
                                <input placeholder="please explain" readonly type="text" class="form-control required shorter"
                                       ng-required="cs4.caGovRegulation" customerror
                                       ng-model="cs4.caGovRegulationExp">
                            </div>


                            <input readonly disabled type="checkbox" class="icheck" icheck ng-model="cs4.caDisResDiseaseInsects">
                            <label class="checkboxLabel"> &nbsp;Response to natural disaster: Disease or Insects</label>
                            <br>

                            <div class="form-group" ng-show="cs4.caDisResDiseaseInsects">
                                <input placeholder="please explain" readonly type="text" class="form-control required shorter"
                                       ng-required="cs4.ucaDisResDiseaseInsects" customerror
                                       ng-model="cs4.caDiseaseInsectsExp">
                            </div>

                            <input readonly disabled type="checkbox" class="icheck" icheck ng-model="cs4.caDisResFireSalvage">
                            <label class="checkboxLabel"> &nbsp;Response to natural disaster: Fire salvage</label>
                            <br>

                            <div class="form-group" ng-show="cs4.caDisResFireSalvage">
                                <input placeholder="please explain" readonly type="text" class="form-control required shorter"
                                       ng-required="cs4.caDisResFireSalvage" customerror
                                       ng-model="cs4.caFireSalvageExp">
                            </div>


                            <input readonly disabled type="checkbox" class="icheck" icheck ng-model="cs4.caDisResWindthrow">
                            <label class="checkboxLabel"> &nbsp;Response to natural disaster: Windthrow</label>
                            <br>

                            <div class="form-group" ng-show="cs4.caDisResWindthrow">
                                <input placeholder="please explain" readonly type="text" class="form-control required shorter"
                                       ng-required="cs4.caDisResWindthrow" customerror
                                       ng-model="cs4.caWindthrowExp">
                            </div>

                            <input readonly disabled type="checkbox" class="icheck" icheck ng-model="cs4.caDisResHurricane">
                            <label class="checkboxLabel"> &nbsp;Response to natural disaster: Hurricane</label>
                            <br>

                            <div class="form-group" ng-show="cs4.caDisResHurricane">
                                <input placeholder="please explain" readonly type="text" class="form-control required shorter"
                                       ng-required="cs4.caDisResHurricane" customerror
                                       ng-model="cs4.caHurricaneExp">
                            </div>

                            <input readonly disabled type="checkbox" class="icheck" icheck ng-model="cs4.caDisResIceStorm">
                            <label class="checkboxLabel"> &nbsp;Response to natural disaster: Ice Storms</label>
                            <br>

                            <div class="form-group" ng-show="cs4.caDisResIceStorm">
                                <input placeholder="please explain" readonly type="text" class="form-control required shorter"
                                       ng-required="cs4.caDisResIceStorm" customerror
                                       ng-model="cs4.caIceStormExp">
                            </div>


                            <input readonly disabled type="checkbox" class="icheck" icheck ng-model="cs4.caOthersApply">
                            <label class="checkboxLabel"> &nbsp;Other</label>

                            <div class="form-group" ng-show="cs4.caOthersApply">
                                <input placeholder="please explain" readonly type="text" class="form-control required shorter"
                                       ng-required="cs4.caOthersApply" customerror
                                       ng-model="cs4.caOthersExp">
                            </div>

                            <div>
                                <div style="margin-bottom: 10px;margin-top: 30px;">What is the total area of final harvest units completed last year by other methods? (HA or Acres)</div>

                                <div>Area
                                    <input readonly type="number" class="form-control required shortest" name="caHarvesUnitCompleteLastYearMethodsHAAC" max="100" min="0"
                                           ng-pattern="/^\d*(\.\d{1,2})?$/" pattern-msg="Enter decimal number up to 2 precision points" customerror
                                           ng-model="cs4.caHarvesUnitCompleteLastYearMethodsHAAC"> HA/AC
                                </div>
                                <div style="margin-left: 9px;margin-top: 20px;" class="form-group" ng-show="cs4.caHarvesUnitCompleteLastYearMethodsHAAC">
                                <textarea readonly style="height: 60px;" type="text" class="form-control required shorter" placeholder="please explain"
                                          ng-required="cs4.caHarvesUnitCompleteLastYearMethodsHAAC" customerror
                                          ng-model="cs4.caHarvesUnitCompleteLastYearMethodsHAACExp"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div>
                    <div style="margin-bottom: 10px;">
                        What was the total area of harvest units complete last year NOT classified as <strong>final harvest</strong>? (HA or Acres)
                    </div>
                    <div style="margin-bottom: 10px;">Area <input style="width: 15%;" readonly type="number" class="form-control required shortest" name="caFinalHarvestHAAC" max="100" min="0"
                                                                  ng-pattern="/^\d*(\.\d{1,2})?$/" pattern-msg="Enter decimal number up to 2 precision points" customerror
                                                                  ng-model="cs4.caFinalHarvestHAAC"> HA/AC
                    </div>
                </div>
                <div ng-show="cs4.caFinalHarvestHAAC">
                    <input disabled type="checkbox" class="icheck" icheck ng-model="cs4.caSeedTreeShelterWood">
                    <label class="checkboxLabel">Seed tree and shelterwood</label>

                    <div class="form-group" ng-show="cs4.caSeedTreeShelterWood">
                        <input style="width: 15%;" readonly type="number" class="form-control required shortest" name="caSeedTreeShelterWoodArea"
                               ng-pattern="/^\d*(\.\d{1,4})?$/" ng-required="cs4.caSeedTreeShelterWood" pattern-msg="Must be a positive number with up to 4 decimal points" customerror
                               ng-model="cs4.caSeedTreeShelterWoodArea">  HA/AC

                        <input readonly style="margin-left: 10px;" type="text" class="form-control required shorter" placeholder="Please explain"
                               ng-required="cs4.caSeedTreeShelterWood" customerror
                               ng-model="cs4.caSeedTreeShelterWoodExp"/>
                    </div>
                    <br/>
                    <input disabled type="checkbox" class="icheck" icheck ng-model="cs4.caSelectionMethod">
                    <label class="checkboxLabel">selection methods</label>

                    <div class="form-group" ng-show="cs4.caSelectionMethod">
                        <input style="width: 15%;" readonly type="number" class="form-control required shortest" name="caSelectionMethodArea"
                               ng-pattern="/^\d*(\.\d{1,4})?$/" ng-required="cs4.caSelectionMethod" pattern-msg="Must be a positive number with up to 4 decimal points" customerror
                               ng-model="cs4.caSelectionMethodArea"> HA/AC

                        <input readonly style="margin-left: 10px;" type="text" class="form-control required shorter" placeholder="Please explain"
                               ng-required="cs4.caSelectionMethod" customerror
                               ng-model="cs4.caSelectionMethodExp"/>
                    </div>
                    <br/>
                    <input disabled type="checkbox" class="icheck" icheck ng-model="cs4.caSanitation">
                    <label class="checkboxLabel">thinning or sanitation salvage</label>
                    <div class="form-group" ng-show="cs4.caSanitation">
                        <input style="width: 15%;" readonly type="number" class="form-control required shortest" name="caSanitationArea"
                               ng-pattern="/^\d*(\.\d{1,4})?$/" ng-required="cs4.caSanitation" pattern-msg="Must be a positive number with up to 4 decimal points" customerror
                               ng-model="cs4.caSanitationArea"> HA/AC

                        <input readonly style="margin-left: 10px;" type="text" class="form-control required shorter" placeholder="Please explain"
                               ng-required="cs4.caSanitation" customerror
                               ng-model="cs4.caSanitationExp"/>
                    </div>
                    <br/>
                    <input disabled type="checkbox" class="icheck" icheck ng-model="cs4.caOtherMethod">
                    <label class="checkboxLabel">Other methods</label>

                    <div class="form-group" ng-show="cs4.caOtherMethod">
                        <input style="width: 15%;" readonly type="number" class="form-control shortest" name="caOtherMethodHAAC"
                               ng-pattern="/^\d*(\.\d{1,4})?$/" ng-required="cs4.caOtherMethod" customerror
                               ng-model="cs4.caOtherMethodHAAC"> HA/AC


                        <input readonly style="margin-left: 10px;" type="text" class="form-control required shorter" placeholder="Please explain"
                               ng-required="cs4.caOtherMethod" customerror
                               ng-model="cs4.caOtherMethodHAACExp"/>
                    </div>
                </div>
            </div>
            <!-- end -->


            <p>
                REFORESTATION - activities and five year assessment for organizations managing forestlands. The following data is collected for your activities related to area under the scope of your SFI certification.
            </p>
            <p>
                Replanting and Direct Seeding Timing. The replanting "clock" starts after the entire unit is harvested or the sale has been completed (see guidance under completed harvest units above). Do not include areas that were replanted due to poor seedling survival. "Failed plantation" data are ultimately captured in the five year regeneration success question.
            </p>

            <!-- Section for USA -->
            <div class="form-group formSection col-sm-12" ng-show="operateInUsa()">

                <h6>Reforestation Data for <strong>USA</strong></h6>


                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Regeneration Type</th>
                        <th>Within 1 year of final harvest </th>
                        <th>Within 2 years of final harvest</th>
                        <th>More than 2 years of final harvest</th>
                        <th>Total for 2016</th>
                    </tr>
                    </thead>

                    <tbody>

                    <tr>
                        <td>Artificial - Planting</td>

                        <td ng-class="{'has-error' : hasError('usaPlantingOne')}">
                            <input readonly type="number" class="form-control required shorter" name="usaPlantingOneYr"
                                   ng-pattern="/^\d*(\.\d{1,4})?$/" pattern-msg="Must be a positive number with up to 4 decimal points" customerror
                                   ng-model="cs4.usaPlantingOneYr"> {{ unit }}</td>

                        <td ng-class="{'has-error' : hasError('usaPlantingTwo')}">
                            <input readonly type="number" class="form-control required shorter" name="usaPlantingTwoYr"
                                   ng-pattern="/^\d*(\.\d{1,4})?$/" pattern-msg="Must be a positive number with up to 4 decimal points" customerror
                                   ng-model="cs4.usaPlantingTwoYr"> {{ unit }}</td>

                        <td ng-class="{'has-error' : hasError('usaPlantingTwoPlus')}">
                            <input readonly type="number" class="form-control required shorter" name="usaPlantingTwoPlusYr"
                                   ng-pattern="/^\d*(\.\d{1,4})?$/" pattern-msg="Must be a positive number with up to 4 decimal points" customerror
                                   ng-model="cs4.usaPlantingTwoPlusYr"> {{ unit }}</td>

                        <td class="vert-align-middle"> {{ getPlantingTotal('usa', 'planting') }} {{ unit }} </td>
                    </tr>

                    <tr>
                        <td>Artificial - Direct seeding</td>

                        <td ng-class="{'has-error' : hasError('usaSeedingOne')}">
                            <input readonly type="number" class="form-control required shorter" name="usaSeedingOneYr"
                                   ng-pattern="/^\d*(\.\d{1,4})?$/" pattern-msg="Must be a positive number with up to 4 decimal points" customerror
                                   ng-model="cs4.usaSeedingOneYr"> {{ unit }}</td>

                        <td ng-class="{'has-error' : hasError('usaSeedingTwo')}">
                            <input readonly type="number" class="form-control required shorter" name="usaSeedingTwoYr"
                                   ng-pattern="/^\d*(\.\d{1,4})?$/" pattern-msg="Must be a positive number with up to 4 decimal points" customerror
                                   ng-model="cs4.usaSeedingTwoYr"> {{ unit }}</td>

                        <td ng-class="{'has-error' : hasError('usaSeedingTwoPlus')}">
                            <input readonly type="number" class="form-control required shorter" name="usaSeedingTwoPlusYr"
                                   ng-pattern="/^\d*(\.\d{1,4})?$/" pattern-msg="Must be a positive number with up to 4 decimal points" customerror
                                   ng-model="cs4.usaSeedingTwoPlusYr"> {{ unit }}</td>

                        <td class="mathTotal vert-align-middle"> {{ getPlantingTotal('usa', 'seeding') }} {{ unit }} </td>
                    </tr>
                    </tbody>
                </table>

                <table class="col-sm-12">
                    <tr>
                        <td>
                            <div class="form-group" ng-class="{'has-error' : hasError('usanaturalRegen2014')}">
                                <label>What was the Natural Regeneration - All types in 2016?</label>
                                <input readonly style="width: 60%;" type="number" class="form-control required shortest" name="usaNatRegen2014"
                                       ng-pattern="/^\d*(\.\d{1,2})?$/" pattern-msg="Enter decimal number up to 2 precision points" customerror
                                       ng-model="cs4.usaNatRegen2014"> {{ unit }}
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><div class="form-group" ng-class="{'has-error' : hasError('usaharvestRegenPerc')}">
                            <label tooltip data-placement="top" data-container="body" data-html="true"
                                   data-title='Objective 2. Forest Productivity from SFI 2010-2015 requires SFI Program Participants with forest land to promptly reforest after final harvest. (PM 2.1). Indicator 2. states: Reforestation, unless delayed for site-specific environmental or forest health considerations or legal requirements, through planting within two years or planting seasons, or by planned natural regeneration methods within  five  years.'>
                                What was the percent of harvest units regenerated after 5 growing seasons?</label>


                            <input readonly style="width: 60%;" type="number" class="form-control required shortest" name="usaRegenPerc5Yr" max="100" min="0"
                                   ng-pattern="/^\d*(\.\d{1,2})?$/" pattern-msg="Enter decimal number up to 2 precision points" customerror
                                   ng-model="cs4.usaRegenPerc5Yr"> %
                        </div></td>
                        <td>
                            <div class="form-group" ng-class="{'has-error' : hasError('usaharvestRegenPerc')}">
                                <label tooltip data-placement="top" data-container="body" data-html="true"
                                       data-title='Objective 2. Forest Productivity from SFI 2010-2015 requires SFI Program Participants with forest land to promptly reforest after final harvest. (PM 2.1). Indicator 2. states: Reforestation, unless delayed for site-specific environmental or forest health considerations or legal requirements, through planting within two years or planting seasons, or by planned natural regeneration methods within  five  years.'>
                                    What was the total area regenerated after five growing seasons? (HA or Acres)</label>

                                <div style="margin-left: 60px;">Area <input readonly style="width: 32%;" type="number" class="form-control required shortest" name="usaRegenPerc5YrHAAC" max="100" min="0"
                                                                            ng-pattern="/^\d*(\.\d{1,2})?$/" pattern-msg="Enter decimal number up to 2 precision points" customerror
                                                                            ng-model="cs4.usaRegenPerc5YrHAAC"> HA/AC
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>

            </div >
            <!-- end -->

            <!-- Section for Canada -->
            <div class="form-group formSection" ng-show="operateInCa()">
                <h6>Reforestation Data for <strong>Canada</strong></h6>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Regeneration Type</th>
                        <th>Within 1 year of final harvest </th>
                        <th>Within 2 years of final harvest</th>
                        <th>More than 2 years of final harvest</th>
                        <th>Total for 2016</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td>Artificial - Planting</td>
                        <td ng-class="{'has-error' : hasError('caPlantingOne')}">
                            <input readonly type="number" class="form-control required shorter" name="caPlantingOne" min="0"
                                   ng-pattern="/^\d*(\.\d{1,4})?$/" pattern-msg="Must be a positive number with up to 4 decimal points" customerror
                                   ng-model="cs4.caPlantingOneYr"> {{ unit }}</td>

                        <td ng-class="{'has-error' : hasError('caPlantingTwo')}">
                            <input readonly type="number" class="form-control required shorter" name="caPlantingTwo" min="0"
                                   ng-pattern="/^\d*(\.\d{1,4})?$/" pattern-msg="Must be a positive number with up to 4 decimal points" customerror
                                   ng-model="cs4.caPlantingTwoYr"> {{ unit }}</td>

                        <td ng-class="{'has-error' : hasError('caPlantingTwoPlus')}">
                            <input readonly type="number" class="form-control required shorter" name="caPlantingTwoPlus" min="0"
                                   ng-pattern="/^\d*(\.\d{1,4})?$/" pattern-msg="Must be a positive number with up to 4 decimal points" customerror
                                   ng-model="cs4.caPlantingTwoPlusYr"> {{ unit }}</td>

                        <td class="mathTotal vert-align-middle"> {{ getPlantingTotal('ca', 'planting') }} {{ unit }}</td>
                    </tr>

                    <tr>
                        <td>Artificial - Direct seeding</td>
                        <td ng-class="{'has-error' : hasError('caSeedingOne')}">
                            <input readonly type="number" class="form-control required shorter" name="caSeedingOne" min="0"
                                   ng-pattern="/^\d*(\.\d{1,4})?$/" pattern-msg="Must be a positive number with up to 4 decimal points" customerror
                                   ng-model="cs4.caSeedingOneYr"> {{ unit }}</td>

                        <td ng-class="{'has-error' : hasError('caSeedingTwo')}">
                            <input readonly type="number" class="form-control required shorter" name="caSeedingTwo" min="0"
                                   ng-pattern="/^\d*(\.\d{1,4})?$/" pattern-msg="Must be a positive number with up to 4 decimal points" customerror
                                   ng-model="cs4.caSeedingTwoYr"> {{ unit }}</td>

                        <td ng-class="{'has-error' : hasError('caSeedingTwo')}">
                            <input readonly type="number" class="form-control required shorter" name="caSeedingTwo" min="0"
                                   ng-pattern="/^\d*(\.\d{1,4})?$/" pattern-msg="Must be a positive number with up to 4 decimal points" customerror
                                   ng-model="cs4.caSeedingTwoPlusYr"> {{ unit }}</td>

                        <td class="mathTotal vert-align-middle"> {{ getPlantingTotal('ca', 'seeding') }} {{ unit }}</td>
                    </tr>
                    </tbody>
                </table>

                <!-- end -->

                <table class="col-sm-12">
                    <tr>
                        <td>
                            <div class="form-group" ng-class="{'has-error' : hasError('naturalRegen2014')}">
                                <label>What was the Natural Regeneration - All types in 2016?</label>
                                <input readonly style="width: 60%;" type="number" class="form-control required shortest" name="naturalRegen2014" min="0"
                                       ng-pattern="/^\d*(\.\d{1,2})?$/" pattern-msg="Enter decimal number up to 2 precision points" customerror
                                       ng-model="cs4.caNatRegen2014"> {{ unit }}
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group" ng-class="{'has-error' : hasError('harvestRegenPerc')}">
                                <label tooltip data-placement="top" data-container="body" data-html="true"
                                       data-title='Objective 2. Forest Productivity from SFI 2010-2015 requires SFI Program Participants with forest land to promptly reforest after final harvest. (PM 2.1). Indicator 2. states: Reforestation, unless delayed for site-specific environmental or forest health considerations or legal requirements, through planting within two years or planting seasons, or by planned natural regeneration methods within  five  years.'>
                                    What was the percent of harvest units regenerated after 5 growing seasons?</label>

                                <input readonly  style="width: 60%;" type="number" class="form-control required shortest" name="harvestRegenPerc" max="100" min="0" min="0"
                                        ng-pattern="/^\d*(\.\d{1,2})?$/" pattern-msg="Enter decimal number up to 2 precision points" customerror
                                        ng-model="cs4.caRegenPerc5Yr"> %
                            </div>
                        </td>
                        <td>
                            <div class="form-group" ng-class="{'has-error' : hasError('harvestRegenPerc')}">
                                <label tooltip data-placement="top" data-container="body" data-html="true"
                                       data-title='Objective 2. Forest Productivity from SFI 2010-2015 requires SFI Program Participants with forest land to promptly reforest after final harvest. (PM 2.1). Indicator 2. states: Reforestation, unless delayed for site-specific environmental or forest health considerations or legal requirements, through planting within two years or planting seasons, or by planned natural regeneration methods within  five  years.'>
                                    What was the total area regenerated after five growing seasons? (HA or Acres)</label>

                                <div style="margin-left: 60px;">Area <input readonly style="width: 32%;" type="number" class="form-control required shortest" name="harvestRegenPerc" max="100" min="0" min="0"
                                                                            ng-pattern="/^\d*(\.\d{1,2})?$/" pattern-msg="Enter decimal number up to 2 precision points" customerror
                                                                            ng-model="cs4.caRegenPerc5YrHAAC"> HA/AC
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>

            </div >
        </form>

        {{ setForms() }}
    </div>
</div>
