<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorator="layout" th:with="title=${title}">

<section layout:fragment="content">

    <div id="wrapper">
        <div class="container">
            <div class="formContainer">
                <div class="breadcrumb">
                    <span class="text-muted">/</span>
                    Company Edit
                </div>
                <div class="formContent">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="sidebarmenu">
                                <th:block th:include="left_menu"></th:block>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <section class="content-header">
                                <nav class="navbar navbar-default" role="navigation">
                                    <div class="navbar-header">
                                        <span class="navbar-brand">Create</span>
                                    </div>
                                    <div class="container-fluid">
                                        <div class="navbar-left">
                                        </div>

                                        <ul class="nav navbar-nav navbar-right">
                                            <li class="dropdown sonata-actions">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <b class="caret"></b></a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                    </li>
                                                    <li>
                                                    </li>
                                                    <li>
                                                    </li>
                                                    <li>
                                                        <a class="sonata-action-element" style="color: #080808;" th:href="@{/admin/company/list}">
                                                            <i class="fa fa-list"></i>
                                                            Return to list</a>
                                                    </li>
                                                    <li>
                                                        <a class="sonata-action-element" style="color: #080808;" th:href="@{/admin/company/new}">
                                                            <i class="fa fa-plus-circle"></i>
                                                            Add new</a>
                                                    </li>

                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>

                            </section>
                            <section class="content">

                                <div class="sonata-ba-form">

                                    <!--<form th:action="@{${id}} + '?' + ${_csrf.parameterName} + '=' + ${_csrf.token}" th:object="${company}" method="POST" class="form-horizontal" enctype="multipart/form-data">-->
                                    <form th:object="${company}" method="POST" class="form-horizontal" enctype="multipart/form-data">

                                        <div class="row">

                                            <div class="col-md-12">
                                                <div class="col-md-12">
                                                    <div class="box box-success">
                                                        <div class="box-header">
                                                            <h4 class="box-title">
                                                                Company
                                                            </h4>
                                                        </div>
                                                        <div class="box-body">
                                                            <div class="sonata-ba-collapsed-fields">

                                                                <div class="form-group" id="sonata-ba-field-container-s563ad95d53c77_name">
                                                                    <label class="control-label required" style="text-align: left;">
                                                                        Company Name
                                                                    </label>

                                                                    <div class=" sonata-ba-field sonata-ba-field-standard-natural  ">
                                                                        <input type="text" th:path="*{name}" th:field="*{name}" class="form-control" required="required" />
                                                                        <errors th:path="*{name}" class="help-inline"/>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group" id="sonata-ba-field-container-s563ad95d53c77_area_unit">
                                                                    <label class="control-label required" style="text-align: left;">
                                                                        Area Unit
                                                                    </label>

                                                                    <div class=" sonata-ba-field sonata-ba-field-standard-natural  ">

                                                                        <select th:field="*{areaUnit.id}" class="form-control" required="required" >
                                                                            <option th:each="areaUnit : ${areaUnities}" th:value="${areaUnit.id}" th:text="${areaUnit.shortCode}">
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group" id="sonata-ba-field-container-s563ad95d53c77_file">
                                                                    <label class=" control-label" style="text-align: left;">
                                                                        Company Logo
                                                                    </label>

                                                                    <div class=" sonata-ba-field sonata-ba-field-standard-natural ">
                                                                        <input type="file" name="file" class=" form-control" />

                                                                    </div>
                                                                </div>


                                                                <div class="form-group" id="sonata-ba-field-container-s563ad95d53c77_sfi0Sci1">
                                                                    <label class="control-label required" style="text-align: left;">
                                                                        The users associated with this company are allowed to access to
                                                                    </label>

                                                                    <div class=" sonata-ba-field sonata-ba-field-standard-natural">
                                                                        <input type="radio" th:name="sfi0Sci1" th:text="${'SFI Annual Progress Report'}" th:value="false" th:field="*{sfi0Sci1}" />
                                                                        <br/>
                                                                        <input type="radio" th:name="sfi0Sci1" th:text="${'SIC Survey'}" th:value="true" th:field="*{sfi0Sci1}" />
                                                                    </div>
                                                                </div>

                                                                <div class="form-group" id="sonata-ba-field-container-primary0Secondary1">
                                                                    <div class=" sonata-ba-field sonata-ba-field-standard-natural">
                                                                        <input type="radio" th:name="primary0Secondary1" th:text="${'Sections 1-8 and Section 9 Market Survey- Questions for Primary Users'}" th:value="false" th:field="*{primary0Secondary1}" />
                                                                        <br/>
                                                                        <input type="radio" th:name="primary0Secondary1" th:text="${'Sections 1-8 and Section 9 Market Survey- Questions for Secondary Users'}" th:value="true" th:field="*{primary0Secondary1}" />
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="well well-small form-actions">
                                            <!--<button class="btn btn-success" type="submit" name="btn_create_and_edit"><i class="fa fa-save"></i> Create</button>-->
                                            <button type="submit" class="btn btn-success" name="btn_create_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> Update and return to list</button>
                                            <!--<button class="btn btn-success" type="submit" name="btn_create_and_create"><i class="fa fa-plus-circle"></i> Create and add another</button>-->
                                        </div>

                                    </form>
                                </div>

                            </section>

                        </div>
                    </div>
                    <!-- END VALIDATION STATES-->
                </div>

            </div>
        </div>

    </div>
</section>

<div layout:fragment="script">

    <script type="text/javascript">
        // <![CDATA[
        var $grp1 = $("[name=sfi0Sci1]"), $grp2 = $("[name=primary0Secondary1]");
        $grp1.change(function(){


            if($grp1.filter(":checked").val() == "false"){

                return $grp2.parents(".form-group").hide();
            }


            $grp2.parents(".form-group").show();

        }).change();
        // ]]>

    </script>

</div>

</html>