<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorator="layout" th:with="title=${title}">

<section layout:fragment="content">
	<h1>Dear <strong>${user}</strong>, You are not authorized to access this page.</h1>
	<br/>
	<!--<a href="<c:url value="/home" />">Go to home</a>  -->
	<!--<sec:authorize access="hasRole('USER') or hasRole('ADMIN') or hasRole('DBA')">-->
           <!--OR  <a href="<c:url value="/logout" />">Logout</a>-->
    <!--</sec:authorize>-->
</section>
</html>

