<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="loginLayout" th:with="title=${title}">
<body>

<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-2 welcomeblock">
                <br/>
                Welcome to the SFI Annual Reporting and Survey Tool.<br/>
                Please login to continue.
            </div>
            <div class="col-sm-5 contentblock">
                <div class="tipcontent">
                    <div style="font-size: 13px;font-style: normal;font-family: 'Arial Regular', 'Arial';color: #333333;text-align: left;line-height: normal;">
                        Congratulations, your user account has been set up.
                        <br/>
                        <br/>
                        Login with your username [username] and password.
                    </div>
                    <div style="text-align: left;width:306px;">
                        <a class="btn" href="/login">Continue to SFI Reporting and Survey Tool</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>