<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="loginLayout" th:with="title=${title}">
<body>

<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-2 welcomeblock">
                <br/>
                Welcome to the SFI Online Reporting Tool.<br/>
                Please reset password.
            </div>
            <div class="col-sm-4 contentblock">
                <div class="tipcontent">
                    <!--<form th:action="@{/user/forgot/password} + '?' + ${_csrf.parameterName} + '=' + ${_csrf.token}" class="login-form" method="post">-->
                    <form th:action="@{/user/forgot/password}" class="login-form" method="post">
                        <!--<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />-->
                        <p> Please enter your email address </p>
                        <br/>
                        <div class="form-group">
                            <label>Email address</label>
                            <input type="text" id="email" name="email" required="required" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <a th:href="@{'/login'}">Go back</a>
                            <input type="submit" class="btn btn-success" value="Continue"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>