<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="loginLayout" th:with="title=${title}">
<body>

<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-2 welcomeblock">
                <br/>
                Welcome to the SFI Annual Reporting and Survey Tool.<br/>
                Please login to continue.
            </div>
            <div class="col-sm-4 contentblock">
                <div class="tipcontent">
                    <form th:object="${user}" method="POST" class="form-horizontal">
                        <input type="hidden" th:field="*{id}" />
                        <input type="hidden" th:field="*{username}" id="username" disabled="true"/>
                        <!--<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />-->
                        <div style="font-size: 13px;font-style: normal;font-family: 'Arial Regular', 'Arial';color: #333333;text-align: left;line-height: normal;">
                            To complete your registration, create a password and repeat it for confirmation. Then click the Continue button to go to the form.
                            <br/>
                            <br/>
                            (Your password must have a minimum of 6 and maximum of 20 characters and contain a letter and a number)
                        </div>
                        <br/>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" th:field="*{password}" style="width: 270px" id="password" class="form-control"/>
                            <div class="has-error">
                                <errors th:text="${errorPassword}" class="help-inline"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Repeat password</label>
                            <input type="password" id="password-check" style="width: 270px" class="form-control"/>
                        </div>

                        <div style="margin-left: 185px;">
                            <input type="submit" id="submit" value="Continue" class="btn green"/>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="script">

    <script type="text/javascript">
        // <![CDATA[

        $("#submit").click(function(){
            $(".error").hide();
            var hasError = false;
            var passwordVal = $("#password").val();
            var checkVal = $("#password-check").val();
            var count = $("#password").val().length;
            if (passwordVal == '') {
                $("#password").after('<span class="error" style="font-size: 11px;">Please enter a password.</span>');
                hasError = true;
            }
            else if (count < 5 || count > 20) {
                $("#password").after('<span class="error" style="font-size: 11px;">Passwords must have a minimum of 6 and a maximum of 20 characters</span>');
                hasError = true;
            } else if (checkVal == '') {
                $("#password-check").after('<span class="error" style="font-size: 11px;">Please re-enter your password.</span>');
                hasError = true;
            } else if (passwordVal != checkVal ) {
                $("#password-check").after('<span class="error" style="font-size: 11px;">Passwords do not match.</span>');
                hasError = true;
            }
            if(hasError == true) {return false;}
        });

        // ]]>

    </script>

</div>

</body>
</html>