<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout" th:with="title=${title}">
<body>
<div layout:fragment="content">

      <div id="wrapper">

            <div class="container">
                  <div class="row top-buffer">
                        <div class="col-sm-12">
                              <h5>Privacy Policy</h5>

                              <h6>The data collected through the SFI annual survey is often used in aggregate in the SFI Progress Report.</h6>

                              <h6>SFI Program Participants must complete the SFI program participant survey annually to maintain good standing in the SFI® Program. New SFI Program Participants are allowed one year to report. The data submitted should be based on the best information available – which may mean using a best estimate, especially in the first years of implementation. Participants should use calendar year information.</h6>

                              <h6>All the information and data submitted is kept strictly confidential, and used only in aggregate form. If we wish to use participant-specific information as examples of noteworthy performance, we will seek permission.</h6>

                        </div>
                  </div>

            </div>
      </div>

</div>
</body>
</html>