<p><b>
    In your product segment, has the demand for certified products changed during the last 12 months (SFI, PEFC, FSC,
    etc.)?
</b></p>


<div class="pading-botoms padding-left-50 fm-stl" ng-show="printingWritingPaper()">
    <p><b>Printing writing paper</b></p>

    <label style="padding-right: 13px;"><b>SFI:</b></label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_1" value="1" icheck
               ng-model="cs8.sfiDemandDeveloping_1">
        Increasing
    </label>

    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_1" value="2" icheck
               ng-model="cs8.sfiDemandDeveloping_1">
        Remained the same
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_1" value="3" icheck
               ng-model="cs8.sfiDemandDeveloping_1">
        Decreasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_1" value="4" icheck
               ng-model="cs8.sfiDemandDeveloping_1">
        Don't Know
    </label>
    <br/>

    <label style="padding-right: 0px;">
        <b>PEFC:</b>
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_1" value="1" icheck
               ng-model="cs8.pefcDemandDeveloping_1">
        Increasing
    </label>

    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_1" value="2" icheck
               ng-model="cs8.pefcDemandDeveloping_1">
        Remained the same
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_1" value="3" icheck
               ng-model="cs8.pefcDemandDeveloping_1">
        Decreasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_1" value="4" icheck
               ng-model="cs8.pefcDemandDeveloping_1">
        Don't Know
    </label>
    <br/>
    <label style="padding-right: 8px;">
        <b>FSC:</b>
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_1" value="1" icheck
               ng-model="cs8.fscDemandDeveloping_1">
        Increasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_1" value="2" icheck
               ng-model="cs8.fscDemandDeveloping_1">
        Remained the same
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_1" value="3" icheck
               ng-model="cs8.fscDemandDeveloping_1">
        Decreasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_1" value="4" icheck
               ng-model="cs8.fscDemandDeveloping_1">
        Don't Know
    </label>


</div>

<div class="pading-botoms padding-left-50 fm-stl" ng-show="packaging()">
    <p><b>Packaging</b></p>

    <label style="padding-right: 13px;"><b>SFI:</b></label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_2" value="1" icheck
               ng-model="cs8.sfiDemandDeveloping_2">
        Increasing
    </label>

    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_2" value="2" icheck
               ng-model="cs8.sfiDemandDeveloping_2">
        Remained the same
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_2" value="3" icheck
               ng-model="cs8.sfiDemandDeveloping_2">
        Decreasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_2" value="4" icheck
               ng-model="cs8.sfiDemandDeveloping_2">
        Don't Know
    </label>
    <br/>
    <label style="padding-right: 0px;">
        <b>PEFC:</b>
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_2" value="1" icheck
               ng-model="cs8.pefcDemandDeveloping_2">
        Increasing
    </label>

    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_2" value="2" icheck
               ng-model="cs8.pefcDemandDeveloping_2">
        Remained the same
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_2" value="3" icheck
               ng-model="cs8.pefcDemandDeveloping_2">
        Decreasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_2" value="4" icheck
               ng-model="cs8.pefcDemandDeveloping_2">
        Don't Know
    </label>
    <br/>
    <label style="padding-right: 8px;">
        <b>FSC:</b>
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_2" value="1" icheck
               ng-model="cs8.fscDemandDeveloping_2">
        Increasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_2" value="2" icheck
               ng-model="cs8.fscDemandDeveloping_2">
        Remained the same
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_2" value="3" icheck
               ng-model="cs8.fscDemandDeveloping_2">
        Decreasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_2" value="4" icheck
               ng-model="cs8.fscDemandDeveloping_2">
        Don't Know
    </label>
</div>

<div class="pading-botoms padding-left-50 fm-stl" ng-show="bioenergy()">
    <p><b>Bioenergy</b></p>

    <label style="padding-right: 13px;"><b>SFI:</b></label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_3" value="1" icheck
               ng-model="cs8.sfiDemandDeveloping_3">
        Increasing
    </label>

    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_3" value="2" icheck
               ng-model="cs8.sfiDemandDeveloping_3">
        Remained the same
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_3" value="3" icheck
               ng-model="cs8.sfiDemandDeveloping_3">
        Decreasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_3" value="4" icheck
               ng-model="cs8.sfiDemandDeveloping_3">
        Don't Know
    </label>
    <br/>
    <label style="padding-right: 0px;">
        <b>PEFC:</b>
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_3" value="1" icheck
               ng-model="cs8.pefcDemandDeveloping_3">
        Increasing
    </label>

    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_3" value="2" icheck
               ng-model="cs8.pefcDemandDeveloping_3">
        Remained the same
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_3" value="3" icheck
               ng-model="cs8.pefcDemandDeveloping_3">
        Decreasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_3" value="4" icheck
               ng-model="cs8.pefcDemandDeveloping_3">
        Don't Know
    </label>
    <br/>
    <label style="padding-right: 8px;">
        <b>FSC:</b>
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_3" value="1" icheck
               ng-model="cs8.fscDemandDeveloping_3">
        Increasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_3" value="2" icheck
               ng-model="cs8.fscDemandDeveloping_3">
        Remained the same
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_3" value="3" icheck
               ng-model="cs8.fscDemandDeveloping_3">
        Decreasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_3" value="4" icheck
               ng-model="cs8.fscDemandDeveloping_3">
        Don't Know
    </label>


</div>

<div class="pading-botoms padding-left-50 fm-stl" ng-show="pulp()">
    <p><b>Pulp</b></p>

    <label style="padding-right: 13px;"><b>SFI:</b></label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_4" value="1" icheck
               ng-model="cs8.sfiDemandDeveloping_4">
        Increasing
    </label>

    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_4" value="2" icheck
               ng-model="cs8.sfiDemandDeveloping_4">
        Remained the same
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_4" value="3" icheck
               ng-model="cs8.sfiDemandDeveloping_4">
        Decreasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_4" value="4" icheck
               ng-model="cs8.sfiDemandDeveloping_4">
        Don't Know
    </label>
    <br/>
    <label style="padding-right: 0px;">
        <b>PEFC:</b>
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_4" value="1" icheck
               ng-model="cs8.pefcDemandDeveloping_4">
        Increasing
    </label>

    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_4" value="2" icheck
               ng-model="cs8.pefcDemandDeveloping_4">
        Remained the same
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_4" value="3" icheck
               ng-model="cs8.pefcDemandDeveloping_4">
        Decreasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_4" value="4" icheck
               ng-model="cs8.pefcDemandDeveloping_4">
        Don't Know
    </label>
    <br/>
    <label style="padding-right: 8px;">
        <b>FSC:</b>
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_4" value="1" icheck
               ng-model="cs8.fscDemandDeveloping_4">
        Increasing
    </label>

    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_4" value="2" icheck
               ng-model="cs8.fscDemandDeveloping_4">
        Remained the same
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_4" value="3" icheck
               ng-model="cs8.fscDemandDeveloping_4">
        Decreasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_4" value="4" icheck
               ng-model="cs8.fscDemandDeveloping_4">
        Don't Know
    </label>


</div>

<div class="pading-botoms padding-left-50 fm-stl" ng-show="land()">
    <p><b>Land Only</b></p>

    <label style="padding-right: 13px;"><b>SFI:</b></label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_5" value="1" icheck
               ng-model="cs8.sfiDemandDeveloping_5">
        Increasing
    </label>

    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_5" value="2" icheck
               ng-model="cs8.sfiDemandDeveloping_5">
        Remained the same
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_5" value="3" icheck
               ng-model="cs8.sfiDemandDeveloping_5">
        Decreasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_5" value="4" icheck
               ng-model="cs8.sfiDemandDeveloping_5">
        Don't Know
    </label>
    <br/>
    <label style="padding-right: 0px;">
        <b>PEFC:</b>
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_5" value="1" icheck
               ng-model="cs8.pefcDemandDeveloping_5">
        Increasing
    </label>

    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_5" value="2" icheck
               ng-model="cs8.pefcDemandDeveloping_5">
        Remained the same
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_5" value="3" icheck
               ng-model="cs8.pefcDemandDeveloping_5">
        Decreasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_5" value="4" icheck
               ng-model="cs8.pefcDemandDeveloping_5">
        Don't Know
    </label>
    <br/>
    <label style="padding-right: 8px;">
        <b>FSC:</b>
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_5" value="1" icheck
               ng-model="cs8.fscDemandDeveloping_5">
        Increasing
    </label>

    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_5" value="2" icheck
               ng-model="cs8.fscDemandDeveloping_5">
        Remained the same
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_5" value="3" icheck
               ng-model="cs8.fscDemandDeveloping_5">
        Decreasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_5" value="4" icheck
               ng-model="cs8.fscDemandDeveloping_5">
        Don't Know
    </label>


</div>

<div class="pading-botoms padding-left-50 fm-stl" ng-show="solidWood()">
    <p><b>Solid wood products (includes logs)</b></p>

    <label style="padding-right: 13px;"><b>SFI:</b></label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_6" value="1" icheck
               ng-model="cs8.sfiDemandDeveloping_6">
        Increasing
    </label>

    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_6" value="2" icheck
               ng-model="cs8.sfiDemandDeveloping_6">
        Remained the same
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_6" value="3" icheck
               ng-model="cs8.sfiDemandDeveloping_6">
        Decreasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_6" value="4" icheck
               ng-model="cs8.sfiDemandDeveloping_6">
        Don't Know
    </label>
    <br/>
    <label style="padding-right: 0px;">
        <b>PEFC:</b>
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_6" value="1" icheck
               ng-model="cs8.pefcDemandDeveloping_6">
        Increasing
    </label>

    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_6" value="2" icheck
               ng-model="cs8.pefcDemandDeveloping_6">
        Remained the same
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_6" value="3" icheck
               ng-model="cs8.pefcDemandDeveloping_6">
        Decreasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_6" value="4" icheck
               ng-model="cs8.pefcDemandDeveloping_6">
        Don't Know
    </label>
    <br/>
    <label style="padding-right: 8px;">
        <b>FSC:</b>
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_6" value="1" icheck
               ng-model="cs8.fscDemandDeveloping_6">
        Increasing
    </label>

    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_6" value="2" icheck
               ng-model="cs8.fscDemandDeveloping_6">
        Remained the same
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_6" value="3" icheck
               ng-model="cs8.fscDemandDeveloping_6">
        Decreasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_6" value="4" icheck
               ng-model="cs8.fscDemandDeveloping_6">
        Don't Know
    </label>


</div>

<div class="pading-botoms padding-left-50 fm-stl" ng-show="paperMerchant()">
    <p><b>Paper Broker/Merchant</b></p>

    <label style="padding-right: 13px;"><b>SFI:</b></label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_7" value="1" icheck
               ng-model="cs8.sfiDemandDeveloping_7">
        Increasing
    </label>

    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_7" value="2" icheck
               ng-model="cs8.sfiDemandDeveloping_7">
        Remained the same
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_7" value="3" icheck
               ng-model="cs8.sfiDemandDeveloping_7">
        Decreasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_7" value="4" icheck
               ng-model="cs8.sfiDemandDeveloping_7">
        Don't Know
    </label>
    <br/>
    <label style="padding-right: 0px;">
        <b>PEFC:</b>
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_7" value="1" icheck
               ng-model="cs8.pefcDemandDeveloping_7">
        Increasing
    </label>

    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_7" value="2" icheck
               ng-model="cs8.pefcDemandDeveloping_7">
        Remained the same
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_7" value="3" icheck
               ng-model="cs8.pefcDemandDeveloping_7">
        Decreasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_7" value="4" icheck
               ng-model="cs8.pefcDemandDeveloping_7">
        Don't Know
    </label>
    <br/>
    <label style="padding-right: 8px;">
        <b>FSC:</b>
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_7" value="1" icheck
               ng-model="cs8.fscDemandDeveloping_7">
        Increasing
    </label>

    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_7" value="2" icheck
               ng-model="cs8.fscDemandDeveloping_7">
        Remained the same
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_7" value="3" icheck
               ng-model="cs8.fscDemandDeveloping_7">
        Decreasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_7" value="4" icheck
               ng-model="cs8.fscDemandDeveloping_7">
        Don't Know
    </label>


</div>

<div class="pading-botoms padding-left-50 fm-stl" ng-show="paperBoard()">
    <p><b>Paperboard Converter</b></p>

    <label style="padding-right: 13px;"><b>SFI:</b></label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_8" value="1" icheck
               ng-model="cs8.sfiDemandDeveloping_8">
        Increasing
    </label>

    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_8" value="2" icheck
               ng-model="cs8.sfiDemandDeveloping_8">
        Remained the same
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_8" value="3" icheck
               ng-model="cs8.sfiDemandDeveloping_8">
        Decreasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_8" value="4" icheck
               ng-model="cs8.sfiDemandDeveloping_8">
        Don't Know
    </label>
    <br/>
    <label style="padding-right: 0px;">
        <b>PEFC:</b>
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_8" value="1" icheck
               ng-model="cs8.pefcDemandDeveloping_8">
        Increasing
    </label>

    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_8" value="2" icheck
               ng-model="cs8.pefcDemandDeveloping_8">
        Remained the same
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_8" value="3" icheck
               ng-model="cs8.pefcDemandDeveloping_8">
        Decreasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_8" value="4" icheck
               ng-model="cs8.pefcDemandDeveloping_8">
        Don't Know
    </label>
    <br/>
    <label style="padding-right: 8px;">
        <b>FSC:</b>
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_8" value="1" icheck
               ng-model="cs8.fscDemandDeveloping_8">
        Increasing
    </label>

    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_8" value="2" icheck
               ng-model="cs8.fscDemandDeveloping_8">
        Remained the same
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_8" value="3" icheck
               ng-model="cs8.fscDemandDeveloping_8">
        Decreasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_8" value="4" icheck
               ng-model="cs8.fscDemandDeveloping_8">
        Don't Know
    </label>


</div>

<div class="pading-botoms padding-left-50 fm-stl" ng-show="furniture()">
    <p><b>Furniture</b></p>
    <label style="padding-right: 13px;"><b>SFI:</b></label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_9" value="1" icheck
               ng-model="cs8.sfiDemandDeveloping_9">
        Increasing
    </label>

    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_9" value="2" icheck
               ng-model="cs8.sfiDemandDeveloping_9">
        Remained the same
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_9" value="3" icheck
               ng-model="cs8.sfiDemandDeveloping_9">
        Decreasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_9" value="4" icheck
               ng-model="cs8.sfiDemandDeveloping_9">
        Don't Know
    </label>
    <br/>
    <label style="padding-right: 0px;">
        <b>PEFC:</b>
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_9" value="1" icheck
               ng-model="cs8.pefcDemandDeveloping_9">
        Increasing
    </label>

    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_9" value="2" icheck
               ng-model="cs8.pefcDemandDeveloping_9">
        Remained the same
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_9" value="3" icheck
               ng-model="cs8.pefcDemandDeveloping_9">
        Decreasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_9" value="4" icheck
               ng-model="cs8.pefcDemandDeveloping_9">
        Don't Know
    </label>
    <br/>
    <label style="padding-right: 8px;">
        <b>FSC:</b>
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_9" value="1" icheck
               ng-model="cs8.fscDemandDeveloping_9">
        Increasing
    </label>

    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_9" value="2" icheck
               ng-model="cs8.fscDemandDeveloping_9">
        Remained the same
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_9" value="3" icheck
               ng-model="cs8.fscDemandDeveloping_9">
        Decreasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_9" value="4" icheck
               ng-model="cs8.fscDemandDeveloping_9">
        Don't Know
    </label>


</div>

<div class="pading-botoms padding-left-50 fm-stl" ng-show="towelTissue()">
    <p><b>Towel/tissue</b></p>

    <label style="padding-right: 13px;"><b>SFI:</b></label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_10" value="1" icheck
               ng-model="cs8.sfiDemandDeveloping_10">
        Increasing
    </label>

    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_10" value="2" icheck
               ng-model="cs8.sfiDemandDeveloping_10">
        Remained the same
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_10" value="3" icheck
               ng-model="cs8.sfiDemandDeveloping_10">
        Decreasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_10" value="4" icheck
               ng-model="cs8.sfiDemandDeveloping_10">
        Don't Know
    </label>
    <br/>
    <label style="padding-right: 0px;">
        <b>PEFC:</b>
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_10" value="1" icheck
               ng-model="cs8.pefcDemandDeveloping_10">
        Increasing
    </label>

    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_10" value="2" icheck
               ng-model="cs8.pefcDemandDeveloping_10">
        Remained the same
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_10" value="3" icheck
               ng-model="cs8.pefcDemandDeveloping_10">
        Decreasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_10" value="4" icheck
               ng-model="cs8.pefcDemandDeveloping_10">
        Don't Know
    </label>
    <br/>
    <label style="padding-right: 8px;">
        <b>FSC:</b>
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_10" value="1" icheck
               ng-model="cs8.fscDemandDeveloping_10">
        Increasing
    </label>

    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_10" value="2" icheck
               ng-model="cs8.fscDemandDeveloping_10">
        Remained the same
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_10" value="3" icheck
               ng-model="cs8.fscDemandDeveloping_10">
        Decreasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_10" value="4" icheck
               ng-model="cs8.fscDemandDeveloping_10">
        Don't Know
    </label>


</div>

<div class="pading-botoms padding-left-50 fm-stl" ng-show="printer()">
    <p><b>Printer</b></p>

    <label style="padding-right: 13px;"><b>SFI:</b></label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_11" value="1" icheck
               ng-model="cs8.sfiDemandDeveloping_11">
        Increasing
    </label>

    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_11" value="2" icheck
               ng-model="cs8.sfiDemandDeveloping_11">
        Remained the same
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_11" value="3" icheck
               ng-model="cs8.sfiDemandDeveloping_11">
        Decreasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_11" value="4" icheck
               ng-model="cs8.sfiDemandDeveloping_11">
        Don't Know
    </label>
    <br/>
    <label style="padding-right: 0px;">
        <b>PEFC:</b>
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_11" value="1" icheck
               ng-model="cs8.pefcDemandDeveloping_11">
        Increasing
    </label>

    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_11" value="2" icheck
               ng-model="cs8.pefcDemandDeveloping_11">
        Remained the same
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_11" value="3" icheck
               ng-model="cs8.pefcDemandDeveloping_11">
        Decreasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_11" value="4" icheck
               ng-model="cs8.pefcDemandDeveloping_11">
        Don't Know
    </label>
    <br/>
    <label style="padding-right: 8px;">
        <b>FSC:</b>
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_11" value="1" icheck
               ng-model="cs8.fscDemandDeveloping_11">
        Increasing
    </label>

    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_11" value="2" icheck
               ng-model="cs8.fscDemandDeveloping_11">
        Remained the same
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_11" value="3" icheck
               ng-model="cs8.fscDemandDeveloping_11">
        Decreasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_11" value="4" icheck
               ng-model="cs8.fscDemandDeveloping_11">
        Don't Know
    </label>


</div>

<div class="pading-botoms padding-left-50 fm-stl" ng-show="woodMerchant()">
    <p><b>Wood Broker/paperMerchant</b></p>
    <label style="padding-right: 13px;"><b>SFI:</b></label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_12" value="1" icheck
               ng-model="cs8.sfiDemandDeveloping_12">
        Increasing
    </label>

    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_12" value="2" icheck
               ng-model="cs8.sfiDemandDeveloping_12">
        Remained the same
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_12" value="3" icheck
               ng-model="cs8.sfiDemandDeveloping_12">
        Decreasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_12" value="4" icheck
               ng-model="cs8.sfiDemandDeveloping_12">
        Don't Know
    </label>
    <br/>
    <label style="padding-right: 0px;">
        <b>PEFC:</b>
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_12" value="1" icheck
               ng-model="cs8.pefcDemandDeveloping_12">
        Increasing
    </label>

    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_12" value="2" icheck
               ng-model="cs8.pefcDemandDeveloping_12">
        Remained the same
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_12" value="3" icheck
               ng-model="cs8.pefcDemandDeveloping_12">
        Decreasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_12" value="4" icheck
               ng-model="cs8.pefcDemandDeveloping_12">
        Don't Know
    </label>
    <br/>
    <label style="padding-right: 8px;">
        <b>FSC:</b>
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_12" value="1" icheck
               ng-model="cs8.fscDemandDeveloping_12">
        Increasing
    </label>

    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_12" value="2" icheck
               ng-model="cs8.fscDemandDeveloping_12">
        Remained the same
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_12" value="3" icheck
               ng-model="cs8.fscDemandDeveloping_12">
        Decreasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_12" value="4" icheck
               ng-model="cs8.fscDemandDeveloping_12">
        Don't Know
    </label>


</div>

<div class="pading-botoms padding-left-50 fm-stl" ng-show="other()">
    <p><b>Other</b></p>

    <label style="padding-right: 13px;"><b>SFI:</b></label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_13" value="1" icheck
               ng-model="cs8.sfiDemandDeveloping_13">
        Increasing
    </label>

    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_13" value="2" icheck
               ng-model="cs8.sfiDemandDeveloping_13">
        Remained the same
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_13" value="3" icheck
               ng-model="cs8.sfiDemandDeveloping_13">
        Decreasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="sfiDemandDeveloping_13" value="4" icheck
               ng-model="cs8.sfiDemandDeveloping_13">
        Don't Know
    </label>
    <br/>
    <label style="padding-right: 0px;">
        <b>PEFC:</b>
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_13" value="1" icheck
               ng-model="cs8.pefcDemandDeveloping_13">
        Increasing
    </label>

    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_13" value="2" icheck
               ng-model="cs8.pefcDemandDeveloping_13">
        Remained the same
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_13" value="3" icheck
               ng-model="cs8.pefcDemandDeveloping_13">
        Decreasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="pefcDemandDeveloping_13" value="4" icheck
               ng-model="cs8.pefcDemandDeveloping_13">
        Don't Know
    </label>
    <br/>
    <label style="padding-right: 8px;">
        <b>FSC:</b>
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_13" value="1" icheck
               ng-model="cs8.fscDemandDeveloping_13">
        Increasing
    </label>

    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_13" value="2" icheck
               ng-model="cs8.fscDemandDeveloping_13">
        Remained the same
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_13" value="3" icheck
               ng-model="cs8.fscDemandDeveloping_13">
        Decreasing
    </label>
    <label class="form-inline" style="padding-right: 15px;">
        <input class="form-control" type="radio" icheck name="fscDemandDeveloping_13" value="4" icheck
               ng-model="cs8.fscDemandDeveloping_13">
        Don't Know
    </label>
</div>

