<p>
    <span tooltip
          title="SFI is asking these questions to better understand trends related to organizations pursuing dual certification. Your answers will be kept strictly confidential.">Have you ever considered obtaining FSC chain-of-custody certification?</span>
</p>
<div>
    <p>
        Choose one of the following
    </p>
    <label class="form-inline">
        <input type="radio" icheck name="fscCocCertification" ng-model="cs8.fscCocCertification" value=1 icheck>
        We are satisfied with SFI certification and don't consider FSC certification
    </label><br>
    <label class="form-inline">
        <input type="radio" icheck name="fscCocCertification" ng-model="cs8.fscCocCertification" value=2 icheck>
        Yes, but decided against FSC certification
    </label><br>
    <div ng-show="cs8.fscCocCertification == 2">
        <p>
            Check all that apply
        </p>

        <div class="col-lg-3">
            <ul class="list-unstyled">
                <li>
                    <label>
                        <input type="checkbox" icheck name="fscCocCertificationItems1"
                               checklist-model="cs8.fscCocCertificationItems_1" checklist-value="1" ng-model="applymodel3" >

                        Cost
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" icheck name="fscCocCertificationItems1"
                               checklist-model="cs8.fscCocCertificationItems_1" checklist-value="2" ng-model="applymodel3" >

                        Uncertanity
                    </label>
                </li>
            </ul>
        </div>
        <div class="col-lg-3">
            <ul class="list-unstyled">
                <li>
                    <label>
                        <input type="checkbox" icheck name="fscCocCertificationItems1"
                               checklist-model="cs8.fscCocCertificationItems_1" checklist-value="2" ng-model="applymodel3" >

                        Lack of responsivenes
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" icheck name="fscCocCertificationItems1"
                               checklist-model="cs8.fscCocCertificationItems_1" checklist-value="3" ng-model="applymodel3" >

                        Lack of FSC supply
                    </label>
                </li>
            </ul>
        </div>
        <div class="col-lg-3">
            <ul class="list-unstyled">
                <li>
                    <label>
                        <input type="checkbox" icheck name="fscCocCertificationItems1"
                               checklist-model="cs8.fscCocCertificationItems_1" checklist-value="4" ng-model="applymodel3" >

                        Complexity
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" icheck name="fscCocCertificationItems1"
                               checklist-model="cs8.fscCocCertificationItems_1" checklist-value="5" ng-model="applymodel3" >

                        Inconsistent approaches
                    </label>
                </li>
            </ul>
        </div>
        <div class="col-lg-3">
            <ul class="list-unstyled">
                <li>
                    <label>
                        <input type="checkbox" icheck name="fscCocCertificationItems1"
                               checklist-model="cs8.fscCocCertificationItems_1" checklist-value="6" ng-model="applymodel3" >

                        No FSC market demand
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" icheck name="fscCocCertificationItems1"
                               checklist-model="cs8.fscCocCertificationItems_1" checklist-value="7" ng-model="applymodel3" >

                        Other
                    </label>
                    <br>
                    <label ng-show="isSelected(cs8.fscCocCertificationItems_1, 7)">
                        Please Explain
                        <input class="form-control" type="text" ng-model="cs8.fscCocCertificationItemsWhy_1">
                    </label>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <label class="form-inline">
        <input type="radio" icheck name="fscCocCertification" ng-model="cs8.fscCocCertification" value=3 icheck>
        Yes, and we are planning to become certified to both SFI and FSC in the future
    </label><br>
    <label class="form-inline">
        <input type="radio" icheck name="fscCocCertification" ng-model="cs8.fscCocCertification" value=4 icheck>
        We are already certified to both SFI and FSC
    </label><br>
    <label class="form-inline">
        <input type="radio" icheck name="fscCocCertification" ng-model="cs8.fscCocCertification" value=5 icheck>
        We were previously certified to FSC but dropped it after obtaining SFI certification, please specify
    </label><br>
    <div ng-show="cs8.fscCocCertification == 5">
        <p>
            Check all that apply
        </p>

        <div class="col-lg-3">
            <ul class="list-unstyled">
                <li>
                    <label>
                        <input type="checkbox" icheck name="fscCocCertificationItems2"
                               checklist-model="cs8.fscCocCertificationItems_2" checklist-value="1" ng-model="applymodel4" >
                        Cost
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" icheck name="fscCocCertificationItems2"
                               checklist-model="cs8.fscCocCertificationItems_2" checklist-value="2" ng-model="applymodel4" >
                        Uncertanity
                    </label>
                </li>
            </ul>
        </div>
        <div class="col-lg-3">
            <ul class="list-unstyled">
                <li>
                    <label>
                        <input type="checkbox" icheck name="fscCocCertificationItems2"
                               checklist-model="cs8.fscCocCertificationItems_2" checklist-value="3" ng-model="applymodel4" >
                        Lack of responsivenes
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" icheck name="fscCocCertificationItems2"
                               checklist-model="cs8.fscCocCertificationItems_2" checklist-value="4" ng-model="applymodel4" >
                        Lack of FSC supply
                    </label>
                </li>
            </ul>
        </div>
        <div class="col-lg-3">
            <ul class="list-unstyled">
                <li>
                    <label>
                        <input type="checkbox" icheck name="fscCocCertificationItems2"
                               checklist-model="cs8.fscCocCertificationItems_2" checklist-value="5" ng-model="applymodel4" >
                        Complexity
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" icheck name="fscCocCertificationItems2"
                               checklist-model="cs8.fscCocCertificationItems_2" checklist-value="6" ng-model="applymodel4" >
                        Inconsistent approaches
                    </label>
                </li>
            </ul>
        </div>
        <div class="col-lg-3">
            <ul class="list-unstyled">
                <li>
                    <label>
                        <input type="checkbox" icheck name="fscCocCertificationItems2"
                               checklist-model="cs8.fscCocCertificationItems_2" checklist-value="7" ng-model="applymodel4" >
                        No FSC market demand
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" icheck name="fscCocCertificationItems2"
                               checklist-model="cs8.fscCocCertificationItems_2" checklist-value="8" ng-model="applymodel4" >
                        Other
                    </label>
                    <br>
                    <label ng-show="isSelected(cs8.fscCocCertificationItems_2, 8)">
                        Please Explain
                        <input class="form-control" type="text" ng-model="cs8.fscCocCertificationItemsWhy_2">
                    </label>
                </li>
            </ul>
        </div>
    </div>
    <label class="form-inline">
        <input type="radio" icheck name="fscCocCertification" ng-model="cs8.fscCocCertification" value=6 icheck>
        Yes, and we are considering dropping SFI once we have obtained FSC certification
    </label><br>
    <label class="form-inline">
        <input type="radio" icheck name="fscCocCertification" ng-model="cs8.fscCocCertification" value=7 icheck>
        Other
    </label><br>
    <label class="form-inline" ng-show="cs8.fscCocCertification == 7">
        Please Explain:
        <input class="form-control" type="text" ng-model="cs8.fscCocCertificationExplain">
    </label>
    <br>

</div>