<label>During the last 12 months, of the requests to SFI for label approval, estimate the percentage of those requests that actually went to market?</label>

<div class="form-group col-sm-4" ng-show="printingWritingPaper()">
    <label>Printing writing paper</label>

    <select class="form-control" ng-model="cs8.requestWentMarketPerc1">
        <option ng-selected="!cs8.requestWentMarketPerc1">Select</option>
        <option value="1">100%</option>
        <option value="2">95%– 99%</option>
        <option value="3">80% – 94%</option>
        <option value="4">60% – 79%</option>
        <option value="5">40% – 59%</option>
        <option value="6">20% – 39%</option>
        <option value="7">10% – 19%</option>
        <option value="8"><  10 %</option>
    </select>

</div>


<div class="form-group col-sm-4" ng-show="packaging()">
    <label>Packaging</label>

    <select class="form-control" ng-model="cs8.requestWentMarketPerc2">
        <option ng-selected="!cs8.requestWentMarketPerc2">Select</option>
        <option value="1">100%</option>
        <option value="2">95%– 99%</option>
        <option value="3">80% – 94%</option>
        <option value="4">60% – 79%</option>
        <option value="5">40% – 59%</option>
        <option value="6">20% – 39%</option>
        <option value="7">10% – 19%</option>
        <option value="8"><  10 %</option>
    </select>

</div>

<div class="form-group col-sm-4" ng-show="bioenergy()">
    <label>Bioenergy</label>

    <select class="form-control" ng-model="cs8.requestWentMarketPerc3">
        <option ng-selected="!cs8.requestWentMarketPerc3">Select</option>
        <option value="1">100%</option>
        <option value="2">95%– 99%</option>
        <option value="3">80% – 94%</option>
        <option value="4">60% – 79%</option>
        <option value="5">40% – 59%</option>
        <option value="6">20% – 39%</option>
        <option value="7">10% – 19%</option>
        <option value="8"><  10 %</option>
    </select>

</div>

<div class="form-group col-sm-4" ng-show="pulp()">
    <label>Pulp</label>
    <select class="form-control" ng-model="cs8.requestWentMarketPerc4">
        <option ng-selected="!cs8.requestWentMarketPerc4">Select</option>
        <option value="1">100%</option>
        <option value="2">95%– 99%</option>
        <option value="3">80% – 94%</option>
        <option value="4">60% – 79%</option>
        <option value="5">40% – 59%</option>
        <option value="6">20% – 39%</option>
        <option value="7">10% – 19%</option>
        <option value="8"><  10 %</option>
    </select>

</div>

<div class="form-group col-sm-4" ng-show="land()">
    <label>Land Only</label>
    <select class="form-control" ng-model="cs8.requestWentMarketPerc5">
        <option ng-selected="!cs8.requestWentMarketPerc5">Select</option>
        <option value="1">100%</option>
        <option value="2">95%– 99%</option>
        <option value="3">80% – 94%</option>
        <option value="4">60% – 79%</option>
        <option value="5">40% – 59%</option>
        <option value="6">20% – 39%</option>
        <option value="7">10% – 19%</option>
        <option value="8"><  10 %</option>
    </select>

</div>

<div class="form-group col-sm-4" ng-show="solidWood()">
    <label>Solid wood products (includes logs)</label>
    <select class="form-control" ng-model="cs8.requestWentMarketPerc6">
        <option ng-selected="!cs8.requestWentMarketPerc6">Select</option>
        <option value="1">100%</option>
        <option value="2">95%– 99%</option>
        <option value="3">80% – 94%</option>
        <option value="4">60% – 79%</option>
        <option value="5">40% – 59%</option>
        <option value="6">20% – 39%</option>
        <option value="7">10% – 19%</option>
        <option value="8"><  10 %</option>
    </select>

</div>

<div class="form-group col-sm-4" ng-show="paperMerchant()">
    <label>Paper Broker/Merchant</label>
    <select class="form-control" ng-model="cs8.requestWentMarketPerc7">
        <option ng-selected="!cs8.requestWentMarketPerc7">Select</option>
        <option value="1">100%</option>
        <option value="2">95%– 99%</option>
        <option value="3">80% – 94%</option>
        <option value="4">60% – 79%</option>
        <option value="5">40% – 59%</option>
        <option value="6">20% – 39%</option>
        <option value="7">10% – 19%</option>
        <option value="8"><  10 %</option>
    </select>

</div>

<div class="form-group col-sm-4" ng-show="paperBoard()">
    <label>Paperboard Converter</label>
    <select class="form-control" ng-model="cs8.requestWentMarketPerc8">
        <option ng-selected="!cs8.requestWentMarketPerc8">Select</option>
        <option value="1">100%</option>
        <option value="2">95%– 99%</option>
        <option value="3">80% – 94%</option>
        <option value="4">60% – 79%</option>
        <option value="5">40% – 59%</option>
        <option value="6">20% – 39%</option>
        <option value="7">10% – 19%</option>
        <option value="8"><  10 %</option>
    </select>

</div>

<div class="form-group col-sm-4" ng-show="furniture()">
    <label>Furniture</label>
    <select class="form-control" ng-model="cs8.requestWentMarketPerc9">
        <option ng-selected="!cs8.requestWentMarketPerc9">Select</option>
        <option value="1">100%</option>
        <option value="2">95%– 99%</option>
        <option value="3">80% – 94%</option>
        <option value="4">60% – 79%</option>
        <option value="5">40% – 59%</option>
        <option value="6">20% – 39%</option>
        <option value="7">10% – 19%</option>
        <option value="8"><  10 %</option>
    </select>

</div>

<div class="form-group col-sm-4" ng-show="towelTissue()">
    <label>Towel/tissue</label>
    <select class="form-control" ng-model="cs8.requestWentMarketPerc10">
        <option ng-selected="!cs8.requestWentMarketPerc10">Select</option>
        <option value="1">100%</option>
        <option value="2">95%– 99%</option>
        <option value="3">80% – 94%</option>
        <option value="4">60% – 79%</option>
        <option value="5">40% – 59%</option>
        <option value="6">20% – 39%</option>
        <option value="7">10% – 19%</option>
        <option value="8"><  10 %</option>
    </select>

</div>


<div class="form-group col-sm-4" ng-show="printer()">
    <label>Printer</label>
    <select class="form-control" ng-model="cs8.requestWentMarketPerc11">
        <option ng-selected="!cs8.requestWentMarketPerc11">Select</option>
        <option value="1">100%</option>
        <option value="2">95%– 99%</option>
        <option value="3">80% – 94%</option>
        <option value="4">60% – 79%</option>
        <option value="5">40% – 59%</option>
        <option value="6">20% – 39%</option>
        <option value="7">10% – 19%</option>
        <option value="8"><  10 %</option>
    </select>

</div>


<div class="form-group col-sm-4" ng-show="woodMerchant()">
    <label>Wood Broker/paperMerchant</label>
    <select class="form-control" ng-model="cs8.requestWentMarketPerc12">
        <option ng-selected="!cs8.requestWentMarketPerc12">Select</option>
        <option value="1">100%</option>
        <option value="2">95%– 99%</option>
        <option value="3">80% – 94%</option>
        <option value="4">60% – 79%</option>
        <option value="5">40% – 59%</option>
        <option value="6">20% – 39%</option>
        <option value="7">10% – 19%</option>
        <option value="8"><  10 %</option>
    </select>

</div>

<div class="form-group col-sm-4" ng-show="other()">
    <label>Other</label>
    <select class="form-control" ng-model="cs8.requestWentMarketPerc13">
        <option ng-selected="!cs8.requestWentMarketPerc13">Select</option>
        <option value="1">100%</option>
        <option value="2">95%– 99%</option>
        <option value="3">80% – 94%</option>
        <option value="4">60% – 79%</option>
        <option value="5">40% – 59%</option>
        <option value="6">20% – 39%</option>
        <option value="7">10% – 19%</option>
        <option value="8"><  10 %</option>
    </select>

</div>
