<p><b>
    If you use the FSC label on your products, does the product group also contain:
</b></p>

<div class="padding-left-50 fm-stl" ng-show="printingWritingPaper()" style="margin-bottom: 20px;">

    <p><b>Printing writing paper</b></p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_1" checklist-value="'1'">
            SFI certified forest content
        </label>
    </p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_1" checklist-value="'2'">
            SFI certified sourcing content
        </label>
    </p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_1" checklist-value="'3'">
            ATFS certified forest content
        </label>
    </p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_1" checklist-value="'4'">
            CSA certified forest content
        </label>
    </p>

    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_1" checklist-value="'5'">
            Other PEFC endorsed standards
        </label>
        <div ng-show="isSelected(cs8.alsoFSCLabel_1, '5')">
            <select class="form-control"
                    ng-model="country_1_3"
                    ng-change="country_1_3 = addCountry(cs8.alsoFSCLabelFSC_Country_1, country_1_3)">
                <option value="">Select country</option>
                <option ng-repeat="country in countries" value="{{ country.id }}">{{country.country}}</option>
            </select>

            <div style="margin-bottom: 25px;" id="selectedItem" ng-repeat="country in cs8.alsoFSCLabelFSC_Country_1 ">{{country.country}}
                <button type="button" class="close" aria-hidden="1"
                        ng-click="cs8.alsoFSCLabelFSC_Country_1 = delCountry(cs8.alsoFSCLabelFSC_Country_1, country.id)">x</button>
            </div>
        </div>
    </p>

</div>

<div class="padding-left-50 fm-stl" ng-show="packaging()" style="margin-bottom: 20px;">
    <p><b>Packaging</b></p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_2" checklist-value="'1'">
            SFI certified forest content
        </label>
    </p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_2" checklist-value="'2'">
            SFI certified sourcing content
        </label>
    </p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_2" checklist-value="'3'">
            ATFS certified forest content
        </label>
    </p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_2" checklist-value="'4'">
            CSA certified forest content
        </label>
    </p>

    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_2" checklist-value="'5'">
            Other PEFC endorsed standards
        </label>
        <div ng-show="isSelected(cs8.alsoFSCLabel_2, '5')">
            <select class="form-control"
                    ng-model="country_2_3"
                    ng-change="country_2_3 = addCountry(cs8.alsoFSCLabelFSC_Country_2, country_2_3)">
                <option value="">Select country</option>
                <option ng-repeat="country in countries" value="{{ country.id }}">{{country.country}}</option>
            </select>

            <div id="selectedItem" ng-repeat="country in cs8.alsoFSCLabelFSC_Country_2 ">{{country.country}}
                <button type="button" class="close" aria-hidden="1"
                        ng-click="cs8.alsoFSCLabelFSC_Country_2 = delCountry(cs8.alsoFSCLabelFSC_Country_2, country.id)">x</button>
            </div>
        </div>
    </p>

</div>

<div class="padding-left-50 fm-stl" ng-show="bioenergy()" style="margin-bottom: 20px;">
    <p><b>Bioenergy</b></p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_3" checklist-value="'1'">
            SFI certified forest content
        </label>
    </p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_3" checklist-value="'2'">
            SFI certified sourcing content
        </label>
    </p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_3" checklist-value="'3'">
            ATFS certified forest content
        </label>
    </p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_3" checklist-value="'4'">
            CSA certified forest content
        </label>
    </p>

    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_3" checklist-value="'5'">
            Other PEFC endorsed standards
        </label>
        <div ng-show="isSelected(cs8.alsoFSCLabel_3, '5')">
            <select class="form-control"
                    ng-model="country_3_3"
                    ng-change="country_3_3 = addCountry(cs8.alsoFSCLabelFSC_Country_3, country_3_3)">
                <option value="">Select country</option>
                <option ng-repeat="country in countries" value="{{ country.id }}">{{country.country}}</option>
            </select>
            <div id="selectedItem" ng-repeat="country in cs8.alsoFSCLabelFSC_Country_3 ">{{country.country}}
                <button type="button" class="close" aria-hidden="1"
                        ng-click="cs8.alsoFSCLabelFSC_Country_3 = delCountry(cs8.alsoFSCLabelFSC_Country_3, country.id)">x</button>
            </div>
        </div>
    </p>

</div>

<div class="padding-left-50 fm-stl" ng-show="pulp()" style="margin-bottom: 20px;">
    <p><b>Pulp</b></p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_4" checklist-value="'1'">
            SFI certified forest content
        </label>
    </p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_4" checklist-value="'2'">
            SFI certified sourcing content
        </label>
    </p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_4" checklist-value="'3'">
            ATFS certified forest content
        </label>
    </p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_4" checklist-value="'4'">
            CSA certified forest content
        </label>
    </p>

    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_4" checklist-value="'5'">
            Other PEFC endorsed standards
        </label>
        <div ng-show="isSelected(cs8.alsoFSCLabel_4, '5')">
            <select class="form-control"
                    ng-model="country_4_3"
                    ng-change="country_4_3 = addCountry(cs8.alsoFSCLabelFSC_Country_4, country_4_3)">
                <option value="">Select country</option>
                <option ng-repeat="country in countries" value="{{ country.id }}">{{country.country}}</option>
            </select>

            <div id="selectedItem" ng-repeat="country in cs8.alsoFSCLabelFSC_Country_4 ">{{country.country}}
                <button type="button" class="close" aria-hidden="1"
                        ng-click="cs8.alsoFSCLabelFSC_Country_4 = delCountry(cs8.alsoFSCLabelFSC_Country_4, country.id)">x</button>
            </div>
        </div>
    </p>
</div>

<div class="padding-left-50 fm-stl" ng-show="land()" style="margin-bottom: 20px;">
    <p><b>Land Only</b></p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_5" checklist-value="'1'">
            SFI certified forest content
        </label>
    </p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_5" checklist-value="'2'">
            SFI certified sourcing content
        </label>
    </p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_5" checklist-value="'3'">
            ATFS certified forest content
        </label>
    </p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_5" checklist-value="'4'">
            CSA certified forest content
        </label>
    </p>

    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_5" checklist-value="'5'">
            Other PEFC endorsed standards
        </label>
        <div ng-show="isSelected(cs8.alsoFSCLabel_5, '5')">
            <select class="form-control"
                    ng-model="country_5_3"
                    ng-change="country_5_3 = addCountry(cs8.alsoFSCLabelFSC_Country_5, country_5_3)">
                <option value="">Select country</option>
                <option ng-repeat="country in countries" value="{{ country.id }}">{{country.country}}</option>
            </select>
            <div id="selectedItem" ng-repeat="country in cs8.alsoFSCLabelFSC_Country_5 ">{{country.country}}
                <button type="button" class="close" aria-hidden="1"
                        ng-click="cs8.alsoFSCLabelFSC_Country_5 = delCountry(cs8.alsoFSCLabelFSC_Country_5, country.id)">x</button>
            </div>
        </div>
    </p>

</div>

<div class="padding-left-50 fm-stl" ng-show="solidWood()" style="margin-bottom: 20px;">
    <p><b>Solid wood products (includes logs)</b></p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_6" checklist-value="'1'">
            SFI certified forest content
        </label>
    </p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_6" checklist-value="'2'">
            SFI certified sourcing content
        </label>
    </p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_6" checklist-value="'3'">
            ATFS certified forest content
        </label>
    </p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_6" checklist-value="'4'">
            CSA certified forest content
        </label>
    </p>

    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_6" checklist-value="'5'">
            Other PEFC endorsed standards
        </label>
        <div ng-show="isSelected(cs8.alsoFSCLabel_6, '5')">
            <select class="form-control"
                    ng-model="country_6_3"
                    ng-change="country_6_3 = addCountry(cs8.alsoFSCLabelFSC_Country_6, country_6_3)">
                <option value="">Select country</option>
                <option ng-repeat="country in countries" value="{{ country.id }}">{{country.country}}</option>
            </select>
            <div id="selectedItem" ng-repeat="country in cs8.alsoFSCLabelFSC_Country_6 ">{{country.country}}
                <button type="button" class="close" aria-hidden="1"
                        ng-click="cs8.alsoFSCLabelFSC_Country_6 = delCountry(cs8.alsoFSCLabelFSC_Country_6, country.id)">x</button>
            </div>
        </div>
    </p>

</div>

<div class="padding-left-50 fm-stl" ng-show="paperMerchant()" style="margin-bottom: 20px;">
    <p><b>Paper Broker/Merchant</b></p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_7" checklist-value="'1'">
            SFI certified forest content
        </label>
    </p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_7" checklist-value="'2'">
            SFI certified sourcing content
        </label>
    </p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_7" checklist-value="'3'">
            ATFS certified forest content
        </label>
    </p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_7" checklist-value="'4'">
            CSA certified forest content
        </label>
    </p>

    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_7" checklist-value="'5'">
            Other PEFC endorsed standards
        </label>
        <div ng-show="isSelected(cs8.alsoFSCLabel_7, '5')">
            <select class="form-control"
                    ng-model="country_7_3"
                    ng-change="country_7_3 = addCountry(cs8.alsoFSCLabelFSC_Country_7, country_7_3)">
                <option value="">Select country</option>
                <option ng-repeat="country in countries" value="{{ country.id }}">{{country.country}}</option>
            </select>

            <div id="selectedItem" ng-repeat="country in cs8.alsoFSCLabelFSC_Country_7 ">{{country.country}}
                <button type="button" class="close" aria-hidden="1"
                        ng-click="cs8.alsoFSCLabelFSC_Country_7 = delCountry(cs8.alsoFSCLabelFSC_Country_7, country.id)">x</button>
            </div>
        </div>
    </p>

</div>

<div class="padding-left-50 fm-stl" ng-show="paperBoard()" style="margin-bottom: 20px;">
    <p><b>Paperboard Converter</b></p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_8" checklist-value="'1'">
            SFI certified forest content
        </label>
    </p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_8" checklist-value="'2'">
            SFI certified sourcing content
        </label>
    </p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_8" checklist-value="'3'">
            ATFS certified forest content
        </label>
    </p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_8" checklist-value="'4'">
            CSA certified forest content
        </label>
    </p>

    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input type="checkbox" icheck  checklist-model="cs8.alsoFSCLabel_8" checklist-value="'5'">
            Other PEFC endorsed standards
        </label>
        <div ng-show="isSelected(cs8.alsoFSCLabel_8, '5')">
            <select class="form-control"
                    ng-model="country_8_3"
                    ng-change="country_8_3 = addCountry(cs8.alsoFSCLabelFSC_Country_8, country_8_3)">
                <option value="">Select country</option>
                <option ng-repeat="country in countries" value="{{ country.id }}">{{country.country}}</option>
            </select>

            <div id="selectedItem" ng-repeat="country in cs8.alsoFSCLabelFSC_Country_8 ">{{country.country}}
                <button type="button" class="close" aria-hidden="1"
                        ng-click="cs8.alsoFSCLabelFSC_Country_8 = delCountry(cs8.alsoFSCLabelFSC_Country_8, country.id)">x</button>
            </div>
        </div>
    </p>

</div>

<div class="padding-left-50 fm-stl" ng-show="furniture()" style="margin-bottom: 20px;">
    <p><b>Furniture</b></p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck checklist-model="cs8.alsoFSCLabel_9" checklist-value="'1'">
            SFI certified forest content
        </label>
    </p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck checklist-model="cs8.alsoFSCLabel_9" checklist-value="'2'">
            SFI certified sourcing content
        </label>
    </p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck checklist-model="cs8.alsoFSCLabel_9" checklist-value="'3'">
            ATFS certified forest content
        </label>
    </p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck checklist-model="cs8.alsoFSCLabel_9" checklist-value="'4'">
            CSA certified forest content
        </label>
    </p>

    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input type="checkbox" icheck checklist-model="cs8.alsoFSCLabel_9" checklist-value="'5'">
            Other PEFC endorsed standards
        </label>
        <div ng-show="isSelected(cs8.alsoFSCLabel_9, '5')">
            <select class="form-control"
                    ng-model="country_9_3"
                    ng-change="country_9_3 = addCountry(cs8.alsoFSCLabelFSC_Country_9, country_9_3)">
                <option value="">Select country</option>
                <option ng-repeat="country in countries" value="{{ country.id }}">{{country.country}}</option>
            </select>
            <div id="selectedItem" ng-repeat="country in cs8.alsoFSCLabelFSC_Country_9 ">{{country.country}}
                <button type="button" class="close" aria-hidden="1"
                        ng-click="cs8.alsoFSCLabelFSC_Country_9 = delCountry(cs8.alsoFSCLabelFSC_Country_9, country.id)">x
                </button>
            </div>
        </div>
    </p>
</div>

<div class="padding-left-50 fm-stl" ng-show="towelTissue()" style="margin-bottom: 20px;">
    <p><b>Towel/tissue</b></p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck checklist-model="cs8.alsoFSCLabel_10" checklist-value="'1'">
            SFI certified forest content
        </label>
    </p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck checklist-model="cs8.alsoFSCLabel_10" checklist-value="'2'">
            SFI certified sourcing content
        </label>
    </p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck checklist-model="cs8.alsoFSCLabel_10" checklist-value="'3'">
            ATFS certified forest content
        </label>
    </p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck checklist-model="cs8.alsoFSCLabel_10" checklist-value="'4'">
            CSA certified forest content
        </label>
    </p>

    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input type="checkbox" icheck checklist-model="cs8.alsoFSCLabel_10" checklist-value="'5'">
            Other PEFC endorsed standards
        </label>
        <div ng-show="isSelected(cs8.alsoFSCLabel_10, '5')">
            <select class="form-control"
                    ng-model="country_10_3"
                    ng-change="country_10_3 = addCountry(cs8.alsoFSCLabelFSC_Country_10, country_10_3)">
                <option value="">Select country</option>
                <option ng-repeat="country in countries" value="{{ country.id }}">{{country.country}}</option>
            </select>
            <div id="selectedItem" ng-repeat="country in cs8.alsoFSCLabelFSC_Country_10 ">{{country.country}}
                <button type="button" class="close" aria-hidden="1"
                        ng-click="cs8.alsoFSCLabelFSC_Country_10 = delCountry(cs8.alsoFSCLabelFSC_Country_10, country.id)">x
                </button>
            </div>
        </div>
    </p>

</div>

<div class="padding-left-50 fm-stl" ng-show="printer()" style="margin-bottom: 20px;">
    <p><b>Printer</b></p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck checklist-model="cs8.alsoFSCLabel_11" checklist-value="'1'">
            SFI certified forest content
        </label>
    </p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck checklist-model="cs8.alsoFSCLabel_11" checklist-value="'2'">
            SFI certified sourcing content
        </label>
    </p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck checklist-model="cs8.alsoFSCLabel_11" checklist-value="'3'">
            ATFS certified forest content
        </label>
    </p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck checklist-model="cs8.alsoFSCLabel_11" checklist-value="'4'">
            CSA certified forest content
        </label>
    </p>

    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input type="checkbox" icheck checklist-model="cs8.alsoFSCLabel_11" checklist-value="'5'">
            Other PEFC endorsed standards
        </label>
        <div ng-show="isSelected(cs8.alsoFSCLabel_11, '5')">
            <select class="form-control"
                    ng-model="country_11_3"
                    ng-change="country_11_3 = addCountry(cs8.alsoFSCLabelFSC_Country_11, country_11_3)">
                <option value="">Select country</option>
                <option ng-repeat="country in countries" value="{{ country.id }}">{{country.country}}</option>
            </select>
            <div id="selectedItem" ng-repeat="country in cs8.alsoFSCLabelFSC_Country_11 ">{{country.country}}
                <button type="button" class="close" aria-hidden="1"
                        ng-click="cs8.alsoFSCLabelFSC_Country_11 = delCountry(cs8.alsoFSCLabelFSC_Country_11, country.id)">x
                </button>
            </div>
        </div>
    </p>

</div>

<div class="padding-left-50 fm-stl" ng-show="woodMerchant()" style="margin-bottom: 20px;">
    <p><b>Wood Broker/paperMerchant</b></p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck checklist-model="cs8.alsoFSCLabel_12" checklist-value="'1'">
            SFI certified forest content
        </label>
    </p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck checklist-model="cs8.alsoFSCLabel_12" checklist-value="'2'">
            SFI certified sourcing content
        </label>
    </p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck checklist-model="cs8.alsoFSCLabel_12" checklist-value="'3'">
            ATFS certified forest content
        </label>
    </p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck checklist-model="cs8.alsoFSCLabel_12" checklist-value="'4'">
            CSA certified forest content
        </label>
    </p>

    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input type="checkbox" icheck checklist-model="cs8.alsoFSCLabel_12" checklist-value="'5'">
            Other PEFC endorsed standards
        </label>
        <div ng-show="isSelected(cs8.alsoFSCLabel_12, '5')">
            <select class="form-control"
                    ng-model="country_12_3"
                    ng-change="country_12_3 = addCountry(cs8.alsoFSCLabelFSC_Country_12, country_12_3)">
                <option value="">Select country</option>
                <option ng-repeat="country in countries" value="{{ country.id }}">{{country.country}}</option>
            </select>
            <div id="selectedItem" ng-repeat="country in cs8.alsoFSCLabelFSC_Country_12 ">{{country.country}}
                <button type="button" class="close" aria-hidden="1"
                        ng-click="cs8.alsoFSCLabelFSC_Country_12 = delCountry(cs8.alsoFSCLabelFSC_Country_12, country.id)">x
                </button>
            </div>
        </div>
    </p>

</div>

<div class="padding-left-50 fm-stl" ng-show="other()" style="margin-bottom: 20px;">
    <p><b>Other</b></p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck checklist-model="cs8.alsoFSCLabel_13" checklist-value="'1'">
            SFI certified forest content
        </label>
    </p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck checklist-model="cs8.alsoFSCLabel_13" checklist-value="'2'">
            SFI certified sourcing content
        </label>
    </p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck checklist-model="cs8.alsoFSCLabel_13" checklist-value="'3'">
            ATFS certified forest content
        </label>
    </p>

    <p style="margin-bottom: 10px;">
        <label class="form-inline">
            <input type="checkbox" icheck checklist-model="cs8.alsoFSCLabel_13" checklist-value="'4'">
            CSA certified forest content
        </label>
    </p>

    <p style="margin-bottom: 0;">
        <label class="form-inline">
            <input type="checkbox" icheck checklist-model="cs8.alsoFSCLabel_13" checklist-value="'5'">
            Other PEFC endorsed standards
        </label>
        <div ng-show="isSelected(cs8.alsoFSCLabel_13, '5')">
            <select class="form-control"
                    ng-model="country_13_3"
                    ng-change="country_13_3 = addCountry(cs8.alsoFSCLabelFSC_Country_13, country_13_3)">
                <option value="">Select country</option>
                <option ng-repeat="country in countries" value="{{ country.id }}">{{country.country}}</option>
            </select>
            <div id="selectedItem" ng-repeat="country in cs8.alsoFSCLabelFSC_Country_13 ">{{country.country}}
                <button type="button" class="close" aria-hidden="1"
                        ng-click="cs8.alsoFSCLabelFSC_Country_13 = delCountry(cs8.alsoFSCLabelFSC_Country_13, country.id)">x
                </button>
            </div>
        </div>
    </p>

</div>
