<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout" th:with="title=${title}">

<section layout:fragment="content">
    <div class="container">
        <div class="row top-buffer">

            <div class="col-sm-12">

                <div class="col-lg-12 pading-botoms">
                    <div class="col-lg-3" >
                        <p style="text-align: left">
                            SFI Inc. is an independent, nonprofit organization that is solely responsible for maintaining, overseeing and improving the internationally recognized Sustainable Forestry Initiative&#174; (SFI&#174;) program.
                        </p>
                        <br/>

                        <p style="text-align: left">
                            Use this SFI Reporting site to complete the following surveys:
                        </p>
                        <br/>
                        <p>
                            SFI Annual Progress Report Survey
                        </p>
                        <br/>
                        <p>
                            SFI Market Survey
                        </p>
                        <br/>
                        <p>
                            SFI Annual SIC Survey
                        </p>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <p style="text-align: left"><span style="font-weight:700">Questions?</span> Contact Rachel Dierolf <a class="link" href="mailto:rachel.dierolf@sfiprogram.org">rachel.dierolf@sfiprogram.org</a><br/> Visit SFI <a class="link" href="http://www.sfiprogram.org/files/pdf/2016-sfi-progress-report/">www.sfiprogram.org/files/pdf/2016-sfi-progress-report</a></p>

                    </div>
                    <div class="col-lg-9" style="text-align: right">
                        <img src="/assets/images/SFI_2016_Progress_Report_Banner.jpg" style="width: 100%;"/>
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>
</html>
