<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout" th:with="title=${title}">

<section layout:fragment="content">
    <div class="container">
        <div class="row top-buffer">

            <div class="col-sm-12">

                <div class="col-lg-12 passage-bold pading-botoms">
                    <div class="col-lg-3">
                        <p>
                            SFI Inc. is an independent, nonprofit organization that is solely responsible for maintaining, overseeing and improving the internationally recognized Sustainable Forestry Initiative® (SFI®) program.
                        </p>
                        <br/>

                        <p>
                            Use this SFI Reporting site to complete the following surveys:
                        </p>
                        <br/>
                        <p>
                            SFI Annual Progress Report Survey
                        </p>
                        <br/>
                        <p>
                            SFI Market Survey
                        </p>
                        <br/>
                        <p>
                            SFI Annual SIC Survey
                        </p>
                        <br/>
                        <br/>
                        <p>Questions? Contact Rachel Dierolf <a class="link" href="mailto:rachel.dierolf@sfiprogram.org">(rachel.dierolf@sfiprogram.org)</a>. Visit SFI <a class="link" href="http://www.sfiprogram.org">www.sfiprogram.org.</a></p>

                    </div>
                    <div class="col-lg-9" style="text-align: right">
                        <img src="/assets/images/u23.jpg" style="width: 100%;"/>
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>
</html>
