<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">

<section layout:fragment="content">
    <div class="container">
        <div class="row top-buffer" style="width: 1240px;">
            <div class="col-sm-12">
                <div class="col-sm-3">

                    <h5>WE STAND FOR FUTURE FORESTS</h5>
                    <h6><strong>Welcome to the redesigned SFI annual progress report survey.</strong></h6>


                    <p>This survey addresses SFI Program requirements for annual reporting. There are also information-only questions outside the annual reporting requirements.</p>

                    <p>This is an opportunity for you to give SFI direct feedback on the value of your involvement in the program. Your response will remain confidential. We will use it to generate insights and ways to identify opportunities to better serve you and the larger SFI community. </p>

                    <p>All questions are for the 2014 calendar year. <a class="link"  href="/form">Get started now.</a></p>

                    <p>Questions? Contact Rachel Dierolf <a class="link"  href="mailto:rachel.dierolf@sfiprogram.org">(rachel.dierolf@sfiprogram.org)</a>. Visit SFI <a class="link"  href="http://www.sfiprogram.org">www.sfiprogram.org.</a></p>
                </div>

                <div class="col-sm-9" id="home-banner">
                    <img src="{{ asset('/images/home/banner-1.png') }}" />
                    <img src="{{ asset('/images/home/banner-2.png') }}" />
                    <img src="{{ asset('/images/home/banner-3.png') }}" />
                    <img src="{{ asset('/images/home/banner-4.png') }}" />
                    <img src="{{ asset('/images/home/banner-5.png') }}" />
                    <img src="{{ asset('/images/home/banner-6.png') }}" />
                    <img src="{{ asset('/images/home/banner-7.png') }}" />
                    <img src="{{ asset('/images/home/banner-8.png') }}" />
                    <img src="{{ asset('/images/home/banner-9.png') }}" />
                    <img src="{{ asset('/images/home/banner-10.png') }}" />
                </div>
            </div>
        </div>

        <div class="row top-buffer" style="width: 1240px;">
            <div class="col-sm-12 ">
                <div class="col-sm-3"><h6>What is new in this year ... </h6></div>
            </div>
            <!--
            <div class="col-sm-12 ">
                <div class="col-sm-3">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <span style="font-size: 13px;" class="panel-title">Stronger Linkages</span>
                        </div>
                        <div class="panel-body" style="height:175px;">
                            <b>Stronger linkages</b> between the SFI Standard’s specific practice requirements, collected data and the activities linked to fulfilling these requirements.
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <span style="font-size: 13px;" class="panel-title">Fewer data gaps</span>
                        </div>
                        <div class="panel-body" style="height:175px;">
                            <b>Fewer data gaps</b> to enable a more complete account of certified SFI product and supply chains.
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <span style="font-size: 13px;" class="panel-title">Help us better serve the SFI community</span>
                        </div>
                        <div class="panel-body" style="height:175px;">
                            <b>Help us better serve the SFI community.</b> We are interested in your perceptions of the marketplace, your certification and marketing activities, plans, opportunities and challenges. Contact <a class="link"  href="mailto:rachel.dierolf@sfiprogram.org">rachel.dierolf@sfiprogram.org</a> if you need to provide access to a colleague to complete this section. provide a case example, select the best-fit category for your story to share.
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <span class="panel-title">New questions</span>
                        </div>
                        <div class="panel-body" style="height:175px;">
                            SFI has included <b>new questions</b> about the implementation of the SFI 2015-2019 Forest Management and Fiber Sourcing Standards. These sections are for information only this year.
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="col-sm-12 ">
                <div class="col-sm-3">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <span style="font-size: 13px;" class="panel-title">SFI Annual Progress Report Survey</span>
                        </div>
                        <div class="panel-body" style="height:175px;">
                            There are new questions in the survey, which are identified with (new!). As usual, new questions are not mandatory the first year asked. But next year these questions will be auditable. Here’s your chance to have a practice run.
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <span style="font-size: 13px;" class="panel-title">Brand New Market Survey</span>
                        </div>
                        <div class="panel-body" style="height:175px;">
                            This is a new and optional survey. We want to better understand your perceptions of the markets you work in. This is also an opportunity for you to give SFI direct feedback on the value of the program.
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <span style="font-size: 13px;" class="panel-title">Standard Revision Questions</span>
                        </div>
                        <div class="panel-body" style="height:175px;">
                            In 2016, we will ask about what difference the SFI 2015-2019 Standards have made. This year we have included the planned questions for 2016 so you can tell us how you have changed. You can use these questions to help track changes as you implement the standards this year.
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <span class="panel-title">Help Us Brag About You</span>
                        </div>
                        <div class="panel-body" style="height:175px;">
                            Many survey questions will ask your permission to collect and attribute information so we can produce case studies. This is new. Previously, we only used aggregate data from the annual progress report survey. Case studies will help us showcase your successes.
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
</html>
