<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>SFI</title>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/assets/images/sfi-favicon.ico" />

    <!--<meta name="_csrf" th:value="${_csrf.token}"/>-->

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/skins/all.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/libs/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/libs/bootflat.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/libs/bootstrap-table.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/style.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/libs/prism.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/admin.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/js/libs/ui-bootstrap-csp.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/libs/bootstrap-adtional.css}" rel="stylesheet" type="text/css"/>


    <!-- END GLOBAL MANDATORY STYLES -->
    <th:block layout:fragment="styles"/>

</head>
<body class="sonata-bc skin-black fixed">

<div class="navbar navbar-default navbar-static-top" role="navigation">
    <th:block th:include="templates/header"></th:block>
</div>

<section layout:fragment="content"> </section>

<!-- BEGIN SCRIPTS -->
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<!--<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->

<script th:src="@{/assets/js/libs/jquery-1.11.1.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/libs/underscore-min.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/libs/moment.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/libs/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/libs/bootstrap-datetimepicker.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/libs/icheck.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/libs/jquery.fs.selecter.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/libs/jquery.fs.stepper.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/libs/prism.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/libs/bootstrap-table.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/scripts.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/libs/bootstrap-hover-dropdown.min.js}"></script>

<th:block layout:fragment="script"/>
<!-- END SCRIPTS -->

<script>
</script>

<!-- END JAVASCRIPTS -->
</body>
</html>

