<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorator="layout" th:with="title=${title}">

<section layout:fragment="content">

    <div id="wrapper">
        <div class="container">
            <div class="formContainer">
                <div class="breadcrumb">
                    <a href="#">Program Participant Surveys</a>
                </div>
                <div class="formContent">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="sidebarmenu">
                                <th:block th:include="/templates/left_menu"></th:block>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <h5>Surveys</h5>

                                <div class="fixed-table-toolbar">
                                    <h4 class="pull-left">Program Participant Surveys</h4>
                                    <div class="pull-right search">

                                    </div>
                                </div>

                                <section class="content">
                                    <div class="sonata-ba-content">

                                        <div class="row">
                                            <div class="col-md-12">

                                            <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                                <thead style="background: #ccc;">
                                                <tr>
                                                    <th>Year</th>
                                                    <th>Company Name</th>
                                                    <th>Created By</th>
                                                    <th>Date Created</th>
                                                    <th>Status</th>
                                                    <th>Last Updated</th>
                                                    <th>Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="sfiPpForm, iterationStatus : ${sfiPpForms}">

                                                    <td>2015</td>
                                                    <td th:class="(${sfiPpForm.company.getSfi()} == true) ? '' : 'hidden'" th:text="${sfiPpForm.company.name}"></td>
                                                    <td th:class="(${sfiPpForm.company.getSfi()} == true) ? '' : 'hidden'" th:text="${sfiPpForm.createdBy.username}"></td>
                                                    <td th:class="(${sfiPpForm.company.getSfi()} == true) ? '' : 'hidden'" >
                                                        <th:block th:if="${sfiPpForm.createdAt}">
                                                            <th:block th:text="${#dates.format(sfiPpForm.createdAt, 'yyyy-MM-dd')}"></th:block>
                                                        </th:block>
                                                    </td>
                                                    <td th:class="(${sfiPpForm.company.getSfi()} == true) ? '' : 'hidden'"  th:text="${sfiPpForm.status.status}"></td>
                                                    <td th:class="(${sfiPpForm.company.getSfi()} == true) ? '' : 'hidden'">
                                                        <th:block th:if="${sfiPpForm.updatedAt}">
                                                            <th:block th:text="${#dates.format(sfiPpForm.updatedAt, 'yyyy-MM-dd')}"></th:block>
                                                        </th:block>
                                                    </td>
                                                    <td th:class="(${sfiPpForm.company.getSfi()} == true) ? '' : 'hidden'"  sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_GENERAL')">
                                                        <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_GENERAL')">
                                                        <a th:href="@{'/admin/company/pp/form/view/' + ${sfiPpForm.id}}">
                                                            <button th:text="Open" style="width:47px;"></button>
                                                        </a>
                                                        </div>
                                                        <div sec:authorize="hasAnyRole('ROLE_ADMIN')">
                                                        <a th:href="@{'/admin/company/pp/form/' + ${sfiPpForm.id}}">
                                                            <button th:text="Edit" style="width:47px;"></button>
                                                        </a>
                                                        </div>
                                                    </td>
                                                    <td th:class="(${sfiPpForm.company.getSfi()} == true) ? '' : 'hidden'"  sec:authorize="hasAnyRole('ROLE_USER')">
                                                        <a th:href="@{'/sfiPpForm/view'}">
                                                            <button th:text="Open" style="width:47px;"></button>
                                                        </a>
                                                        <a th:href="@{'/sfiPpForm'}">
                                                            <button th:text="Edit" style="width:47px;"></button>
                                                        </a>
                                                    </td>

                                                </tr>
                                                <tr th:each="sfiPpFormOld, iterationStatus : ${sfiPpFormsOld}">

                                                    <td>2014</td>
                                                    <td>
                                                        <span th:text="${sfiPpFormOld.company.name}"></span>
                                                    </td>
                                                    <td></td>
                                                    <td>2015-04-29</td>
                                                    <td>Submitted</td>
                                                    <td>2015-04-29</td>
                                                    <td>
                                                        <a th:href="@{'/sfiPpForm/pdf/' + ${sfiPpFormOld.fileName}}" target="_blank">
                                                            <u>Open PDF</u>
                                                        </a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            </div>

                                            <div class="col-md-2">
                                            </div>
                                        </div>
                                    </div>

                                </section>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
</html>