<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorator="layout" th:with="title=${title}">

<section layout:fragment="content">

    <div id="wrapper">
        <div class="container" style="width: 95%;">
            <div class="formContainer">
                <div class="breadcrumb">
                    <a href="#">SIC Surveys</a>
                </div>
                <div class="formContent">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="sidebarmenu">
                                <th:block th:include="/templates/left_menu"></th:block>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <h5>Surveys</h5>


                            <div class="fixed-table-toolbar">
                                <h4 class="pull-left">SIC Surveys</h4>
                                <div class="pull-right search">

                                </div>
                            </div>

                            <section class="content">
                                <div class="sonata-ba-content">

                                    <div class="row">
                                        <div class="col-md-12">

                                            <table id="example_sic" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                                <thead style="background: #ccc;">
                                                <tr>
                                                    <th>Company Name</th>
                                                    <th>Created By</th>
                                                    <th>Date Created</th>
                                                    <th>Status</th>
                                                    <th>Last Updated</th>
                                                    <th>Actions</th>
                                                    <th  sec:authorize="hasAnyRole('ROLE_ADMIN')">Approved</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="sicPpForm, iterationStatus : ${sicPpForms}">
                                                    <td th:class="(${sicPpForm.company.getSci()} == true) ? '' : 'hidden'" th:text="${sicPpForm.company.name}"></td>
                                                    <td th:class="(${sicPpForm.company.getSci()} == true) ? '' : 'hidden'" th:text="${sicPpForm.createdBy.username}"></td>
                                                    <td th:class="(${sicPpForm.company.getSci()} == true) ? '' : 'hidden'">
                                                        <th:block th:if="${sicPpForm.createdAt}">
                                                            <th:block th:text="${#dates.format(sicPpForm.createdAt, 'yyyy-MM-dd')}"></th:block>
                                                        </th:block>
                                                    </td>
                                                    <td th:class="(${sicPpForm.company.getSci()} == true) ? '' : 'hidden'" th:text="${sicPpForm.statusText}"></td>
                                                    <td th:class="(${sicPpForm.company.getSci()} == true) ? '' : 'hidden'">
                                                        <th:block th:if="${sicPpForm.updatedAt}">
                                                            <th:block th:text="${#dates.format(sicPpForm.updatedAt, 'yyyy-MM-dd')}"></th:block>
                                                        </th:block>
                                                    </td>
                                                    <td th:class="(${sicPpForm.company.getSci()} == true) ? '' : 'hidden'" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_GENERAL')">
                                                        <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_GENERAL')">
                                                        <a th:href="@{'/admin/company/sic/form/view/' + ${sicPpForm.id}}">
                                                            <button th:text="Open" style="width:47px;"></button>
                                                        </a>
                                                        </div>
                                                        <div sec:authorize="hasAnyRole('ROLE_ADMIN')">
                                                        <a th:href="@{'/admin/company/sic/form/' + ${sicPpForm.id}}">
                                                            <button th:text="Edit" style="width:47px;"></button>
                                                        </a>
                                                        </div>
                                                    </td>
                                                    <td th:class="(${sicPpForm.company.getSci()} == true) ? '' : 'hidden'" sec:authorize="hasAnyRole('ROLE_USER')">
                                                        <a th:href="@{'/sicForm/view'}">
                                                            <button th:text="Open" style="width:47px;"></button>
                                                        </a>
                                                        <a th:href="@{'/sicForm'}">
                                                            <button th:text="Edit" style="width:47px;"></button>
                                                        </a>
                                                    </td>
                                                    <td  th:class="(${sicPpForm.company.getSci()} == true) ? '' : 'hidden'" sec:authorize="hasAnyRole('ROLE_ADMIN')" style="text-align: center">
                                                        <a th:href="@{'/admin/company/sic/form/approve/' + ${sicPpForm.id}}" style="display: none" />
                                                        <input th:disabled="${!sicPpForm.isApproveButtonEnable()}" th:checked="${sicPpForm.getApproved()}"  type="checkbox" class="sic_approve_button" />
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="col-md-2">
                                        </div>
                                    </div>
                                </div>

                            </section>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirm-submision" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="submit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="height: 180px;">
                <div class="modal-header">
                    <button type="button" class="close sic-cancel-confirm" ><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Confirm approval</h4>
                    <div class="table-bordered" style="margin-top: 18px;"></div>
                </div>
                <div class="modal-body" style="font-size: 14px;">
                    Are You sure you want to approve [<spam id="company-name" style="font-weight: bold;"> </spam>] survey?
                </div>
                <div class="modal-footer" style="float: left;margin-top: 18px;">
                    <a class="sic-cancel-confirm"></a>
                    <button type="button" class="btn sic-cancel-confirm">No</button> or
                    <button type="button" class="btn" id="yes-button">Yes</button>
                </div>
            </div>
        </div>
    </div>
</section>
</html>