<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorator="layout" th:with="title=${title}">

<section layout:fragment="content">

    <div id="wrapper">
        <div class="container">
            <div class="formContainer">
                <div class="breadcrumb">
                    <span class="text-muted">/</span>
                    Group New
                </div>
                <div class="formContent">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="sidebarmenu">
                                <th:block th:include="left_menu"></th:block>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="portlet-body form">

                                <form th:object="${group}" method="POST" class="form-horizontal">
                                    <input type="hidden" th:field="*{id}" />
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Role<span class="required">* </span></label>
                                            <div class="col-md-4">
                                                <input type="text" th:field="*{role}" class="form-control" />
                                                <div class="has-error">
                                                    <errors th:path="*{role}" class="help-inline"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <input type="submit" id="submit" value="Save" class="btn green"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                    <!-- END VALIDATION STATES-->
                </div>

            </div>
        </div>

    </div>
</section>
</html>